<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MVC_layer.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/TableStyle.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/modalWindow.css" asp-append-version="true" />
    <link href="~/kendoui/kendo.common.min.css" rel="stylesheet" />
    <link href="~/kendoui/kendo.bootstrap-main.min.css" rel="stylesheet" />
</head>
<body>
    <div id="modal-container"></div>
    <div class="flex-container">
    <header class="header_container">
        @Html.Partial("_Header")
    </header>

    @if (IsSectionDefined("Table"))
    {
        <div class="table-container">
            @RenderSection("Table")
        </div>
    }
    else
    {
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    }
        @Html.Partial("_Footer")
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/customJs.js" asp-append-version="true"></script>

    <script src="~/kendoui/kendo.all.min.js"></script>
    <script src="~/kendoui/kendo.culture.by-BY.min.js"></script>
    <script src="~/kendoui/kendo.time.date.class-style.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
