@using MvcLayer.Models;
@using Newtonsoft.Json;
@model List<MvcLayer.Models.PaymentViewModel>
@inject BusinessLayer.Interfaces.ContractInterfaces.IContractService Contract

@{
    ViewData["Title"] = "Добавить оплату договора";
    int index = 0;    
    var d = new List<PaymentViewModel>();
    if (TempData["payment"] is string s)
    {
        d.AddRange(JsonConvert.DeserializeObject<List<PaymentViewModel>>(s));
    }

    string actionName = (TempData["existPayment"] is bool) == true ? "EditPayments" : "Create";
    var existPayment = (TempData["existPayment"] is bool) == true ? true:false;
    var contract = Contract.GetById((int)d?.FirstOrDefault()?.ContractId);
}
<style>
    .cont-table {
        overflow-x: scroll;
    }

    th,
    td {
        min-width: 250px;
    }
</style>
<div class="dm-overlay">
    <div class="dm-table">
        <div class="dm-cell">
            <div class="dm-modal">
                <div class="top-modal-block">
                    <label class="my-modal-title">@ViewData["Title"]</label>
                    <a asp-controller="Contracts" asp-action="Details" asp-route-id="@contract.Id" class="close-btn"></a>
                </div>
                <hr class="modal-line" />
                <form asp-action=@actionName class="row">
                    <div class="cont-table">
                        <table class="table table-bordered table-striped">
                            <tr>
                                <th>Период</th>
                                @foreach (var item in d)
                                {
                                    <td>
                                        @item.Period?.ToString("MMM yyyy")
                                        <input asp-for="@Model[index].Period" type="text" class="form-control" value="@item.Period" hidden />
                                    </td>
                                    index++;
                                }
                                @{
                                    index = 0;
                                }
                            </tr>
                            <tr>
                                <th>Всего к оплате</th>
                                @foreach (var item in d)
                                {
                                    <td><input asp-for="@Model[index].PaySum" class="form-control" type="number" step="0.01" min="0" /></td>
                                    index++;
                                }
                                @{
                                    index = 0;
                                }
                            </tr>
                            <tr>
                                <th>из них на счет РУП "БЭС"-УКХ"</th>
                                @foreach (var item in d)
                                {
                                    <td><input asp-for="@Model[index].PaySumForRupBes" class="form-control" type="number" step="0.01" min="0" /></td>
                                    index++;
                                }
                                @{
                                    index = 0;
                                }
                            </tr>

                            @foreach (var item in d)
                            {
                                <input asp-for="@Model[index].ContractId" hidden />
                                @if (existPayment)
                                {
                                    <input asp-for=@Model[index].Id hidden />
                                }
                                
                                index++;
                            }

                        </table>
                    </div>
                    <div class="form-group">
                        <a class="btn btn-success" asp-controller="Contracts" asp-action="Details" asp-route-id="@contract.Id">Вернуться к договору</a>
                        <input type="submit" value="Добавить" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
