@using MvcLayer.Models;
@using Newtonsoft.Json;
@model List<MvcLayer.Models.PaymentViewModel>
@inject BusinessLayer.Interfaces.ContractInterfaces.IContractService Contract

@{
    ViewData["Title"] = "Добавить оплату договора";
    int index = 0;    
    int backId = 0;
    if (ViewBag.returnContractId == 0)
        backId = ViewBag.contractId;
    else backId = ViewBag.returnContractId;

    string actionName = (TempData["existPayment"] is bool) == true ? "EditPayments" : "Create";
    var existPayment = (TempData["existPayment"] is bool) == true ? true:false;
    var contract = Contract.GetById((int)Model?.FirstOrDefault()?.ContractId);
}
<style>
    .cont-table {
        overflow-x: scroll;
    }

    th,
    td {
        min-width: 250px;
    }
</style>
<div class="dm-overlay">
    <div class="dm-table">
        <div class="dm-cell">
            <div class="dm-modal">
                <div class="top-modal-block">
                    <label class="my-modal-title">@ViewData["Title"]</label>
                    @if (backId != null && backId > 0)
                    {
                        <a asp-controller="Contracts" asp-action="Details" asp-route-id="@backId" class="close-btn"></a>
                    }
                    @if (backId == null || backId == 0)
                    {
                        <a asp-controller="Contracts" asp-action="" class="close-btn"></a>
                    }
                </div>
                <hr class="modal-line" />
                <form asp-action=@actionName asp-route-returnContractId="@ViewBag.returnContractId" class="row">
                    <div class="cont-table">
                        <table class="table table-bordered table-striped">
                            <tr>
                                <th>Период</th>
                                @foreach (var item in Model)
                                {
                                    <th>
                                        @item.Period?.ToString("MMMM-yyyy")
                                        <input asp-for="@Model[index].Period" type="text" class="form-control" value="@item.Period" hidden />
                                    </th>
                                    index++;
                                }
                                @{
                                    index = 0;
                                }
                            </tr>
                            <tr>
                                <th>Всего к оплате</th>
                                @foreach (var item in Model)
                                {
                                    var obj = item.PaySum != null ? item.PaySum : 0;
                                    <td><input name="[@index].PaySum" class="form-control cost" value="@obj" type="text" /></td>
                                    index++;
                                }
                                @{
                                    index = 0;
                                }
                            </tr>
                            <tr>
                                <th>из них на счет РУП "БЭС"-УКХ"</th>
                                @foreach (var item in Model)
                                {
                                    var obj = item.PaySumForRupBes != null ? item.PaySumForRupBes : 0;
                                    <td><input name="[@index].PaySumForRupBes" class="form-control cost" value="@obj" type="text" /></td>
                                    index++;
                                }
                                @{
                                    index = 0;
                                }
                            </tr>

                            @foreach (var item in Model)
                            {
                                <input asp-for="@Model[index].ContractId" hidden />
                                @if (existPayment)
                                {
                                    <input asp-for=@Model[index].Id hidden />
                                }
                                
                                index++;
                            }

                        </table>
                    </div>
                    <div class="form-group">                        
                        <input type="submit" value="Добавить" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script>
            $(function ($) {
                var allCost = $(".cost")
                for (let el of allCost) {
                    digits_float(el)
                }
                $('body').on('input', '.cost', function (e) {
                    digits_float(this);
                });
            });
        </script>
    }
}
