@model MvcLayer.Models.PaymentViewModel

@{
    ViewData["Title"] = "Детали";
}

<h1>@ViewData["Title"]</h1>

<h3>Вы уверены что хотите удалить?</h3>
<div>
    <h4>Оплата</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contract.Number)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contract.Number)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PaySum)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PaySum)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PaySumForRupBes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PaySumForRupBes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Period)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Period)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-controller="Contracts" asp-action="Details" asp-route-id="@Model.ContractId">Вернуться назад</a>
    </form>
</div>