@model IEnumerable<MvcLayer.Models.PaymentViewModel>
@inject BusinessLayer.Interfaces.ContractInterfaces.IContractService Contract

@inject BusinessLayer.Interfaces.ContractInterfaces.ISWCostService sw
@inject BusinessLayer.Interfaces.ContractInterfaces.IScopeWorkService Scope
@inject BusinessLayer.Interfaces.ContractInterfaces.IFormService Form

@{
    ViewData["Title"] = string.Empty;
    var id = Model.FirstOrDefault()?.ContractId is null || Model.FirstOrDefault()?.ContractId == 0 ? 0 : Model?.FirstOrDefault()?.ContractId;
    var contract = Contract.GetById((int)id);
    decimal? form = 0;
    decimal? scopeWork = 0;

    if (id is not null)
    {
        var sworkId = Scope.Find(x => x.ContractId == id).LastOrDefault().Id;       
        scopeWork = sw.Find(x => x.ScopeWorkId == sworkId).LastOrDefault().CostNds;
        form = contract.FormC3as.Where(x => x.ContractId == id).Select(x => x.TotalCost).LastOrDefault();

        ViewData["Title"] = $"Денежные средства по договору № {contract?.Number}";
    }
    // else
    // {
    //     string url = Context.Request.HttpContext.Request.QueryString.Value;
    //     id = int.Parse(url.Substring(url.LastIndexOf("=") + 1));
    // }
}

<div class="dm-overlay">
    <div class="dm-table">
        <div class="dm-cell">
            <div class="dm-modal">
                <div class="top-modal-block">
                    <label class="my-modal-title">@ViewData["Title"]</label>
                    @if (@contract?.Id != null && @contract?.Id > 0)
                    {
                        <a asp-controller="Contracts" asp-action="Details" asp-route-id="@contract?.Id" class="close-btn"></a>
                    }
                    @if (@contract?.Id == null || @contract?.Id == 0)
                    {
                        <a asp-controller="Contracts" asp-action="" class="close-btn"></a>
                    }
                </div>
                <hr class="modal-line" />
                <table class="table table-bordered" style="overflow-x: scroll;width: 950px;/*! display: flex; */display: block;height: 190px;">
                    <thead>
                        <tr>
                            <th rowspan="2"><span class="table_span-contractprice"> Контрактная цена, с НДС </span></th>
                            <th rowspan="2"><span class="table_span-remains">Остаток по выполнению</span></th>
                            <th rowspan="2"><span class="table_span-volume">Объем на текущий год</span></th>
                            <th rowspan="2"><span class="table_span-volume">Выполнено с-3а</span></th>
                            @{
                                foreach (var item in Model)
                                {
                                    <th colspan="2"><span class="span-month-double text-center">@item?.Period?.ToShortDateString()</span></th>
                                }
                            }
                        </tr>
                        <tr>
                            @{
                                for (int i = 0; i < Model.Count(); i++)
                                {
                                    <th><span class="span-50-per">к оплате </span></th>
                                    <th><span class="span-50-per">на счет РУП "БЭС" - УКХ"</span></th>
                                }
                            }
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            @if (Model.Count() > 0)
                            {
                                <td><span class="table_span-contractprice">@contract?.ContractPrice</span></td>
                                <td><span class="table_span-remains">???</span></td>
                                <td><span class="table_span-volume">@scopeWork</span></td>
                                <td><span class="table_span-volume">@form</span></td>
                                @foreach (var item in Model)
                                {
                                    <td><span class="span-50-per">@item.PaySum</span></td>
                                    <td><span class="span-50-per">@item.PaySumForRupBes</span></td>
                                }
                            }
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>