@using MvcLayer.Models
@model EstimateViewModel

<table class="table table-main table-main-short table-bordered table-hover table-condensed" id="contractTable">
    <thead>
        <tr>
            <th>
                Шифр здания, сооружения
            </th>
            <th>
                Наименование здания, сооружения
            </th>
            <th>
                Комплект чертежей
            </th>
            <th>
                Наименование чертежа
            </th>
            <th>
                Дата получения чертежа
            </th>
            <th>
                Дата получения изменения чертежа
            </th>
            <th>
                Номер сметы
            </th>
            <th>
                Дата получения сметы
            </th>
            <th>
                Дата получения изменения сметы
            </th>
            <th>
                Стоимость по договору, руб.
            </th>
            <th>
                Трудозатраты, чел/час
            </th>
            <th>
                Выполнено СМР, руб.
            </th>
            <th>
                Процент выполнения, %
            </th>
            <th>
                Остаток СМР, руб.
            </th>
            <th>
                Подрядчик
            </th>
        </tr>
    </thead>
    <tbody class="table_tbody">
        <tr>
            <td>
                @Model.BuildingCode
            </td>
            <td>
                @Model.BuildingName
            </td>
            <td>
                @Model.DetailsView.First().DrawingsKit
            </td>
            <td>
                @Model.DetailsView.First().DrawingsName
            </td>
            <td>
                @Model.DetailsView.First().DrawingsDate.Value.ToString("dd MMMM yyyy")
            </td>
            <td>
                -
            </td>
            <td>
                @Model.DetailsView.First().Number
            </td>
            <td>
                @Model.DetailsView.First().EstimateDate.Value.ToString("dd MMMM yyyy")
            </td>
            <td>
                -
            </td>
            <td>
                @Model.DetailsView.First().ContractsCost.ToString("N2")
            </td>
            <td>
                @Model.DetailsView.First().LaborCost.ToString("N2")
            </td>
            <td>
                @Model.DetailsView.First().DoneSmrCost.ToString("N2")
            </td>
            <td>
                @Model.DetailsView.First().PercentOfContrPrice.ToString("N2")
            </td>
            <td>
                @Model.DetailsView.First().RemainsSmrCost.ToString("N2")
            </td>
            <td>
                @Model.DetailsView.First().SubContractor
            </td>
        </tr>
    </tbody>
</table>