@using BusinessLayer.Models.PRO
@model EstimateDTO
@{
    string val;
}

<table class="table table-main table-main-short table-bordered table-hover table-condensed" id="contractTable">
    <thead>
        <tr>
            <th>
                Шифр здания, сооружения
            </th>
            <th>
                Наименование здания, сооружения
            </th>
            <th>
                Комплект чертежей
            </th>
            <th>
                Наименование чертежа
            </th>
            <th>
                Дата получения чертежа
            </th>    
            <th>
                Номер сметы
            </th>
            <th>
                Дата получения сметы
            </th>     
            <th>
                Стоимость по договору, руб.
            </th>
            <th>
                Трудозатраты, чел/час
            </th>
            <th>
                Выполнено СМР, руб.
            </th>
            <th>
                Процент выполнения, %
            </th>
            <th>
                Остаток СМР, руб.
            </th>
            <th>
                Подрядчик
            </th>
        </tr>
    </thead>
    <tbody class="table_tbody">
        <tr>
            <td>
                @Model.BuildingCode
            </td>
            <td>
                @Model.BuildingName
            </td>
            <td>
                @Model.DrawingsKit
            </td>
            <td>
                @Model.DrawingsName
            </td>
            <td>
                @{
                    val = Model.DrawingsDate?.ToString("dd MMMM yyyy");
                    if (Model.DrawingsDate > new DateTime(1, 1, 1))
                    {
                        @val
                    }
                }                
            </td>        
            <td>
                @Model.Number
            </td>
            <td>
                @{
                    val = Model.EstimateDate?.ToString("dd MMMM yyyy");
                    if (Model.EstimateDate > new DateTime(1, 1, 1))
                    {
                        @val
                    }
                }                
            </td>          
            <td>
                @if (Model.Number is not null && Model.ContractsCost is not null)
                {
                    @Model.ContractsCost.Value.ToString("N2")
                }              
            </td>
            <td>
                @if (Model.Number is not null && Model.LaborCost is not null)
                {
                    @Model.LaborCost.Value.ToString("N2")
                }                
            </td>
            <td>
                @if (Model.Number is not null && Model.DoneSmrCost is not null)
                {
                    @Model.DoneSmrCost.Value.ToString("N2")
                }                
            </td>
            <td>
                @if (Model.Number is not null && Model.PercentOfContrPrice is not null)
                {
                    @Model.PercentOfContrPrice.Value.ToString("N2")
                }                
            </td>
            <td>
                @if (Model.Number is not null && Model.RemainsSmrCost is not null)
                {
                    @Model.RemainsSmrCost.Value.ToString("N2")
                }                
            </td>
            <td>
                @Model.SubContractor
            </td>
        </tr>
    </tbody>
</table>