@inject BusinessLayer.Interfaces.ContractInterfaces.IEstimateService Estimate
<form id="files5" method="post" enctype="multipart/form-data">
    <div id="example" style="min-width:400px; max-width: 800px;">
        <div class="demo-section input-group mb-2">
            <input class="form-control" name="files" type="file" aria-label="files" multiple="multiple" />
            <div class="input-group-append">
                <button type="submit" class="btn btn-success">Загрузить</button>
            </div>
        </div>
        <div class="progress" id="container_progress" role="progressbar" aria-label="Default striped example" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="display:none">
            <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" id="pBar" style="width: 0%"></div>
        </div>
    </div>
</form>

<script>
    $("form#files5").submit(function () {
        let formData = new FormData(files5);
        event.preventDefault()
        function setProgress(e) {
            if (e.lengthComputable) {
                $("#container_progress").removeAttr('style');
                var complete = e.loaded / e.total;
                var completeFloor = Math.floor(complete * 100)
                $("#pBar").attr('style', `width:${completeFloor}%`);
                $("#pBar").text(`${completeFloor}%`);
            }
        }
        $.ajax({
            xhr: function () {
                var xhr = new window.XMLHttpRequest();
                xhr.upload.addEventListener("progress", setProgress, false);
                xhr.addEventListener("progress", setProgress, false);
                return xhr;
            },
            type: 'POST',
            url: '@Url.Action("DownloadFile", "Parse")',
            data: formData,
            success: function (data) {
                let path = data;
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetCountPagesInExcel", "Parse")',
                    data: { path: path },
                    dataType: 'html',
                    success: function (data) {
                        $("#ListOfSheet").html(data)
                        $('#GetDataFromFile').click(function () {
                            let ex = $("#ex").val();
                            let estimateId = $("#EstimateId").val();
                            $.ajax({
                                type: 'POST',
                                url: '@Url.Action("GetEstimateDoneSmrCost", "Estimate")',
                                data: { path: path, estimateId: estimateId, page: ex },
                                success: function (data) {
                                    $("#ListOfSheet").html("")
                                    $("#result").html("<h3>Данные из акта формы С-2б загружены.</h3>")                                    
                                },
                                error: function (error) {
                                    var errorMes = error.responseText.substring(18, error.responseText.indexOf("\r"));
                                    $.ajax({
                                        type: 'POST',
                                        url: '@Url.Action("ShowError", "Parse")',
                                        data: { message: errorMes },
                                        dataType: 'html',
                                        success: function (data) {
                                            $("#result").html(data)
                                        }
                                    });
                                }
                            });
                        });
                    },
                    error: function (error) {
                        var errorMes = error.responseText.substring(18, error.responseText.indexOf("\r"));
                        $.ajax({
                            type: 'POST',
                            url: '@Url.Action("ShowError", "Parse")',
                            data: { message: errorMes },
                            dataType: 'html',
                            success: function (data) {
                                $("#result").html(data)
                            }
                        });
                    }
                });
                $("#container_progress").attr('style', `display:none`);
            },
            error: function (result) {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("ShowError", "Parse")',
                    data: { message: "Загрузите файл excel (кроме Excel книга 97-2033)" },
                    dataType: 'html',
                    success: function (data) {
                        $("#result").html(data)
                        $("#container_progress").attr('style', `display:none`);
                    }
                });
            },
            contentType: false,
            processData: false
        });

        return false;
    });
</script>