@using DatabaseLayer.Models.PRO
@model int
@{
    ViewData["Title"] = "Редактирование данных по смете";
    int backId = 0;
    if ((int)ViewData["returnContractId"] == 0)
        backId = (int)ViewData["contractId"];
    else backId = (int)ViewData["returnContractId"];

}
<style>
    .demo-section {
        display: flex;
        flex-direction: row;
    }

   
    .chosen-container-single .chosen-single {
        margin-left: 0% !important;
    }

    .estimate__group-container {
        flex-wrap: nowrap !important;
    }

    .input_estimate {
        padding: 0rem .75rem !important;
    }

    .focus {
        color: #000 !important;
        background-color: #ffc107 !important;
        border-color: #ffc107 !important;
    }
</style>
<input id="contractId" value="@ViewData["contractId"]" hidden />
<input id="EstimateId" value="@Model" hidden />
<div class="dm-overlay">
    <div class="dm-table">
        <div class="dm-cell">
            <div class="dm-modal" style="max-width:80vw; min-height: 30vh">
                <div class="top-modal-block">
                    <label class="my-modal-title">@ViewData["Title"]</label>
                    <label id="HeaderLabel" class="my-modal-title"></label>
                    @if (backId > 0)
                    {
                        <a asp-controller="Estimate" asp-action="Index" asp-route-contractId="@backId" asp-route-contractId="@backId" class="close-btn"></a>
                    }
                    @if (backId == 0)
                    {
                        <a asp-controller="Contracts" asp-action="" class="close-btn"></a>
                    }
                </div>
                <hr class="modal-line">
                <div id="divForm" class="divForm_modal">
                </div>
                <div id="ListOfSheet"></div>
                <div id="result"></div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var number = $('#EstimateId').val();
            $.ajax({
                type: 'POST',
                data: { EstimateId: number },
                url: '@Url.Action("GetDrawingsFiles", "Estimate")',
                success: function (viewData) {
                    $("#divForm").html(viewData)                    
                    $("#files2").append("<div class='demo-section input-group mb-2 mt-2'><label class='input-group-text'> Комплект чертежей</label><input class= 'form-control' id = 'drawKit' /></div>");
                    $("#drawKit").on("change", function (e) {
                        var draw = $('#drawKit').val();
                        $.ajax({
                            type: 'POST',
                            data: { EstimateId: number, DrawningKit: draw },
                            url: '@Url.Action("ChangeDrawningKit", "Estimate")',
                            success: function (ok) {                                
                            },
                            error: function (errorMes) {
                                console.log(errorMes)
                            }
                        });
                    });                    
                    $("#HeaderLabel").text("Этап 2: Загрузка чертежей")                    
                },
                error: function (error) {
                    var errorMes = error.responseText;//.substring(18, error.responseText.indexOf("\r"));
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("ShowError", "Parse")',
                        data: { message: errorMes },
                        dataType: 'html',
                        success: function (data) {
                            $("#result").html(`<div class="alert alert-success" role="alert"><span>${data}</span></div>`)
                        }
                    });
                }
            });
        });
    </script>
}