@using BusinessLayer.Models
@using BusinessLayer.Models.PRO
@using DatabaseLayer.Models.PRO
@using MvcLayer.Models
@inject BusinessLayer.Interfaces.ContractInterfaces.PRO.IKindOfWorkService KindOfWork
@inject BusinessLayer.Interfaces.ContractInterfaces.PRO.IAbbreviationKindOfWorkService AbbrKindOfWork
@model IndexViewModel
@{
    ViewData["Title"] = "Чтение данных из локальной сметы";
    int backId = 0;
    if ((int)ViewData["returnContractId"] == 0)
        backId = (int)ViewData["contractId"];
    else backId = (int)ViewData["returnContractId"];
    var isWrite = false;
}

@section Table {
    <style>
        .demo-section {
            display: flex;
            flex-direction: column;
        }

        .dm-modal {
            background-color: lightsteelblue;
        }

        .close-btn {
            color: red
        }

            .close-btn::after {
                border: 2px solid #F00 !important;
            }

            .close-btn:hover::after {
                border-color: red !important;
                color: red !important;
                -webkit-transform: scale(1);
                -moz-transform: scale(1);
                -ms-transform: scale(1);
                transform: scale(1);
                font-weight: bold;
            }

        .square {
            width: 20px;
            height: 20px;
            margin-left: 1%;
            margin-right: 1%;
            border: solid black;
        }

        .overdue {
            background-color: #79a6fbb0 !important;
        }

        .form_agreement {
            display: flex !important;
            padding: 0 30px !important;
            margin-top: 0.5%;
            margin-bottom: 0.5%;
        }

        .search_btn {
            width: 2vh !important;
            position: absolute;
            padding: 0;
            margin: 0 10px;
            background-color: inherit;
            border: none;
            right: 210px;
            top: 8px;
        }

        h1 {
            /*             text-shadow: -1px -1px #FFF, -2px -2px #FFF, -1px 1px #FFF, -2px 2px #FFF, 1px 1px #FFF, 2px 2px #FFF, 1px -1px #FFF, 2px -2px #FFF, -3px -3px 2px #BBB, -3px 3px 2px #BBB, 3px 3px 2px #BBB, 3px -3px 2px #BBB;
                                                                                                                                                                                                color: #004d8e;
                                                                                                                                                                                                transition: all 1s; */
            font-family: 'Ampersand', Montserrat, sans-serif;
            font-size: 32px;
        }

        .btn_agreement {
            width: 180px;
            border-radius: 20px;
            margin-left: 1%;
            font-weight: bold;
        }


        .contracts-list {
            justify-content: space-between;
        }

        .color_label {
            display: flex;
            font-weight: bold;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        }

        .label_postion {
            margin-top: 0.4%;
        }

        .wrapper-table {
            width: 100%;
        }

        .table-main tr:nth-child(even) {
            background-color: #ecf2f9;
        }

        .img_newAgr {
            width: 24px;
            height: 24px;
            margin-right: 3px;
        }

        input {
            margin: 0;
            font-family: inherit;
            font-size: inherit;
            line-height: inherit;
            border-radius: 20px;
            padding: 0px 30px 0px 10px;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
        }

        form {
            position: relative;
        }

        .modal-content {
            display: flex;
            flex-direction: column;
            padding: 1em;
        }

        .chosen-container {
            width: auto !important;
            display: block;
            padding: .375rem .75rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #212529;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            border-radius: .25rem;
            transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
            flex: 1 1 auto;
        }
    </style>
        <div class="contracts-list">

            <h1 class="list_agreement">Смета</h1>

            <form asp-action="Index" asp-controller="Estimate" asp-route-contractId="@ViewData["contractId"]" style="display: flex;"
                  asp-route-returnContractId="@ViewData["returnContractId"]">
                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="modal-title">Поиск:</h3>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="form-label">
                                <div class="input-group mb-3">
                            <label class="input-group-text" for="inputGroupSearch01">Шифр здания</label>
                            @foreach (KeyValuePair<string, string> item in ViewBag.CurrentSearchString)
                            {
                                if (item.Key == "Шифр здания")
                                {
                                    isWrite = true;
                                        <input class="form-control" name="SearchString[Шифр здания]" value="@item.Value" id="inputGroupSearch01" />

                                    break;
                                }
                            }
                            @if (!isWrite)
                            {
                                    <input class="form-control" name="SearchString[Шифр здания]" value="" id="inputGroupSearch01" />
                            }
                            else
                            {
                                isWrite = false;
                            }
                            </div>
                                <div class="input-group mb-3">

                          <label class="input-group-text" for="inputGroupSearch02">Название здания</label>
                            @foreach (KeyValuePair<string, string> item in ViewBag.CurrentSearchString)
                            {
                                if (item.Key == "Название здания")
                                {
                                    isWrite = true;
                                        <input class="form-control" name="SearchString[Название здания]" value="@item.Value" id="inputGroupSearch02" />
                                    break;
                                }
                            }
                            @if (!isWrite)
                            {
                                    <input class="form-control" name="SearchString[Название здания]" value="" id="inputGroupSearch02" />
                            }
                            else
                            {
                                isWrite = false;
                            }
                                </div>
                                <div class="input-group mb-3">

                           <label class="input-group-text" for="inputGroupSearch03">Подрядчик</label>
                            @foreach (KeyValuePair<string, string> item in ViewBag.CurrentSearchString)
                            {
                                if (item.Key == "Подрядчик")
                                {
                                    isWrite = true;
                                        <input class="form-control" name="SearchString[Подрядчик]" value="@item.Value" id="inputGroupSearch03" />
                                    break;
                                }
                            }
                            @if (!isWrite)
                            {
                                    <input class="form-control" name="SearchString[Подрядчик]" value="" id="inputGroupSearch03" />
                            }
                            else
                            {
                                isWrite = false;
                            }
                                </div>
                                <div class="input-group mb-3">

                           <label class="input-group-text" for="StartPeriodDrawing">Начало периода получения чертежа</label>
                            @foreach (KeyValuePair<string, string> item in ViewBag.CurrentSearchString)
                            {
                                if (item.Key == "Начало периода получения чертежа")
                                {
                                    isWrite = true;
                                        <input class="form-control" name="SearchString[Начало периода получения чертежа]" id="StartPeriodDrawing" value="@item.Value" />
                                    break;
                                }
                            }
                            @if (!isWrite)
                            {
                                    <input class="form-control" name="SearchString[Начало периода получения чертежа]" id="StartPeriodDrawing" value="" />
                            }
                            else
                            {
                                isWrite = false;
                            }
                                </div>
                                <div class="input-group mb-3">

                            <label class="input-group-text" for="EndPeriodDrawing">Конец периода получения чертежа</label>
                            @foreach (KeyValuePair<string, string> item in ViewBag.CurrentSearchString)
                            {
                                if (item.Key == "Конец периода получения чертежа")
                                {
                                    isWrite = true;
                                        <input class="form-control" name="SearchString[Конец периода получения чертежа]" id="EndPeriodDrawing" value="@item.Value" />
                                    break;
                                }
                            }
                            @if (!isWrite)
                            {
                                    <input class="form-control" name="SearchString[Конец периода получения чертежа]" id="EndPeriodDrawing" value="" />
                            }
                            else
                            {
                                isWrite = false;
                            }
                                </div>
                                <div class="input-group mb-3">

                            <label class="input-group-text" for="StartPeriodEstimate">Начало периода получения сметы</label>
                            @foreach (KeyValuePair<string, string> item in ViewBag.CurrentSearchString)
                            {
                                if (item.Key == "Начало периода получения сметы")
                                {
                                    isWrite = true;
                                        <input class="form-control" name="SearchString[Начало периода получения сметы]" id="StartPeriodEstimate" value="@item.Value" />
                                    break;
                                }
                            }
                            @if (!isWrite)
                            {
                                    <input class="form-control" name="SearchString[Начало периода получения сметы]" id="StartPeriodEstimate" value="" />
                            }
                            else
                            {
                                isWrite = false;
                            }
                                </div>
                                <div class="input-group mb-3">

                           <label class="input-group-text" for="EndPeriodEstimate">Конец периода получения сметы</label>
                            @foreach (KeyValuePair<string, string> item in ViewBag.CurrentSearchString)
                            {
                                if (item.Key == "Конец периода получения сметы")
                                {
                                    isWrite = true;
                                        <input class="form-control" name="SearchString[Конец периода получения сметы]" id="EndPeriodEstimate" value="@item.Value" />
                                    break;
                                }
                            }
                            @if (!isWrite)
                            {
                                    <input class="form-control" name="SearchString[Конец периода получения сметы]" id="EndPeriodEstimate" value="" />
                            }
                            else
                            {
                                isWrite = false;
                            }
                                </div>
                                <div class="input-group mb-3">

                                <label class="input-group-text" for="letterIndex">Буквенный индекс чертежей</label>
                            @foreach (KeyValuePair<string, List<int>> item in ViewBag.CurrentListSearchString)
                            {
                                if (item.Key == "Буквенный индекс чертежей")
                                {
                                    isWrite = true;
                                            <select class="js-chosen" multiple name="ListSearchString[Буквенный индекс чертежей]" id="letterIndex">
                                        @foreach (var itemAbr in AbbrKindOfWork.GetAll())
                                        {
                                            var IsGet = false;
                                            foreach(var value in item.Value)
                                            {
                                                if (itemAbr.Id == value)
                                                {
                                                    IsGet = true;
                                                    <option value="@itemAbr.Id" selected>@itemAbr.name</option>
                                                    break;
                                                }
                                            }
                                            if (!IsGet)
                                            {
                                                <option value="@itemAbr.Id">@itemAbr.name</option>
                                            }                                            
                                        }
                                    </select>                                    
                                }
                            }
                            @if (!isWrite)
                            {
                                        <select class="js-chosen" multiple name="ListSearchString[Буквенный индекс чертежей]" id="letterIndex">
                                    @foreach (var itemAbr in AbbrKindOfWork.GetAll())
                                    {
                                        <option value="@itemAbr.Id">@itemAbr.name</option>
                                    }
                                </select>
                            }
                            else
                            {
                                isWrite = false;
                            }
                                </div>
                                <div class="input-group mb-3">

                                    <label class="input-group-text" for="kindOfWork">Вид работы</label>
                            @{isWrite = false;}
                            @foreach (KeyValuePair<string, List<int>> item in ViewBag.CurrentListSearchString)
                            {
                                if (item.Key == "Вид работы")
                                {
                                    isWrite = true;
                                            <select class="js-chosen" multiple id="kindOfWork" name="ListSearchString[Вид работы]">
                                     
                                        @foreach (var itemAbr in KindOfWork.GetAll())
                                        {
                                            var IsGet = false;
                                            foreach (var value in item.Value)
                                            {
                                                if (itemAbr.Id == value)
                                                {
                                                    IsGet = true;
                                                    <option value="@itemAbr.Id" selected>@itemAbr.name</option>
                                                    break;
                                                }
                                            }
                                            if (!IsGet)
                                            {
                                                <option value="@itemAbr.Id">@itemAbr.name</option>
                                            }
                                        }
                                    </select>
                                }
                            }
                            @if (!isWrite)
                            {
                                        <select class="js-chosen" multiple id="kindOfWork" name="ListSearchString[Вид работы]">
                                    @foreach (var itemAbr in KindOfWork.GetAll())
                                    {
                                        <option value="@itemAbr.Id">@itemAbr.name</option>
                                    }
                                </select>
                            }
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" type="submit" title="Поиск организации" alt="Поиск организации">Поиск</button>

                                <button type="button" class="btn btn-warning">Обнулить</button>
                            </div>
                        </div>
                      

                    </div>
                </div>
                <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="font-weight: bold; margin-top: 0.5%; margin-bottom: 0.5%;">
                    Поиск по параметрам
                </button>

                <div class="form_agreement">

                    <a type="button" class="btn btn-success btn_agreement" asp-action="AddEstimate"
                       asp-controller="Estimate" asp-route-contractId="@ViewData["contractId"]"
                       asp-route-returnContractId="@ViewData["returnContractId"]">
                        <img class="img_newAgr" src="~/icons/plus_icon.png" />Добавить смету
                    </a>
                </div>
                    </form>

    </div>
    <div class="full-width">
        <table class="table table-main table-main-short table-bordered table-hover table-condensed" id="contractTable">
            <thead>
                <tr>
                    <th>
                        Шифр здания, сооружения
                    </th>
                    <th>
                        Наименование здания, сооружения
                    </th>
                    <th>
                        Комплект чертежей
                    </th>
                    <th>
                        Наименование чертежа
                    </th>
                    <th>
                        Дата получения чертежа
                    </th>
                    <th>
                        Дата получения изменения чертежа
                    </th>
                    <th>
                        Номер сметы
                    </th>
                    <th>
                        Дата получения сметы
                    </th>
                    <th>
                        Дата получения изменения сметы
                    </th>
                    <th>
                        Стоимость по договору, руб.
                    </th>
                    <th>
                        Трудозатраты, чел/час
                    </th>
                    <th>
                        Выполнено СМР, руб.
                    </th>
                    <th>
                        Процент выполнения, %
                    </th>
                    <th>
                        Остаток СМР, руб.
                    </th>
                    <th>
                        Подрядчик
                    </th>
                </tr>
            </thead>
            <tbody class="table_tbody">
                @foreach (EstimateViewModel item in Model.Objects)
                {
                    <tr>
                        <td rowspan="@item.DetailsView.Count">
                            @item.BuildingCode
                        </td>
                        <td rowspan="@item.DetailsView.Count">
                            @item.BuildingName
                        </td>
                        <td>
                            @item.DetailsView.First().DrawingsKit
                        </td>
                        <td>
                            @item.DetailsView.First().DrawingsName
                        </td>
                        <td>
                            @item.DetailsView.First().DrawingsDate.Value.ToString("dd MMMM yyyy")
                        </td>
                        <td>
                            -
                        </td>
                        <td>
                            @item.DetailsView.First().Number
                        </td>
                        <td>
                            @item.DetailsView.First().EstimateDate.Value.ToString("dd MMMM yyyy")
                        </td>
                        <td>
                            -
                        </td>
                        <td>
                            @item.DetailsView.First().ContractsCost.ToString("N2")
                        </td>
                        <td>
                            @item.DetailsView.First().LaborCost.ToString("N2")
                        </td>
                        <td>
                            @item.DetailsView.First().DoneSmrCost.ToString("N2")
                        </td>
                        <td>
                            @item.DetailsView.First().PercentOfContrPrice.ToString("N2")
                        </td>
                        <td>
                            @item.DetailsView.First().RemainsSmrCost.ToString("N2")
                        </td>
                        <td>
                            @item.DetailsView.First().SubContractor
                        </td>
                    </tr>
                    @foreach (var detail in item.DetailsView.Skip(1))
                    {
                        <tr>
                            <td>
                                @detail.DrawingsKit
                            </td>
                            <td>
                                @detail.DrawingsName
                            </td>
                            <td>
                                @detail.DrawingsDate.Value.ToString("dd MMMM yyyy")
                            </td>
                            <td>
                                -
                            </td>
                            <td>
                                @detail.Number
                            </td>
                            <td>
                                @detail.EstimateDate.Value.ToString("dd MMMM yyyy")
                            </td>
                            <td>
                                -
                            </td>
                            <td>
                                @detail.ContractsCost.ToString("N2")
                            </td>
                            <td>
                                @detail.LaborCost.ToString("N2")
                            </td>
                            <td>
                                @detail.DoneSmrCost.ToString("N2")
                            </td>
                            <td>
                                @detail.PercentOfContrPrice.ToString("N2")
                            </td>
                            <td>
                                @detail.RemainsSmrCost.ToString("N2")
                            </td>
                            <td>
                                @detail.SubContractor
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
}

@section Scripts {
    <script>
        $("#StartPeriodDrawing").datepicker({
            format: "d MM yyyy",
            language: "ru",
            calendarWeeks: true,
            autoclose: true,
            keyboardNavigation: false,
            assumeNearbyYear: true,
            toggleActive: true
        });
        $("#EndPeriodDrawing").datepicker({
            format: "d MM yyyy",
            language: "ru",
            calendarWeeks: true,
            autoclose: true,
            keyboardNavigation: false,
            assumeNearbyYear: true,
            toggleActive: true
        });
        $("#StartPeriodEstimate").datepicker({
            format: "d MM yyyy",
            language: "ru",
            calendarWeeks: true,
            autoclose: true,
            keyboardNavigation: false,
            assumeNearbyYear: true,
            toggleActive: true
        });
        $("#EndPeriodEstimate").datepicker({
            format: "d MM yyyy",
            language: "ru",
            calendarWeeks: true,
            autoclose: true,
            keyboardNavigation: false,
            assumeNearbyYear: true,
            toggleActive: true
        });

    </script>
}