@model IEnumerable<MvcLayer.Models.CorrespondenceViewModel>
@using BusinessLayer.Enums;
@using BusinessLayer.Models;
@inject BusinessLayer.Interfaces.ContractInterfaces.IFileService Files
@inject BusinessLayer.Interfaces.ContractInterfaces.IContractService Contract

@{
    ViewData["Title"] = "Переписка с заказчиком";
    int backId = 0;
    if ((int)ViewData["returnContractId"] == 0)
        backId = (int)ViewData["contractId"];
    else backId = (int)ViewData["returnContractId"];
    bool isAdmin = true;
    string redirectAction = "GetByContractId";
    string redirectController = "Correspondences";
    var contract = Contract.GetById((int)ViewData["contractId"]);
    var actionReturn = ViewBag.IsEngineering == true ? "Engineerings" : null;
}
<style>
    table > thead {
        vertical-align: top !important;
    
    }

    table > thead > tr{
            height: 56px !important;
    }

    .dm-modal {
        background-color: lightsteelblue;
    }

    .close-btn {
        color: red
    }

        .close-btn::after {
            border: 2px solid #F00 !important;
        }

        .close-btn:hover::after {
            border-color: red !important;
            color: red !important;
            -webkit-transform: scale(1);
            -moz-transform: scale(1);
            -ms-transform: scale(1);
            transform: scale(1);
            font-weight: bold;
        }

</style>
<div class="dm-overlay">
    <div class="dm-table">
        <div class="dm-cell">
            <div class="dm-modal" @* style="width: 860px;" *@>
                <div class="top-modal-block">
                    <label class="my-modal-title">@ViewData["Title"] согласно договора @contract?.Number</label>
                    @if (backId != null && backId > 0)
                    {
                        <a asp-controller="Contracts" asp-action="Details" asp-route-id="@backId" class="close-btn"></a>
                    }
                    @if (backId == null || backId == 0)
                    {
                        <a asp-controller="Contracts" asp-action="@actionReturn" class="close-btn"></a>
                    }
                </div>
                <hr class="modal-line" />
                <div style="display: inline-flex; gap:50px;justify-content: center;">
                    <table class="table table-sm table-main table-striped table-bordered col-6 caption-top" style="width:45%">
                        <caption>Входящие письма</caption>
                        <thead>
                            <tr>
                                <th style="width:50px">
                                    Дата и номер письма
                                </th>
                                <th style="width:310px">
                                    @Html.DisplayNameFor(model => model.Summary)
                                </th>
                                <th>
                                    Файл
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model?.Where(x=>x.IsInBox == true))
                            {
                                <tr>
                                    <td style="width:50px">
                                        @item.Date?.ToShortDateString(),                                    
                                        №@item.Number
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Summary)
                                    </td>                                   
                                    <td>
                                        @foreach (FileDTO item2 in Files.GetFilesOfEntity(item.Id, FolderEnum.Correspondences))
                                        {
                                            <div>
                                                <a href="~/Files/GetFile?id=@item2.Id" target="_blank">@item2.FileName</a>
                                                @if (isAdmin)
                                                {
                                                    @Html.ActionLink("×", "Delete", "Files", new {id = item2.Id, redirectAction =redirectAction, redirectController = redirectController,contractId = item.ContractId}, new { @class = "del-btn", @onclick = "return confirmDelete();"})
                                                }
                                            </div>
                                        }
                                    </td>
                                    <td>
                                        <span class="icon file-add" title="Добавить файл к письму">
                                            <a asp-action="AddFile" asp-controller="Files" asp-route-entityId="@item.Id" asp-route-fileCategory="@FolderEnum.Correspondences" asp-route-redirectAction=@redirectAction asp-route-redirectController=@redirectController asp-route-contractId="@item.ContractId" asp-route-returnContractId="@ViewBag.returnContractId"></a>
                                        </span>
                                        <span class="icon edit" title="Редактировать письмо">
                                            <a asp-action="Edit" asp-route-id="@item.Id" asp-route-contractId="@item.ContractId" asp-route-returnContractId="@ViewBag.returnContractId"></a>
                                        </span>
                                        <span class="icon delete" title="Удалить письмо">
                                            <a asp-action="Delete" asp-route-id="@item.Id" asp-route-contractId="@item.ContractId"></a>
                                        </span>
                                    </td>                                   
                                </tr>
                            }
                        </tbody>
                    </table>
                    <table class="table table-sm table-striped table-bordered col-6 caption-top" style="width:45%">
                        <caption>Исходящие письма</caption>
                        <thead>
                            <tr>
                                <th style="width:50px">
                                    Дата и номер письма
                                </th>
                                <th style="width:310px">
                                    @Html.DisplayNameFor(model => model.Summary)
                                </th>
                                <th>
                                    Файл
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Where(x => x.IsInBox != true))
                            {
                                <tr>
                                    <td >
                                        @item.Date?.ToShortDateString(),
                                        №@item.Number
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Summary)
                                    </td>
                                    <td>
                                        @foreach (FileDTO item2 in Files.GetFilesOfEntity(item.Id, FolderEnum.Correspondences))
                                        {
                                            <div>
                                                <a href="~/Files/GetFile?id=@item2.Id" target="_blank">@item2.FileName</a>
                                                @if (isAdmin)
                                                {
                                                    @Html.ActionLink("×", "Delete", "Files", new {id = item2.Id, redirectAction =redirectAction, redirectController = redirectController,contractId = item.ContractId}, new { @class = "del-btn", @onclick = "return confirmDelete();"})
                                                }
                                            </div>
                                        }
                                    </td>
                                    <td>
                                        <span class="icon file-add" title="Добавить файл к письму">
                                            <a asp-action="AddFile" asp-controller="Files" asp-route-entityId="@item.Id" asp-route-fileCategory="@FolderEnum.Correspondences" asp-route-redirectAction=@redirectAction asp-route-redirectController=@redirectController asp-route-contractId="@item.ContractId"></a>
                                        </span>
                                        <span class="icon edit" title="Редактировать письмо">
                                            <a asp-action="Edit" asp-route-id="@item.Id" asp-route-contractId="@item.ContractId" asp-route-returnContractId="@ViewBag.returnContractId"></a>
                                        </span>
                                        <span class="icon delete" title="Удалить письмо">
                                            <a asp-action="Delete" asp-route-id="@item.Id" asp-route-contractId="@item.ContractId"></a>
                                        </span>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">
        function confirmDelete() {
            if (confirm('Вы уверены, что хотите удалить?')) {
                return true;
            }
            else {
                return false;
            }
        }
    </script>
}