@model IEnumerable<MvcLayer.Models.PhoneViewModel>
@inject BusinessLayer.Interfaces.CommonInterfaces.IHttpHelper HttpHelper


@{
    var http = new HttpContextAccessor();
    var permissions = HttpHelper.GetPermissionForUser(http);
    ViewData["Title"] = "Список телефонных номеров";
}

<h1>@ViewData["Title"]</h1>
@if (permissions is not null && permissions.IsCreator)
{
    <p><a asp-action="Create">Создать новый</a></p>
}

<table class="table table-main">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Organization)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Number)
                </td>
                <td>
                    @item.Employee?.FullName
                </td>
                <td>
                    @item.Organization?.Name
                </td>
                <td>
                    @if (permissions is not null && permissions.IsEditor)
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    }
                    @if (permissions is not null && (permissions.IsDeleter || permissions.IsAdmin))
                    {
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
