@model MvcLayer.Models.EstimateDocViewModel

@{
    ViewData["Title"] = "Редактирование";
    int backId = 0;
    if ((int)ViewData["returnContractId"] == 0)
        backId = (int)ViewData["contractId"];
    else backId = (int)ViewData["returnContractId"];
}

<div class="dm-overlay">
    <div class="dm-table">
        <div class="dm-cell">
            <div class="dm-modal" style="max-width:960px;">
                <div class="top-modal-block">
                    <label class="my-modal-title">@ViewData["Title"]</label>
                    @if (backId != null && backId > 0)
                    {
                        <a asp-controller="EstimateDocs" asp-action="GetByContractId" asp-route-id="@backId" class="close-btn"></a>
                    }
                    @if (backId == null || backId == 0)
                    {
                        <a asp-controller="Contracts" asp-action="" class="close-btn"></a>
                    }
                </div>
                <hr class="modal-line" />
                <form asp-action="Edit" class="row">
                    <input name="returnContractId" value="@ViewBag.returnContractId" hidden>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <input asp-for="ContractId" value="@Model?.ContractId" hidden>
                    <div class="form-group col-6">
                        <label asp-for="Number" class="control-label"></label>
                        <input asp-for="Number" class="form-control" />
                        <span asp-validation-for="Number" class="text-danger"></span>
                    </div>
                    <div class="form-group col-6">
                        <label asp-for="DateChange" class="control-label"></label>
                        <input asp-for="DateChange" value="@Model.DateChange?.ToString("yyyy-MM-dd")" type="text" class="form-control" id="DateChange" required />
                        <span asp-validation-for="DateChange" class="text-danger"></span>
                    </div>
                    <div class="form-group col-6">
                        <label asp-for="DateOutput" class="control-label"></label>
                        <input asp-for="DateOutput" value="@Model.DateOutput?.ToString("yyyy-MM-dd")" type="text" class="form-control" id="DateOutput" required />
                        <span asp-validation-for="DateOutput" class="text-danger"></span>
                    </div>
                    @if (ViewBag.Edit != null)
                    {
                        <div class="form-group col-6">
                            <label asp-for="Reason" class="control-label"></label>
                            <input asp-for="Reason" class="form-control" />
                            <span asp-validation-for="Reason" class="text-danger"></span>
                        </div>
                    }
                    <div class="form-group btn_position">
                        <input type="submit" value="Сохранить" class="btn btn-primary col-3 mt-3" />
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $("#DateChange").datepicker({
            format: "d MM yyyy",
            language: "ru",
            calendarWeeks: true,
            autoclose: true,
            keyboardNavigation: false,
            assumeNearbyYear: true,
            toggleActive: true,
            todayHighlight: true
        });
        $("#DateOutput").datepicker({
            format: "d MM yyyy",
            language: "ru",
            calendarWeeks: true,
            autoclose: true,
            keyboardNavigation: false,
            assumeNearbyYear: true,
            toggleActive: true,
            todayHighlight: true
        });
        let beginWork = document.querySelector("#DateChange");
        let endWork = document.querySelector("#DateOutput");
        $("#DateChange").datepicker('setDate', new Date(beginWork.value));
        $("#DateOutput").datepicker('setDate', new Date(endWork.value));
    </script>
}