@model IEnumerable<MvcLayer.Models.EstimateDocViewModel>
@using BusinessLayer.Enums;
@using BusinessLayer.Models;
@inject BusinessLayer.Interfaces.ContractInterfaces.IFileService Files
@inject BusinessLayer.Interfaces.ContractInterfaces.IContractService Contract

@{
    ViewData["Title"] = "Проектно-сметная документация";
    bool isAdmin = true;
    string redirectAction = "GetByContractId";
    string redirectController = "EstimateDocs";
    var contract = Contract.GetById((int)ViewBag.contractId);
}

<div class="dm-overlay">
    <div class="dm-table">
        <div class="dm-cell">
            <div class="dm-modal" @* style="width: 860px;" *@>
                <div class="top-modal-block">
                    <label class="my-modal-title">@ViewData["Title"] по договору @contract?.Number</label>
                    @if (@contract?.Id != null && @contract?.Id > 0)
                    {
                        <a asp-controller="Contracts" asp-action="Details" asp-route-id="@contract?.Id" class="close-btn"></a>
                    }
                    @if (@contract?.Id == null || @contract?.Id == 0)
                    {
                        <a asp-controller="Contracts" asp-action="" class="close-btn"></a>
                    }
                </div>
                <hr class="modal-line" />
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th class="text-center" colspan="4">
                               Проектно-сметная документация
                            </th>
                            <th class="text-center">
                               Файлы ПСД
                            </th>
                            <th rowspan="2"></th>
                        </tr>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Number)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DateChange)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DateOutput)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Reason)
                            </th>                           
                            <th>Файлы изменений</th>                            
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Number)
                                </td>
                                <td>
                                    @item.DateChange?.ToShortDateString()
                                </td>
                                <td>
                                    @item.DateOutput?.ToShortDateString()
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Reason)
                                </td>                               
                                <td>
                                    @foreach (FileDTO item2 in Files.GetFilesOfEntity(item.Id, FolderEnum.EstimateDocumentations))
                                    {
                                        <div>
                                            <a href="~/Files/GetFile?id=@item2.Id" target="_blank">@item2.FileName</a>
                                            @if (isAdmin)
                                            {
                                                @Html.ActionLink("×", "Delete", "Files", new {id = item2.Id, redirectAction =redirectAction, redirectController = redirectController, contractId = item.ContractId}, new { @class = "del-btn", @onclick = "return confirmDelete();"})
                                            }
                                        </div>
                                    }
                                </td>
                                <td>
                                    <span class="icon file-add" title="Добавить файл к письму">
                                        <a asp-action="AddFile" asp-controller="Files" asp-route-entityId="@item.Id" asp-route-fileCategory="@FolderEnum.EstimateDocumentations" asp-route-redirectAction=@redirectAction asp-route-redirectController=@redirectController asp-route-contractId="@item.ContractId"></a>
                                    </span>
                                    <span class="icon edit" title="Редактировать письмо">
                                        <a asp-action="Edit" asp-route-id="@item.Id" asp-route-contractId="@item.ContractId"></a>
                                    </span>
                                    <span class="icon delete" title="Удалить письмо">
                                        <a asp-action="Delete" asp-route-id="@item.Id" asp-route-contractId="@item.ContractId"></a>
                                    </span>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">
        function confirmDelete() {
            if (confirm('Вы уверены, что хотите удалить?')) {
                return true;
            }
            else {
                return false;
            }
        }
    </script>
}