@model IEnumerable<MvcLayer.Models.EstimateDocViewModel>
@using BusinessLayer.Enums;
@using BusinessLayer.Models;
@inject BusinessLayer.Interfaces.ContractInterfaces.IFileService Files
@inject BusinessLayer.Interfaces.CommonInterfaces.IHttpHelper HttpHelper


@{
    var http = new HttpContextAccessor();
    var permissions = HttpHelper.GetPermissionForUser(http);
    ViewData["Title"] = "Проектно-сметная документация";
    bool isAdmin = true;
    string redirectAction = "Index";
    string redirectController = "EstimateDocs";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Добавить</a>
</p>
<table class="table table-main table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateChange)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOutput)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reason)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsChange)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contract)
            </th>
            <th>Файл</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateChange)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOutput)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Reason)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsChange)
                </td>
                <td>
                    @foreach (FileDTO item2 in Files.GetFilesOfEntity(item.Id, FolderEnum.EstimateDocumentations))
                    {
                        <div>
                            <a href="~/Files/GetFile?id=@item2.Id" target="_blank">@item2.FileName</a>
                            @if (permissions is not null && (permissions.IsDeleter || permissions.IsAdmin))
                            {
                                @Html.ActionLink("×", "Delete", "Files", new { id = item2.Id, redirectAction = redirectAction, redirectController = redirectController, pageNum = @ViewBag.Page }, new { @class = "del-btn", @onclick = "return confirmDelete();" })
                            }
                        </div>
                    }
                </td>
                <td>
                    @if (permissions is not null && permissions.IsCreator)
                    {
                        <a asp-action="AddFile" asp-controller="Files"
                           asp-route-entityId="@item.Id"
                           asp-route-fileCategory="@FolderEnum.EstimateDocumentations"
                           asp-route-redirectAction=@redirectAction
                           asp-route-redirectController=@redirectController>Добавить файл</a>
                        <span>|</span>
                    }
                    @if (permissions is not null && permissions.IsEditor)
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a>
                        <span>|</span>
                    }
                    @if (permissions is not null && (permissions.IsDeleter || permissions.IsAdmin))
                    {
                        <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                        <span>|</span>
                    }
                    <a asp-action="Details" asp-route-id="@item.Id">Детали</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts {
    <script type="text/javascript">
        function confirmDelete() {
            if (confirm('Вы уверены, что хотите удалить?')) {
                return true;
            }
            else {
                return false;
            }
        }
    </script>
}