@using BusinessLayer.Enums;
@model MvcLayer.Models.ContractViewModel

@{
    ViewData["Title"] = "Добавление подобъекта";
    
    int backId = 0;
    if ((int)ViewData["returnContractId"] == 0)
        backId = Model.Id;
    else backId = (int)ViewData["returnContractId"];
}
<style>
    div#CurDC_chosen {
        max-width: 85%;
    }
</style>
<div class="dm-overlay">
    <div class="dm-table">
        <div class="dm-cell">
            <div class="dm-modal">
                <div class="top-modal-block">
                    <label class="my-modal-title">@ViewData["Title"]</label>
                    @if ((int)ViewData["returnContractId"] != 0)
                    {
                        <a asp-controller="Contracts" asp-action="Details" asp-route-id="@backId" class="close-btn"></a>
                    }                   
                    else
                    {
                        <a asp-action="Index" class="close-btn"></a>
                    }
                </div>
                <hr class="modal-line" />
                <form class="row align-content-start" method="post" enctype="multipart/form-data">
                    <input asp-for="Id" value="null" hidden />                    
                    <input asp-for="MultipleContractId" value="@ViewBag.MultipleContractId" hidden>
                    <div>                       
                        <div class="form-group">
                            <label asp-for="ContractPrice" for="CDC"></label>
                            <div class="input-group">
                                <div class="input-group-text"><img src="~/icons/cash-coin.svg" /></div>
                                <input name="ContractPrice" type="text" class="form-control" id="CDC">
                            </div>
                        </div>
                        <div class="form-group mt-1">
                            <label asp-for="Сurrency" for="CurDC"></label>
                            <div class="input-group">
                                <div class="input-group-text"><img src="~/icons/currency-exchange.svg" /></div>
                                <select name="Сurrency" class="form-control js-chosen" id="CurDC">
                                    @foreach (var item in Enum.GetValues<CurrencyEnum>())
                                    {
                                        <option value="@item">@item</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-12 mt-2">
                            <label>Наименование объекта</label>
                            <textarea asp-for="NameObject" class="form-control" rows="3" ></textarea>
                        </div>
                    </div>
                    <div class="col-8 mt-3">
                        <button type="submit" class="btn btn-primary" id="subBtn">Сохранить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        //select выпадающий список
        $(document).ready(function () {
            console.log('ready')
            $('.js-chosen').chosen({
                width: '91%',
                no_results_text: 'Совпадений не найдено',
                placeholder_text_single: 'Выберите'
            });
        });

        $(function ($) {
            $('body').on('input', '#CDC', function (e) {
                digits_float(this);
            });
            digits_float('#CDC');
        });
    </script>
}