@model MvcLayer.Models.ContractViewModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Удаление</h1>

<h3>Вы уверенны что хотите удалить этот договор?</h3>
<div>
    <h4>Договор</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Number)
        </dd>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Model.Date?.ToShortDateString()
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnteringTerm)
        </dt>
        <dd class = "col-sm-10">
            @Model.EnteringTerm?.ToShortDateString()
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContractTerm)
        </dt>
        <dd class = "col-sm-10">
            @Model.ContractTerm?.ToShortDateString()
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateBeginWork)
        </dt>
        <dd class = "col-sm-10">
            @Model.DateBeginWork?.ToShortDateString()
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateEndWork)
        </dt>
        <dd class = "col-sm-10">
            @Model.DateEndWork?.ToShortDateString()
        </dd>
        
        
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Сurrency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Сurrency)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContractPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContractPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameObject)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameObject)
        </dd>        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FundingSource)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FundingSource)
        </dd>
        
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">Вернуться назад</a>
    </form>
</div>
