@using BusinessLayer.Enums;
@model MvcLayer.Models.ContractViewModel
@inject BusinessLayer.Interfaces.ContractInterfaces.IContractService Contracts
@inject BusinessLayer.Interfaces.ContractInterfaces.IScopeWorkService Scopes

@{
    var branchAgreement = Contracts.Find(x => x.AgreementContractId == Model?.Id && x.IsAgreementContract == true);
    var subContract = Contracts.Find(x => x.SubContractId == Model?.Id && x.IsSubContract == true);
    var subObjectsOfContract = Contracts.Find(x => x.MultipleContractId == Model?.Id && x.IsOneOfMultiple == true);
    var isEngineering = Model.IsEngineering == true ? true : false;
    var isThereScopeWorks = Scopes.Find(x => x.ContractId == Model.Id)?.Count() > 0 && Model.IsMultiple != true ? true : false;
    string redirectAction = "Details";
    string redirectController = "Contracts";

    var status = Model.IsClosed is true ? "closed" : "expired";
}

@section Table {

    <div class="full-width-details">
        <table class="table table-main table-main-full table-bordered table-hover table-condensed" id="contractTable">
            <thead>
                <tr class="tr-head-main-table">
                    @*Действия по договору*@
                    <th>
                        <span class="table_span-action">Действия по договору</span>
                    </th>
                    @*Процедура выбора*@
                    <th>
                        <span class="table_span-select-procedure">Процедура выбора</span>
                    </th>
                    @*Отвественное лицо*@
                    <th>
                        <span class="table_span-signer">Подписант договора, лицо ответственное за ведение договора</span>
                    </th>
                    @*Номер и дата договора*@
                    <th>
                        <span class="table_span-numberanddate">Номер и дата договора</span>
                    </th>
                    @*Наименование объекта*@
                    <th>
                        <span class="table_span-nameobject">Наименование объекта</span>
                    </th>
                    @*Источник финансирования*@
                    <th>
                        <span class="table_span-fin-source">Источник финанси-рования</span>
                    </th>
                    @*Заказчик*@
                    <th>
                        <span class="table_span-customer">Заказчик</span>
                    </th>
                    @if (!isEngineering)
                    {
                        @*Генподрядчик*@
                        <th>
                            <span class="table_span-contractor">Генподрядчик (филиал-исп.)</span>
                        </th>
                        @*Субподрядчик (филиал-исполнитель по приказу)*@
                        <th>
                            <span class="table_span-subcontractor">Субподрядчик (филиал-исп.)</span>
                        </th>
                    }
                    @*Cроки*@
                    <th>
                        <span class="table_span-deadlines">Cроки</span>
                    </th>
                    @*Условия оплаты, без авансов тек. % цел.% отсрочка/в течение*@
                    <th>
                        <span class="table_span-conditions">
                            Условия оплаты, без авансов тек. %<br />
                            цел.%<br />
                            отсрочка/ в течение
                        </span>
                    </th>
                    @*Виды работ по договору*@
                    <th>
                        @if (!isEngineering)

                        {
                            <span class="table_span-work">Виды работ по договору</span>
                        }
                        @if (isEngineering)

                        {
                            <span class="table_span-work">Виды услуг по договору</span>
                        }

                    </th>
                    @*Контрактная цена*@
                    <th>
                        <span class="table_span-currency">Контрактная цена, с НДС</span>
                    </th>
                    @*Валюта расчетов*@
                    <th>
                        <span class="table_span-currency">Валюта расчетов</span>
                    </th>

                    @*    @if (!isEngineering)
                {
                <th>
                <span class="table_span-action">График производства работ</span>
                </th>
                }
                @if (isEngineering)
                {
                <th>
                <span class="table_span-action">График оказания услуг</span>
                </th>
                } *@

                </tr>
            </thead>
            <tbody>
                <tr id="firstrow">
                    <td>
                        <div class="table_span-action">

                            <div class="dropdown" title="Просмотр информации">
                                <span class="icon view_list_pages dropdown-toggle">
                                </span>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    @if (isEngineering)
                                    {
                                        <a class="dropdown-item" asp-action="GetByContractId" asp-controller="ScopeWorks" asp-route-contractId="@Model?.Id" asp-route-isEngineering="true">Oбъем услуг</a>
                                        <a class="dropdown-item" asp-action="GetByContractId" asp-controller="Forms" asp-route-id="@Model?.Id" asp-route-isEngineering="true">Акт оказанных услуг</a>
                                        <a class="dropdown-item" asp-action="GetByContractId" asp-controller="Prepayments" asp-route-contractId="@Model?.Id" asp-route-isEngineering="true">Авансы</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" asp-action="GetByContractId" asp-controller="CommissionActs" asp-route-id="@Model?.Id" asp-route-isEngineering="true">Акт ввода</a>
                                        <a class="dropdown-item" asp-action="GetByContractId" asp-controller="Correspondences" asp-route-id="@Model?.Id" asp-route-isEngineering="true">Переписка с заказчиком</a>
                                        <a class="dropdown-item" asp-action="GetByContractId" asp-controller="Amendments" asp-route-id="@Model?.Id">Дополнительные соглашения</a>
                                        <a class="dropdown-item" asp-action="GetByContractId" asp-controller="EstimateDocs" asp-route-Id="@Model?.Id">ПСД</a>
                                    }
                                    @if (!isEngineering)
                                    {
                                        <a class="dropdown-item" asp-action="GetByContractId" asp-controller="ScopeWorks" asp-route-contractId="@Model?.Id">Oбъем работ</a>
                                        <a class="dropdown-item" asp-action="GetByContractId" asp-controller="Forms" asp-route-id="@Model?.Id">Форма С-3а</a>
                                        <a class="dropdown-item" asp-action="GetByContractId" asp-controller="Prepayments" asp-route-contractId="@Model?.Id">Авансы</a>
                                        <a class="dropdown-item" asp-action="GetByContractId" asp-controller="ServiceGC" asp-route-contractId="@Model?.Id">Услуги генподряда</a>
                                        <a class="dropdown-item" asp-action="GetByContractId" asp-controller="Material" asp-route-contractId="@Model?.Id">Стоимость материалов</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" asp-action="GetByContractId" asp-controller="Payments" asp-route-contractId="@Model?.Id">Оплату договора</a>
                                        <a class="dropdown-item" asp-action="GetByContractId" asp-controller="Amendments" asp-route-id="@Model?.Id">Дополнительные соглашения</a>
                                        <a class="dropdown-item" asp-action="GetByContractId" asp-controller="Acts" asp-route-id="@Model?.Id">Акт приостановки/возобновления</a>
                                        <a class="dropdown-item" asp-action="GetByContractId" asp-controller="CommissionActs" asp-route-id="@Model?.Id">Акт ввода</a>
                                        <a class="dropdown-item" asp-action="GetByContractId" asp-controller="Correspondences" asp-route-id="@Model?.Id">Переписка с заказчиком</a>
                                        <a class="dropdown-item" asp-action="GetByContractId" asp-controller="EstimateDocs" asp-route-Id="@Model?.Id">ПСД</a>
                                    }
                                    <a class="dropdown-item" asp-action="GetByContractId" asp-controller="Files" asp-route-id="@Model.Id" asp-route-fileCategory="@FolderEnum.Contracts" asp-route-contractId="@Model?.Id" asp-route-redirectAction=@redirectAction asp-route-redirectController=@redirectController asp-route-isEngineering="">Файлы</a>

                                </div>
                            </div>
                            <div class="dropdown" title="Добавление информации">
                                <span class="icon view_to_add_pages dropdown-toggle">
                                </span>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    @if (!isEngineering)
                                    {
                                        <a class="dropdown-item" asp-action="CreateSub" asp-controller="Contracts" asp-route-Id="@Model?.Id" asp-route-nameObject="@Model?.NameObject">+ Договор субподряда</a>
                                        <a class="dropdown-item" asp-action="CreateAgr" asp-controller="Contracts" asp-route-Id="@Model?.Id" asp-route-nameObject="@Model?.NameObject">+ Соглашение с филиалом</a>

                                        if (!isThereScopeWorks)
                                        {
                                            <a class="dropdown-item" asp-action="CreateSubObj" asp-controller="Contracts" asp-route-Id="@Model?.Id" asp-route-returnContractId="@Model.Id">+ Подобъект</a>
                                        }

                                        <div class="dropdown-divider"></div>
                                        @if (Model?.IsMultiple != true)
                                        {
                                            <h6 class="dropdown-header">План</h6>
                                            <a class="dropdown-item" asp-action="ChoosePeriod" asp-controller="ScopeWorks" asp-route-contractId="@Model?.Id">+ Oбъем работ</a>                                            
                                            <a class="dropdown-item" asp-action="ChoosePeriod" asp-controller="Prepayments" asp-route-contractId="@Model?.Id">+ Авансы</a>
                                            <a class="dropdown-item" asp-action="ChoosePeriod" asp-controller="ServiceGC" asp-route-contractId="@Model?.Id">+ Услуги генподряда</a>
                                            <a class="dropdown-item" asp-action="ChoosePeriod" asp-controller="Material" asp-route-contractId="@Model?.Id">+ Стоимость материалов</a>
                                            <div class="dropdown-divider"></div>
                                            <h6 class="dropdown-header">Факт</h6>
                                            <a class="dropdown-item" asp-action="ChoosePeriod" asp-controller="Forms" asp-route-contractId="@Model?.Id">+ Форму С-3а</a>                                                                                        
                                            <a class="dropdown-item" asp-action="ChoosePeriod" asp-controller="ServiceGC" asp-route-contractId="@Model?.Id" asp-route-isFact="true">+ Услуги генподряда(факт)</a>
                                            <a class="dropdown-item" asp-action="ChoosePeriod" asp-controller="Material" asp-route-contractId="@Model?.Id" asp-route-isFact="true">+ Стоимость материалов</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" asp-action="ChoosePeriod" asp-controller="Payments" asp-route-contractId="@Model?.Id">+ Оплату договора</a>
                                            <a class="dropdown-item" asp-action="Create" asp-controller="Amendments" asp-route-contractId="@Model?.Id">+ Дополнительные соглашения</a>
                                        }

                                        <a class="dropdown-item" asp-action="Create" asp-controller="Acts" asp-route-contractId="@Model?.Id">+ Акт приостановки/возобновления</a>
                                        <a class="dropdown-item" asp-action="Create" asp-controller="CommissionActs" asp-route-contractId="@Model?.Id">+ Акт ввода</a>
                                        <a class="dropdown-item" asp-action="Create" asp-controller="Correspondences" asp-route-contractId="@Model?.Id">+ Переписка с заказчиком</a>
                                        <a class="dropdown-item" asp-action="Create" asp-controller="EstimateDocs" asp-route-contractId="@Model?.Id">+ ПСД</a>
                                    }
                                    @if (isEngineering)
                                    {
                                        <a class="dropdown-item" asp-action="CreateSub" asp-controller="Contracts" asp-route-Id="@Model?.Id" asp-route-nameObject="@Model?.NameObject">+ Договор субподряда</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" asp-action="ChoosePeriod" asp-controller="ScopeWorks" asp-route-contractId="@Model?.Id">+ Oбъем услуг</a>
                                        <a class="dropdown-item" asp-action="ChoosePeriod" asp-controller="Forms" asp-route-contractId="@Model?.Id">+ Акт оказанных услуг</a>
                                        <a class="dropdown-item" asp-action="ChoosePeriod" asp-controller="Prepayments" asp-route-contractId="@Model?.Id">+ Авансы</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" asp-action="Create" asp-controller="Amendments" asp-route-contractId="@Model?.Id">+ Дополнительные соглашения</a>
                                        <a class="dropdown-item" asp-action="Create" asp-controller="CommissionActs" asp-route-contractId="@Model?.Id">+ Акт ввода</a>
                                        <a class="dropdown-item" asp-action="Create" asp-controller="Correspondences" asp-route-contractId="@Model?.Id">+ Переписка с заказчиком</a>
                                        <a class="dropdown-item" asp-action="Create" asp-controller="EstimateDocs" asp-route-contractId="@Model?.Id">+ ПСД</a>
                                    }

                                    @if (Model.IsClosed || Model.IsExpired)
                                    {
                                        <a class="dropdown-item" asp-action="UpdateStatus" asp-controller="Contracts" asp-route-contractId="@Model?.Id" asp-route-returnContractId="@Model.Id" asp-route-status="@status">Изменить статус договора</a>
                                    }
                                    <a class="dropdown-item" asp-action="AddFile" asp-controller="Files" asp-route-entityId="@Model?.Id" asp-route-contractId="@Model?.Id" asp-route-fileCategory="@FolderEnum.Contracts" asp-route-redirectAction=@redirectAction asp-route-redirectController=@redirectController asp-route-isEngineering="">+Файлы</a>

                                </div>
                            </div>

                            @if (isEngineering)
                            {
                                <div class="icon scope_work" title="Объем услуг">
                                    <a id="SMR-detail" onclick="ShowModalScopeWork(@Model.Id)"></a>
                                </div>
                            }
                            @if (!isEngineering)
                            {
                                <div class="icon scope_work" title="Объем работ генподряда">
                                    <a id="SMR-detail" onclick="ShowModalScopeWork(@Model.Id)"></a>
                                </div>
                            }
                        </div>
                    </td>
                    <td>
                        <span>
                            <a asp-action="GetByContractId" asp-controller="SelectionProcedures" asp-route-contractId="@Model.Id">@Model?.SelectionProcedures?.FirstOrDefault(x => x.ContractId == Model.Id)?.TypeProcedure</a>
                        </span>
                    </td>
                    <td>
                        <span class="table_span-signer">
                            @{
                                var empSign = @Model?.EmployeeContracts?.FirstOrDefault(x => x.ContractId == Model?.Id && x.IsSignatory == true)?.Employee;
                                var empRespon = @Model?.EmployeeContracts?.FirstOrDefault(x => x.ContractId == Model?.Id && x.IsResponsible == true)?.Employee;
                            }
                            Подписант - @empSign?.Position @empSign?.Fio
                            <br><br>
                            Лицо ответственное за ведение договора - @empRespon?.Fio, тел.@empRespon?.Phones?.FirstOrDefault()?.Number
                        </span>
                    </td>
                    <td>
                        <span class="table_span-numberanddate">
                            @* Номер и дата- *@
                            @Model?.Number от
                            @Model?.Date?.ToShortDateString()
                        </span>
                    </td>
                    <td>
                        <span class="table_span-nameobject">
                            @*  Наименование объекта - *@
                            @Model?.NameObject
                        </span>
                    </td>
                    <td>
                        <span class="table_span-fin-source">
                            @Model?.FundingSource
                        </span>
                    </td>
                    <td>
                        <span class="table_span-customer">
                            @* Заказчик *@
                            @Model.ContractOrganizations?.FirstOrDefault(x => x.ContractId == Model.Id && x.IsClient == true)?.Organization?.Name
                        </span>
                    </td>
                    @if (!isEngineering)
                    {
                        <td>
                            <span class="table_span-contractor">
                                @*  Генподрядчик -
                        Model.GenContractor *@
                                @Model.ContractOrganizations?.FirstOrDefault(x => x.ContractId == Model.Id && x.IsGenContractor == true)?.Organization?.Name

                            </span>
                        </td>
                        <td>
                            <span class="table_span-subcontractor">
                                @* Субподрядчик - *@
                            </span>
                        </td>
                    }
                    <td>
                        <span class="table_span-deadlines">
                            Сроки-
                            @if (Model.DateBeginWork?.ToShortDateString() is not null || Model.DateEndWork?.ToShortDateString() is not null)
                            {
                                <b>выполнения работ:</b>
                                <br>
                                <span>@Model.DateBeginWork?.ToShortDateString() -  @Model.DateEndWork?.ToShortDateString()</span>
                                <br>
                            }
                            @if (Model.EnteringTerm?.ToShortDateString() is not null)
                            {
                                <b>ввода:</b>

                                <br>
                                <span>@Model.EnteringTerm?.ToShortDateString()</span>
                                <br>
                            }
                            @if (Model.ContractTerm?.ToShortDateString() is not null)
                            {
                                <b>действия договора по взаиморасчетам:</b>

                                <br>
                                <span>@Model.ContractTerm?.ToShortDateString()</span>
                                <br>
                            }

                        </span>
                    </td>
                    <td>
                        <span class="table_span-conditions">
                            @* Условия оплаты - *@
                            <a asp-action="GetByContractId" asp-controller="Prepayments" asp-route-contractId="@Model?.Id">
                                @Model?.PaymentСonditionsAvans
                            </a>
                            <br />
                            <br />
                            <a asp-action="GetByContractId" asp-controller="Payments" asp-route-contractId="@Model?.Id">
                                @* Оплата *@
                                @Model?.PaymentСonditionsRaschet
                            </a>
                            @* @Html.ActionLink("Расчет P7","","") *@
                        </span>
                    </td>

                    @* Вид работ- *@
                    <td>
                        <span class="table_span-work">
                            @Model?.TypeWorkContracts?.FirstOrDefault()?.TypeWork?.Name
                        </span>
                    </td>
                    <td class="text-end">
                        <span class="table_span-contractprice">
                            @* ЦЕна - *@
                            @Model?.ContractPrice?.ToString("N2")
                        </span>
                    </td>
                    <td>
                        <span class="table_span-currency">
                            @* Валюта - *@
                            @Model?.Сurrency
                        </span>
                    </td>
                </tr>
                @foreach (var contractBranch in subObjectsOfContract)
                {
                    var dropdownid1 = "Dropdown" + contractBranch.Id;
                    var dropdownid2 = "Dropdown_" + contractBranch.Id;
                    <tr style="background-color: #ccf3ff">
                        <td>
                            <div class="table_span-action" title="Просмотр информации">
                                <div class="dropdown">
                                    <span class="icon view_list_pages dropdown-toggle">
                                    </span>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        @if (isEngineering)
                                        {
                                            <a class="dropdown-item" asp-action="GetByContractId" asp-controller="ScopeWorks" asp-route-contractId="@contractBranch?.Id" asp-route-isEngineering="true">Oбъем услуг</a>
                                            <a class="dropdown-item" asp-action="GetByContractId" asp-controller="Forms" asp-route-id="@contractBranch?.Id" asp-route-isEngineering="true">Акт оказанных услуг</a>
                                            <a class="dropdown-item" asp-action="GetByContractId" asp-controller="Prepayments" asp-route-contractId="@contractBranch?.Id" asp-route-isEngineering="true">Авансы</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" asp-action="GetByContractId" asp-controller="CommissionActs" asp-route-id="@contractBranch?.Id" asp-route-isEngineering="true">Акт ввода</a>
                                            <a class="dropdown-item" asp-action="GetByContractId" asp-controller="Correspondences" asp-route-id="@contractBranch?.Id" asp-route-isEngineering="true">Переписка с заказчиком</a>
                                            <a class="dropdown-item" asp-action="GetByContractId" asp-controller="Amendments" asp-route-id="@contractBranch?.Id">Дополнительные соглашения</a>
                                            <a class="dropdown-item" asp-action="GetByContractId" asp-controller="EstimateDocs" asp-route-Id="@contractBranch?.Id">ПСД</a>
                                        }
                                        @if (!isEngineering)
                                        {

                                            <a class="dropdown-item" asp-action="GetByContractId" asp-controller="ScopeWorks" asp-route-contractId="@contractBranch?.Id" asp-route-returnContractId="@Model.Id">Oбъем работ</a>
                                            <a class="dropdown-item" asp-action="GetByContractId" asp-controller="Prepayments" asp-route-contractId="@contractBranch?.Id" asp-route-returnContractId="@Model.Id">Авансы</a>
                                            <a class="dropdown-item" asp-action="GetByContractId" asp-controller="Forms" asp-route-id="@contractBranch?.Id" asp-route-returnContractId="@Model.Id">Форма С-3а</a>
                                            <a class="dropdown-item" asp-action="GetByContractId" asp-controller="Material" asp-route-contractId="@contractBranch?.Id" asp-route-returnContractId="@Model.Id">Стоимость материалов</a>
                                            <a class="dropdown-item" asp-action="GetByContractId" asp-controller="ServiceGC" asp-route-contractId="@contractBranch?.Id" asp-route-returnContractId="@Model.Id">Услуги генподряда</a>

                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" asp-action="GetByContractId" asp-controller="Payments" asp-route-contractId="@contractBranch?.Id" asp-route-returnContractId="@Model.Id">>Оплату договора</a>
                                            <a class="dropdown-item" asp-action="GetByContractId" asp-controller="Amendments" asp-route-id="@contractBranch?.Id" asp-route-returnContractId="@Model.Id">>Дополнительные соглашения</a>
                                            <a class="dropdown-item" asp-action="GetByContractId" asp-controller="Acts" asp-route-id="@contractBranch?.Id" asp-route-returnContractId="@Model.Id">>Акт приостановки/возобновления</a>
                                            <a class="dropdown-item" asp-action="GetByContractId" asp-controller="CommissionActs" asp-route-id="@contractBranch?.Id" asp-route-returnContractId="@Model.Id">>Акт ввода</a>
                                            <a class="dropdown-item" asp-action="GetByContractId" asp-controller="Correspondences" asp-route-id="@contractBranch?.Id" asp-route-returnContractId="@Model.Id">>Переписка с заказчиком</a>
                                            <a class="dropdown-item" asp-action="GetByContractId" asp-controller="EstimateDocs" asp-route-Id="@contractBranch?.Id" asp-route-returnContractId="@Model.Id">>ПСД</a>
                                        }
                                        <a class="dropdown-item" asp-action="GetByContractId" asp-controller="Files" asp-route-id="@contractBranch.Id" asp-route-fileCategory="@FolderEnum.Contracts" asp-route-contractId="@Model?.Id" asp-route-redirectAction=@redirectAction asp-route-redirectController=@redirectController asp-route-isEngineering="">Файлы</a>
                                    </div>
                                </div>
                                <div class="dropdown" title="Добавление информации">
                                    <span class="icon view_to_add_pages dropdown-toggle">
                                    </span>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        @if (!isEngineering)
                                        {
                                            <a class="dropdown-item" asp-action="CreateSub" asp-controller="Contracts" asp-route-Id="@contractBranch?.Id" asp-route-nameObject="@contractBranch?.NameObject">+ Договор субподряда</a>
                                            <a class="dropdown-item" asp-action="CreateAgr" asp-controller="Contracts" asp-route-Id="@contractBranch?.Id" asp-route-nameObject="@contractBranch?.NameObject">+ Соглашение с филиалом</a>
                                            <div class="dropdown-divider"></div>
                                            <h6 class="dropdown-header">План</h6>
                                            <a class="dropdown-item" asp-action="ChoosePeriod" asp-controller="ScopeWorks" asp-route-contractId="@contractBranch?.Id" asp-route-returnContractId="@Model?.Id">+ Oбъем работ</a>                                            
                                            <a class="dropdown-item" asp-action="ChoosePeriod" asp-controller="Prepayments" asp-route-contractId="@contractBranch?.Id" asp-route-returnContractId="@Model?.Id">+ Авансы</a>
                                            <a class="dropdown-item" asp-action="ChoosePeriod" asp-controller="Material" asp-route-contractId="@contractBranch?.Id" asp-route-returnContractId="@Model?.Id">+ Стоимость материалов</a>
                                            <a class="dropdown-item" asp-action="ChoosePeriod" asp-controller="ServiceGC" asp-route-contractId="@contractBranch?.Id" asp-route-returnContractId="@Model?.Id">+ Услуги генподряда</a>
                                            <div class="dropdown-divider"></div>
                                            <h6 class="dropdown-header">Факт</h6>
                                            <a class="dropdown-item" asp-action="ChoosePeriod" asp-controller="ScopeWorks" asp-route-isFact="true" asp-route-contractId="@contractBranch?.Id" asp-route-returnContractId="@Model?.Id">+ Oбъем работ</a>                                            
                                            <a class="dropdown-item" asp-action="ChoosePeriod" asp-controller="Material" asp-route-isFact="true" asp-route-contractId="@contractBranch?.Id" asp-route-returnContractId="@Model?.Id">+ Стоимость материалов</a>
                                            <a class="dropdown-item" asp-action="ChoosePeriod" asp-controller="Forms" asp-route-contractId="@contractBranch?.Id" asp-route-returnContractId="@Model?.Id">+ Форму С-3а</a>                                            
                                            <a class="dropdown-item" asp-action="ChoosePeriod" asp-controller="ServiceGC" asp-route-contractId="@contractBranch?.Id" asp-route-isFact="true" asp-route-returnContractId="@Model?.Id">+ Услуги генподряда(факт)</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" asp-action="ChoosePeriod" asp-controller="Payments" asp-route-contractId="@contractBranch?.Id" asp-route-returnContractId="@Model?.Id">+ Оплату договора</a>
                                            <a class="dropdown-item" asp-action="Create" asp-controller="Amendments" asp-route-contractId="@contractBranch?.Id" asp-route-returnContractId="@Model?.Id">+ Дополнительные соглашения</a>
                                            <a class="dropdown-item" asp-action="Create" asp-controller="Acts" asp-route-contractId="@contractBranch?.Id" asp-route-returnContractId="@Model?.Id">+ Акт приостановки/возобновления</a>
                                            <a class="dropdown-item" asp-action="Create" asp-controller="CommissionActs" asp-route-contractId="@contractBranch?.Id" asp-route-returnContractId="@Model?.Id">+ Акт ввода</a>
                                            <a class="dropdown-item" asp-action="Create" asp-controller="Correspondences" asp-route-contractId="@contractBranch?.Id" asp-route-returnContractId="@Model?.Id">+ Переписка с заказчиком</a>
                                            <a class="dropdown-item" asp-action="Create" asp-controller="EstimateDocs" asp-route-contractId="@contractBranch?.Id" asp-route-returnContractId="@Model?.Id">+ ПСД</a>
                                        }
                                        @if (isEngineering)
                                        {
                                            <a class="dropdown-item" asp-action="CreateSub" asp-controller="Contracts" asp-route-Id="@contractBranch?.Id" asp-route-nameObject="@contractBranch?.NameObject">+ Договор субподряда</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" asp-action="ChoosePeriod" asp-controller="ScopeWorks" asp-route-contractId="@contractBranch?.Id" asp-route-returnContractId="@Model?.Id">+ Oбъем услуг</a>
                                            <a class="dropdown-item" asp-action="ChoosePeriod" asp-controller="Forms" asp-route-contractId="@contractBranch?.Id" asp-route-returnContractId="@Model?.Id">+ Акт оказанных услуг</a>
                                            <a class="dropdown-item" asp-action="ChoosePeriod" asp-controller="Prepayments" asp-route-contractId="@contractBranch?.Id" asp-route-returnContractId="@Model?.Id">+ Авансы</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" asp-action="Create" asp-controller="Amendments" asp-route-contractId="@contractBranch?.Id" asp-route-returnContractId="@Model?.Id">+ Дополнительные соглашения</a>
                                            <a class="dropdown-item" asp-action="Create" asp-controller="CommissionActs" asp-route-contractId="@contractBranch?.Id" asp-route-returnContractId="@Model?.Id">+ Акт ввода</a>
                                            <a class="dropdown-item" asp-action="Create" asp-controller="Correspondences" asp-route-contractId="@contractBranch?.Id" asp-route-returnContractId="@Model?.Id">+ Переписка с заказчиком</a>
                                            <a class="dropdown-item" asp-action="Create" asp-controller="EstimateDocs" asp-route-contractId="@contractBranch?.Id" asp-route-returnContractId="@Model?.Id">+ ПСД</a>
                                        }
                                        <a class="dropdown-item" asp-action="AddFile" asp-controller="Files" asp-route-entityId="@Model?.Id" asp-route-contractId="@Model?.Id" asp-route-fileCategory="@FolderEnum.Contracts" asp-route-redirectAction=@redirectAction asp-route-redirectController=@redirectController asp-route-isEngineering="">+Файлы</a>
                                    </div>
                                </div>
                            </div>

                            <div class="icon scope_work" title="Объем работ">

                                <a id="SMR-detail" onclick="ShowModalScopeWork(@contractBranch.Id)"></a>

                            </div>
                            <div class="icon edit" title="Редактировать">
                                <a asp-action="EditSubObj" asp-route-id="@contractBranch.Id" asp-route-returnContractId="@Model.Id"></a>
                            </div>
                            <div class="icon delete" title="Удалить">
                                <a asp-action="Delete" asp-route-id="@contractBranch.Id"></a>
                            </div>

                        </td>
                        <td colspan="3" class="text-center text-uppercase">Подобъект:</td>
                        <td>
                            <span class="table_span-nameobject">
                                @contractBranch?.NameObject
                            </span>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <span class="table_span-deadlines">

                                @if (contractBranch.DateBeginWork?.ToShortDateString() is not null || contractBranch.DateEndWork?.ToShortDateString() is not null)
                                {
                                    <span>Сроки-</span>
                                    <b>выполнения работ:</b>
                                    <br>
                                    <span>@contractBranch.DateBeginWork?.ToShortDateString() -  @contractBranch.DateEndWork?.ToShortDateString()</span>
                                    <br>
                                }
                                @if (contractBranch.EnteringTerm?.ToShortDateString() is not null)
                                {
                                    <b>ввода:</b>

                                    <br>
                                    <span>@Model.EnteringTerm?.ToShortDateString()</span>
                                    <br>
                                }
                            </span>
                        </td>
                        <td></td>
                        <td></td>
                        <td class="text-end">
                            <span class="table_span-contractprice">
                                @* ЦЕна - *@
                                @contractBranch?.ContractPrice?.ToString("N2")
                            </span>
                        </td>
                        <td>
                            <span class="table_span-currency">
                                @contractBranch?.Сurrency
                            </span>
                        </td>
                        @* <td>
                <span class="table_span-act-entering">
                <span class="icon link_to_page" id="SMR-detail" onclick="ShowModalScopeWork(@contractBranch.Id)" title="Объем работ"></span>
                </span>
                </td> *@
                    </tr>
                }

                @if (branchAgreement.Count() > 0)
                {
                    <tr><td class="text-center text-uppercase" colspan="15">Соглашения с филиалами</td></tr>
                }
                @foreach (var contractBranch in branchAgreement)
                {
                    var dropdownid1 = "Dropdown" + contractBranch.Id;
                    var dropdownid2 = "Dropdown_" + contractBranch.Id;
                    <tr style="background-color: #ccf3ff">
                        <td>
                            <div class="table_span-action" title="Просмотр информации">
                                <div class="dropdown">
                                    <span class="icon view_list_pages dropdown-toggle">
                                    </span>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" asp-action="GetByContractId" asp-controller="ScopeWorks" asp-route-contractId="@contractBranch?.Id" asp-route-returnContractId="@Model.Id">Oбъем работ</a>
                                        <a class="dropdown-item" asp-action="GetByContractId" asp-controller="Forms" asp-route-id="@contractBranch?.Id" asp-route-returnContractId="@Model.Id">Форма С-3а</a>
                                        <a class="dropdown-item" asp-action="GetByContractId" asp-controller="Prepayments" asp-route-contractId="@contractBranch?.Id" asp-route-returnContractId="@Model.Id">Авансы</a>
                                        <a class="dropdown-item" asp-action="GetByContractId" asp-controller="Material" asp-route-contractId="@contractBranch?.Id" asp-route-returnContractId="@Model.Id">Стоимость материалов</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" asp-action="GetByContractId" asp-controller="Payments" asp-route-contractId="@contractBranch?.Id" asp-route-returnContractId="@Model.Id">Оплату договора</a>
                                        <a class="dropdown-item" asp-action="GetByContractId" asp-controller="Amendments" asp-route-id="@contractBranch.Id" asp-route-returnContractId="@Model.Id">Дополнительные соглашения</a>
                                        <a class="dropdown-item" asp-action="GetByContractId" asp-controller="Acts" asp-route-id="@contractBranch?.Id" asp-route-returnContractId="@Model.Id">Акт приостановки/возобновления</a>
                                        <a class="dropdown-item" asp-action="GetByContractId" asp-controller="CommissionActs" asp-route-Id="@contractBranch.Id" asp-route-returnContractId="@Model.Id">Акт ввода</a>
                                        <a class="dropdown-item" asp-action="GetByContractId" asp-controller="Correspondences" asp-route-id="@contractBranch?.Id" asp-route-returnContractId="@Model.Id">Переписка с заказчиком</a>
                                        <a class="dropdown-item" asp-action="GetByContractId" asp-controller="EstimateDocs" asp-route-Id="@contractBranch.Id" asp-route-returnContractId="@Model.Id">ПСД</a>
                                        <a class="dropdown-item" asp-action="GetByContractId" asp-controller="Files" asp-route-id="@contractBranch?.Id" asp-route-fileCategory="@FolderEnum.Contracts" asp-route-contractId="@contractBranch?.Id" asp-route-redirectAction=@redirectAction asp-route-redirectController=@redirectController asp-route-isEngineering="" asp-route-returnContractId="@Model.Id">Файлы</a>

                                    </div>
                                </div>
                                <div class="dropdown" title="Добавление информации">
                                    <span class="icon view_to_add_pages dropdown-toggle">
                                    </span>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">                                
                                        <h6 class="dropdown-header">План</h6>
                                        <a class="dropdown-item" asp-action="ChoosePeriod" asp-controller="ScopeWorks" asp-route-contractId="@contractBranch.Id" asp-route-isOwnForces="false" asp-route-returnContractId="@Model.Id">+ Oбъем работ</a>                                        
                                        <a class="dropdown-item" asp-action="ChoosePeriod" asp-controller="Prepayments" asp-route-contractId="@contractBranch.Id" asp-route-returnContractId="@Model.Id">+ Авансы</a>
                                        <a class="dropdown-item" asp-action="ChoosePeriod" asp-controller="Material" asp-route-contractId="@contractBranch.Id" asp-route-returnContractId="@Model.Id">+ Стоимость материалов</a>
                                        <div class="dropdown-divider"></div>
                                        <h6 class="dropdown-header">Факт</h6>
                                        <a class="dropdown-item" asp-action="ChoosePeriod" asp-controller="ScopeWorks" asp-route-isFact="true" asp-route-contractId="@contractBranch.Id" asp-route-isOwnForces="false" asp-route-returnContractId="@Model.Id">+ Oбъем работ</a>
                                        <a class="dropdown-item" asp-action="ChoosePeriod" asp-controller="Forms" asp-route-isFact="true" asp-route-contractId="@contractBranch.Id" asp-route-returnContractId="@Model.Id">+ Форму С-3а</a>                                        
                                        <a class="dropdown-item" asp-action="ChoosePeriod" asp-controller="Material" asp-route-isFact="true" asp-route-contractId="@contractBranch.Id" asp-route-returnContractId="@Model.Id">+ Стоимость материалов</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" asp-action="ChoosePeriod" asp-controller="Payments" asp-route-contractId="@contractBranch.Id" asp-route-returnContractId="@Model.Id">+ Оплату договора</a>
                                        <a class="dropdown-item" asp-action="Create" asp-controller="Amendments" asp-route-contractId="@contractBranch.Id" asp-route-returnContractId="@Model.Id">+ Дополнительные соглашения</a>
                                        <a class="dropdown-item" asp-action="Create" asp-controller="Acts" asp-route-contractId="@contractBranch.Id" asp-route-returnContractId="@Model.Id">+ Акт приостановки/возобновления</a>
                                        <a class="dropdown-item" asp-action="Create" asp-controller="CommissionActs" asp-route-Id="@contractBranch.Id" asp-route-returnContractId="@Model.Id">+ Акт ввода</a>
                                        <a class="dropdown-item" asp-action="Create" asp-controller="Correspondences" asp-route-contractId="@contractBranch.Id" asp-route-returnContractId="@Model.Id">+ Переписка с заказчиком</a>
                                        <a class="dropdown-item" asp-action="Create" asp-controller="EstimateDocs" asp-route-Id="@contractBranch.Id" asp-route-returnContractId="@Model.Id">+ ПСД</a>
                                        <a class="dropdown-item" asp-action="AddFile" asp-controller="Files" asp-route-entityId="@contractBranch?.Id" asp-route-contractId="@contractBranch?.Id" asp-route-fileCategory="@FolderEnum.Contracts" asp-route-redirectAction=@redirectAction asp-route-redirectController=@redirectController asp-route-isEngineering="" asp-route-returnContractId="@Model.Id">+Файлы</a>

                                    </div>
                                </div>
                                @if (!isEngineering)
                                {
                                    <div class="icon scope_work" title="Объем работ">
                                        <a id="SMR-detail" onclick="ShowModalScopeWork(@contractBranch?.Id)"></a>
                                    </div>
                                }
                                @if (isEngineering)
                                {
                                    <div class="icon scope_work" title="Объем услуг">
                                        <a id="SMR-detail" onclick="ShowModalScopeWork(@contractBranch?.Id)"></a>
                                    </div>
                                }
                                <div class="icon edit" title="Редактировать">
                                    <a asp-action="Edit" asp-route-id="@contractBranch.Id" asp-route-returnContractId="@Model.Id"></a>
                                </div>
                                <div class="icon delete" title="Удалить">
                                    <a asp-action="Delete" asp-route-id="@contractBranch.Id"></a>
                                </div>
                            </div>
                        </td>
                        <td>
                            <span>
                                <a asp-action="GetByContractId" asp-controller="SelectionProcedures" asp-route-contractId="@contractBranch.Id" asp-route-returnContractId="@Model.Id">@contractBranch?.SelectionProcedures?.FirstOrDefault(x => x.ContractId == contractBranch?.Id)?.TypeProcedure</a>
                            </span>
                        </td>
                        <td>
                            <span class="table_span-signer">
                                @{
                                    var empSignBr = contractBranch?.EmployeeContracts?.FirstOrDefault(x => x.ContractId == contractBranch?.Id && x.IsSignatory == true)?.Employee;
                                    var empResponBr = contractBranch?.EmployeeContracts?.FirstOrDefault(x => x.ContractId == contractBranch?.Id && x.IsResponsible == true)?.Employee;
                                }
                                Подписант - @empSignBr?.Position @empSignBr?.Fio
                                <br><br>
                                Лицо ответственное за ведение договора - @empResponBr?.Fio, тел.@empResponBr?.Phones?.FirstOrDefault()?.Number
                            </span>
                        </td>
                        <td>
                            <span class="table_span-numberanddate">
                                @contractBranch?.Number от
                                @contractBranch?.Date?.ToShortDateString()
                            </span>
                        </td>
                        <td>
                            <span class="table_span-nameobject">
                                @contractBranch?.NameObject
                            </span>
                        </td>
                        <td>
                            @*Источник финансирования*@
                            <span class="table_span-fin-source">
                                @contractBranch?.FundingSource
                            </span>
                        </td>
                        <td>
                            @*Заказчик*@
                            <span class="table_span-customer">
                            </span>
                        </td>
                        <td>
                            @*Генподрядчик*@
                            <span class="table_span-contractor">
                            </span>
                        </td>
                        <td>
                            <span class="table_span-subcontractor">
                                @contractBranch?.ContractOrganizations?.FirstOrDefault(x => x.ContractId == contractBranch?.Id && x.IsGenContractor == false && x.IsClient == false)?.Organization?.Name
                            </span>
                        </td>
                        <td>
                            <span class="table_span-deadlines">
                                Сроки-
                                @if (@contractBranch?.DateBeginWork?.ToShortDateString() is not null || @contractBranch?.DateEndWork?.ToShortDateString() is not null)
                                {
                                    <b>выполнения работ:</b>
                                    <br>
                                    <span> @contractBranch?.DateBeginWork?.ToShortDateString() - @contractBranch?.DateEndWork?.ToShortDateString()</span>
                                    <br>
                                }
                                @if (@contractBranch?.EnteringTerm?.ToShortDateString() is not null)
                                {
                                    <b>ввода:</b>

                                    <br>
                                    <span>@contractBranch?.EnteringTerm?.ToShortDateString()</span>
                                    <br>
                                }
                                @if (@contractBranch?.ContractTerm?.ToShortDateString() is not null)
                                {
                                    <b>действия договора по взаиморасчетам:</b>

                                    <br>
                                    <span> @contractBranch?.ContractTerm?.ToShortDateString()</span>
                                    <br>
                                }
                            </span>
                        </td>
                        <td>
                            <span class="table_span-conditions">
                                @* Условия оплаты - *@
                                <a asp-action="GetByContractId" asp-controller="Prepayments" asp-route-contractId="@contractBranch?.Id" asp-route-returnContractId="@Model.Id">
                                    @contractBranch?.PaymentСonditionsAvans
                                </a>
                                <a asp-action="GetByContractId" asp-controller="Payments" asp-route-contractId="@contractBranch?.Id" asp-route-returnContractId="@Model.Id">
                                    @* Оплата *@
                                    @contractBranch?.PaymentСonditionsRaschet
                                </a>
                            </span>
                        </td>
                        @* Вид работ- *@
                        <td>
                            <span class="table_span-work">
                                @contractBranch?.TypeWorkContracts?.FirstOrDefault()?.TypeWork?.Name
                            </span>
                        </td>
                        <td class="text-end">
                            <span class="table_span-contractprice">
                                @* ЦЕна - *@
                                @contractBranch?.ContractPrice?.ToString("N2")
                            </span>
                        </td>
                        <td>
                            <span class="table_span-currency">
                                @contractBranch?.Сurrency
                            </span>
                        </td>

                        @*  @if (!isEngineering)
                {
                <td>
                <span class="table_span-act-entering">
                <span class="icon link_to_page" id="SMR-detail" onclick="ShowModalScopeWork(@contractBranch.Id)" title="Объем работ"></span>
                </span>
                </td>
                }
                @if (isEngineering)
                {
                <td>
                <span class="table_span-act-entering">
                <span class="icon link_to_page" id="SMR-detail" onclick="ShowModalScopeWork(@contractBranch.Id)" title="Объем услуг"></span>
                </span>
                </td>
                } *@
                    </tr>
                }

                @if (subContract.Count() > 0)
                {
                    <tr><td class="text-center text-uppercase" colspan="15">Договоры субподряда</td></tr>
                }
                @foreach (var contractSub in subContract)
                {
                    var dropdownid3 = "Dropdown" + contractSub.Id;
                    var dropdownid4 = "Dropdown_" + contractSub.Id;

                    <tr style="background-color: #d8f3d8">
                        <td>
                            <div class="table_span-action">
                                <div class="dropdown" title="Просмотр информации">
                                    <span class="icon view_list_pages dropdown-toggle">
                                    </span>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" asp-action="GetByContractId" asp-controller="ScopeWorks" asp-route-contractId="@contractSub?.Id" asp-route-returnContractId="@Model.Id">Oбъем услуг</a>
                                        <a class="dropdown-item" asp-action="GetByContractId" asp-controller="Forms" asp-route-id="@contractSub?.Id" asp-route-returnContractId="@Model.Id">Форма С-3а</a>
                                        <a class="dropdown-item" asp-action="GetByContractId" asp-controller="Prepayments" asp-route-contractId="@contractSub?.Id" asp-route-returnContractId="@Model.Id">Авансы</a>
                                        <a class="dropdown-item" asp-action="GetByContractId" asp-controller="Material" asp-route-contractId="@contractSub?.Id" asp-route-returnContractId="@Model.Id">Стоимость материалов</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" asp-action="GetByContractId" asp-controller="Payments" asp-route-contractId="@contractSub?.Id" asp-route-returnContractId="@Model.Id">Оплату договора</a>
                                        <a class="dropdown-item" asp-action="GetByContractId" asp-controller="Amendments" asp-route-id="@contractSub.Id" asp-route-returnContractId="@Model.Id">Дополнительные соглашения</a>
                                        <a class="dropdown-item" asp-action="GetByContractId" asp-controller="Acts" asp-route-id="@contractSub.Id" asp-route-returnContractId="@Model.Id">Акт приостановки/возобновления</a>
                                        <a class="dropdown-item" asp-action="GetByContractId" asp-controller="CommissionActs" asp-route-Id="@contractSub.Id" asp-route-returnContractId="@Model.Id">Акт ввода</a>
                                        <a class="dropdown-item" asp-action="GetByContractId" asp-controller="Correspondences" asp-route-id="@contractSub?.Id" asp-route-returnContractId="@Model.Id">Переписка с заказчиком</a>
                                        <a class="dropdown-item" asp-action="GetByContractId" asp-controller="EstimateDocs" asp-route-Id="@contractSub?.Id" asp-route-returnContractId="@Model.Id">ПСД</a>
                                        <a class="dropdown-item" asp-action="GetByContractId" asp-controller="Files" asp-route-id="@contractSub?.Id" asp-route-fileCategory="@FolderEnum.Contracts" asp-route-contractId="@contractSub?.Id" asp-route-redirectAction=@redirectAction asp-route-redirectController=@redirectController asp-route-isEngineering="" asp-route-returnContractId="@Model.Id">Файлы</a>

                                    </div>
                                </div>
                                <div class="dropdown" title="Добавление информации">
                                    <span class="icon view_to_add_pages dropdown-toggle">
                                    </span>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">                                        
                                        <h6 class="dropdown-header">План</h6>
                                        <a class="dropdown-item" asp-action="ChoosePeriod" asp-controller="ScopeWorks" asp-route-contractId="@contractSub.Id" asp-route-isOwnForces="false" asp-route-returnContractId="@Model.Id">+ Oбъем услуг</a>                                        
                                        <a class="dropdown-item" asp-action="ChoosePeriod" asp-controller="Prepayments" asp-route-contractId="@contractSub.Id" asp-route-returnContractId="@Model.Id">+ Авансы</a>
                                        <a class="dropdown-item" asp-action="ChoosePeriod" asp-controller="Material" asp-route-contractId="@contractSub.Id" asp-route-returnContractId="@Model.Id">+ Стоимость материалов</a>
                                        <div class="dropdown-divider"></div>
                                        <h6 class="dropdown-header">Факт</h6>
                                        <a class="dropdown-item" asp-action="ChoosePeriod" asp-controller="ScopeWorks" asp-route-isFact="true" asp-route-contractId="@contractSub.Id" asp-route-isOwnForces="false" asp-route-returnContractId="@Model.Id">+ Oбъем услуг</a>
                                        <a class="dropdown-item" asp-action="ChoosePeriod" asp-controller="Forms" asp-route-isFact="true" asp-route-contractId="@contractSub.Id" asp-route-returnContractId="@Model.Id">+ Форму С-3а</a>                                        
                                        <a class="dropdown-item" asp-action="ChoosePeriod" asp-controller="Material" asp-route-isFact="true" asp-route-contractId="@contractSub.Id" asp-route-returnContractId="@Model.Id">+ Стоимость материалов</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" asp-action="ChoosePeriod" asp-controller="Payments" asp-route-contractId="@contractSub.Id" asp-route-returnContractId="@Model.Id">+ Оплату договора</a>
                                        <a class="dropdown-item" asp-action="Create" asp-controller="Amendments" asp-route-contractId="@contractSub.Id" asp-route-returnContractId="@Model.Id">+ Дополнительные соглашения</a>
                                        <a class="dropdown-item" asp-action="Create" asp-controller="Acts" asp-route-contractId="@contractSub.Id" asp-route-returnContractId="@Model.Id">+ Акт приостановки/возобновления</a>
                                        <a class="dropdown-item" asp-action="Create" asp-controller="CommissionActs" asp-route-Id="@contractSub.Id" asp-route-returnContractId="@Model.Id">+ Акт ввода</a>
                                        <a class="dropdown-item" asp-action="Create" asp-controller="Correspondences" asp-route-contractId="@contractSub.Id" asp-route-returnContractId="@Model.Id">+ Переписка с заказчиком</a>
                                        <a class="dropdown-item" asp-action="Create" asp-controller="EstimateDocs" asp-route-Id="@contractSub.Id" asp-route-returnContractId="@Model.Id">+ ПСД</a>
                                        <a class="dropdown-item" asp-action="AddFile" asp-controller="Files" asp-route-entityId="@contractSub?.Id" asp-route-contractId="@contractSub?.Id" asp-route-fileCategory="@FolderEnum.Contracts" asp-route-redirectAction=@redirectAction asp-route-redirectController=@redirectController asp-route-isEngineering="" asp-route-returnContractId="@Model.Id">+Файлы</a>
                                    </div>
                                </div>

                                @if (!isEngineering)
                                {
                                    <div class="icon scope_work" title="Объем работ">
                                        <a id="SMR-detail" onclick="ShowModalScopeWork(@contractSub?.Id)"></a>
                                    </div>
                                }
                                @if (isEngineering)
                                {
                                    <div class="icon scope_work" title="Объем услуг">
                                        <a id="SMR-detail" onclick="ShowModalScopeWork(@contractSub?.Id)"></a>
                                    </div>
                                }
                                <div class="icon edit" title="Редактировать">
                                    <a asp-action="Edit" asp-route-id="@contractSub.Id" asp-route-returnContractId="@Model.Id"></a>
                                </div>
                                <div class="icon delete" title="Удалить">
                                    <a asp-action="Delete" asp-route-id="@contractSub.Id"></a>
                                </div>
                            </div>
                        </td>
                        <td>
                            <span>
                                <a asp-action="GetByContractId" asp-controller="SelectionProcedures" asp-route-contractId="@contractSub.Id" asp-route-returnContractId="@Model.Id">@contractSub?.SelectionProcedures?.FirstOrDefault(x => x.ContractId == contractSub?.Id)?.TypeProcedure</a>
                            </span>
                        </td>
                        <td>
                            <span class="table_span-signer">
                                @{
                                    var empSignSub = contractSub?.EmployeeContracts?.FirstOrDefault(x => x.ContractId == contractSub?.Id && x.IsSignatory == true)?.Employee;
                                    var empResponSub = contractSub?.EmployeeContracts?.FirstOrDefault(x => x.ContractId == contractSub?.Id && x.IsResponsible == true)?.Employee;
                                }
                                Подписант - @empSignSub?.Position @empSignSub?.Fio
                                <br><br>
                                Лицо ответственное за ведение договора - @empResponSub?.Fio, тел.@empResponSub?.Phones?.FirstOrDefault()?.Number
                            </span>
                        </td>
                        <td>
                            <span class="table_span-numberanddate">
                                @contractSub?.Number от
                                @contractSub?.Date?.ToShortDateString()
                            </span>
                        </td>
                        <td>
                            <span class="table_span-nameobject">
                                @contractSub?.NameObject
                            </span>
                        </td>
                        <td>
                            <span class="table_span-fin-source">
                                @contractSub?.FundingSource
                            </span>
                        </td>
                        <td>
                            @*Заказчик*@
                            <span class="table_span-customer">
                            </span>
                        </td>
                        <td>
                            @*Генподрядчик*@
                            <span class="table_span-contractor">
                            </span>
                        </td>
                        <td>
                            @*Субподрядчик*@
                            <span class="table_span-subcontractor">
                                @contractSub?.ContractOrganizations?.FirstOrDefault(x => x.ContractId == contractSub?.Id && x.IsGenContractor == false && x.IsClient == false)?.Organization?.Name
                            </span>
                        </td>
                        <td>
                            <span class="table_span-deadlines">
                                Сроки-
                                @if (@contractSub?.DateBeginWork?.ToShortDateString() is not null || @contractSub?.DateEndWork?.ToShortDateString() is not null)
                                {
                                    <b>выполнения работ:</b>
                                    <br>
                                    <span>  @contractSub?.DateBeginWork?.ToShortDateString() - @contractSub?.DateEndWork?.ToShortDateString()</span>
                                    <br>
                                }
                                @if (@contractSub?.EnteringTerm?.ToShortDateString() is not null)
                                {
                                    <b>ввода:</b>

                                    <br>
                                    <span>@contractSub?.EnteringTerm?.ToShortDateString()</span>
                                    <br>
                                }
                                @if (@contractSub?.ContractTerm?.ToShortDateString() is not null)
                                {
                                    <b>действия договора по взаиморасчетам:</b>

                                    <br>
                                    <span>@contractSub?.ContractTerm?.ToShortDateString()</span>
                                    <br>
                                }
                            </span>
                        </td>
                        <td>
                            <span class="table_span-conditions">
                                @* Условия оплаты - *@
                                <a asp-action="GetByContractId" asp-controller="Prepayments" asp-route-contractId="@contractSub?.Id" asp-route-returnContractId="@Model.Id">
                                    @contractSub?.PaymentСonditionsAvans
                                </a>
                                <br />
                                <br />
                                <a asp-action="GetByContractId" asp-controller="Payments" asp-route-contractId="@contractSub?.Id" asp-route-returnContractId="@Model.Id">
                                    @* Оплата *@
                                    @contractSub?.PaymentСonditionsRaschet
                                </a>
                            </span>
                        </td>
                        @* Вид работ- *@
                        <td>
                            <span class="table_span-work">
                                @contractSub?.TypeWorkContracts?.FirstOrDefault()?.TypeWork?.Name
                            </span>
                        </td>
                        <td class="text-end">
                            <span class="table_span-contractprice">
                                @* ЦЕна - *@
                                @contractSub?.ContractPrice?.ToString("N2")
                            </span>
                        </td>
                        <td>
                            <span class="table_span-currency">
                                @contractSub?.Сurrency
                            </span>
                        </td>
                        @*
                @if (isEngineering)
                {
                <td>
                <span class="table_span-act-entering">
                <span class="icon link_to_page" id="SMR-detail" onclick="ShowModalScopeWork(@contractSub.Id)" title="Объем услуг"></span>
                </span>
                </td>
                }
                @if (!isEngineering)
                {
                <td>
                <span class="table_span-act-entering">
                <span class="icon link_to_page" id="SMR-detail" onclick="ShowModalScopeWork(@contractSub.Id)" title="Объем работ"></span>
                </span>
                </td>
                } *@
                    </tr>
                }
            </tbody>
        </table>
    </div>
    @if (!isEngineering)
    {
        <div class="mt-1 k-ml-1">
            <a class="btn btn-success" asp-action="Index">Вернуться</a>
        </div>
    }
    @if (isEngineering)
    {
        <div class="mt-1 k-ml-1">
            <a class="btn btn-success" asp-action="Engineerings">Вернуться</a>
        </div>
    }
    @{
        if (TempData["Message"] != null)
        {
            var mes = (string)TempData["Message"];
            <input id="messageInput" onclick="MessageError(document.getElementById('messageInput').value)" value="@mes" hidden />
        }
    }
    <script>
        window.onload = function () {
            $("#messageInput").trigger('click');
        }
        function MessageError(val) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Message", "Home")',
                dataType: 'html',
                data: { message: val },
                success: function (result) {
                    $('#dialogContent').html(result);
                    $('#modDialog').modal({ backdrop: false });
                    $('#modDialog').modal('toggle');
                },
                error: function (result) {
                    console.log(result, 'Ошибка при вызове сообщения');
                }
            })
        }

        function ShowModalScopeWork(id) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("ShowScopeWorks")',
                dataType: 'html',
                data: { id: id },
                success: function (result) {
                    $('#dialogContent').html(result);
                    $('#modDialog').modal({ backdrop: false });
                    $('#modDialog').modal('toggle');
                },
                error: function (result) {
                    console.log(result, 'Ошибка удаления');
                    alert("Ошибка удаления");
                }
            });
        };
    </script>
    @if (ViewBag.Message != null)
    {
        <script>
            alert("@Html.Raw(ViewBag.Message)");
        </script>
    }
}
