@model MvcLayer.Models.ContractViewModel


@section Table{
    <div id="ConstructionInstallationWorksByTypes" class="modal modal-in-detail-view modal__visibility-close">
        <div class="modal__back"></div>
        <div class="modal__container">
            <div class="full-width">
            <button id="ChangeToCategories">Сменить вид</button>
            <table class="PartialTable modal__table">
                <thead>
                    <tr class="tr-head-main-table">
                        @*Виды работ по договору*@
                            <th colspan="2" class="table-th-background-color Partialtable-sticky-top"><span class="table_span-work">Виды работ по договору</span></th>
                        @*Контрактная договорная цена*@
                            <th class="table-th-background-color Partialtable-sticky-top"><span class="table_span-contractprice table-th-background-color">Контрактная цена, с НДС</span></th>
                        @*Выполнено на 01.01 текущего года*@
                        <th class="table-th-background-color Partialtable-sticky-top"><span class="table_span-realization">Выполнено на 01.01 тек. года</span></th>
                        @*Остаток по выполнению от стоимости контрактной цены*@
                        <th class="table-th-background-color Partialtable-sticky-top"><span class="table_span-remains">Остаток по выполнению</span></th>
                        @*Объем на текущий год*@
                        <th class="table-th-background-color Partialtable-sticky-top"><span class="table_span-volume">Объем на текущий год</span></th>
                            @{
                                for (int i =0; i<25; i++)
                            {
                                    <th class="table-th-background-color Partialtable-sticky-top"><span class="table_span-month">@i</span></th>
                            }
                            }
                    </tr>                             
                </thead>
                    <tbody class="tbodyPartialTableModal">
                    <tr id="all">
                            <td rowspan="4" class="table-th-background-color Partialtable-sticky-left-one"><span class="table_span-work">Вид работ</span></td>
                            <td class="Partialtable-sticky-left-two table-th-background-color"><span class="table_span-currency">План</span></td>
                            <td><span class="table_span-contractprice">Вид работ цена</span></td>
                            <td><span class="table_span-realization">Вид работ выполнено</span></td>
                            <td><span class="table_span-remains">Вид работ остаток</span></td>
                            <td><span class="table_span-volume">Вид работ объем</span></td>
                            @{
                                for (int i = 0; i < 25; i++)
                                {
                                    <td><span class="table_span-month">@i - 000</span></td>
                                }
                            }
                    </tr>
                        <tr>
                            <td class="Partialtable-sticky-left-two table-th-background-color"><span class="table_span-currency">Факт</span></td>
                            <td><span class="table_span-contractprice">Вид работ цена</span></td>
                            <td><span class="table_span-realization">Вид работ выполнено</span></td>
                            <td><span class="table_span-remains">Вид работ остаток</span></td>
                            <td><span class="table_span-volume">Вид работ объем</span></td>
                            @{
                                for (int i = 0; i < 25; i++)
                                {
                                    <td><span class="table_span-month">@i - 000</span></td>
                                }
                            }
                        </tr>
                        <tr>
                            <td class="Partialtable-sticky-left-two table-th-background-color"><span class="table_span-currency">План своими силами</span></td>
                            <td><span class="table_span-contractprice">Вид работ цена</span></td>
                            <td><span class="table_span-realization">Вид работ выполнено</span></td>
                            <td><span class="table_span-remains">Вид работ остаток</span></td>
                            <td><span class="table_span-volume">Вид работ объем</span></td>
                            @{
                                for (int i = 0; i < 25; i++)
                                {
                                    <td><span class="table_span-month">@i - 000</span></td>
                                }
                            }
                        </tr>
                        <tr>
                            <td class="Partialtable-sticky-left-two table-th-background-color"><span class="table_span-currency"> Факт своими силами</span></td>
                            <td class="table-on-their-own"><span class="table_span-contractprice">Вид работ цена</span></td>
                            <td class="table-on-their-own"><span class="table_span-realization">Вид работ выполнено</span></td>
                            <td class="table-on-their-own"><span class="table_span-remains">Вид работ остаток</span></td>
                            <td class="table-on-their-own"><span class="table_span-volume">Вид работ объем</span></td>
                            @{
                                for (int i = 0; i < 25; i++)
                                {
                                    <td class="table-on-their-own"><span class="table_span-month">@i - 000</span></td>
                                }
                            }
                        </tr>
                    <tr id="smr">
                        <td rowspan="4" class="table-th-background-color Partialtable-sticky-left-one table-th-background-color"><span class="table_span-work">СМР</span></td>
                            <td class="Partialtable-sticky-left-two table-th-background-color"><span class="table_span-currency">План</span></td>
                        <td><span class="table_span-contractprice">СМР цена</span></td>
                        <td><span class="table_span-realization">СМР выполнено</span></td>
                        <td><span class="table_span-remains">СМР остаток</span></td>
                        <td><span class="table_span-volume">СМР объем</span></td>
                        @{
                            for (int i = 0; i < 25; i++)
                            {
                                <td><span class="table_span-month">@i - 000</span></td>
                            }
                        }
                    </tr>
                        <tr>
                            <td class="Partialtable-sticky-left-two table-th-background-color"><span class="table_span-currency">Факт</span></td>
                            <td><span class="table_span-contractprice">СМР цена</span></td>
                            <td><span class="table_span-realization">СМР выполнено</span></td>
                            <td><span class="table_span-remains">СМР остаток</span></td>
                            <td><span class="table_span-volume">СМР объем</span></td>
                            @{
                                for (int i = 0; i < 25; i++)
                                {
                                    <td><span class="table_span-month">@i - 000</span></td>
                                }
                            }
                        </tr>
                        <tr>
                            <td class="Partialtable-sticky-left-two table-th-background-color"><span class="table_span-currency">План своими силами</span></td>
                            <td><span class="table_span-contractprice">СМР цена</span></td>
                            <td><span class="table_span-realization">СМР выполнено</span></td>
                            <td><span class="table_span-remains">СМР остаток</span></td>
                            <td><span class="table_span-volume">СМР объем</span></td>
                            @{
                                for (int i = 0; i < 25; i++)
                                {
                                    <td><span class="table_span-month">@i - 000</span></td>
                                }
                            }
                        </tr>
                        <tr>
                            <td class="table-on-their-own Partialtable-sticky-left-two table-th-background-color"><span class="table_span-currency">Факт своими силами</span></td>
                            <td class="table-on-their-own"><span class="table_span-contractprice">СМР цена</span></td>
                            <td class="table-on-their-own"><span class="table_span-realization">СМР выполнено</span></td>
                            <td class="table-on-their-own"><span class="table_span-remains">СМР остаток</span></td>
                            <td class="table-on-their-own"><span class="table_span-volume">СМР объем</span></td>
                            @{
                                for (int i = 0; i < 25; i++)
                                {
                                    <td class="table-on-their-own"><span class="table_span-month">@i - 000</span></td>
                                }
                            }
                        </tr>
                    <tr id="pnr">
                        <td rowspan="4" class="table-th-background-color Partialtable-sticky-left-one table-th-background-color"><span class="table_span-work">ПНР</span></td>
                            <td class="Partialtable-sticky-left-two table-th-background-color"><span class="table_span-currency">План</span></td>
                        <td><span class="table_span-contractprice">ПНР цена</span></td>
                        <td><span class="table_span-realization">ПНР выполнено</span></td>
                        <td><span class="table_span-remains">ПНР остаток</span></td>
                        <td><span class="table_span-volume">ПНР объем</span></td>
                        @{
                            for (int i = 0; i < 25; i++)
                            {
                                <td><span class="table_span-month">@i - 000</span></td>
                            }
                        }                   
                    </tr>
                        <tr>
                            <td class="Partialtable-sticky-left-two table-th-background-color"><span class="table_span-currency">Факт</span></td>
                            <td><span class="table_span-contractprice">ПНР цена</span></td>
                            <td><span class="table_span-realization">ПНР выполнено</span></td>
                            <td><span class="table_span-remains">ПНР остаток</span></td>
                            <td><span class="table_span-volume">ПНР объем</span></td>
                            @{
                                for (int i = 0; i < 25; i++)
                                {
                                    <td><span class="table_span-month">@i - 000</span></td>
                                }
                            }
                        </tr>
                        <tr>
                            <td class="Partialtable-sticky-left-two table-th-background-color"><span class="table_span-currency">План своими силами</span></td>
                            <td><span class="table_span-contractprice">ПНР цена</span></td>
                            <td><span class="table_span-realization">ПНР выполнено</span></td>
                            <td><span class="table_span-remains">ПНР остаток</span></td>
                            <td><span class="table_span-volume">ПНР объем</span></td>
                            @{
                                for (int i = 0; i < 25; i++)
                                {
                                    <td><span class="table_span-month">@i - 000</span></td>
                                }
                            }
                        </tr>
                        <tr>
                            <td class="table-on-their-own Partialtable-sticky-left-two table-th-background-color"><span class="table_span-currency">Факт своими силами</span></td>
                            <td class="table-on-their-own"><span class="table_span-contractprice">ПНР цена</span></td>
                            <td class="table-on-their-own"><span class="table_span-realization">ПНР выполнено</span></td>
                            <td class="table-on-their-own"><span class="table_span-remains">ПНР остаток</span></td>
                            <td class="table-on-their-own"><span class="table_span-volume">ПНР объем</span></td>
                            @{
                                for (int i = 0; i < 25; i++)
                                {
                                    <td class="table-on-their-own"><span class="table_span-month">@i - 000</span></td>
                                }
                            }
                        </tr>
                    <tr id="equip">
                        <td rowspan="4" class="table-th-background-color Partialtable-sticky-left-one table-th-background-color"><span class="table_span-work">Оборудование</span></td>
                        <td class="Partialtable-sticky-left-two table-th-background-color"><span class="table_span-currency">План</span></td>
                        <td><span class="table_span-contractprice">Оборудование цена</span></td>
                        <td><span class="table_span-realization">Оборудование выполнено</span></td>
                        <td><span class="table_span-remains">Оборудование остаток</span></td>
                        <td><span class="table_span-volume">Оборудование объем</span></td>
                        @{
                            for (int i = 0; i < 25; i++)
                            {
                                <td><span class="table_span-month">@i - 000</span></td>
                            }
                        }                   
                    </tr>
                        <tr>
                            <td class="Partialtable-sticky-left-two table-th-background-color"><span class="table_span-contractprice">Факт</span></td>
                            <td><span class="table_span-contractprice">Оборудование цена</span></td>
                            <td><span class="table_span-realization">Оборудование выполнено</span></td>
                            <td><span class="table_span-remains">Оборудование остаток</span></td>
                            <td><span class="table_span-volume">Оборудование объем</span></td>
                            @{
                                for (int i = 0; i < 25; i++)
                                {
                                    <td><span class="table_span-month">@i - 000</span></td>
                                }
                            }
                        </tr>
                        <tr>
                            <td class="Partialtable-sticky-left-two table-th-background-color"><span class="table_span-contractprice">План своими силами</span></td>
                            <td><span class="table_span-contractprice">Оборудование цена</span></td>
                            <td><span class="table_span-realization">Оборудование выполнено</span></td>
                            <td><span class="table_span-remains">Оборудование остаток</span></td>
                            <td><span class="table_span-volume">Оборудование объем</span></td>
                            @{
                                for (int i = 0; i < 25; i++)
                                {
                                    <td><span class="table_span-month">@i - 000</span></td>
                                }
                            }
                        </tr>
                        <tr>
                            <td class="table-on-their-own Partialtable-sticky-left-two table-th-background-color"><span class="table_span-contractprice">Факт своими силами</span></td>
                            <td class="table-on-their-own"><span class="table_span-contractprice">Оборудование цена</span></td>
                            <td class="table-on-their-own"><span class="table_span-realization">Оборудование выполнено</span></td>
                            <td class="table-on-their-own"><span class="table_span-remains">Оборудование остаток</span></td>
                            <td class="table-on-their-own"><span class="table_span-volume">Оборудование объем</span></td>
                            @{
                                for (int i = 0; i < 25; i++)
                                {
                                    <td class="table-on-their-own"><span class="table_span-month">@i - 000</span></td>
                                }
                            }
                        </tr>
                   <tr id="other">
                        <td rowspan="4" class="table-th-background-color Partialtable-sticky-left-one table-th-background-color"><span class="table_span-work">РАБОТЫ И УСЛУГИ</span></td>
                            <td class="Partialtable-sticky-left-two table-th-background-color"><span class="table_span-contractprice">План</span></td>
                        <td><span class="table_span-contractprice">РАБОТЫ цена</span></td>
                        <td><span class="table_span-realization">РАБОТЫ выполнено</span></td>
                        <td><span class="table_span-remains">РАБОТЫ остаток</span></td>
                        <td><span class="table_span-volume">РАБОТЫ объем</span></td>
                        @{
                            for (int i = 0; i < 25; i++)
                            {
                                <td><span class="table_span-month">@i - 000</span></td>
                            }
                        }                     
                    </tr>
                        <tr>
                            <td class="Partialtable-sticky-left-two table-th-background-color"><span class="table_span-contractprice">Факт</span></td>
                            <td><span class="table_span-contractprice">РАБОТЫ цена</span></td>
                            <td><span class="table_span-realization">РАБОТЫ выполнено</span></td>
                            <td><span class="table_span-remains">РАБОТЫ остаток</span></td>
                            <td><span class="table_span-volume">РАБОТЫ объем</span></td>
                            @{
                                for (int i = 0; i < 25; i++)
                                {
                                    <td><span class="table_span-month">@i - 000</span></td>
                                }
                            }
                        </tr>
                        <tr>
                            <td class="Partialtable-sticky-left-two table-th-background-color"><span class="table_span-contractprice">План своими силами</span></td>
                            <td><span class="table_span-contractprice">РАБОТЫ цена</span></td>
                            <td><span class="table_span-realization">РАБОТЫ выполнено</span></td>
                            <td><span class="table_span-remains">РАБОТЫ остаток</span></td>
                            <td><span class="table_span-volume">РАБОТЫ объем</span></td>
                            @{
                                for (int i = 0; i < 25; i++)
                                {
                                    <td><span class="table_span-month">@i - 000</span></td>
                                }
                            }
                        </tr>
                        <tr>
                            <td class="table-on-their-own Partialtable-sticky-left-two table-th-background-color"><span class="table_span-contractprice">Факт своими силами</span></td>
                            <td class="table-on-their-own"><span class="table_span-contractprice">РАБОТЫ цена</span></td>
                            <td class="table-on-their-own"><span class="table_span-realization">РАБОТЫ выполнено</span></td>
                            <td class="table-on-their-own"><span class="table_span-remains">РАБОТЫ остаток</span></td>
                            <td class="table-on-their-own"><span class="table_span-volume">РАБОТЫ объем</span></td>
                            @{
                                for (int i = 0; i < 25; i++)
                                {
                                    <td class="table-on-their-own"><span class="table_span-month">@i - 000</span></td>
                                }
                            }
                        </tr>
                    <tr id="allWithoutNDS">
                            <td rowspan="4" class="table-th-background-color Partialtable-sticky-left-one table-th-background-color"><span class="table_span-work">Всего по договору без учета НДС</span></td>
                            <td class="Partialtable-sticky-left-two table-th-background-color"><span class="table_span-contractprice">План</span></td>
                        <td><span class="table_span-contractprice">Всего по договору цена</span></td>
                        <td><span class="table_span-realization">Всего по договору выполнено</span></td>
                        <td><span class="table_span-remains">Всего по договору остаток</span></td>
                        <td><span class="table_span-volume">Всего по договору объем</span></td>
                        @{
                            for (int i = 0; i < 25; i++)
                            {
                                <td><span class="table_span-month">@i - 000</span></td>
                            }
                        }                  
                    </tr>
                        <tr>
                            <td class="Partialtable-sticky-left-two table-th-background-color"><span class="table_span-contractprice">Факт</span></td>
                            <td><span class="table_span-contractprice">Всего по договору цена</span></td>
                            <td><span class="table_span-realization">Всего по договору выполнено</span></td>
                            <td><span class="table_span-remains">Всего по договору остаток</span></td>
                            <td><span class="table_span-volume">Всего по договору объем</span></td>
                            @{
                                for (int i = 0; i < 25; i++)
                                {
                                    <td><span class="table_span-month">@i - 000</span></td>
                                }
                            }
                        </tr>
                        <tr>
                            <td class="Partialtable-sticky-left-two table-th-background-color"><span class="table_span-contractprice">План своими силами</span></td>
                            <td><span class="table_span-contractprice">Всего по договору цена</span></td>
                            <td><span class="table_span-realization">Всего по договору выполнено</span></td>
                            <td><span class="table_span-remains">Всего по договору остаток</span></td>
                            <td><span class="table_span-volume">Всего по договору объем</span></td>
                            @{
                                for (int i = 0; i < 25; i++)
                                {
                                    <td><span class="table_span-month">@i - 000</span></td>
                                }
                            }
                        </tr>
                        <tr>
                            <td class="table-on-their-own Partialtable-sticky-left-two table-th-background-color"><span class="table_span-contractprice">Факт своими силами</span></td>
                            <td class="table-on-their-own"><span class="table_span-contractprice">Всего по договору цена</span></td>
                            <td class="table-on-their-own"><span class="table_span-realization">Всего по договору выполнено</span></td>
                            <td class="table-on-their-own"><span class="table_span-remains">Всего по договору остаток</span></td>
                            <td class="table-on-their-own"><span class="table_span-volume">Всего по договору объем</span></td>
                            @{
                                for (int i = 0; i < 25; i++)
                                {
                                    <td class="table-on-their-own"><span class="table_span-month">@i - 000</span></td>
                                }
                            }
                        </tr>
                    <tr id="optionnaly">
                        <td rowspan="4" class="table-th-background-color Partialtable-sticky-left-one table-th-background-color"><span class="table_span-work">ДОП.РАБОТЫ</span></td>
                            <td class="Partialtable-sticky-left-two table-th-background-color"><span class="table_span-contractprice">План</span></td>
                        <td><span class="table_span-contractprice">ДОП.РАБОТЫ цена</span></td>
                        <td><span class="table_span-realization">ДОП.РАБОТЫ выполнено</span></td>
                        <td><span class="table_span-remains">ДОП.РАБОТЫ остаток</span></td>
                        <td><span class="table_span-volume">ДОП.РАБОТЫ объем</span></td>
                        @{
                            for (int i = 0; i < 25; i++)
                            {
                                <td><span class="table_span-month">@i - 000</span></td>
                            }
                        }                   
                    </tr>
                        <tr>
                            <td class="Partialtable-sticky-left-two table-th-background-color"><span class="table_span-contractprice">Факт</span></td>
                            <td><span class="table_span-contractprice">ДОП.РАБОТЫ цена</span></td>
                            <td><span class="table_span-realization">ДОП.РАБОТЫ выполнено</span></td>
                            <td><span class="table_span-remains">ДОП.РАБОТЫ остаток</span></td>
                            <td><span class="table_span-volume">ДОП.РАБОТЫ объем</span></td>
                            @{
                                for (int i = 0; i < 25; i++)
                                {
                                    <td><span class="table_span-month">@i - 000</span></td>
                                }
                            }
                        </tr>
                        <tr>
                            <td class="Partialtable-sticky-left-two table-th-background-color"><span class="table_span-contractprice">План своими силами</span></td>
                            <td><span class="table_span-contractprice">ДОП.РАБОТЫ цена</span></td>
                            <td><span class="table_span-realization">ДОП.РАБОТЫ выполнено</span></td>
                            <td><span class="table_span-remains">ДОП.РАБОТЫ остаток</span></td>
                            <td><span class="table_span-volume">ДОП.РАБОТЫ объем</span></td>
                            @{
                                for (int i = 0; i < 25; i++)
                                {
                                    <td><span class="table_span-month">@i - 000</span></td>
                                }
                            }
                        </tr>
                        <tr>
                            <td class="table-on-their-own Partialtable-sticky-left-two table-th-background-color"><span class="table_span-contractprice">Факт своими силами</span></td>
                            <td class="table-on-their-own"><span class="table_span-contractprice">ДОП.РАБОТЫ цена</span></td>
                            <td class="table-on-their-own"><span class="table_span-realization">ДОП.РАБОТЫ выполнено</span></td>
                            <td class="table-on-their-own"><span class="table_span-remains">ДОП.РАБОТЫ остаток</span></td>
                            <td class="table-on-their-own"><span class="table_span-volume">ДОП.РАБОТЫ объем</span></td>
                            @{
                                for (int i = 0; i < 25; i++)
                                {
                                    <td class="table-on-their-own"><span class="table_span-month">@i - 000</span></td>
                                }
                            }
                        </tr>
                    <tr id="material">
                            <td rowspan="4" class="table-th-background-color Partialtable-sticky-left-one table-th-background-color"><span class="table_span-work">СТОИМОСТЬ МАТЕРИАЛОВ ЗАКАЗЧИКА (СПРАВОЧНО)</span></td>
                            <td class="Partialtable-sticky-left-two table-th-background-color"><span class="table_span-contractprice">План</span></td>
                        <td><span class="table_span-contractprice">МАТЕРИАЛЫ цена</span></td>
                        <td><span class="table_span-realization">МАТЕРИАЛЫ выполнено</span></td>
                        <td><span class="table_span-remains">МАТЕРИАЛЫ остаток</span></td>
                        <td><span class="table_span-volume">МАТЕРИАЛЫ объем</span></td>
                        @{
                            for (int i = 0; i < 25; i++)
                            {
                                <td><span class="table_span-month">@i - 000</span></td>
                            }
                        }                     
                    </tr>
                        <tr>
                            <td class="Partialtable-sticky-left-two table-th-background-color"><span class="table_span-contractprice">Факт</span></td>
                            <td><span class="table_span-contractprice">МАТЕРИАЛЫ цена</span></td>
                            <td><span class="table_span-realization">МАТЕРИАЛЫ выполнено</span></td>
                            <td><span class="table_span-remains">МАТЕРИАЛЫ остаток</span></td>
                            <td><span class="table_span-volume">МАТЕРИАЛЫ объем</span></td>
                            @{
                                for (int i = 0; i < 25; i++)
                                {
                                    <td><span class="table_span-month">@i - 000</span></td>
                                }
                            }
                        </tr>
                        <tr>
                            <td class="Partialtable-sticky-left-two table-th-background-color"><span class="table_span-contractprice">План своими силами</span></td>
                            <td><span class="table_span-contractprice">МАТЕРИАЛЫ цена</span></td>
                            <td><span class="table_span-realization">МАТЕРИАЛЫ выполнено</span></td>
                            <td><span class="table_span-remains">МАТЕРИАЛЫ остаток</span></td>
                            <td><span class="table_span-volume">МАТЕРИАЛЫ объем</span></td>
                            @{
                                for (int i = 0; i < 25; i++)
                                {
                                    <td><span class="table_span-month">@i - 000</span></td>
                                }
                            }
                        </tr>
                        <tr>
                            <td class="table-on-their-own Partialtable-sticky-left-two table-th-background-color"><span class="table_span-contractprice">Факт своими силами</span></td>
                            <td class="table-on-their-own"><span class="table_span-contractprice">МАТЕРИАЛЫ цена</span></td>
                            <td class="table-on-their-own"><span class="table_span-realization">МАТЕРИАЛЫ выполнено</span></td>
                            <td class="table-on-their-own"><span class="table_span-remains">МАТЕРИАЛЫ остаток</span></td>
                            <td class="table-on-their-own"><span class="table_span-volume">МАТЕРИАЛЫ объем</span></td>
                            @{
                                for (int i = 0; i < 25; i++)
                                {
                                    <td class="table-on-their-own"><span class="table_span-month">@i - 000</span></td>
                                }
                            }
                        </tr>
                </tbody>
            </table>
            </div>
            <button id="buttonTableType" class="modal__container-button">Закрыть таблицу</button>
        </div>
    </div>

    <div id="ConstructionInstallationWorksByCategories" class="modal modal__visibility-close">
        <div class="modal__back"></div>
        <div class="modal__container">
            <div class="full-width">
                <button id="ChangeToType">Сменить вид</button>
                <table class="PartialTable modal__table table table-striped table-hover">
                    <thead>
                        <tr class="tr-head-main-table">
                            @*Виды работ по договору*@
                            <th colspan="2" class="table-th-background-color Partialtable-sticky-top"><span class="table_span-work">Виды работ по договору</span></th>
                            @*Контрактная договорная цена*@
                            <th class="table-th-background-color Partialtable-sticky-top"><span class="table_span-contractprice table-th-background-color">Контрактная цена, с НДС</span></th>
                            @*Выполнено на 01.01 текущего года*@
                            <th class="table-th-background-color Partialtable-sticky-top"><span class="table_span-realization">Выполнено на 01.01 тек. года</span></th>
                            @*Остаток по выполнению от стоимости контрактной цены*@
                            <th class="table-th-background-color Partialtable-sticky-top"><span class="table_span-remains">Остаток по выполнению</span></th>
                            @*Объем на текущий год*@
                            <th class="table-th-background-color Partialtable-sticky-top"><span class="table_span-volume">Объем на текущий год</span></th>
                            @{
                                for (int i = 0; i < 25; i++)
                                {
                                    <th class="table-th-background-color Partialtable-sticky-top"><span class="table_span-month">@i</span></th>
                                }
                            }
                        </tr>
                    </thead>
                    <tbody class="tbodyPartialTableModal">
                        <tr id="plan">
                            <td rowspan="8" class="table-th-background-color Partialtable-sticky-left-one"><span class="table_span-currency">План</span></td>
                            <td class="Partialtable-sticky-left-three table-th-background-color"><span class="table_span-work">Вид работ</span></td>
                            <td><span class="table_span-contractprice">Вид работ цена</span></td>
                            <td><span class="table_span-realization">Вид работ выполнено</span></td>
                            <td><span class="table_span-remains">Вид работ остаток</span></td>
                            <td><span class="table_span-volume">Вид работ объем</span></td>
                            @{
                                for (int i = 0; i < 25; i++)
                                {
                                    <td><span class="table_span-month">@i - 000</span></td>
                                }
                            }
                        </tr>
                            <tr>
                            <td class="Partialtable-sticky-left-three table-th-background-color"><span class="table_span-work">СМР</span></td>
                                <td><span class="table_span-contractprice">СМР цена</span></td>
                                <td><span class="table_span-realization">СМР выполнено</span></td>
                                <td><span class="table_span-remains">СМР остаток</span></td>
                                <td><span class="table_span-volume">СМР объем</span></td>
                                @{
                                    for (int i = 0; i < 25; i++)
                                    {
                                        <td><span class="table_span-month">@i - 000</span></td>
                                    }
                                }
                            </tr>
                            <tr>
                            <td class="Partialtable-sticky-left-three table-th-background-color"><span class="table_span-work">ПНР</span></td>
                                <td><span class="table_span-contractprice">ПНР цена</span></td>
                                <td><span class="table_span-realization">ПНР выполнено</span></td>
                                <td><span class="table_span-remains">ПНР остаток</span></td>
                                <td><span class="table_span-volume">ПНР объем</span></td>
                                @{
                                    for (int i = 0; i < 25; i++)
                                    {
                                        <td><span class="table_span-month">@i - 000</span></td>
                                    }
                                }
                            </tr>
                            <tr>
                            <td class="Partialtable-sticky-left-three"><span class="table_span-work">Оборудование</span></td>
                                <td><span class="table_span-contractprice">Оборудование цена</span></td>
                                <td><span class="table_span-realization">Оборудование выполнено</span></td>
                                <td><span class="table_span-remains">Оборудование остаток</span></td>
                                <td><span class="table_span-volume">Оборудование объем</span></td>
                                @{
                                    for (int i = 0; i < 25; i++)
                                    {
                                        <td><span class="table_span-month">@i - 000</span></td>
                                    }
                                }
                            </tr>
                            <tr>
                            <td class="Partialtable-sticky-left-three"><span class="table_span-work">РАБОТЫ И УСЛУГИ</span></td>
                                <td><span class="table_span-contractprice">Работы цена</span></td>
                                <td><span class="table_span-realization">Работы выполнено</span></td>
                                <td><span class="table_span-remains">Работы остаток</span></td>
                                <td><span class="table_span-volume">Работы объем</span></td>
                                @{
                                    for (int i = 0; i < 25; i++)
                                    {
                                        <td><span class="table_span-month">@i - 000</span></td>
                                    }
                                }
                            </tr>
                            <tr>
                            <td class="Partialtable-sticky-left-three"><span class="table_span-work">Всего по договору, без НДС</span></td>
                                <td><span class="table_span-contractprice">Договор без НДС цена</span></td>
                                <td><span class="table_span-realization">Договор без НДС выполнено</span></td>
                                <td><span class="table_span-remains">Договор без НДС остаток</span></td>
                                <td><span class="table_span-volume">Договор без НДС объем</span></td>
                                @{
                                    for (int i = 0; i < 25; i++)
                                    {
                                        <td><span class="table_span-month">@i - 000</span></td>
                                    }
                                }
                            </tr>
                            <tr>
                            <td class="Partialtable-sticky-left-three"><span class="table_span-work">Доп. работы</span></td>
                                <td><span class="table_span-contractprice">Доп. работы цена</span></td>
                                <td><span class="table_span-realization">Доп. работы выполнено</span></td>
                                <td><span class="table_span-remains">Доп. работы остаток</span></td>
                                <td><span class="table_span-volume">Доп. работы объем</span></td>
                                @{
                                    for (int i = 0; i < 25; i++)
                                    {
                                        <td><span class="table_span-month">@i - 000</span></td>
                                    }
                                }
                            </tr>
                            <tr>
                            <td class="Partialtable-sticky-left-three"><span class="table_span-work">Материалы</span></td>
                                <td><span class="table_span-contractprice">Материалы цена</span></td>
                                <td><span class="table_span-realization">Материалы выполнено</span></td>
                                <td><span class="table_span-remains">Материалы остаток</span></td>
                                <td><span class="table_span-volume">Материалы объем</span></td>
                                @{
                                    for (int i = 0; i < 25; i++)
                                    {
                                        <td><span class="table_span-month">@i - 000</span></td>
                                    }
                                }
                            </tr>
                        <tr id="fact">
                            <td rowspan="8" class="table-th-background-color Partialtable-sticky-left-one"><span class="table_span-currency">Факт</span></td>
                            <td class="Partialtable-sticky-left-three table-th-background-color"><span class="table_span-work">Вид работ</span></td>
                            <td><span class="table_span-contractprice">Вид работ цена</span></td>
                            <td><span class="table_span-realization">Вид работ выполнено</span></td>
                            <td><span class="table_span-remains">Вид работ остаток</span></td>
                            <td><span class="table_span-volume">Вид работ объем</span></td>
                            @{
                                for (int i = 0; i < 25; i++)
                                {
                                    <td><span class="table_span-month">@i - 000</span></td>
                                }
                            }
                        </tr>
                            <tr>
                            <td class="Partialtable-sticky-left-three table-th-background-color"><span class="table_span-work">СМР</span></td>
                                <td><span class="table_span-contractprice">СМР цена</span></td>
                                <td><span class="table_span-realization">СМР выполнено</span></td>
                                <td><span class="table_span-remains">СМР остаток</span></td>
                                <td><span class="table_span-volume">СМР объем</span></td>
                                @{
                                    for (int i = 0; i < 25; i++)
                                    {
                                        <td><span class="table_span-month">@i - 000</span></td>
                                    }
                                }
                            </tr>
                            <tr>
                            <td class="Partialtable-sticky-left-three table-th-background-color"><span class="table_span-work">ПНР</span></td>
                                <td><span class="table_span-contractprice">ПНР цена</span></td>
                                <td><span class="table_span-realization">ПНР выполнено</span></td>
                                <td><span class="table_span-remains">ПНР остаток</span></td>
                                <td><span class="table_span-volume">ПНР объем</span></td>
                                @{
                                    for (int i = 0; i < 25; i++)
                                    {
                                        <td><span class="table_span-month">@i - 000</span></td>
                                    }
                                }
                            </tr>
                            <tr>
                            <td class="Partialtable-sticky-left-three"><span class="table_span-work">Оборудование</span></td>
                                <td><span class="table_span-contractprice">Оборудование цена</span></td>
                                <td><span class="table_span-realization">Оборудование выполнено</span></td>
                                <td><span class="table_span-remains">Оборудование остаток</span></td>
                                <td><span class="table_span-volume">Оборудование объем</span></td>
                                @{
                                    for (int i = 0; i < 25; i++)
                                    {
                                        <td><span class="table_span-month">@i - 000</span></td>
                                    }
                                }
                            </tr>
                            <tr>
                            <td class="Partialtable-sticky-left-three"><span class="table_span-work">РАБОТЫ И УСЛУГИ</span></td>
                                <td><span class="table_span-contractprice">Работы цена</span></td>
                                <td><span class="table_span-realization">Работы выполнено</span></td>
                                <td><span class="table_span-remains">Работы остаток</span></td>
                                <td><span class="table_span-volume">Работы объем</span></td>
                                @{
                                    for (int i = 0; i < 25; i++)
                                    {
                                        <td><span class="table_span-month">@i - 000</span></td>
                                    }
                                }
                            </tr>
                            <tr>
                            <td class="Partialtable-sticky-left-three"><span class="table_span-work">Всего по договору, без НДС</span></td>
                                <td><span class="table_span-contractprice">Договор без НДС цена</span></td>
                                <td><span class="table_span-realization">Договор без НДС выполнено</span></td>
                                <td><span class="table_span-remains">Договор без НДС остаток</span></td>
                                <td><span class="table_span-volume">Договор без НДС объем</span></td>
                                @{
                                    for (int i = 0; i < 25; i++)
                                    {
                                        <td><span class="table_span-month">@i - 000</span></td>
                                    }
                                }
                            </tr>
                            <tr>
                            <td class="Partialtable-sticky-left-three"><span class="table_span-work">Доп. работы</span></td>
                                <td><span class="table_span-contractprice">Доп. работы цена</span></td>
                                <td><span class="table_span-realization">Доп. работы выполнено</span></td>
                                <td><span class="table_span-remains">Доп. работы остаток</span></td>
                                <td><span class="table_span-volume">Доп. работы объем</span></td>
                                @{
                                    for (int i = 0; i < 25; i++)
                                    {
                                        <td><span class="table_span-month">@i - 000</span></td>
                                    }
                                }
                            </tr>
                            <tr>
                            <td class="Partialtable-sticky-left-three"><span class="table_span-work">Материалы</span></td>
                                <td><span class="table_span-contractprice">Материалы цена</span></td>
                                <td><span class="table_span-realization">Материалы выполнено</span></td>
                                <td><span class="table_span-remains">Материалы остаток</span></td>
                                <td><span class="table_span-volume">Материалы объем</span></td>
                                @{
                                    for (int i = 0; i < 25; i++)
                                    {
                                        <td><span class="table_span-month">@i - 000</span></td>
                                    }
                                }
                            </tr>
                        <tr id="planOur">
                            <td rowspan="8" class="table-th-background-color Partialtable-sticky-left-one"><span class="table_span-currency">План своими силами</span></td>
                            <td class="Partialtable-sticky-left-three table-th-background-color"><span class="table_span-work">Вид работ</span></td>
                            <td><span class="table_span-contractprice">Вид работ цена</span></td>
                            <td><span class="table_span-realization">Вид работ выполнено</span></td>
                            <td><span class="table_span-remains">Вид работ остаток</span></td>
                            <td><span class="table_span-volume">Вид работ объем</span></td>
                            @{
                                for (int i = 0; i < 25; i++)
                                {
                                    <td><span class="table_span-month">@i - 000</span></td>
                                }
                            }
                        </tr>
                            <tr>
                            <td class="Partialtable-sticky-left-three table-th-background-color"><span class="table_span-work">СМР</span></td>
                                <td><span class="table_span-contractprice">СМР цена</span></td>
                                <td><span class="table_span-realization">СМР выполнено</span></td>
                                <td><span class="table_span-remains">СМР остаток</span></td>
                                <td><span class="table_span-volume">СМР объем</span></td>
                                @{
                                    for (int i = 0; i < 25; i++)
                                    {
                                        <td><span class="table_span-month">@i - 000</span></td>
                                    }
                                }
                            </tr>
                            <tr>
                            <td class="Partialtable-sticky-left-three table-th-background-color"><span class="table_span-work">ПНР</span></td>
                                <td><span class="table_span-contractprice">ПНР цена</span></td>
                                <td><span class="table_span-realization">ПНР выполнено</span></td>
                                <td><span class="table_span-remains">ПНР остаток</span></td>
                                <td><span class="table_span-volume">ПНР объем</span></td>
                                @{
                                    for (int i = 0; i < 25; i++)
                                    {
                                        <td><span class="table_span-month">@i - 000</span></td>
                                    }
                                }
                            </tr>
                            <tr>
                            <td class="Partialtable-sticky-left-three"><span class="table_span-work">Оборудование</span></td>
                                <td><span class="table_span-contractprice">Оборудование цена</span></td>
                                <td><span class="table_span-realization">Оборудование выполнено</span></td>
                                <td><span class="table_span-remains">Оборудование остаток</span></td>
                                <td><span class="table_span-volume">Оборудование объем</span></td>
                                @{
                                    for (int i = 0; i < 25; i++)
                                    {
                                        <td><span class="table_span-month">@i - 000</span></td>
                                    }
                                }
                            </tr>
                            <tr>
                            <td class="Partialtable-sticky-left-three"><span class="table_span-work">РАБОТЫ И УСЛУГИ</span></td>
                                <td><span class="table_span-contractprice">Работы цена</span></td>
                                <td><span class="table_span-realization">Работы выполнено</span></td>
                                <td><span class="table_span-remains">Работы остаток</span></td>
                                <td><span class="table_span-volume">Работы объем</span></td>
                                @{
                                    for (int i = 0; i < 25; i++)
                                    {
                                        <td><span class="table_span-month">@i - 000</span></td>
                                    }
                                }
                            </tr>
                            <tr>
                            <td class="Partialtable-sticky-left-three"><span class="table_span-work">Всего по договору, без НДС</span></td>
                                <td><span class="table_span-contractprice">Договор без НДС цена</span></td>
                                <td><span class="table_span-realization">Договор без НДС выполнено</span></td>
                                <td><span class="table_span-remains">Договор без НДС остаток</span></td>
                                <td><span class="table_span-volume">Договор без НДС объем</span></td>
                                @{
                                    for (int i = 0; i < 25; i++)
                                    {
                                        <td><span class="table_span-month">@i - 000</span></td>
                                    }
                                }
                            </tr>
                            <tr>
                            <td class="Partialtable-sticky-left-three"><span class="table_span-work">Доп. работы</span></td>
                                <td><span class="table_span-contractprice">Доп. работы цена</span></td>
                                <td><span class="table_span-realization">Доп. работы выполнено</span></td>
                                <td><span class="table_span-remains">Доп. работы остаток</span></td>
                                <td><span class="table_span-volume">Доп. работы объем</span></td>
                                @{
                                    for (int i = 0; i < 25; i++)
                                    {
                                        <td><span class="table_span-month">@i - 000</span></td>
                                    }
                                }
                            </tr>
                            <tr>
                            <td class="Partialtable-sticky-left-three"><span class="table_span-work">Материалы</span></td>
                                <td><span class="table_span-contractprice">Материалы цена</span></td>
                                <td><span class="table_span-realization">Материалы выполнено</span></td>
                                <td><span class="table_span-remains">Материалы остаток</span></td>
                                <td><span class="table_span-volume">Материалы объем</span></td>
                                @{
                                    for (int i = 0; i < 25; i++)
                                    {
                                        <td><span class="table_span-month">@i - 000</span></td>
                                    }
                                }
                            </tr>
                        <tr id="factOur">
                            <td rowspan="8" class="table-th-background-color Partialtable-sticky-left-one"><span class="table_span-currency">Факт своими силами</span></td>
                            <td class="Partialtable-sticky-left-three table-th-background-color"><span class="table_span-work">Вид работ</span></td>
                            <td><span class="table_span-contractprice">Вид работ цена</span></td>
                            <td><span class="table_span-realization">Вид работ выполнено</span></td>
                            <td><span class="table_span-remains">Вид работ остаток</span></td>
                            <td><span class="table_span-volume">Вид работ объем</span></td>
                            @{
                                for (int i = 0; i < 25; i++)
                                {
                                    <td><span class="table_span-month">@i - 000</span></td>
                                }
                            }
                        </tr>
                            <tr>
                            <td class="Partialtable-sticky-left-three table-th-background-color"><span class="table_span-work">СМР</span></td>
                                <td><span class="table_span-contractprice">СМР цена</span></td>
                                <td><span class="table_span-realization">СМР выполнено</span></td>
                                <td><span class="table_span-remains">СМР остаток</span></td>
                                <td><span class="table_span-volume">СМР объем</span></td>
                                @{
                                    for (int i = 0; i < 25; i++)
                                    {
                                        <td><span class="table_span-month">@i - 000</span></td>
                                    }
                                }
                            </tr>
                            <tr>
                            <td class="Partialtable-sticky-left-three table-th-background-color"><span class="table_span-work">ПНР</span></td>
                                <td><span class="table_span-contractprice">ПНР цена</span></td>
                                <td><span class="table_span-realization">ПНР выполнено</span></td>
                                <td><span class="table_span-remains">ПНР остаток</span></td>
                                <td><span class="table_span-volume">ПНР объем</span></td>
                                @{
                                    for (int i = 0; i < 25; i++)
                                    {
                                        <td><span class="table_span-month">@i - 000</span></td>
                                    }
                                }
                            </tr>
                            <tr>
                            <td class="Partialtable-sticky-left-three"><span class="table_span-work">Оборудование</span></td>
                                <td><span class="table_span-contractprice">Оборудование цена</span></td>
                                <td><span class="table_span-realization">Оборудование выполнено</span></td>
                                <td><span class="table_span-remains">Оборудование остаток</span></td>
                                <td><span class="table_span-volume">Оборудование объем</span></td>
                                @{
                                    for (int i = 0; i < 25; i++)
                                    {
                                        <td><span class="table_span-month">@i - 000</span></td>
                                    }
                                }
                            </tr>
                            <tr>
                            <td class="Partialtable-sticky-left-three"><span class="table_span-work">РАБОТЫ И УСЛУГИ</span></td>
                                <td><span class="table_span-contractprice">Работы цена</span></td>
                                <td><span class="table_span-realization">Работы выполнено</span></td>
                                <td><span class="table_span-remains">Работы остаток</span></td>
                                <td><span class="table_span-volume">Работы объем</span></td>
                                @{
                                    for (int i = 0; i < 25; i++)
                                    {
                                        <td><span class="table_span-month">@i - 000</span></td>
                                    }
                                }
                            </tr>
                            <tr>
                            <td class="Partialtable-sticky-left-three"><span class="table_span-work">Всего по договору, без НДС</span></td>
                                <td><span class="table_span-contractprice">Договор без НДС цена</span></td>
                                <td><span class="table_span-realization">Договор без НДС выполнено</span></td>
                                <td><span class="table_span-remains">Договор без НДС остаток</span></td>
                                <td><span class="table_span-volume">Договор без НДС объем</span></td>
                                @{
                                    for (int i = 0; i < 25; i++)
                                    {
                                        <td><span class="table_span-month">@i - 000</span></td>
                                    }
                                }
                            </tr>
                            <tr>
                            <td class="Partialtable-sticky-left-three"><span class="table_span-work">Доп. работы</span></td>
                                <td><span class="table_span-contractprice">Доп. работы цена</span></td>
                                <td><span class="table_span-realization">Доп. работы выполнено</span></td>
                                <td><span class="table_span-remains">Доп. работы остаток</span></td>
                                <td><span class="table_span-volume">Доп. работы объем</span></td>
                                @{
                                    for (int i = 0; i < 25; i++)
                                    {
                                        <td><span class="table_span-month">@i - 000</span></td>
                                    }
                                }
                            </tr>
                            <tr>
                            <td class="Partialtable-sticky-left-three"><span class="table_span-work">Материалы</span></td>
                                <td><span class="table_span-contractprice">Материалы цена</span></td>
                                <td><span class="table_span-realization">Материалы выполнено</span></td>
                                <td><span class="table_span-remains">Материалы остаток</span></td>
                                <td><span class="table_span-volume">Материалы объем</span></td>
                                @{
                                    for (int i = 0; i < 25; i++)
                                    {
                                        <td><span class="table_span-month">@i - 000</span></td>
                                    }
                                }
                            </tr>                        
                    </tbody>
                </table>
            </div>
            <button id="buttonTableCategories" class="modal__container-button">Закрыть таблицу</button>
        </div>
    </div>
    


    <div class="full-width">
        <table class="table table-main table-main-full table-bordered table-hover table-condensed" id="contractTable">
            <thead>
                <tr class="tr-head-main-table">
                    @*Действия по договору*@
                    <th>
                        <span class="table_span-action">Действия по договору</span>
                    </th>
                    @*Процедура выбора*@
                    <th>
                        <span class="table_span-select-procedure">Процедура выбора</span>
                    </th>
                    @*Отвественное лицо*@
                    <th>
                        <span class="table_span-signer">Лицо отв. за договор</span>
                    </th>
                    @*Номер и дата договора*@
                    <th>
                        <span class="table_span-numberanddate">Номер и дата договора</span>
                    </th>
                    @*Наименование объекта*@
                    <th>
                        <span class="table_span-nameobject">Наименование объекта</span>
                    </th>
                    @*Источник финансирования*@
                    <th>
                        <span class="table_span-fin-source">Источник финансирования</span>
                    </th>
                    @*Заказчик*@
                    <th>
                        <span class="table_span-customer">Заказчик</span>
                    </th>
                    @*Генподрядчик*@
                    <th>
                        <span class="table_span-contractor">Генподрядчик (филиал-исп.)</span>
                    </th>
                    @*Субподрядчик (филиал-исполнитель по приказу)*@
                    <th>
                        <span class="table_span-subcontractor">Субподрядчик (филиал-исп.)</span>
                    </th>
                    @*Cроки*@
                    <th>
                        <span class="table_span-deadlines">Cроки</span>
                    </th>
                    @*Акты приостановки и возобновления работ*@
                    <th>
                        <span class="table_span-act-renewal">Акты приостан. и возобн. работ</span>
                    </th>
                    @*Условия оплаты, без авансов тек. % цел.% отсрочка/в течение*@
                    <th>
                        <span class="table_span-conditions">Условия оплаты, без авансов</span>
                    </th>
                    @*Услуги генподряда (для договоров субподряда)*@
                    <th>
                        <span class="table_span-gen-service">Услуги генподряда (субподряда)</span>
                    </th>
                    @*Материалы по факту или сметной стоимости согласно договору*@
                    <th>
                        <span class='table_span-material'>Материалы (факт или смета)</span>
                    </th>
                    @*Валюта расчетов*@
                    <th>
                        <span class="table_span-currency">Валюта расчетов</span>
                    </th> 
                    @*Акт ввода*@
                    <th>
                        <span class="table_span-remains">Остаток по выполнению</span>
                    </th>
                    @*Акт ввода*@
                    <th>
                        <span class="table_span-action">Объем работ(план/факт)</span>
                    </th>
                    @*Акт ввода*@
                    <th>
                        <span class="table_span-act-entering">Акт ввода</span>
                    </th>
                    @*Акт ввода*@
                    <th>
                        <span class="table_span-act-entering">Акт ввода</span>
                    </th>
                    @*Переписка*@
                    <th>
                        <span class="table_span-correspondence">Переписка</span>
                    </th>
                    @*Проектно-сметная документация*@
                    <th>
                        <span class="table_span-estimate-doc">Проектно-сметная документация</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr id="firstrow">
                    <td>
                        <span class="table_span-action">
                            <img src="~/images/Icon/rofl.png" width="60"
                                 height="60" alt="Подробнее">
                        </span>
                    </td>
                    <td>
                        <span>
                            Процедура выбора -
                            @foreach (var item in Model.SelectionProcedures)
                            {
                                @item.Name
                            }
                        </span>
                    </td>
                    <td>
                        <span class="table_span-signer">
                            Подписанты-
                            @foreach (var item in Model.EmployeeContracts)
                            {
                                if (@item.IsSignatory == true)
                                {
                                    @item.Employee.FullName
                                }
                                else
                                    if (@item.IsResponsible == true)
                                {
                                    @item.Employee.FullName
                                }
                            }
                            <br>
                            Model.ResponsibleEmp
                        </span>
                    </td>
                    <td>
                        <span class="table_span-numberanddate">
                        Номер и дата-
                        @Model.Number от
                        @Model.Date?.ToShortDateString()
                        </span>
                    </td>
                    <td>
                        <span class="table_span-nameobject">
                        Наименование объекта -
                        @Model.NameObject
                        </span>
                    </td>
                    <td>
                        <span class="table_span-fin-source">                        
                        @Model.FundingSource
                        </span>
                    </td>
                    <td>
                        <span class="table_span-customer">
                        Заказчик -
                        @foreach (var item in Model.ContractOrganizations)
                            if (@item.IsClient == true)
                            {
                                @item.Organization.Abbr
                            }
                            </span>
                    </td>
                    <td>
                        <span class="table_span-contractor">
                        Генподрядчик -
                        Model.GenContractor
                        </span>
                    </td>
                    <td>
                        <span class="table_span-subcontractor">
                        Субподрядчик -
                        </span>
                    </td>
                    <td>
                        <span class="table_span-deadlines">
                        Сроки-
                        <b>выполнения работ:</b><br>
                        @Model.DateBeginWork?.ToShortDateString() -  @Model.DateEndWork?.ToShortDateString()<br>
                        <b>ввода:</b><br>
                        @Model.EnteringTerm?.ToShortDateString()<br>
                        <b>действия договора по взаиморасчетам:</b><br>
                        @Model.ContractTerm?.ToShortDateString()<br>
                        </span>
                    </td>
                    <td>
                        <span class="table_span-act-renewal">
                        Акты приостановки
                        </span>
                    </td>
                    <td>
                        <span class="table_span-conditions">
                        Условия оплаты -
                        @*@Html.DisplayFor(modelItem => Model.PaymentСonditionsAvans)*@
                        <a asp-action="GetByContractId" asp-controller="Prepayment" asp-route-id="@Model.Id">
                            Аванс
                        </a> 
                        @Html.ActionLink("Аванс","GetByContractId","Prepayments",new{ contractId = @Model.Id})

                        @*@Html.DisplayFor(modelItem => Model.PaymentСonditionsRaschet)*@
                        @Html.ActionLink("Расчет P7","","")
                        </span>
                    </td>
                    <td>
                        <span class="table_span-gen-service">
                        Услуги генподрядчика -
                        @Html.ActionLink("Авансирование","","");
                        </span>
                    </td>
                    <td>
                        <span class='table_span-material'>
                        Материалы -
                        @Html.ActionLink("Материалы","GetByContractId","Material",new{ contractId = Model.Id})
                            </span>
                    </td>
                    <td>
                        <span class="table_span-currency">
                        Валюта -
                        Model.Сurrency
                        </span>
                    </td>
                    <td>
                        <span class="table_span-remains">
                            <a>Остаток</a>
                        </span>
                    </td>
                    <td>
                        <span class="table_span-act-entering">
                            <img id="SMR-detail" src="~/images/Icon/rofl.png" width="60"
                                 height="60" alt="Подробнее">
                        </span>
                    </td>
                    <td>
                        <span class="table_span-act-entering">
                            <a>Акт ввода</a>
                        </span>
                    </td>                    
                    <td>
                        <span class="table_span-correspondence">                        
                        Переписка -
                        </span>
                    </td>
                    <td>
                        <span class="table_span-estimate-doc">
                        Проектно-сметная документация -
                        </span>
                    </td>                    
                </tr>
                @{
                    for(int i = 0; i<3; i++)
                    {
                        <tr style="background-color: lightgoldenrodyellow">
                            <td>
                                <span class="table_span-action">
                                    <img src="~/images/Icon/rofl.png" width="60"
                                     height="60" alt="Подробнее">
                                </span>
                            </td>
                            <td>
                                <span>
                                    Процедура выбора -
                                    @foreach (var item in Model.SelectionProcedures)
                                    {
                                        @item.Name
                                    }
                                </span>
                            </td>
                            <td>
                                <span class="table_span-signer">
                                    Подписанты-
                                    @foreach (var item in Model.EmployeeContracts)
                                    {
                                        if (@item.IsSignatory == true)
                                        {
                                            @item.Employee.FullName
                                        }
                                        else
                                        if (@item.IsResponsible == true)
                                        {
                                            @item.Employee.FullName
                                        }
                                    }
                                    <br>
                                    Model.ResponsibleEmp
                                </span>
                            </td>
                            <td>
                                <span class="table_span-numberanddate">
                                    Номер и дата-
                                    @Model.Number от
                                    @Model.Date?.ToShortDateString()
                                </span>
                            </td>
                            <td>
                                <span class="table_span-nameobject">
                                    Наименование объекта -
                                    @Model.NameObject
                                </span>
                            </td>
                            <td>
                                <span class="table_span-fin-source">
                                    @Model.FundingSource
                                </span>
                            </td>
                            <td>
                                <span class="table_span-customer">
                                    Заказчик -
                                    @foreach (var item in Model.ContractOrganizations)
                                        if (@item.IsClient == true)
                                        {
                                            @item.Organization.Abbr
                                        }
                                </span>
                            </td>
                            <td>
                                <span class="table_span-contractor">
                                    Генподрядчик -
                                    Model.GenContractor
                                </span>
                            </td>
                            <td>
                                <span class="table_span-subcontractor">
                                    Субподрядчик -
                                </span>
                            </td>
                            <td>
                                <span class="table_span-deadlines">
                                    Сроки-
                                    <b>выполнения работ:</b><br>
                                    @Model.DateBeginWork?.ToShortDateString() -  @Model.DateEndWork?.ToShortDateString()<br>
                                    <b>ввода:</b><br>
                                    @Model.EnteringTerm?.ToShortDateString()<br>
                                    <b>действия договора по взаиморасчетам:</b><br>
                                    @Model.ContractTerm?.ToShortDateString()<br>
                                </span>
                            </td>
                            <td>
                                <span class="table_span-act-renewal">
                                    Акты приостановки
                                </span>
                            </td>
                            <td>
                                <span class="table_span-conditions">
                                    Условия оплаты -
                                    @*@Html.DisplayFor(modelItem => Model.PaymentСonditionsAvans)*@
                                    <a asp-action="Index" asp-controller="Prepayment" asp-route-id="@Model.Id">
                                        Аванс
                                    </a>
                                    @*Html.ActionLink("Аванс","Index","Prepayment", Model.Id)*@

                                    @*@Html.DisplayFor(modelItem => Model.PaymentСonditionsRaschet)*@
                                    @Html.ActionLink("Расчет P7","","")
                                </span>
                            </td>
                            <td>
                                <span class="table_span-gen-service">
                                    Услуги генподрядчика -
                                    @Html.ActionLink("Авансирование","","");
                                </span>
                            </td>
                            <td>
                                <span class='table_span-material'>
                                    Материалы -
                                    @Html.ActionLink("Материалы P15","","")
                                </span>
                            </td>
                            <td>
                                <span class="table_span-currency">
                                    Валюта -
                                    Model.Сurrency
                                </span>
                            </td>
                            <td>
                                <span class="table_span-remains">
                                    <a>Остаток</a>
                                </span>
                            </td>
                            <td>
                                <span class="table_span-act-entering">
                                    <img id="SMR-detail" src="~/images/Icon/rofl.png" width="60"
                                     height="60" alt="Подробнее">
                                </span>
                            </td>
                            <td>
                                <span class="table_span-act-entering">
                                    <a>Акт ввода</a>
                                </span>
                            </td>
                            <td>
                                <span class="table_span-correspondence">
                                    Переписка -
                                </span>
                            </td>
                            <td>
                                <span class="table_span-estimate-doc">
                                    Проектно-сметная документация -
                                </span>
                            </td>                            
                        </tr>
                    }
                }
            </tbody>
        </table>

</div>
<div>
    <a asp-action="ChoosePeriod" asp-controller="ScopeWorks" asp-route-contractId="@Model?.Id">Добавить объем работ</a> |
    <a asp-action="ChoosePeriod" asp-controller="Prepayments" asp-route-contractId="@Model?.Id">Добавить авансы</a> |
    <a asp-action="ChoosePeriod" asp-controller="ServiceGC" asp-route-contractId="@Model?.Id">Добавить услуги генподряда</a> |
    <a asp-action="ChoosePeriod" asp-controller="Material" asp-route-contractId="@Model?.Id">Добавить стоимость материалов</a> |
    <a asp-action="ChoosePeriod" asp-controller="Payments" asp-route-contractId="@Model?.Id">Добавить оплату договора</a> |
    <a asp-action="Edit" asp-route-id="@Model?.Id">Изменить</a> |
    <a asp-action="Index">Вернуться</a>
</div>

  
    <script>
        let elementButton = document.getElementById("SMR-detail")

        elementButton.addEventListener("click", (event) => {
            let elementTable = document.getElementById("ConstructionInstallationWorksByCategories")
            elementTable.classList.remove('modal__visibility-close')
            elementTable.classList.add('modal__visibility-active')            
        });

        let elementChangeTableCategories = document.getElementById('ChangeToCategories')
        elementChangeTableCategories.addEventListener("click", event => {
            let elementTable = document.getElementById("ConstructionInstallationWorksByTypes")
            elementTable.classList.remove('modal__visibility-active')
            elementTable.classList.add('modal__visibility-close')

            let elementTable1 = document.getElementById("ConstructionInstallationWorksByCategories")
            elementTable1.classList.remove('modal__visibility-close')
            elementTable1.classList.add('modal__visibility-active')
        })

        let elementChangeTableTypes = document.getElementById('ChangeToType')
        elementChangeTableTypes.addEventListener("click", event => {
            let elementTable = document.getElementById("ConstructionInstallationWorksByCategories")
            elementTable.classList.remove('modal__visibility-active')
            elementTable.classList.add('modal__visibility-close')

            let elementTable1 = document.getElementById("ConstructionInstallationWorksByTypes")
            elementTable1.classList.remove('modal__visibility-close')
            elementTable1.classList.add('modal__visibility-active')
        })

        let elementButtonTableCategories = document.getElementById('buttonTableCategories')
        elementButtonTableCategories.addEventListener("click", event => {
            let elementTable = document.getElementById("ConstructionInstallationWorksByCategories")
            elementTable.classList.remove('modal__visibility-active')
            elementTable.classList.add('modal__visibility-close')            
        })

        let elementButtonTableType = document.getElementById('buttonTableType')
        elementButtonTableType.addEventListener("click", event => {
            let elementTable = document.getElementById("ConstructionInstallationWorksByTypes")
            elementTable.classList.remove('modal__visibility-active')
            elementTable.classList.add('modal__visibility-close')
        })

    </script>
}
