@using BusinessLayer.Enums;
@model MvcLayer.Models.ContractViewModel
@inject BusinessLayer.Interfaces.ContractInterfaces.IOrganizationService Organization
@inject BusinessLayer.Interfaces.ContractInterfaces.IEmployeeService Employee
@inject BusinessLayer.Interfaces.ContractInterfaces.ITypeWorkService TypeWork
@{
    ViewData["Title"] = "Редактирование договора";
    var d = Model;
}

<div class="dm-overlay">
    <div class="dm-table">
        <div class="dm-cell">
            <div class="dm-modal">
                <div class="top-modal-block">
                    <label class="my-modal-title">@ViewData["Title"]</label>
                    <a asp-controller="Contracts" asp-action="Index" class="close-btn"></a>
                </div>
                <hr class="modal-line" />
                <form asp-action="Edit" asp-controller="Contracts" class="row" style="max-width:700px;">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="IsAgreementContract" />
                    <input type="hidden" asp-for="IsEngineering" />
                    <input type="hidden" asp-for="IsSubContract" />

                    <div class="col-3">
                        <label asp-for="Number" class="control-label"></label>
                        <input asp-for="Number" class="form-control" />
                        <span asp-validation-for="Number" class="text-danger"></span>
                    </div>
                    <div class="col-3">
                        <label asp-for="Date" class="control-label"></label>
                        <input type="datetime" asp-for="Date" class="form-control datepickersNull" />
                        <span asp-validation-for="Date" class="text-danger"></span>
                    </div>
                    <div class="col-3">
                        <label asp-for="EnteringTerm" class="control-label"></label>
                        <input type="datetime" asp-for="EnteringTerm" class="form-control datepickersNull" />
                        <span asp-validation-for="EnteringTerm" class="text-danger"></span>
                    </div>
                    <div class="col-3">
                        <label asp-for="ContractTerm" class="control-label"></label>
                        <input type="datetime" asp-for="ContractTerm" class="form-control datepickersNull" />
                        <span asp-validation-for="ContractTerm" class="text-danger"></span>
                    </div>

                    <div class="col-3">
                        <label asp-for="DateBeginWork" class="control-label"></label>
                        <input type="datetime" asp-for="DateBeginWork" class="form-control datepickersNull" />
                        <span asp-validation-for="DateBeginWork" class="text-danger"></span>
                    </div>
                    <div class="col-3">
                        <label asp-for="DateEndWork" class="control-label"></label>
                        <input type="datetime" asp-for="DateEndWork" class="form-control datepickersNull" />
                        <span asp-validation-for="DateEndWork" class="text-danger"></span>
                    </div>

                    <div class="col-3">
                        <label asp-for="Сurrency" class="control-label"></label>
                        <select name="Сurrency" class="form-control js-chosen" id="CurDC">
                            <option value="@Model.Сurrency" selected>@Model.Сurrency</option>
                            @foreach (var item in Enum.GetValues<CurrencyEnum>())
                            {
                                <option value="@item">@item</option>
                            }
                        </select>
                    </div>
                    <div class="col-3">
                        <label asp-for="ContractPrice" class="control-label"></label>
                        <input id="contractPrice" type="text" name="ContractPrice" value="@Model.ContractPrice" class="form-control" />
                        <span asp-validation-for="ContractPrice" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="NameObject" class="control-label"></label>
                        <input asp-for="NameObject" class="form-control" />
                        <span asp-validation-for="NameObject" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="FundingSource" class="control-label"></label>
                        <input asp-for="FundingSource" class="form-control" />
                        <span asp-validation-for="FundingSource" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PaymentСonditionsAvans" class="control-label"></label>
                        <input type="text" asp-for="PaymentСonditionsAvans" class="form-control" />
                        <span asp-validation-for="PaymentСonditionsAvans" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PaymentСonditionsRaschet" class="control-label"></label>
                        <input type="text" name="PaymentСonditionsRaschet" value="@Model.PaymentСonditionsRaschet" class="form-control" />
                        <span asp-validation-for="PaymentСonditionsRaschet" class="text-danger"></span>
                    </div>
                    @foreach (var contrOrg in Model.ContractOrganizations)
                    {
                        if ( contrOrg.IsGenContractor == true)
                        {
                            <div class="col-12">
                                <label>Генподрядчик</label>
                                <input name="ContractOrganizations[1].IsGenContractor" type="checkbox" value="true" checked selected hidden>
                                <input name="ContractOrganizations[1].ContractId" type="checkbox" value="@Model.Id" checked selected hidden>
                                <select name="ContractOrganizations[1].OrganizationId" class="form-control js-chosen slt-add-organization">
                                    @if (contrOrg.OrganizationId != 0)
                                    {
                                        var item = Organization.GetById((int)contrOrg?.OrganizationId);
                                        <option disabled selected value="@item?.Id">@item?.Name</option>
                                    }
                                    @if (contrOrg.OrganizationId == 0)
                                    {
                                        <option selected>Выберите организацию</option>
                                    }
                                    @foreach (var item in Organization.GetAll())
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                </select>
                            </div>
                            if (contrOrg.IsClient == true)
                            {
                                <div class="col-12">
                                    <label>Заказчик</label>
                                    <input name="ContractOrganizations[0].IsClient" type="checkbox" value="true" checked selected hidden>
                                    <input name="ContractOrganizations[0].ContractId" type="checkbox" value="@Model.Id" checked selected hidden>
                                    <select name="ContractOrganizations[0].OrganizationId" class="form-control js-chosen slt-add-organization">
                                        @if (contrOrg.OrganizationId != 0)
                                        {
                                            var item = Organization.GetById((int)contrOrg?.OrganizationId);
                                            <option disabled selected value="@item?.Id">@item?.Name</option>
                                        }
                                        @if (contrOrg.OrganizationId == 0)
                                        {
                                            <option selected>Выберите организацию</option>
                                        }

                                        @foreach (var item in Organization.GetAll())
                                        {
                                            <option value="@item.Id">@item.Name</option>
                                        }
                                    </select>
                                </div>
                            }
                        }else
                        {
                            <div class="col-12">
                                <label>Заказчик</label>
                                <input name="ContractOrganizations[0].IsClient" type="checkbox" value="true" checked selected hidden>
                                <input name="ContractOrganizations[0].ContractId" type="checkbox" value="@Model.Id" checked selected hidden>
                                <select name="ContractOrganizations[0].OrganizationId" class="form-control js-chosen slt-add-organization">
                                    @if (contrOrg.OrganizationId != 0)
                                    {
                                        var item = Organization.GetById((int)contrOrg?.OrganizationId);
                                        <option disabled selected value="@item?.Id">@item?.Name</option>
                                    }
                                    @if (contrOrg.OrganizationId == 0)
                                    {
                                        <option selected>Выберите организацию</option>
                                    }

                                    @foreach (var item in Organization.GetAll())
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                </select>
                            </div>
                        }
                    }

                    @foreach (var empContract in Model.EmployeeContracts)
                    {
                        if (empContract.IsResponsible == true)
                        {
                            <div class="col-12">
                                <label>Ответственный за ведение договора</label>
                                <input name="EmployeeContracts[1].IsResponsible" type="checkbox" value="true" checked selected hidden>
                                <input name="EmployeeContracts[1].ContractId" type="checkbox" value="@Model.Id" checked selected hidden>
                                <select name="EmployeeContracts[1].EmployeeId" class="form-control js-chosen" id="selectEmpTwo">
                                    @if (empContract.EmployeeId != 0)
                                    {
                                        var item = Employee.GetById(empContract.EmployeeId);
                                        <option disabled selected value="@item?.Id">@item?.FullName</option>
                                    }
                                    @if (empContract.EmployeeId == 0)
                                    {
                                        <option selected>Выберите сотрудника</option>
                                    }
                                    @foreach (var item in Employee.GetAll())
                                    {
                                        <option value="@item.Id">@item.FullName</option>
                                    }
                                </select>
                            </div>
                            if (empContract.IsSignatory == true)
                            {
                                <div class="col-12">
                                    <label>Подписант договора</label>
                                    <input name="EmployeeContracts[0].IsSignatory" type="checkbox" value="true" checked selected hidden>
                                    <input name="EmployeeContracts[0].ContractId" type="checkbox" value="@Model.Id" checked selected hidden>
                                    <select name="EmployeeContracts[0].EmployeeId" class="form-control js-chosen" id="selectEmpOne">
                                        @if (empContract.EmployeeId != 0)
                                        {
                                            var item = Employee.GetById(empContract.EmployeeId);
                                            <option disabled selected value="@item?.Id">@item?.FullName</option>
                                        }
                                        @if (empContract.EmployeeId == 0)
                                        {
                                            <option selected>Выберите сотрудника</option>
                                        }

                                        @foreach (var item in Employee.GetAll())
                                        {
                                            <option value="@item.Id">@item.FullName</option>
                                        }
                                    </select>
                                </div>
                            }
                        }
                        else
                        {
                            <div class="col-12">
                                <label>Подписант договора</label>
                                <input name="EmployeeContracts[0].IsSignatory" type="checkbox" value="true" checked selected hidden>
                                <input name="EmployeeContracts[0].ContractId" type="checkbox" value="@Model.Id" checked selected hidden>
                                <select name="EmployeeContracts[0].EmployeeId" class="form-control js-chosen" id="selectEmpOne">
                                    @if (empContract.EmployeeId != 0)
                                    {
                                        var item = Employee.GetById(empContract.EmployeeId);
                                        <option disabled selected value="@item?.Id">@item?.FullName</option>
                                    }
                                    @if (empContract.EmployeeId == 0)
                                    {
                                        <option selected>Выберите сотрудника</option>
                                    }

                                    @foreach (var item in Employee.GetAll())
                                    {
                                        <option value="@item.Id">@item.FullName</option>
                                    }
                                </select>
                            </div>
                        }
                    }

                    <div class="col-12">
                        <label>Вид работ</label>
                        <input name="TypeWorkContracts[0].TypeWork" hidden />
                        <input name="TypeWorkContracts[0].ContractId" type="checkbox" value="@Model.Id" checked selected hidden>
                        <select name="TypeWorkContracts[0].TypeWorkId" class="form-control js-chosen slt-add-organization">
                            @if (Model?.TypeWorkContracts[0].TypeWorkId != 0)
                            {
                                var item = TypeWork.GetById((int)Model?.TypeWorkContracts[0].TypeWorkId);
                                <option disabled selected value="@item?.Id">@item?.Name</option>
                            }
                            @if (Model?.TypeWorkContracts[0].TypeWorkId == 0)
                            {
                                <option selected>Выберите вид работ</option>
                            }

                            @foreach (var item in TypeWork.GetAll())
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        </select>
                    </div>
                    <div class="form-group mt-5">
                        <input type="submit" value="Редактировать" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script>
            $(function ($) {
                $('body').on('input', '#contractPrice', function (e) {
                    digits_float(this);
                });
                digits_float('#contractPrice');
            });
        </script>
    }
}
