@using BusinessLayer.Enums;
@model MvcLayer.Models.ContractViewModel
@inject BusinessLayer.Interfaces.ContractInterfaces.IOrganizationService Organization
@inject BusinessLayer.Interfaces.ContractInterfaces.IEmployeeService Employee
@inject BusinessLayer.Interfaces.ContractInterfaces.ITypeWorkService TypeWork
@inject BusinessLayer.Interfaces.ContractInterfaces.IContractService Contract
@inject BusinessLayer.Interfaces.CommonInterfaces.IConverter Converter
@{
    ViewData["Title"] = "Редактирование договора";
    var d = Model;
    int backId = 0;
    if ((int)ViewData["returnContractId"] == 0)
        backId = Model.Id;
    else backId = (int)ViewData["returnContractId"];
}
<style>
    .dm-modal {
        background-color: lightsteelblue;
    }

    .close-btn {
        color: red
    }

        .close-btn::after {
            border: 2px solid #F00 !important;
        }

        .close-btn:hover::after {
            border-color: red !important;
            color: red !important;
            -webkit-transform: scale(1);
            -moz-transform: scale(1);
            -ms-transform: scale(1);
            transform: scale(1);
            font-weight: bold;
        }
</style>
<div class="dm-overlay">
    <div class="dm-table">
        <div class="dm-cell">
            <div class="dm-modal">
                <div class="top-modal-block">
                    <label class="my-modal-title">@ViewData["Title"]</label>
                    @if ((int)ViewData["returnContractId"] != 0)
                    {
                        <a asp-controller="Contracts" asp-action="Details" asp-route-id="@backId" class="close-btn"></a>
                    }
                    else if (ViewBag.IsEngin != null)
                    {
                        <a asp-action="Engineerings" class="close-btn"></a>
                    }
                    else
                    {
                        <a asp-action="Index" class="close-btn"></a>
                    }
                </div>
                <hr class="modal-line" />
                <form asp-action="Edit" asp-controller="Contracts" asp-route-returnContractId="@ViewBag.returnContractId" class="row" style="max-width:700px;">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="SubContractId" />
                    <input type="hidden" asp-for="AgreementContractId" />
                    <input type="hidden" asp-for="IsAgreementContract" />
                    <input type="hidden" asp-for="IsEngineering" />
                    <input type="hidden" asp-for="IsSubContract" />
                    <input type="hidden" asp-for="Author" />
                    <input type="hidden" asp-for="Owner" />
                    <input type="hidden" asp-for="IsClosed" />
                    <input type="hidden" asp-for="IsExpired" />
                    <input type="hidden" asp-for="IsMultiple" />
                    <input type="hidden" asp-for="IsOneOfMultiple" />
                    <div class="row">
                        <div class="col-4">
                            <label asp-for="Number" class="control-label"></label>
                            <input asp-for="Number" class="form-control" />
                            <span asp-validation-for="Number" class="text-danger"></span>
                        </div>
                        <div class="col-4">
                            <label asp-for="Date" class="control-label"></label>
                            <input type="date" asp-for="Date" class="form-control" id="DateDC" />
                            <span asp-validation-for="Date" class="text-danger"></span>
                        </div>
                        @if (ViewBag.IsEngin == null)
                        {
                            <div class="col-4">
                                <label asp-for="EnteringTerm" class="control-label"></label>
                                <input type="date" asp-for="EnteringTerm" class="form-control" id="EnteringTerm" />
                                <span asp-validation-for="EnteringTerm" class="text-danger"></span>
                            </div>
                            <div class="col-4">
                                <label asp-for="ContractTerm" class="control-label"></label>
                                <input type="date" asp-for="ContractTerm" class="form-control" id="ContractTerm" />
                                <span asp-validation-for="ContractTerm" class="text-danger"></span>
                            </div>
                        }
                        <div class="col-4">
                            <label asp-for="DateBeginWork" class="control-label"></label>
                            <input type="date" asp-for="DateBeginWork" class="form-control" id="DateBeginWork" />
                            <span asp-validation-for="DateBeginWork" class="text-danger"></span>
                        </div>
                        <div class="col-4">
                            <label asp-for="DateEndWork" class="control-label"></label>
                            <input type="date" asp-for="DateEndWork" class="form-control" id="DateEndWork" />
                            <span asp-validation-for="DateEndWork" class="text-danger"></span>
                        </div>
                    </div>
                    @foreach (var contrOrg in Model.ContractOrganizations)
                    {
                        if (Model.IsSubContract == true || Model.IsAgreementContract == true)
                        {
                            <div class="col-6">
                                @if (Model.IsSubContract == true)
                                {
                                    <label>Субподрядчик</label>
                                }
                                @if (Model.IsAgreementContract == true)
                                {
                                    <label>Филиал</label>
                                }
                                <input name="ContractOrganizations[0].ContractId" type="checkbox" value="@Model.Id" checked selected hidden>
                                <select name="ContractOrganizations[0].OrganizationId" class="form-control js-chosen slt-add-organization">
                                    @if (contrOrg.OrganizationId != 0)
                                    {
                                        var item = Organization.GetById((int)contrOrg?.OrganizationId);
                                        <option disabled selected value="@item?.Id">@item?.Name</option>
                                    }
                                    @if (contrOrg.OrganizationId == 0)
                                    {
                                        <option selected>Выберите организацию</option>
                                    }

                                    @foreach (var item in Organization.GetAll())
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                </select>
                            </div>
                        }
                        else
                            if (contrOrg.IsGenContractor == true)
                        {
                            <div class="col-6">
                                <label>Генподрядчик</label>
                                <input name="ContractOrganizations[1].IsGenContractor" type="checkbox" value="true" checked selected hidden>
                                <input name="ContractOrganizations[1].ContractId" type="checkbox" value="@Model.Id" checked selected hidden>
                                <select name="ContractOrganizations[1].OrganizationId" class="form-control js-chosen slt-add-organization">
                                    @if (contrOrg.OrganizationId != 0)
                                    {
                                        var item = Organization.GetById((int)contrOrg?.OrganizationId);
                                        <option disabled selected value="@item?.Id">@item?.Name</option>
                                    }
                                    @if (contrOrg.OrganizationId == 0)
                                    {
                                        <option selected>Выберите организацию</option>
                                    }
                                    @foreach (var item in Organization.GetAll())
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                </select>
                            </div>
                            if (contrOrg.IsClient == true)
                            {
                                <div class="col-6">
                                    <label>Заказчик</label>
                                    <input name="ContractOrganizations[0].IsClient" type="checkbox" value="true" checked selected hidden>
                                    <input name="ContractOrganizations[0].ContractId" type="checkbox" value="@Model.Id" checked selected hidden>
                                    <select name="ContractOrganizations[0].OrganizationId" class="form-control js-chosen slt-add-organization">
                                        @if (contrOrg.OrganizationId != 0)
                                        {
                                            var item = Organization.GetById((int)contrOrg?.OrganizationId);
                                            <option disabled selected value="@item?.Id">@item?.Name</option>
                                        }
                                        @if (contrOrg.OrganizationId == 0)
                                        {
                                            <option selected>Выберите организацию</option>
                                        }

                                        @foreach (var item in Organization.GetAll())
                                        {
                                            <option value="@item.Id">@item.Name</option>
                                        }
                                    </select>
                                </div>
                            }
                        }
                        else if (contrOrg.IsClient == true)
                        {
                            <div class="col-6">
                                <label>Заказчик</label>
                                <input name="ContractOrganizations[0].IsClient" type="checkbox" value="true" checked selected hidden>
                                <input name="ContractOrganizations[0].ContractId" type="checkbox" value="@Model.Id" checked selected hidden>
                                <select name="ContractOrganizations[0].OrganizationId" class="form-control js-chosen slt-add-organization">
                                    @if (contrOrg.OrganizationId != 0)
                                    {
                                        var item = Organization.GetById((int)contrOrg?.OrganizationId);
                                        <option disabled selected value="@item?.Id">@item?.Name</option>
                                    }
                                    @if (contrOrg.OrganizationId == 0)
                                    {
                                        <option selected>Выберите организацию</option>
                                    }

                                    @foreach (var item in Organization.GetAll())
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                </select>
                            </div>
                        }
                    }

                    @foreach (var empContract in Model.EmployeeContracts)
                    {
                        if (empContract.IsResponsible == true)
                        {
                            <div class="col-6">
                                <label>Ответственный за ведение договора</label>
                                <input name="EmployeeContracts[1].IsResponsible" type="checkbox" value="true" checked selected hidden>
                                <input name="EmployeeContracts[1].ContractId" type="checkbox" value="@Model.Id" checked selected hidden>
                                <select name="EmployeeContracts[1].EmployeeId" class="form-control js-chosen" id="selectEmpTwo">
                                    @if (empContract.EmployeeId != 0)
                                    {
                                        var item = Employee.GetById(empContract.EmployeeId);
                                        <option disabled selected value="@item?.Id">@item?.FullName</option>
                                    }
                                    @if (empContract.EmployeeId == 0)
                                    {
                                        <option selected>Выберите сотрудника</option>
                                    }
                                    @foreach (var item in Employee.GetAll())
                                    {
                                        <option value="@item.Id">@item.FullName</option>
                                    }
                                </select>
                            </div>
                            if (empContract.IsSignatory == true)
                            {
                                <div class="col-6">
                                    <label>Подписант договора</label>
                                    <input name="EmployeeContracts[0].IsSignatory" type="checkbox" value="true" checked selected hidden>
                                    <input name="EmployeeContracts[0].ContractId" type="checkbox" value="@Model.Id" checked selected hidden>
                                    <select name="EmployeeContracts[0].EmployeeId" class="form-control js-chosen" id="selectEmpOne">
                                        @if (empContract.EmployeeId != 0)
                                        {
                                            var item = Employee.GetById(empContract.EmployeeId);
                                            <option disabled selected value="@item?.Id">@item?.FullName</option>
                                        }
                                        @if (empContract.EmployeeId == 0)
                                        {
                                            <option selected>Выберите сотрудника</option>
                                        }

                                        @foreach (var item in Employee.GetAll())
                                        {
                                            <option value="@item.Id">@item.FullName</option>
                                        }
                                    </select>
                                </div>
                            }
                        }
                        else
                        {
                            <div class="col-6">
                                <label>Подписант договора</label>
                                <input name="EmployeeContracts[0].IsSignatory" type="checkbox" value="true" checked selected hidden>
                                <input name="EmployeeContracts[0].ContractId" type="checkbox" value="@Model.Id" checked selected hidden>
                                <select name="EmployeeContracts[0].EmployeeId" class="form-control js-chosen" id="selectEmpOne">
                                    @if (empContract.EmployeeId != 0)
                                    {
                                        var item = Employee.GetById(empContract.EmployeeId);
                                        <option disabled selected value="@item?.Id">@item?.FullName</option>
                                    }
                                    @if (empContract.EmployeeId == 0)
                                    {
                                        <option selected>Выберите сотрудника</option>
                                    }

                                    @foreach (var item in Employee.GetAll())
                                    {
                                        <option value="@item.Id">@item.FullName</option>
                                    }
                                </select>
                            </div>
                        }
                    }
                    <div class="col-6">
                        <label>Вид работ</label>
                        <input name="TypeWorkContracts[0].TypeWork" hidden />
                        <input name="TypeWorkContracts[0].ContractId" type="checkbox" value="@Model.Id" checked selected hidden>
                        <select name="TypeWorkContracts[0].TypeWorkId" class="form-control js-chosen slt-add-organization">
                            @if (Model?.TypeWorkContracts[0].TypeWorkId != 0)
                            {
                                var item = TypeWork.GetById((int)Model?.TypeWorkContracts[0].TypeWorkId);
                                <option disabled selected value="@item?.Id">@item?.Name</option>
                            }
                            @if (Model?.TypeWorkContracts[0].TypeWorkId == 0)
                            {
                                <option selected>Выберите вид работ</option>
                            }

                            @foreach (var item in TypeWork.GetAll())
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        </select>
                    </div>
                    <div class="col-3">
                        <label asp-for="Сurrency" class="control-label"></label>
                        <select name="Сurrency" class="form-control js-chosen" id="CurDC">
                            <option value="@Model.Сurrency" selected>@Model.Сurrency</option>
                            @foreach (var item in Enum.GetValues<CurrencyEnum>())
                            {
                                <option value="@item">@item</option>
                            }
                        </select>
                    </div>

                    <div class="row">
                        <div class="col-4">
                            <label asp-for="ContractPrice" class="control-label"></label>
                            <input id="contractPrice" type="text" name="ContractPrice" value="@Model.ContractPrice" class="form-control cost" />
                            <span asp-validation-for="ContractPrice" class="text-danger"></span>
                        </div>
                        @if (ViewBag.IsEngin != null)
                        {
                            <div class="col-5">
                                <label asp-for="PaymentСonditionsPrice" class="control-label"></label>
                                <input id="PaymentСonditionsPrice" type="text" name="PaymentСonditionsPrice" value="@Model.PaymentСonditionsPrice" class="form-control cost" />
                                <span asp-validation-for="PaymentСonditionsPrice" class="text-danger"></span>
                            </div>
                        }
                    </div>
                    <div class="form-group">
                        <label asp-for="NameObject" class="control-label"></label>
                        <input asp-for="NameObject" class="form-control" />
                        <span asp-validation-for="NameObject" class="text-danger"></span>
                    </div>
                    <div class="row">

                        <fieldset class="border rounded-1 p-3 col">
                            <legend class="float-none w-auto px-3">Источник финансирования</legend>
                            @foreach (var item in Enum.GetValues<FundingSourceEnum>())
                            {
                                var value = $"{Converter.GetTypeOfFundingSource((int)item)}";
                                var valueArray = Model?.FundingFS?.Where(element => element == value)?.FirstOrDefault();

                                <div>
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text" style="display: block;">
                                                @if (valueArray is not null)
                                                {
                                                    <input type="checkbox" name="FundingFS" value="@value" checked>
                                                }
                                                @if (valueArray is null)
                                                {
                                                    <input type="checkbox" name="FundingFS" value="@value">
                                                }
                                            </div>
                                        </div>
                                        <input type="text" class="form-control" value="@value" disabled>
                                    </div>
                                </div>
                            }
                        </fieldset>
                        <fieldset class="border rounded-1 p-3 col">
                            <legend class="float-none w-auto px-3">Условия авансирования</legend>
                            @{
                                int numberCheckbox = 0;
                            }
                            @foreach (var item in Enum.GetValues<PrepaymentConditionEnum>())
                            {
                                var value = $"{Converter.GetTypeOfPrepaymentCondition((int)item)}";
                                var valueArray = Model?.PaymentСonditionsAvans;
                                if (valueArray == null) { valueArray = ""; }
                                string idCh = "check" + @numberCheckbox;
                                <div>
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text" style="display: block;">
                                                @if (valueArray.Contains(value))
                                                {
                                                    <input type="checkbox" name="PaymentCA" id="@idCh" value="@value" checked>
                                                }
                                                else
                                                {
                                                    <input type="checkbox" name="PaymentCA" id="@idCh" value="@value">
                                                }
                                            </div>
                                        </div>
                                        <input type="text" class="form-control" value="@value" disabled>

                                    </div>
                                </div>
                                numberCheckbox++;
                            }
                        </fieldset>
                    </div>
                    <fieldset class="border rounded-1 p-3">
                        <legend class="float-none w-auto px-3">Расчет за выполненные работы</legend>
                        @foreach (var item in Enum.GetValues<PaymentForWorkPerformed>())
                        {
                            var name = $"{Converter.GetTypeOfPaymentForWork((int)item)}";
                            var sub = name.Split(" ");
                            var subName = $"{sub[0]} {sub[1]}";
                            bool? isValueValid = Model?.PaymentСonditionsRaschet?.Contains(subName, StringComparison.OrdinalIgnoreCase);
                            bool isDayValid = isValueValid == true ? true : false;
                            var number = Contract.GetDayOfRaschet(Model.Id);

                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text" style="display: block;">
                                        @if (@Model?.PaymentСonditionsRaschet is not null && isValueValid == true)
                                        {
                                            <input class="checkChoise" type="radio" name="PaymentСonditionsRaschet" value="@name" checked>
                                        }
                                        @if (@Model?.PaymentСonditionsRaschet is null || isValueValid == false)
                                        {
                                            <input class="checkChoise" type="radio" name="PaymentСonditionsRaschet" value="@name">
                                        }

                                    </div>
                                </div>
                                @if (number.HasValue == true && isValueValid == true)
                                {
                                    <div class="col-1"><input id="dayInput" type="number" name="PaymentСonditionsDaysRaschet" class="form-control" value="@number" min="1"></div>
                                }
                                <div class="col-9">
                                    <input type="text" class="form-control" value="@name" disabled>
                                </div>
                            </div>
                        }
                    </fieldset>
                    <div class="form-group mt-3">
                        <input type="submit" value="Редактировать" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
    <script>
        $(function ($) {
            var allCost = $(".cost")
            for (let el of allCost) {
                digits_float(el)
            }
            $('body').on('input', '.cost', function (e) {
                digits_float(this);
            });
        });

        ////    проверка вводимых дат ////
        //dateContract(a) - Дата контракта
        //beginWork(b) - Дата начало работы
        //endWork(c) - Дата окончания работы
        //enteringTm(d) - Дата ввода объекта
        //contractTm(e) - Дата дествия договора
        //a <= b < c <= d < e
        //////********/
        let dateContract = document.querySelector("#DateDC");
        let beginWork = document.querySelector("#DateBeginWork");
        let endWork = document.querySelector("#DateEndWork");
        let enteringTm = document.querySelector("#EnteringTerm");
        let contractTm = document.querySelector("#ContractTerm");

        dateContract.addEventListener('change', (e) => {
            let date = dateContract.value;
            let dateBeg = beginWork.value;
            let dateEnd = endWork.value;
            let dateEnter = enteringTm.value;
            let dateTerm = contractTm.value;

            let datePlusOne = addDays(new Date(date), 1);
            let datePlusTwo = addDays(new Date(date), 2);

            if (!dateBeg || date > dateBeg) { $("#DateBeginWork").val(date); }
            if (!dateEnd || date > dateEnd) { $("#DateEndWork").val(datePlusOne); }
            if (!dateEnter || date > dateEnter) { $("#EnteringTerm").val(datePlusOne); }
            if (!dateTerm || date > dateTerm) { $("#ContractTerm").val(datePlusTwo); }

            beginWork.setAttribute('min', date);
            endWork.setAttribute('min', datePlusOne);
            enteringTm.setAttribute('min', datePlusOne);
            contractTm.setAttribute('min', datePlusTwo);
        });
        beginWork.addEventListener('change', (e) => {
            let date = dateContract.value;
            let dateBeg = beginWork.value;
            let dateEnd = endWork.value;
            let dateEnter = enteringTm.value;
            let dateTerm = contractTm.value;

            let datePlusOne = addDays(new Date(dateBeg), 1);
            let datePlusTwo = addDays(new Date(dateBeg), 2);
            if (!date || dateBeg < date) { $("#DateDC").val(dateBeg); }
            if (!dateEnd || dateBeg >= dateEnd) { $("#DateEndWork").val(datePlusOne); }
            if (!dateEnter || dateBeg >= dateEnter) { $("#EnteringTerm").val(datePlusOne); }
            if (!dateTerm || dateBeg >= dateTerm) { $("#ContractTerm").val(datePlusTwo); }

            endWork.setAttribute('min', datePlusOne);
            enteringTm.setAttribute('min', datePlusOne);
            contractTm.setAttribute('min', datePlusTwo);
        });
        endWork.addEventListener('change', (e) => {
            let date = dateContract.value;
            let dateBeg = beginWork.value;
            let dateEnd = endWork.value;
            let dateEnter = enteringTm.value;
            let dateTerm = contractTm.value;

            let dateDecOne = addDays(new Date(dateEnd), -1);
            let datePlusOne = addDays(new Date(dateEnd), 1);
            if (!date || dateEnd <= date) { $("#DateDC").val(dateDecOne); }
            if (!dateBeg || dateEnd <= dateBeg) { $("#DateBeginWork").val(dateDecOne); }
            if (!dateEnter || dateEnd > dateEnter) { $("#EnteringTerm").val(dateEnd); }
            if (!dateTerm || dateEnd >= dateTerm) { $("#ContractTerm").val(datePlusOne); }

            enteringTm.setAttribute('min', dateEnd);
            contractTm.setAttribute('min', datePlusOne);
        });
        enteringTm.addEventListener('change', (e) => {
            let date = dateContract.value;
            let dateBeg = beginWork.value;
            let dateEnd = endWork.value;
            let dateEnter = enteringTm.value;
            let dateTerm = contractTm.value;

            let dateDecOne = addDays(new Date(dateEnter), -1);
            let datePlusOne = addDays(new Date(dateEnter), 1);
            if (!date || dateEnter <= date) { $("#DateDC").val(dateDecOne); }
            if (!dateBeg || dateEnter <= dateBeg) { $("#DateBeginWork").val(dateDecOne); }
            if (!dateEnd || dateEnter < dateEnd) { $("#DateEndWork").val(dateEnter); }
            if (!dateTerm || dateEnter >= dateTerm) { $("#ContractTerm").val(datePlusOne); }

            contractTm.setAttribute('min', datePlusOne);
        });
        contractTm.addEventListener('change', (e) => {
            let date = dateContract.value;
            let dateBeg = beginWork.value;
            let dateEnd = endWork.value;
            let dateEnter = enteringTm.value;
            let dateTerm = contractTm.value;

            let dateDecOne = addDays(new Date(dateTerm), -1);
            let dateDecTwo = addDays(new Date(dateTerm), -2);
            if (!date || dateTerm <= date) { $("#DateDC").val(dateDecTwo); }
            if (!dateBeg || dateTerm <= dateBeg) { $("#DateBeginWork").val(dateDecTwo); }
            if (!dateEnd || dateTerm <= dateEnd) { $("#DateEndWork").val(dateDecOne); }
            if (!dateEnter || dateTerm <= dateEnter) { $("#EnteringTerm").val(dateDecOne); }
        });
        function addDays(date, countDays) {
            let newDateOfyear = date.getFullYear() + "";; // год

            let day = date.getDate() + countDays; // текущий день
            let month = date.getMonth() + 1; //текущий месяц

            let maxDateToday = new Date(newDateOfyear, month, 0).getDate()
            if (day > maxDateToday) {
                month = month + 1;
                if (month > 12) {
                    newDateOfyear = newDateOfyear + 1;
                    month = 1;
                    day = (day - 31);
                }
                else {
                    day = (day - maxDateToday);
                }
            }
            if (day < 1) {
                month = month - 1;
                if (month < 1) {
                    newDateOfyear = newDateOfyear - 1;
                    month = 12;
                    day = 31 + day;
                }
                else {
                    let maxDate = new Date(newDateOfyear, month, 0).getDate();
                    day = maxDate + day;
                }
            }

            let dayStr = day < 10 ? "0" + String(day) : String(day);
            let monthStr = month < 10 ? "0" + String(month) : String(month);
            return newDateOfyear + '-' + monthStr + '-' + dayStr;
        }
        //проверка на взаимоисключающие позиции условий авансирования, если выбрано "Без авансов" - остальные замьюченные, и наоборот/////

        let ch1 = document.querySelector("#check0");
        let ch2 = document.querySelector("#check1");
        let ch3 = document.querySelector("#check2");

        let mod = @Html.Raw(Json.Serialize(Model.PaymentСonditionsAvans))

            window.onload = function () {
                if (mod != null) {
                    if (ch1.checked) {
                        ch2.setAttribute("disabled", true);
                        ch3.setAttribute("disabled", true);
                    }
                    else {
                        ch1.setAttribute("disabled", true)
                    }
                }
            }
        ch1.addEventListener('change', (e) => {
            if (e.currentTarget.checked) {
                ch2.setAttribute("disabled", true);
                ch3.setAttribute("disabled", true);
            }

            if (!e.currentTarget.checked) {
                ch2.removeAttribute("disabled");
                ch3.removeAttribute("disabled");
            }
        });

        ch2.addEventListener('change', (e) => {
            if (e.currentTarget.checked) {
                ch1.setAttribute("disabled", true);
            }

            if (!e.currentTarget.checked && !ch3.checked) {
                ch1.removeAttribute("disabled");
            }
        });

        ch3.addEventListener('change', (e) => {
            if (e.currentTarget.checked) {
                ch1.setAttribute("disabled", true);
            }

            if (!e.currentTarget.checked && !ch2.checked) {
                ch1.removeAttribute("disabled");
            }
        });

        let styleName = "border:solid red 4px;";

        checkTwoSelectValues("#selectEmpOne", "#selectEmpTwo", "#subBtn", styleName);
        checkTwoSelectValues("#selectEmpTwo", "#selectEmpOne", "#subBtn", styleName);

        // при выборе расчета, за выбранной радио кнопкой вставляем input для заполнения кол-ва дней/числа
        $(".checkChoise").click(function (e) {
            let elemNumber = $("#dayInput");
            if (elemNumber !== null || elemNumber !== undefined) {
                //перед вставкой, проверяем и удаляем если существует такой input у другой радио кнопки
                $("#dayInput").parent().remove();
            }
            $(this).parent().parent().last().after(`<div class='col-1'><input class='form-control' id="dayInput" type='number' name='PaymentСonditionsDaysRaschet' min='1'/></div>`);
        });
    </script>
}
