@using BusinessLayer.Enums;
@model MvcLayer.Models.ContractViewModel
@inject BusinessLayer.Interfaces.ContractInterfaces.IOrganizationService Organization

@{
    ViewData["Title"] = "Редактирование договора";
    var d = Model;
}

<div class="dm-overlay">
    <div class="dm-table">
        <div class="dm-cell">
            <div class="dm-modal">
                <div class="top-modal-block">
                    <label class="my-modal-title">@ViewData["Title"]</label>
                    <a asp-controller="Contracts" asp-action="Index" class="close-btn"></a>
                </div>
                <hr class="modal-line" />
                <form asp-action="Edit" asp-controller="Contracts" class="row" style="max-width:700px;">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="IsAgreementContract" />
                    <input type="hidden" asp-for="IsEngineering" />
                    <input type="hidden" asp-for="IsSubContract" />
                    <input type="hidden" asp-for="PaymentСonditionsRaschet" />
                    <input type="hidden" asp-for="PaymentСonditionsAvans" />

                    <div class="col-3">
                        <label asp-for="Number" class="control-label"></label>
                        <input asp-for="Number" class="form-control" />
                        <span asp-validation-for="Number" class="text-danger"></span>
                    </div>
                    <div class="col-3">
                        <label asp-for="Date" class="control-label"></label>
                        <input asp-for="Date" class="form-control datepickers" />
                        <span asp-validation-for="Date" class="text-danger"></span>
                    </div>
                    <div class="col-3">
                        <label asp-for="EnteringTerm" class="control-label"></label>
                        <input asp-for="EnteringTerm" class="form-control datepickers" />
                        <span asp-validation-for="EnteringTerm" class="text-danger"></span>
                    </div>
                    <div class="col-3">
                        <label asp-for="ContractTerm" class="control-label"></label>
                        <input asp-for="ContractTerm" class="form-control datepickers" />
                        <span asp-validation-for="ContractTerm" class="text-danger"></span>
                    </div>

                    <div class="col-3">
                        <label asp-for="DateBeginWork" class="control-label"></label>
                        <input asp-for="DateBeginWork" class="form-control datepickers" />
                        <span asp-validation-for="DateBeginWork" class="text-danger"></span>
                    </div>
                    <div class="col-3">
                        <label asp-for="DateEndWork" class="control-label"></label>
                        <input asp-for="DateEndWork" class="form-control datepickers" />
                        <span asp-validation-for="DateEndWork" class="text-danger"></span>
                    </div>

                    <div class="col-3">
                        <label asp-for="Сurrency" class="control-label"></label>
                        <select name="Сurrency" class="form-control js-chosen" id="CurDC">
                            <option value="@Model.Сurrency" selected disabled>@Model.Сurrency</option>
                            @foreach (var item in Enum.GetValues<CurrencyEnum>())
                            {
                                <option value="@item">@item</option>
                            }
                        </select>
                    </div>
                    <div class="col-3">
                        <label asp-for="ContractPrice" class="control-label"></label>
                        <input name="ContractPrice" type="price" value="@Model.ContractPrice?.ToString("0.00")" class="form-control" />
                        <span asp-validation-for="ContractPrice" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="NameObject" class="control-label"></label>
                        <input asp-for="NameObject" class="form-control" />
                        <span asp-validation-for="NameObject" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="FundingSource" class="control-label"></label>
                        <input asp-for="FundingSource" class="form-control" />
                        <span asp-validation-for="FundingSource" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PaymentСonditionsAvans" class="control-label"></label>
                        <input asp-for="PaymentСonditionsAvans" class="form-control" />
                        <span asp-validation-for="PaymentСonditionsAvans" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PaymentСonditionsRaschet" class="control-label"></label>
                        <input asp-for="PaymentСonditionsRaschet" class="form-control" />
                        <span asp-validation-for="PaymentСonditionsRaschet" class="text-danger"></span>
                    </div>
                    <div class="col-12">
                        <label>Заказчик</label>
                        <input name="ContractOrganizations[0].IsClient" type="checkbox" value="true" checked selected hidden>
                        <select name="ContractOrganizations[0].OrganizationId" class="form-control js-chosen slt-add-organization">
                            @if (Model?.ContractOrganizations[0].OrganizationId != 0)
                            {
                                var item = Organization.GetById((int)Model?.ContractOrganizations[0]?.OrganizationId);
                                <option disabled selected value="@item?.Id">@item?.Name</option>
                            }
                            @if (Model?.ContractOrganizations[0].OrganizationId == 0)
                            {
                                <option selected>Выберите организацию</option>
                            }

                            @foreach (var item in Organization.GetAll())
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        </select>
                    </div>
                    <div class="col-12">
                        <label>Генподрядчик</label>
                        <input name="ContractOrganizations[1].IsGenContractor" type="checkbox" value="true" checked selected hidden>
                        <select name="ContractOrganizations[1].OrganizationId" class="form-control js-chosen slt-add-organization">
                            @if (Model?.ContractOrganizations[1].OrganizationId != 0)
                            {
                                var item = Organization.GetById((int)Model?.ContractOrganizations[1]?.OrganizationId);
                                <option disabled selected value="@item?.Id">@item?.Name</option>
                            }
                            @if (Model?.ContractOrganizations[1].OrganizationId == 0)
                            {
                                <option selected>Выберите организацию</option>
                            }
                            @foreach (var item in Organization.GetAll())
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        </select>
                    </div>
                    <div class="form-group mt-5">
                        <input type="submit" value="Редактировать" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
