@using BusinessLayer.Enums;
@model MvcLayer.Models.ContractViewModel
@inject BusinessLayer.Interfaces.ContractInterfaces.IOrganizationService Organization
@inject BusinessLayer.Interfaces.ContractInterfaces.IEmployeeService Employee
@inject BusinessLayer.Interfaces.ContractInterfaces.ITypeWorkService TypeWork
@inject BusinessLayer.Interfaces.CommonInterfaces.IConverter Converter
@{
    ViewData["Title"] = "Редактирование договора";
    var d = Model;
    int backId = 0;
    if ((int)ViewData["returnContractId"] == 0)
        backId = Model.Id;
    else backId = (int)ViewData["returnContractId"];
}

<div class="dm-overlay">
    <div class="dm-table">
        <div class="dm-cell">
            <div class="dm-modal">
                <div class="top-modal-block">
                    <label class="my-modal-title">@ViewData["Title"]</label>
                    @if ((int)ViewData["returnContractId"] != 0)
                    {
                        <a asp-controller="Contracts" asp-action="Details" asp-route-id="@backId" class="close-btn"></a>
                    }
                    else if (ViewBag.IsEngin != null)
                    {
                        <a asp-action="Engineerings" class="close-btn"></a>
                    }
                    else
                    {
                        <a asp-action="Index" class="close-btn"></a>
                    }
                </div>
                <hr class="modal-line" />
                <form asp-action="Edit" asp-controller="Contracts" asp-route-returnContractId="@ViewBag.returnContractId" class="row" style="max-width:700px;">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="SubContractId" />
                    <input type="hidden" asp-for="AgreementContractId" />
                    <input type="hidden" asp-for="IsAgreementContract" />
                    <input type="hidden" asp-for="IsEngineering" />
                    <input type="hidden" asp-for="IsSubContract" />
                    <input type="hidden" asp-for="Author" />
                    <input type="hidden" asp-for="Owner" />
                    <input type="hidden" asp-for="IsClosed" />
                    <input type="hidden" asp-for="IsExpired" />
                    <input type="hidden" asp-for="IsMultiple" />
                    <input type="hidden" asp-for="IsOneOfMultiple" />
                    <div class="row">
                        <div class="col-4">
                            <label asp-for="Number" class="control-label"></label>
                            <input asp-for="Number" class="form-control" />
                            <span asp-validation-for="Number" class="text-danger"></span>
                        </div>
                        <div class="col-4">
                            <label asp-for="Date" class="control-label"></label>
                            <input type="datetime" asp-for="Date" class="form-control datepickersNull" />
                            <span asp-validation-for="Date" class="text-danger"></span>
                        </div>
                        @if (ViewBag.IsEngin == null)
                        {
                            <div class="col-4">
                                <label asp-for="EnteringTerm" class="control-label"></label>
                                <input type="datetime" asp-for="EnteringTerm" class="form-control datepickersNull" />
                                <span asp-validation-for="EnteringTerm" class="text-danger"></span>
                            </div>
                        }
                        @if (ViewBag.IsEngin == null)
                        {
                            <div class="col-4">
                                <label asp-for="ContractTerm" class="control-label"></label>
                                <input type="datetime" asp-for="ContractTerm" class="form-control datepickersNull" />
                                <span asp-validation-for="ContractTerm" class="text-danger"></span>
                            </div>
                        }
                        <div class="col-4">
                            <label asp-for="DateBeginWork" class="control-label"></label>
                            <input type="datetime" asp-for="DateBeginWork" class="form-control datepickersNull" />
                            <span asp-validation-for="DateBeginWork" class="text-danger"></span>
                        </div>
                        <div class="col-4">
                            <label asp-for="DateEndWork" class="control-label"></label>
                            <input type="datetime" asp-for="DateEndWork" class="form-control datepickersNull" />
                            <span asp-validation-for="DateEndWork" class="text-danger"></span>
                        </div>
                    </div>
                    @foreach (var contrOrg in Model.ContractOrganizations)
                    {
                        if (contrOrg.IsGenContractor == true)
                        {
                            <div class="col-6">
                                <label>Генподрядчик</label>
                                <input name="ContractOrganizations[1].IsGenContractor" type="checkbox" value="true" checked selected hidden>
                                <input name="ContractOrganizations[1].ContractId" type="checkbox" value="@Model.Id" checked selected hidden>
                                <select name="ContractOrganizations[1].OrganizationId" class="form-control js-chosen slt-add-organization">
                                    @if (contrOrg.OrganizationId != 0)
                                    {
                                        var item = Organization.GetById((int)contrOrg?.OrganizationId);
                                        <option disabled selected value="@item?.Id">@item?.Name</option>
                                    }
                                    @if (contrOrg.OrganizationId == 0)
                                    {
                                        <option selected>Выберите организацию</option>
                                    }
                                    @foreach (var item in Organization.GetAll())
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                </select>
                            </div>
                            if (contrOrg.IsClient == true)
                            {
                                <div class="col-6">
                                    <label>Заказчик</label>
                                    <input name="ContractOrganizations[0].IsClient" type="checkbox" value="true" checked selected hidden>
                                    <input name="ContractOrganizations[0].ContractId" type="checkbox" value="@Model.Id" checked selected hidden>
                                    <select name="ContractOrganizations[0].OrganizationId" class="form-control js-chosen slt-add-organization">
                                        @if (contrOrg.OrganizationId != 0)
                                        {
                                            var item = Organization.GetById((int)contrOrg?.OrganizationId);
                                            <option disabled selected value="@item?.Id">@item?.Name</option>
                                        }
                                        @if (contrOrg.OrganizationId == 0)
                                        {
                                            <option selected>Выберите организацию</option>
                                        }

                                        @foreach (var item in Organization.GetAll())
                                        {
                                            <option value="@item.Id">@item.Name</option>
                                        }
                                    </select>
                                </div>
                            }
                        }
                        else
                        {
                            <div class="col-6">
                                <label>Заказчик</label>
                                <input name="ContractOrganizations[0].IsClient" type="checkbox" value="true" checked selected hidden>
                                <input name="ContractOrganizations[0].ContractId" type="checkbox" value="@Model.Id" checked selected hidden>
                                <select name="ContractOrganizations[0].OrganizationId" class="form-control js-chosen slt-add-organization">
                                    @if (contrOrg.OrganizationId != 0)
                                    {
                                        var item = Organization.GetById((int)contrOrg?.OrganizationId);
                                        <option disabled selected value="@item?.Id">@item?.Name</option>
                                    }
                                    @if (contrOrg.OrganizationId == 0)
                                    {
                                        <option selected>Выберите организацию</option>
                                    }

                                    @foreach (var item in Organization.GetAll())
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                </select>
                            </div>
                        }
                    }

                    @foreach (var empContract in Model.EmployeeContracts)
                    {
                        if (empContract.IsResponsible == true)
                        {
                            <div class="col-6">
                                <label>Ответственный за ведение договора</label>
                                <input name="EmployeeContracts[1].IsResponsible" type="checkbox" value="true" checked selected hidden>
                                <input name="EmployeeContracts[1].ContractId" type="checkbox" value="@Model.Id" checked selected hidden>
                                <select name="EmployeeContracts[1].EmployeeId" class="form-control js-chosen" id="selectEmpTwo">
                                    @if (empContract.EmployeeId != 0)
                                    {
                                        var item = Employee.GetById(empContract.EmployeeId);
                                        <option disabled selected value="@item?.Id">@item?.FullName</option>
                                    }
                                    @if (empContract.EmployeeId == 0)
                                    {
                                        <option selected>Выберите сотрудника</option>
                                    }
                                    @foreach (var item in Employee.GetAll())
                                    {
                                        <option value="@item.Id">@item.FullName</option>
                                    }
                                </select>
                            </div>
                            if (empContract.IsSignatory == true)
                            {
                                <div class="col-6">
                                    <label>Подписант договора</label>
                                    <input name="EmployeeContracts[0].IsSignatory" type="checkbox" value="true" checked selected hidden>
                                    <input name="EmployeeContracts[0].ContractId" type="checkbox" value="@Model.Id" checked selected hidden>
                                    <select name="EmployeeContracts[0].EmployeeId" class="form-control js-chosen" id="selectEmpOne">
                                        @if (empContract.EmployeeId != 0)
                                        {
                                            var item = Employee.GetById(empContract.EmployeeId);
                                            <option disabled selected value="@item?.Id">@item?.FullName</option>
                                        }
                                        @if (empContract.EmployeeId == 0)
                                        {
                                            <option selected>Выберите сотрудника</option>
                                        }

                                        @foreach (var item in Employee.GetAll())
                                        {
                                            <option value="@item.Id">@item.FullName</option>
                                        }
                                    </select>
                                </div>
                            }
                        }
                        else
                        {
                            <div class="col-6">
                                <label>Подписант договора</label>
                                <input name="EmployeeContracts[0].IsSignatory" type="checkbox" value="true" checked selected hidden>
                                <input name="EmployeeContracts[0].ContractId" type="checkbox" value="@Model.Id" checked selected hidden>
                                <select name="EmployeeContracts[0].EmployeeId" class="form-control js-chosen" id="selectEmpOne">
                                    @if (empContract.EmployeeId != 0)
                                    {
                                        var item = Employee.GetById(empContract.EmployeeId);
                                        <option disabled selected value="@item?.Id">@item?.FullName</option>
                                    }
                                    @if (empContract.EmployeeId == 0)
                                    {
                                        <option selected>Выберите сотрудника</option>
                                    }

                                    @foreach (var item in Employee.GetAll())
                                    {
                                        <option value="@item.Id">@item.FullName</option>
                                    }
                                </select>
                            </div>
                        }
                    }
                    <div class="col-6">
                        <label>Вид работ</label>
                        <input name="TypeWorkContracts[0].TypeWork" hidden />
                        <input name="TypeWorkContracts[0].ContractId" type="checkbox" value="@Model.Id" checked selected hidden>
                        <select name="TypeWorkContracts[0].TypeWorkId" class="form-control js-chosen slt-add-organization">
                            @if (Model?.TypeWorkContracts[0].TypeWorkId != 0)
                            {
                                var item = TypeWork.GetById((int)Model?.TypeWorkContracts[0].TypeWorkId);
                                <option disabled selected value="@item?.Id">@item?.Name</option>
                            }
                            @if (Model?.TypeWorkContracts[0].TypeWorkId == 0)
                            {
                                <option selected>Выберите вид работ</option>
                            }

                            @foreach (var item in TypeWork.GetAll())
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        </select>
                    </div>
                    <div class="col-3">
                        <label asp-for="Сurrency" class="control-label"></label>
                        <select name="Сurrency" class="form-control js-chosen" id="CurDC">
                            <option value="@Model.Сurrency" selected>@Model.Сurrency</option>
                            @foreach (var item in Enum.GetValues<CurrencyEnum>())
                            {
                                <option value="@item">@item</option>
                            }
                        </select>
                    </div>

                    <div class="row">
                        <div class="col-4">
                            <label asp-for="ContractPrice" class="control-label"></label>
                            <input id="contractPrice" type="text" name="ContractPrice" value="@Model.ContractPrice" class="form-control cost" />
                            <span asp-validation-for="ContractPrice" class="text-danger"></span>
                        </div>
                        @if (ViewBag.IsEngin != null)
                        {
                            <div class="col-5">
                                <label asp-for="PaymentСonditionsPrice" class="control-label"></label>
                                <input id="PaymentСonditionsPrice" type="text" name="PaymentСonditionsPrice" value="@Model.PaymentСonditionsPrice" class="form-control cost" />
                                <span asp-validation-for="PaymentСonditionsPrice" class="text-danger"></span>
                            </div>
                        }
                    </div>
                    <div class="form-group">
                        <label asp-for="NameObject" class="control-label"></label>
                        <input asp-for="NameObject" class="form-control" />
                        <span asp-validation-for="NameObject" class="text-danger"></span>
                    </div>
                    <fieldset class="border rounded-1 p-3">
                        <legend class="float-none w-auto px-3">Источник финансирования</legend>
                        @foreach (var item in Enum.GetValues<FundingSourceEnum>())
                        {
                            var value = $"{Converter.GetTypeOfFundingSource((int)item)}";
                            var valueArray = Model?.FundingFS?.Where(element => element == value)?.FirstOrDefault();

                            <div>
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text" style="display: block;">
                                            @if (valueArray is not null)
                                            {
                                                <input type="checkbox" name="FundingFS" value="@value" checked>
                                            }
                                            @if (valueArray is null)
                                            {
                                                <input type="checkbox" name="FundingFS" value="@value">
                                            }
                                        </div>
                                    </div>
                                    <input type="text" class="form-control" value="@value" disabled>
                                </div>
                            </div>
                        }
                    </fieldset>
                    <fieldset class="border rounded-1 p-3">
                        <legend class="float-none w-auto px-3">Условия авансирования</legend>
                        @{
                            int numberCheckbox = 0;
                        }
                        @foreach (var item in Enum.GetValues<PrepaymentConditionEnum>())
                        {
                            var value = $"{Converter.GetTypeOfPrepaymentCondition((int)item)}";
                            var valueArray = Model?.PaymentСonditionsAvans;
                            if (valueArray == null) { valueArray = ""; }
                            string idCh = "check" + @numberCheckbox;
                            <div>
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text" style="display: block;">
                                            @if (valueArray.Contains(value))
                                            {
                                                <input type="checkbox" name="PaymentCA" id="@idCh" value="@value" checked>
                                            }
                                            else
                                            {
                                                <input type="checkbox" name="PaymentCA" id="@idCh" value="@value">
                                            }
                                        </div>
                                    </div>
                                    <input type="text" class="form-control" value="@value" disabled>

                                </div>
                            </div>
                            numberCheckbox++;
                        }
                    </fieldset>
                    <div class="form-group">
                        <label asp-for="PaymentСonditionsRaschet" class="control-label"></label>
                        <input type="text" name="PaymentСonditionsRaschet" value="@Model.PaymentСonditionsRaschet" class="form-control" />
                        <span asp-validation-for="PaymentСonditionsRaschet" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-3">
                        <input type="submit" value="Редактировать" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts
    {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script>
            $(function ($) {
                var allCost = $(".cost")
                for (let el of allCost) {
                    digits_float(el)
                }
                $('body').on('input', '.cost', function (e) {
                    digits_float(this);
                });
            });

            //проверка на взаимоисключающие позиции условий авансирования, если выбрано "Без авансов" - остальные замьюченные, и наоборот/////

            let ch1 = document.querySelector("#check0");
            let ch2 = document.querySelector("#check1");
            let ch3 = document.querySelector("#check2");

            let mod = @Html.Raw(Json.Serialize(Model.PaymentСonditionsAvans))

                window.onload = function () {
                    if (mod != null) {
                        if (ch1.checked) {
                            ch2.setAttribute("disabled", true);
                            ch3.setAttribute("disabled", true);
                        }
                        else {
                            ch1.setAttribute("disabled", true)
                        }
                    }
                }
            ch1.addEventListener('change', (e) => {
                if (e.currentTarget.checked) {
                    ch2.setAttribute("disabled", true);
                    ch3.setAttribute("disabled", true);
                }

                if (!e.currentTarget.checked) {
                    ch2.removeAttribute("disabled");
                    ch3.removeAttribute("disabled");
                }
            });

            ch2.addEventListener('change', (e) => {
                if (e.currentTarget.checked) {
                    ch1.setAttribute("disabled", true);
                }

                if (!e.currentTarget.checked && !ch3.checked) {
                    ch1.removeAttribute("disabled");
                }
            });

            ch3.addEventListener('change', (e) => {
                if (e.currentTarget.checked) {
                    ch1.setAttribute("disabled", true);
                }

                if (!e.currentTarget.checked && !ch2.checked) {
                    ch1.removeAttribute("disabled");
                }
            });

            let styleName = "border:solid red 4px;";

            checkTwoSelectValues("#selectEmpOne", "#selectEmpTwo", "#subBtn", styleName);
            checkTwoSelectValues("#selectEmpTwo", "#selectEmpOne", "#subBtn", styleName);

            // при выборе расчета, за выбранной радио кнопкой вставляем input для заполнения кол-ва дней/числа
            $(".checkChoise").click(function (e) {
                let elemNumber = $("#dayInput");
                if (elemNumber !== null || elemNumber !== undefined) {
                    //перед вставкой, проверяем и удаляем если существует такой input у другой радио кнопки
                    $("#dayInput").parent().remove();
                }

                $(this).parent().parent().last().after(`<div class='col-1'>
                                                                <input class='form-control' id="dayInput" type='number' name='PaymentСonditionsDaysRaschet' min='1'/></div>`);
            });
        </script>
    }
}
