@using BusinessLayer.Enums;
@using BusinessLayer.Helpers
@using BusinessLayer.Models;
@using System.Diagnostics;

@model BusinessLayer.Models.IndexViewModel
@inject BusinessLayer.Interfaces.ContractInterfaces.IContractService Contract
@inject BusinessLayer.Interfaces.ContractInterfaces.ISWCostService SWCost
@inject BusinessLayer.Interfaces.ContractInterfaces.IScopeWorkService ScopeWork
@inject BusinessLayer.Interfaces.ContractInterfaces.ITypeWorkService TypeWork
@inject BusinessLayer.Interfaces.ContractInterfaces.IFormService Form
@inject BusinessLayer.Interfaces.ContractInterfaces.IServiceGCService ServiceGc
@inject BusinessLayer.Interfaces.ContractInterfaces.IFileService Files
@inject BusinessLayer.Interfaces.CommonInterfaces.IHttpHelper HttpHelper


@{
    var http = new HttpContextAccessor();
    var permissions = HttpHelper.GetPermissionForUser(http);

    var isEngineering = (bool)ViewData["IsEngineering"];
    string redirectAction = "Index";
    string redirectController = "Contracts";
    var actionMethod = isEngineering is true ? "Engineerings" : "Index";
    var isGRP_Contract = permissions.GroupeName.Contains(ConstantsApp.GRP_CONTRACT);
    if (ViewBag.CurrentType == null)
        ViewBag.CurrentType = "none";
}


@section Table {
    <style>
        .square {
            width: 20px;
            height: 20px;
            margin-left: 1%;
            margin-right: 1%;
            border: solid black;
        }

        .overdue {
            background-color: #79a6fbb0 !important;
        }

        .form_agreement {
            display: flex !important;
            padding: 0 30px !important;
            margin-top: 0.5%;
            margin-bottom: 0.5%;
        }

        h1 {
            transition: all 1s;
            */ font-family: 'Ampersand', Montserrat, sans-serif;
            font-size: 32px;
        }

        .btn_agreement {
            width: 180px;
            border-radius: 20px;
            margin-left: 1%;
            font-weight: bold;
        }


        .contracts-list {
            justify-content: space-between;
        }

        .color_label {
            display: flex;
            font-weight: bold;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        }

        .label_postion {
            margin-top: 0.4%;
        }

        .wrapper-table {
            width: 100%;
        }

        .table-main tr:nth-child(even) {
            background-color: #ecf2f9;
        }

        .img_newAgr {
            width: 24px;
            height: 24px;
            margin-right: 3px;
        }

        input {
            margin: 0;
            font-family: inherit;
            font-size: inherit;
            line-height: inherit;
            border-radius: 20px;
            padding: 0px 30px 0px 10px;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
        }

        form {
            position: relative;
        }

        .search-choice-close::before {
            content: "х";
            text-decoration: none !important;
        }

        .th-item-search {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            position: relative;
        }

        .search_btn {
            cursor: pointer;
        }

        .table .thead-dark th > div > img {
            filter: brightness(0) saturate(100%) invert(100%) sepia(11%) saturate(47%) hue-rotate(60deg) brightness(109%) contrast(90%);
        }

        .modal_form_searching {
            display: flex;
            position: absolute;
            top: 25px;
            right: -15px;
            z-index: 100;
        }

        .form_search {
            width: 175px;
            background-color: black;
            padding: 10px;
            border-radius: 10px;
            border: solid;
        }
    </style>
    <div>
        <div class="contracts-list">
            <h1 class="list_agreement">Список договоров</h1>
            @if (ViewBag.IsEngineering)
            {
                <div class="form_agreement">
                    @if (permissions is not null && permissions.IsCreator && isGRP_Contract)
                    {
                        <button type="button" class="btn btn-success btn_agreement" onclick="location.href='@Url.Action("CreateEngin", "Contracts")'"><img class="img_newAgr" src="~/icons/plus_icon.png" />Новый договор</button>
                    }
                </div>
            }
            @if (!ViewBag.IsEngineering)
            {
                <div class="form_agreement">
                    @if (permissions is not null && permissions.IsCreator && isGRP_Contract)
                    {
                        <button type="button" class="btn btn-success btn_agreement" onclick="location.href='@Url.Action("Create", "Contracts")'"><img class="img_newAgr" src="~/icons/plus_icon.png" />Новый договор</button>
                    }
                </div>
            }
        </div>

        <div class="full-width">
            <table class="table table-main table-main-short table-bordered table-hover table-condensed" id="contractTable">
                <thead>
                    <tr class="tr-head-main-table">
                        <th>
                            <span class="table_span-numberanddate">
                                Номер и дата договора
                                @Html.ActionLink(" ", @actionMethod, new { sortOrder = ViewData["NumberSortParm"], currentFilter = ViewData["CurrentFilter"], currentType = ViewData["CurrentType"] }, new { id = "arrayNumberanddate", @class = "up" })
                                <img class="search_btn" src="~/icons/search.svg" data-content-search="number" title="Поиск организации" alt="Поиск организации" />
                            </span>
                        </th>
                        <th>
                            <span class="table_span-nameobject">
                                Наименование объекта
                                @Html.ActionLink("", actionMethod, new { sortOrder = ViewData["NameObjectSortParm"], currentFilter = ViewData["CurrentFilter"], currentType = ViewData["CurrentType"] }, new { id = "arrayNameObject", @class = "up" })
                                <img class="search_btn" src="~/icons/search.svg" data-content-search="nameObject" title="Поиск организации" alt="Поиск организации" />
                            </span>
                        </th>
                        <th>
                            <span class="table_span-customer">
                                Заказчик
                                @Html.ActionLink("", actionMethod, new { sortOrder = ViewData["ClientSortParm"], currentFilter = ViewData["CurrentFilter"], currentType = ViewData["CurrentType"] }, new { id = "arrayCustomer", @class = "up" })
                                <img class="search_btn" src="~/icons/search.svg" data-content-search="client" title="Поиск организации" alt="Поиск организации" />
                            </span>
                        </th>
                        @if (isEngineering != true)
                        {
                            <th>
                                <span class="table_span-contractor">
                                    <span>Генподрядчик</span>
                                    @Html.ActionLink("", actionMethod, new { sortOrder = ViewData["GenSortParm"], currentFilter = ViewData["CurrentFilter"], currentType = ViewData["CurrentType"] }, new { id = "arrayGeneralContractor", @class = "up" })
                                    <img class="search_btn" src="~/icons/search.svg" data-content-search="general" title="Поиск организации" alt="Поиск организации" />
                                </span>
                            </th>
                        }
                        <th>
                            <span class="table_span-deadlines">
                                Cроки
                                @Html.ActionLink(" ", actionMethod, new { sortOrder = ViewData["EnterSortParm"], currentFilter = ViewData["CurrentFilter"], currentType = ViewData["CurrentType"] }, new { id = "arrayTerms", @class = "up" })
                            </span>
                        </th>
                        <th><span class="table_span-conditions">    Условия оплаты              </span></th>
                        <th><span class="table_span-currency">      Валюта                      </span></th>
                        @if (isEngineering)
                        {
                            <th>
                                <span class="table_span-work">    Условия формирования договорной цены, %      </span>
                            </th>
                        }
                        @if (!isEngineering)
                        {
                            <th><span class="table_span-work">          Виды работ по договору      </span></th>
                        }
                        <th><span class="table_span-contractprice"> Контрактная цена, с НДС     </span></th>
                        <th><span class="table_span-realization">   Выполнено на 01.01 тек. года</span></th>
                        <th><span class="table_span-remains">       Остаток                     </span></th>
                        <th><span class="table_span-volume">        Объем на текущий год        </span></th>
                        <th><span class="table_span-action-main">        Действия с договором        </span></th>
                    </tr>
                </thead>
                <tbody class="table_tbody">

                    @foreach (VContractDTO item in Model.Objects)
                    {
                        if (item.DateEndWork < DateTime.Today.Date)
                        {
                            <tr class="overdue">
                                @*Номер и дата договора*@
                                <td>
                                    <span class="table_span-numberanddate">
                                        <a asp-action="Details" asp-route-id="@item.Id">
                                            @item.Number от
                                            @item.Date?.ToShortDateString()
                                        </a>
                                    </span>

                                </td>

                                @*Наименование объекта*@
                                <td>
                                    <span class="table_span-nameobject">
                                        @item.NameObject
                                    </span>
                                </td>
                                @*Заказчик*@
                                <td>
                                    <span class="table_span-customer">
                                        @item.Client
                                    </span>
                                </td>
                                @*Генподрядчик*@
                                @if (isEngineering != true)
                                {
                                    <td>
                                        <div>
                                            <span class="table_span-contractor">
                                                @item.GenContractor
                                            </span>
                                        </div>
                                        <div>
                                            <span class="table_span-contractor">
                                                @if (item.ResponsibleForWork is not null)
                                                {
                                                    <hr />
                                                    <span>Ответственный за производство работ:</span>
                                                    <br />
                                                }
                                                @item.ResponsibleForWork
                                            </span>
                                        </div>
                                    </td>
                                }
                                @*Сроки: выполнения работ - ввода *@
                                <td>
                                    <span class="table_span-deadlines">
                                        @if (@item.DateBeginWork?.ToShortDateString() is not null || @item.DateEndWork?.ToShortDateString() is not null)
                                        {
                                            <b>выполнения работ:</b>

                                            <br>
                                            <span>@item.DateBeginWork?.ToShortDateString() -  @item.DateEndWork?.ToShortDateString()</span>

                                            <br>
                                        }
                                        @if (@item.EnteringTerm?.ToShortDateString() is not null)
                                        {
                                            <b>ввода:</b>
                                            <span>@item.EnteringTerm?.ToShortDateString()</span>
                                            <br>
                                            <br>
                                        }

                                    </span>
                                </td>
                                @*Условия оплаты: Аванс - Оплата*@
                                <td>
                                    <span class="table_span-conditions">
                                        <a asp-action="GetByContractId" asp-controller="Prepayments" asp-route-contractId="@item?.Id">
                                            @item?.PaymentСonditionsAvans
                                        </a>
                                        <br />
                                        <br />
                                        <a asp-action="GetByContractId" asp-controller="Payments" asp-route-contractId="@item.Id">
                                            @item?.PaymentСonditionsRaschet@*  Оплата *@
                                        </a>
                                    </span>
                                </td>
                                @*Валюта*@
                                <td>
                                    <span class="table_span-currency">
                                        @item.Сurrency
                                    </span>
                                </td>

                                @*Условия формирования договорной цены*@
                                @if (isEngineering)
                                {
                                    <td>
                                        <span class="table_span-work">
                                            @item.PaymentСonditionsPrice
                                        </span>
                                    </td>
                                }
                                @*Виды работ по договору*@
                                @if (!isEngineering)
                                {
                                    <td>
                                        <span class="table_span-work">
                                            @* @TypeWork?.Find(x => x.TypeWorkContracts?.FirstOrDefault()?.ContractId == item?.Id)?.FirstOrDefault()?.Name *@
                                            @TypeWork?.GetByContractId((int)item?.Id)?.Name
                                        </span>
                                    </td>
                                }
                                @*Контрактная цена*@
                                <td class="text-end">
                                    <span class="table_span-contractprice">
                                        @item.ContractPrice?.ToString("N2")
                                    </span>
                                </td>
                                @*Выполнено на начало года*@
                                <td class="text-end">
                                    <span class="table_span-realization">
                                        @item.PreYearSum?.ToString("N2")
                                        @* @sumPreviusYear?.ToString("N2") *@
                                    </span>
                                </td>
                                @*Остаток*@
                                <td class="text-end">
                                    <span class="table_span-remains">
                                        @item.RemainingSum?.ToString("N2")
                                    </span>
                                </td>
                                @*Объем*@
                                <td>
                                    <span class="table_span-volume">@item.ThisYearSum?.ToString("N2")</span>
                                </td>
                                @*Действия с договором*@
                                <td>
                                    <span class="table_span-action-main">
                                        <div class="icon view" title="Просмотр детальной информации по договору">
                                            <a asp-action="Details" asp-route-id="@item.Id"></a>
                                        </div>
                                        <div class="icon estimate" title="Сметы">
                                            <a asp-action="Index" asp-controller="Estimate" asp-route-contractId="@item.Id"></a>
                                        </div>
                                        @if (permissions is not null && permissions.IsEditor && isGRP_Contract)
                                        {
                                            <div class="icon edit" title="Редактировать договор">
                                                <a asp-action="Edit" asp-route-id="@item.Id"></a>
                                            </div>
                                        }
                                        @if (permissions is not null && permissions.IsDeleter && isGRP_Contract)
                                        {
                                            <div class="icon delete" title="Удалить договор">
                                                <a asp-action="Delete" asp-route-id="@item.Id"></a>
                                            </div>
                                        }
                                        @if (ViewBag?.IsMajorOrganization && isGRP_Contract)
                                        {
                                            <div class="icon transfer" title="Передать договор филиалу">
                                                <a asp-action="ChangeOwner" asp-route-id="@item.Id"></a>
                                            </div>
                                        }
                                        @if (!item.IsArchive && isGRP_Contract)
                                        {
                                            <div class="icon archive" title="Переместить в архив">
                                                <a asp-action="ChangeStatus" asp-route-status="archive" asp-route-contrId="@item.Id"></a>
                                            </div>
                                        }
                                        @if (item.IsExpired && isGRP_Contract)
                                        {
                                            <div class="icon expired" title="Договор просрочен">
                                                <div></div>
                                            </div>
                                        }
                                        @if (item.IsClosed && isGRP_Contract)
                                        {
                                            <div class="icon closed" title="Договор закрыт, ожидается акта ввода">
                                                <div></div>
                                            </div>
                                        }
                                        @if (!item.IsExpired && !item.IsClosed && isGRP_Contract)
                                        {
                                            <div class="icon expired warning_icon" title="Договор просрочен">
                                                <a asp-action="ChangeStatus" asp-route-status="expired" asp-route-contrId="@item.Id"></a>
                                            </div>
                                            <div class="icon closed warning_icon" title="Договор закрыт, ожидается акта ввода">
                                                <a asp-action="ChangeStatus" asp-route-status="closed" asp-route-contrId="@item.Id"></a>
                                            </div>
                                        }
                                    </span>
                                </td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                @*Номер и дата договора*@
                                <td>
                                    <span class="table_span-numberanddate">
                                        <a asp-action="Details" asp-route-id="@item.Id">
                                            @item.Number от
                                            @item.Date?.ToShortDateString()
                                        </a>
                                    </span>

                                </td>

                                @*Наименование объекта*@
                                <td>
                                    <span class="table_span-nameobject">
                                        @item.NameObject
                                    </span>
                                </td>
                                @*Заказчик*@
                                <td>
                                    <span class="table_span-customer">
                                        @item.Client
                                    </span>
                                </td>
                                @*Генподрядчик*@
                                @if (isEngineering != true)
                                {
                                    <td>
                                        <div>
                                            <span class="table_span-contractor">
                                                @item.GenContractor
                                            </span>
                                        </div>
                                        <div>
                                            <span class="table_span-contractor">
                                                @if (item.ResponsibleForWork is not null)
                                                {
                                                    <hr />
                                                    <span>Ответственный за производство работ:</span>
                                                    <br />
                                                }
                                                @item.ResponsibleForWork
                                            </span>
                                        </div>
                                    </td>
                                }
                                @*Сроки: выполнения работ - ввода *@
                                <td>
                                    <span class="table_span-deadlines">
                                        @if (@item.DateBeginWork?.ToShortDateString() is not null || @item.DateEndWork?.ToShortDateString() is not null)
                                        {
                                            <b>выполнения работ:</b>

                                            <br>
                                            <span>@item.DateBeginWork?.ToShortDateString() -  @item.DateEndWork?.ToShortDateString()</span>

                                            <br>
                                        }
                                        @if (@item.EnteringTerm?.ToShortDateString() is not null)
                                        {
                                            <b>ввода:</b>
                                            <span>@item.EnteringTerm?.ToShortDateString()</span>
                                            <br>
                                            <br>
                                        }

                                    </span>
                                </td>
                                @*Условия оплаты: Аванс - Оплата*@
                                <td>
                                    <span class="table_span-conditions">
                                        <a asp-action="GetByContractId" asp-controller="Prepayments" asp-route-contractId="@item?.Id">
                                            @item?.PaymentСonditionsAvans
                                        </a>
                                        <br />
                                        <br />
                                        <a asp-action="GetByContractId" asp-controller="Payments" asp-route-contractId="@item.Id">
                                            @item?.PaymentСonditionsRaschet@*  Оплата *@
                                        </a>
                                    </span>
                                </td>
                                @*Валюта*@
                                <td>
                                    <span class="table_span-currency">
                                        @item.Сurrency
                                    </span>
                                </td>

                                @*Условия формирования договорной цены*@
                                @if (isEngineering)
                                {
                                    <td>
                                        <span class="table_span-work">
                                            @item.PaymentСonditionsPrice
                                        </span>
                                    </td>
                                }
                                @*Виды работ по договору*@
                                @if (!isEngineering)
                                {
                                    <td>
                                        <span class="table_span-work">
                                            @* @TypeWork?.Find(x => x.TypeWorkContracts?.FirstOrDefault()?.ContractId == item?.Id)?.FirstOrDefault()?.Name *@
                                            @TypeWork?.GetByContractId((int)item?.Id)?.Name
                                        </span>
                                    </td>
                                }
                                @*Контрактная цена*@
                                <td class="text-end">
                                    <span class="table_span-contractprice">
                                        @item.ContractPrice?.ToString("N2")
                                    </span>
                                </td>
                                @*Выполнено на начало года*@
                                <td class="text-end">
                                    <span class="table_span-realization">
                                        @item.PreYearSum?.ToString("N2")
                                    </span>
                                </td>
                                @*Остаток*@
                                <td class="text-end">
                                    <span class="table_span-remains">
                                        @item.RemainingSum?.ToString("N2")
                                    </span>
                                </td>
                                @*Объем*@
                                <td>
                                    <span class="table_span-volume">@item.ThisYearSum?.ToString("N2")</span>
                                </td>
                                @*Действия с договором*@
                                <td>
                                    <span class="table_span-action-main">
                                        <div class="icon view" title="Просмотр детальной информации по договору">
                                            <a asp-action="Details" asp-route-id="@item.Id"></a>
                                        </div>
                                        <div class="icon estimate" title="Сметы">
                                            <a asp-action="Index" asp-controller="Estimate" asp-route-contractId="@item.Id"></a>
                                        </div>
                                        @if (permissions is not null && permissions.IsEditor && isGRP_Contract)
                                        {
                                            <div class="icon edit" title="Редактировать договор">
                                                <a asp-action="Edit" asp-route-id="@item.Id"></a>
                                            </div>
                                        }
                                        @if (permissions is not null && (permissions.IsDeleter || permissions.IsAdmin) && isGRP_Contract)
                                        {
                                            <div class="icon delete" title="Удалить договор">
                                                <a asp-action="Delete" asp-route-id="@item.Id"></a>
                                            </div>
                                        }
                                        @if (ViewBag?.IsMajorOrganization && isGRP_Contract)
                                        {
                                            @if (permissions is not null && permissions.IsAdmin)
                                            {
                                                <div class="icon transfer" title="Передать договор филиалу">
                                                    <a asp-action="ChangeOwner" asp-route-contrId="@item.Id"></a>
                                                </div>
                                            }
                                        }
                                    </span>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
    <nav aria-label="Page navigation example" style="margin-top:10px;">
        <div class="color_label">
            <div class="p-3 mb-2 bg-secondary text-white square overdue"></div>
            <label class="label_postion"> - Просроченные</label>
        </div>
        <ul class="pagination justify-content-center">
            <li class="page-item previous_btn">
                @{
                    @if (Model.PageViewModel.PageNumber > 1)
                    {
                        <a class="page-link" asp-action="Index"
                           asp-route-pageNum="@(Model.PageViewModel.PageNumber - 1)"
                           asp-route-sortOrder="@ViewData["CurrentSort"]"
                           asp-route-currentFilter="@ViewData["CurrentFilter"]"
                           asp-route-currentType="@ViewData["CurrentType"]">
                            &lt;
                        </a>
                    }
                    @if (Model.PageViewModel.PageNumber <= 1)
                    {
                        <a class="page-link" asp-action="Index"
                           asp-route-pageNum="@(Model.PageViewModel.PageNumber - 1)"
                           asp-route-sortOrder="@ViewData["CurrentSort"]"
                           asp-route-currentFilter="@ViewData["CurrentFilter"]"
                           asp-route-currentType="@ViewData["CurrentType"]"
                           tabindex="-1" aria-disabled="true">
                            &lt;
                        </a>
                    }
                }

            </li>
            @{
                int counter = 1;
                int index = Model.PageViewModel.PageNumber <= 5 ? 1 : Model.PageViewModel.PageNumber;
                for (int i = index; i <= Model.PageViewModel.TotalPages; i++)
                {
                    <li class="page-item pag_btn_num">
                        <a class="page-link " asp-action="Index"
                           asp-route-pageNum="@i"
                           asp-route-sortOrder="@ViewData["CurrentSort"]"
                           asp-route-currentFilter="@ViewData["CurrentFilter"]"
                           value="@i">@i</a>
                    </li>
                    if (counter == 5)
                    {
                        counter = 1;
                        break;
                    }
                }
            }

            <li class="page-item next_btn">
                @{
                    @if (Model.PageViewModel.PageNumber <= Model.PageViewModel.TotalPages)
                    {
                        <a class="page-link" asp-action="Index"
                           asp-route-pageNum="@(Model.PageViewModel.PageNumber + 1)"
                           asp-route-sortOrder="@ViewData["CurrentSort"]"
                           asp-route-currentFilter="@ViewData["CurrentFilter"]"
                           asp-route-currentType="@ViewData["CurrentType"]">
                            &gt;
                        </a>
                    }
                    else
                    {
                        <a class="page-link" asp-action="Index"
                           asp-route-pageNum="@(Model.PageViewModel.PageNumber + 1)"
                           asp-route-sortOrder="@ViewData["CurrentSort"]"
                           asp-route-currentFilter="@ViewData["CurrentFilter"]"
                           asp-route-currentType="@ViewData["CurrentType"]"
                           aria-disabled="true">
                            &gt;
                        </a>
                    }
                }
            </li>
        </ul>
    </nav>
}

@section Scripts {
    <script type="text/javascript">

        class ArrayFun {

            constructor(url, element, urlDown, urlUp) {
                this.url = url;
                this.element = element;
                this.urlDoun = urlDown;
                this.urlUp = urlUp;
            }
        }
        window.onload = function () {

            let actualUrl = window.location.search;
            let elementArrayNumberanddate = document.getElementById("arrayNumberanddate");
            let elementArrayNameObject = document.getElementById("arrayNameObject");
            let elementArrayCustomer = document.getElementById("arrayCustomer");
            let elementArrayGeneralContractor = document.getElementById("arrayGeneralContractor");
            let elementArrayTerms = document.getElementById("arrayTerms");

            if (actualUrl.includes('sortOrder=numberDesc')) {
                elementArrayNumberanddate.classList.remove("up")
                elementArrayNumberanddate.classList.add("up-down-active")
                elementArrayNumberanddate.classList.add('down')
            } else if (actualUrl.includes('sortOrder=number')) {
                elementArrayNumberanddate.classList.add("up-down-active")
            } else
                if (actualUrl.includes('sortOrder=nameObjectDesc')) {
                    elementArrayNameObject.classList.remove("up")
                    elementArrayNameObject.classList.add("up-down-active")
                    elementArrayNameObject.classList.add('down')
                } else if (actualUrl.includes('sortOrder=nameObject')) {
                    elementArrayNameObject.classList.add('up-down-active')
                }
                else
                    if (actualUrl.includes('sortOrder=clientDesc')) {
                        elementArrayCustomer.classList.remove("up")
                        elementArrayCustomer.classList.add("up-down-active")
                        elementArrayCustomer.classList.add('down')
                    } else if (actualUrl.includes('sortOrder=client')) {
                        elementArrayCustomer.classList.add('up-down-active')
                    }
                    else
                        if (actualUrl.includes('sortOrder=genContractorDesc')) {
                            elementArrayGeneralContractor.classList.remove("up")
                            elementArrayGeneralContractor.classList.add("up-down-active")
                            elementArrayGeneralContractor.classList.add('down')
                        } else if (actualUrl.includes('sortOrder=genContractor')) {
                            elementArrayGeneralContractor.classList.add('up-down-active')
                        } else
                            if (actualUrl.includes('sortOrder=dateEnterDesc')) {
                                elementArrayTerms.classList.remove("up")
                                elementArrayTerms.classList.add("up-down-active")
                                elementArrayTerms.classList.add('down')
                            } else if (actualUrl.includes('sortOrder=dateEnter')) {
                                elementArrayTerms.classList.add('up-down-active')
                            }
        };

        ////// Pagination
        paginationFunc(@Model.PageViewModel.PageNumber, @Model.PageViewModel.TotalPages);
        //////ENd pagination

        ///// вызываем PARTIAL VIEW для создания новой организации
        $("#addOrganization").click(function (e) {
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("AddOrganization", "Contracts")',
                dataType: 'html',
                data: $("#MainForm").serialize(),
                success: (function (result) {
                    $('#dialogContent').html(result);
                    $('#modDialog').modal('show');
                })
            });

        });

        ///// вызываем PARTIAL VIEW для добовления нового сотрудника

        $("#addEmployee").click(function (e) {
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("AddEmployee", "Contracts")',
                dataType: 'html',
                data: $("#MainForm").serialize(),
                success: (function (result) {
                    $('#dialogContent2').html(result);
                    $('#modDialog2').modal('show');
                })
            });

        });

        $("#addTypeWork").click(function (e) {
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("AddTypeWork", "Contracts")',
                dataType: 'html',
                data: $("#MainForm").serialize(),
                success: (function (result) {
                    $('#dialogContent3').html(result);
                    $('#modDialog3').modal('show');
                })
            });

        });

        $('.search_btn').click(function (elem) {
            closeModalForms();
            const parent = elem.target.parentElement;
            const child = document.createElement('div');
            const page = $('#pageNumber').val();
            const type = elem.target.dataset.contentSearch;
            var value = "";
            var currentType = '@ViewBag.CurrentType';           
            if (currentType != "none" && type == currentType)
                value = "@ViewBag.CurrentFilter";
            child.classList.add('modal_form_searching');
            child.innerHTML = `<form asp-action="@actionMethod" asp-controller="Contracts" method="GET" class="form_search">
                                                                          <input name="typeSearch" value="${type}"  hidden />
                                                                          <input type="text" value="${value}" class="form-control" name="searchString" aria-describedby="button-addon2">
                                                                  <div class="input-group">
                                                                       <button class="col-5 btn btn-secondary" type="button" onclick="return removeParent('.modal_form_searching');" style="padding: 0;height: 30px;font-size: 0.9rem;font-weight: 600;">Закрыть</button>
                                                                       <button class="col-7 btn btn-primary" type="submit" id="button-addon2" style="padding: 0;height: 30px;font-size: 0.9rem;font-weight: 600;">Поиск</button>
                                                                  </div>
                                                        </form>`;
            parent.appendChild(child);
        });
        function removeParent(elem) {
            const p = $(elem);
            p.remove();
        }
        function closeModalForms() {
            let modal = document.querySelectorAll('.modal_form_searching');
            modal.forEach((e) => {

                e.remove();
            })
        }
    </script>
}