@using BusinessLayer.Models;
@model BusinessLayer.Models.IndexViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Список договоров</h1>

<p>
    <a asp-action="Create">Новый договор</a>
</p>

<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog modal-dialog-centered" role="document"></div>
</div>
@* <div id="modDialog2" class="modal fade">
    <div id="dialogContent2" class="modal-dialog modal-dialog-centered" role="document"></div>
</div>
<div id="modDialog3" class="modal fade">
    <div id="dialogContent3" class="modal-dialog modal-dialog-centered" role="document"></div>
</div> *@

<table class="table table-striped table-bordered" id="contractTable">
    <thead>
        <tr>
            <th>
                Процедура выбора
            </th>
            <th>
                Подписант договора, лицо ответственное за ведение договора
            </th>
            <th>
                Номер и дата договора
            </th>
            <th>
                Наименование объекта
            </th>
            <th>
                Источник финансирования
            </th>
            <th>
                Заказчик
            </th>
            <th>
                Генподрядчик
            </th>
            <th>
                Субподрядчик
            </th>
            <th>
                Cроки
            </th>
            @*  <th>
            Cроки выполнения работ
            </th>
            <th>
            Срок ввода
            </th>
            <th>
            Срок действия договора по взаиморасчетам
            </th> *@
            @*  <th>
            Акты приостановки возобновления работ
            </th> *@
            <th>
                Условия оплаты, без авансов тек. % цел.% отсрочка/в течение
            </th>
            <th>
                Услуги генподряда (для договоров субподряда)
            </th>
            <th>
                Материалы по факту или сметной стоимости согласно договору
            </th>

            <th>
                Валюта расчетов
            </th>
            @*  <th>
            Акт ввода
            </th>
            <th>
            Переписка
            </th>
            <th>
            ПСД
            </th> *@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (VContractDTO item in Model.Objects)
        {
            <tr>
                <td>
                    @item.ProcedureName
                </td>
                <td>
                    @item.SignatoryEmp
                    <br>
                    @item.ResponsibleEmp
                </td>
                <td>
                    @item.Number от
                    @item.Date?.ToShortDateString()
                    @Html.ActionLink("Изменения к договору","GetAmendments","Contracts",item.Id)
                </td>
                <td>
                    @item.NameObject
                </td>
                <td>
                    @item.FundingSource
                </td>
                <td>
                    @item.Client
                </td>
                <td>
                    @item.GenContractor
                </td>
                <td>
                    @*СУБПОДРЯДЧИК*@
                </td>
                <td>
                    выполнения работ:<br>
                    @item.DateBeginWork?.ToShortDateString() -  @item.DateEndWork?.ToShortDateString()
                    ввода:<br>
                    @item.EnteringTerm?.ToShortDateString()
                    действия договора по взаиморасчетам:<br>
                    @item.ContractTerm?.ToShortDateString()
                </td>
                @* <td>
            @item.DateBeginWork?.ToShortDateString()
            @item.DateEndWork?.ToShortDateString()
            </td>
            <td>
            @item.EnteringTerm?.ToShortDateString()
            </td>
            <td>
            @item.ContractTerm?.ToShortDateString()
            </td> *@
                @*  <td>
            @Html.ActionLink("Акты P4","","")
            </td> *@
                <td>
                    @Html.DisplayFor(modelItem => item.PaymentСonditionsAvans)
                    @Html.ActionLink("Авансирование P11","","")

                    @Html.DisplayFor(modelItem => item.PaymentСonditionsRaschet)
                    @Html.ActionLink("Расчет P7","","")
                </td>
                <td>
                    @Html.ActionLink("Услуги генподрядчика P13","","")
                </td>
                <td>
                    @Html.ActionLink("Материалы P15","","")
                </td>
                <td>
                    @item.Сurrency
                </td>
                @* <td>
            @Html.ActionLink("Акты ввода P**","","")
            </td>
            <td>
            @Html.ActionLink("Переписка P16","","")
            </td>
            <td>
            @Html.ActionLink("ПСД P17","","")
            </td>    *@
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>|
                    <a asp-action="" asp-route-id="@item.Id">Акт ввода</a> |
                    <a asp-action="" asp-route-id="@item.Id">Акты приостановки/возобновления</a> |
                    <a asp-action="" asp-route-id="@item.Id">Переписка</a> |
                    <a asp-action="" asp-route-id="@item.Id">ПСД</a> |
                    <a asp-action="CreateSub" asp-route-id="@item.Id" asp-route-nameObject="@item.NameObject">Добавить субподрядный договор</a>
                    <a asp-action="ChoosePeriod" asp-controller="ScopeWorks" asp-route-contractId="@item.Id">Добавить объем работ</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="pages">
    <div class="npPage page-items">
        <a class="@(!Model.PageViewModel.HasPreviousPage ? "disabled" : "")" asp-action="Index" asp-route-pageNum="@(Model.PageViewModel.PageNumber - 1)">&lt;</a>
    </div>
    <div class="page-items">
        Cтраница: @Model.PageViewModel.PageNumber / @Model.PageViewModel.TotalPages
    </div>
    <div class="npPage page-items">
        <a class="@(!Model.PageViewModel.HasNextPage ? "disabled" : "")" asp-action="Index" asp-route-pageNum="@(Model.PageViewModel.PageNumber + 1)">&gt;</a>
    </div>
</div>
@section Scripts {
<script type="text/javascript">
        ///// вызываем PARTIAL VIEW для создания новой организации
        $("#addOrganization").click(function (e) {
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("AddOrganization","Contracts")',
                dataType: 'html',
                data: $("#MainForm").serialize(),
                success: (function (result) {
                    $('#dialogContent').html(result);
                    $('#modDialog').modal('show');
                })
            });

        });

        ///// вызываем PARTIAL VIEW для добовления нового сотрудника

        $("#addEmployee").click(function (e) {
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("AddEmployee","Contracts")',
                dataType: 'html',
                data: $("#MainForm").serialize(),
                success: (function (result) {
                    $('#dialogContent2').html(result);
                    $('#modDialog2').modal('show');
                })
            });

        });

        $("#addTypeWork").click(function (e) {
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("AddTypeWork","Contracts")',
                dataType: 'html',
                data: $("#MainForm").serialize(),
                success: (function (result) {
                    $('#dialogContent3').html(result);
                    $('#modDialog3').modal('show');
                })
            });

        });
</script>
}