@model MvcLayer.Models.FormViewModel
@inject BusinessLayer.Interfaces.ContractInterfaces.IContractService Contract
@{
    ViewData["Title"] = "Создать справку о стоимости выполненных работ формы С-3а";
}

<div class="dm-overlay">
    <div class="dm-table">
        <div class="dm-cell">
            <div class="dm-modal" style="width:850px;">
                <div class="top-modal-block">
                    <label class="my-modal-title">@ViewData["Title"]</label>
                    @if (Model?.ContractId != null && Model?.ContractId > 0)
                    {
                        <a asp-controller="Contracts" asp-action="Details" asp-route-id="@Model?.ContractId" class="close-btn"></a>
                    }
                    @if (Model?.ContractId == null || Model?.ContractId == 0)
                    {
                        <a asp-controller="Contracts" asp-action="" class="close-btn"></a>
                    }
                </div>
                <hr class="modal-line">
                <form asp-action="Create" method="post" class="row" enctype="multipart/form-data">
                    <input asp-for="ContractId" value="@Model.ContractId" hidden />
                    <input asp-for="IsOwnForces" value="@Model.IsOwnForces" hidden />
                    <input asp-for="Period" type="datetime" value="@Model.Period" hidden />

                    <div class="form-group col-6">
                        <label asp-for="Period" class="control-label"></label>
                        <input type="text" value="@Model.Period?.ToShortDateString()" class="form-control" disabled />
                    </div>
                    <div class="form-group col-6">
                        <label asp-for="DateSigning" class="control-label"></label>
                        <input asp-for="DateSigning" type="datetime" class="form-control datepickers" />
                        <span asp-validation-for="DateSigning" class="text-danger"></span>
                    </div>
                    @* <div class="form-group col-6">
                        <label asp-for="TotalCost" class="control-label"></label>
                        <input asp-for="TotalCost" class="form-control" />
                        <span asp-validation-for="TotalCost" class="text-danger"></span>
                    </div> *@
                    <div class="form-group col-6">
                        <label asp-for="SmrCost" class="control-label"></label>
                        <input asp-for="SmrCost" class="form-control" />
                        <span asp-validation-for="SmrCost" class="text-danger"></span>
                    </div>
                    <div class="form-group col-6">
                        <label asp-for="PnrCost" class="control-label"></label>
                        <input asp-for="PnrCost" class="form-control" />
                        <span asp-validation-for="PnrCost" class="text-danger"></span>
                    </div>
                    <div class="form-group col-6">
                        <label asp-for="EquipmentCost" class="control-label"></label>
                        <input asp-for="EquipmentCost" class="form-control" />
                        <span asp-validation-for="EquipmentCost" class="text-danger"></span>
                    </div>
                    <div class="form-group col-6">
                        <label asp-for="OtherExpensesCost" class="control-label"></label>
                        <input asp-for="OtherExpensesCost" class="form-control" />
                        <span asp-validation-for="OtherExpensesCost" class="text-danger"></span>
                    </div>
                    <div class="form-group col-6">
                        <label asp-for="AdditionalCost" class="control-label"></label>
                        <input asp-for="AdditionalCost" class="form-control" />
                        <span asp-validation-for="AdditionalCost" class="text-danger"></span>
                    </div>
                    <div class="form-group col-6">
                        <label asp-for="MaterialCost" class="control-label"></label>
                        <input asp-for="MaterialCost" class="form-control" />
                        <span asp-validation-for="MaterialCost" class="text-danger"></span>
                    </div>
                    <div class="form-group col-6">
                        <label asp-for="GenServiceCost" class="control-label"></label>
                        <input asp-for="GenServiceCost" class="form-control" />
                        <span asp-validation-for="GenServiceCost" class="text-danger"></span>
                    </div>
                    <div class="form-group col-6">
                        <label asp-for="FilesEntity" class="control-label">Файл</label>
                        <input asp-for="FilesEntity" type="file" class="form-control" />
                        <span asp-validation-for="FilesEntity" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-3 col-8">
                        <a class="btn btn-success" asp-controller="Contracts" asp-action="Details" asp-route-id="@Model.ContractId">Вернуться назад</a>
                        <input type="submit" value="Добавить" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>