@using BusinessLayer.Enums;
@using BusinessLayer.Models;
@model IEnumerable<MvcLayer.Models.FormViewModel>
@inject BusinessLayer.Interfaces.ContractInterfaces.IContractService Contract
@inject BusinessLayer.Interfaces.ContractInterfaces.IFileService Files

@{
    ViewData["Title"] = string.Empty;
    var id = ViewBag.contractId;
    int backId = 0;
    if ((int)ViewData["returnContractId"] == 0)
        backId = (int)ViewData["contractId"];
    else backId = (int)ViewData["returnContractId"];
    bool isAdmin = true;
    string redirectAction = "GetByContractId";
    string redirectController = "Forms";
    var actionName = ViewBag.IsEngineering == false ? "" : "Engineerings";

    if (id is not null)
    {
        var number = Contract.GetById((int)id).Number;
        ViewData["Title"] = ViewBag.IsEngineering == false ? 
        $"Фактическое выполнение работ (услуг) согласно справкам о стоимости выполненных работ формы С-3а, договору № {number}":
        $"Акты оказанных услуг согласно договору № {number}";
    }
    

   
}

<div class="dm-overlay">
    <div class="dm-table">
        <div class="dm-cell">
            <div class="dm-modal">
                <div class="top-modal-block">
                    <label class="my-modal-title">@ViewData["Title"]</label>
                    @if (backId != null && backId > 0)
                    {
                        <a asp-controller="Contracts" asp-action="Details" asp-route-id="@backId" class="close-btn"></a>
                    }
                    @if (backId == null || backId == 0)
                    {
                        <a asp-controller="Contracts" asp-action="@actionName" class="close-btn"></a>
                    }
                </div>
                <hr class="modal-line">
                <div class="modal-overflow-70">
                    <table class="table table-striped table-bordered">
                        <thead class="custom-thead">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Period)                                   
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DateSigning)
                                </th>
                                @if (ViewBag.IsEngin == null)
                                {
                                    <th>
                                        @Html.DisplayNameFor(model => model.TotalCost)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.SmrCost)
                                    </th>
                                    <th >
                                        @Html.DisplayNameFor(model => model.PnrCost)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.EquipmentCost)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.OtherExpensesCost)
                                    </th>
                                }
                                else
                                {
                                    <th>
                                        Объем работ
                                    </th>
                                }
                                <th>Файлы справок</th>
                                <th ></th>
                            </tr>                            
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>                                        
                                        @item.Period?.ToString("MMMM-yyyy")
                                    </td>
                                    <td>                                        
                                        @item.DateSigning?.ToShortDateString()
                                    </td>
                                    @if (ViewBag.IsEngin == null)
                                    {
                                        <td class="text-end">
                                            @item.TotalCost?.ToString("N2")
                                        </td>
                                        <td class="text-end">
                                            @item.SmrCost?.ToString("N2")
                                        </td>
                                        <td class="text-end">
                                            @item.PnrCost?.ToString("N2")
                                        </td>
                                        <td class="text-end">
                                            @item.EquipmentCost?.ToString("N2")
                                        </td>
                                        <td class="text-end">
                                            @item.OtherExpensesCost?.ToString("N2")
                                        </td>
                                    }
                                    else
                                    {
                                        <td class="text-end">
                                            @item.TotalCost?.ToString("N2")
                                        </td>
                                    }
                                    <td>
                                        @foreach (FileDTO item2 in Files.GetFilesOfEntity(item.Id, FolderEnum.Form3C))
                                        {
                                            <div>
                                                <a href="~/Files/GetFile?id=@item2.Id" target="_blank">@item2.FileName</a>
                                                @if (isAdmin)
                                                {
                                                    @Html.ActionLink("×", "Delete", "Files", new {id = item2.Id, redirectAction = redirectAction, redirectController = redirectController, contractId = item.ContractId}, new { @class = "del-btn", @onclick = "return confirmDelete();"})
                                                }
                                            </div>
                                        }
                                    </td>
                                    <td>                                       
                                        <span class="icon file-add" title="Добавить файл к форме">
                                            <a asp-action="AddFile" asp-controller="Files" asp-route-entityId="@item.Id" asp-route-fileCategory="@FolderEnum.Form3C" asp-route-redirectAction=@redirectAction asp-route-redirectController=@redirectController asp-route-contractId="@item.ContractId" asp-route-returnContractId="@ViewBag.returnContractId"></a>
                                        </span>
                                        <span class="icon edit" title="Редактировать форму">
                                            <a asp-action="Edit" asp-route-id="@item.Id" asp-route-contractId="@item.ContractId" asp-route-returnContractId="@ViewBag.returnContractId"></a>
                                        </span>
                                        <span class="icon delete" title="Удалить форму">
                                            <a asp-action="Delete" asp-route-id="@item.Id" asp-route-contractId="@item.ContractId"></a>
                                        </span>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>  