@model IEnumerable<MvcLayer.Models.FormViewModel>
@inject BusinessLayer.Interfaces.ContractInterfaces.IContractService Contract

@{
    ViewData["Title"] = string.Empty;
    var id = Model.FirstOrDefault()?.ContractId;
    if (id is not null)
    {
        var number = Contract.GetById((int)id).Number;
        ViewData["Title"] = $"Фактическое выполнение работ (услуг) согласно справкам о стоимости выполненных работ формы С-3а, договора № {number}";
    }
    else
    {
        string url = Context.Request.HttpContext.Request.QueryString.Value;
        //TODO: пересмотреть все VIEW чтобы такого не было как ниже!!!!!!!!!!!!!!!!
        id = int.Parse(url.Substring(url.LastIndexOf("=") + 1));
    }
}

<h1> @ViewData["Title"]</h1>
<div class="table-responsive">
    <table class="table">
        @* <thead class="k-text-align-center k-vertical-align-center table-bordered table-sm">
        *@
        <tr>
            <th>
                <span class="table_span-contractprice">Период</span>
            </th>
            @foreach (var item in Model)
            {
                <td><span class="table_span-contractprice">@item.Period?.ToString("MMM yyyy")</span></td>
            }
        </tr>
        <tr>
            <th>
                <span class="table_span-remains">Дата подписания</span>
            </th>
            @foreach (var item in Model)
            {
                <td><span class="table_span-remains">@item.DateSigning?.ToString("dd MMM yyyy")</span></td>
            }
        </tr>
        <tr>
            <th>
                <span class="table_span-volume">Общая стоимость выполненных работ</span>
            </th>
            @foreach (var item in Model)
            {
                <td><span class="table_span-volume">@item.TotalCost</span></td>
            }
        </tr>
        <tr>
            <th>
                <span class="table_span-volume">Стоимость СМР</span>
            </th>
            @foreach (var item in Model)
            {
                <td><span class="table_span-volume">@item.SmrCost</span></td>
            }
        </tr>
        <tr>
            <th>
                <span class="table_span-volume">Стоимость ПНР</span>
            </th>
            @foreach (var item in Model)
            {
                <td><span class="table_span-volume">@item.PnrCost</span></td>
            }
        </tr>
        <tr>
            <th>
                <span class="table_span-volume">Стоимость оборудования</span>
            </th>
            @foreach (var item in Model)
            {
                <td><span class="table_span-volume">@item.EquipmentCost</span></td>
            }
        </tr>
        <tr>
            <th>
                <span class="table_span-volume">Стоимость прочих работ</span>
            </th>
            @foreach (var item in Model)
            {
                <td><span class="table_span-volume">@item.AdditionalCost</span></td>
            }
        </tr>
        <tr>
            <th>
                <span class="table_span-volume">Файл</span>
            </th>
            @foreach (var item in Model)
            {
                <td><span class="table_span-volume"></span></td>
            }
        </tr>
    </table>
    <div>
        <a class="btn btn-success" asp-controller="Contracts" asp-action="Details" asp-route-id="@id">Вернуться назад</a>
    </div>
</div>