@using BusinessLayer.Enums;
@using BusinessLayer.Models;
@model IEnumerable<MvcLayer.Models.FormViewModel>
@inject BusinessLayer.Interfaces.ContractInterfaces.IContractService Contract
@inject BusinessLayer.Interfaces.ContractInterfaces.IFileService Files
@inject BusinessLayer.Interfaces.ContractInterfaces.IFormService Form
@inject BusinessLayer.Interfaces.ContractInterfaces.IOrganizationService Organization

@{

    ViewData["Title"] = string.Empty;
    var id = ViewBag.contractId;
    int backId = 0;
    if ((int)ViewData["returnContractId"] == 0)
        backId = (int)ViewData["contractId"];
    else backId = (int)ViewData["returnContractId"];
    
    if (id is not null)
    {
        var number = Contract.GetById((int)id).Number;
        ViewData["Title"] = ViewBag.IsEngineering == false ?
        $"Фактическое выполнение работ (услуг) согласно справкам о стоимости выполненных работ формы С-3а, договору № {number}" :
        $"Акты оказанных услуг согласно договору № {number}";
    }
    bool isAdmin = true;
    string redirectAction = "GetByContractId";
    string redirectController = "Forms";
    var actionName = ViewBag.IsEngineering == false ? "" : "Engineerings";
    var otherPayment = 0M;
    var days = Contract.GetDayOfRaschet(id) is not null ? Contract.GetDayOfRaschet(id) : 0;

    var smrSum = 0M;
    var pnrSum = 0M;
    var addSum = 0M;
    var eqpSum = 0M;
    var offsetTPrepSum = 0M;
    var offsetCPrepSum = 0M;
    var mtrlSum = 0M;
    var genSerSum = 0M;
    var otherSum = 0M;
    var otherSubSum = 0M;
}

<style>
    .col-tog,
    .col-tog-av {
        display: none;
        scroll-behavior: smooth;
        transition: all 0.5s;
    }
    .show-col {
        display: table-cell;
        scroll-behavior: smooth;
        transition: all 0.5s;
        color: mediumblue;
    }

    #tab-c3a {
        overflow-wrap: break-word;
    }

    #tab-c3a button { 
        color: mediumblue;
    }
  
</style>

<div class="dm-overlay">
    <div class="dm-table">
        <div class="dm-cell">
            <div class="dm-modal" >
                <div class="top-modal-block">
                    <label class="my-modal-title">@ViewData["Title"]</label>
                    @if (backId != null && backId > 0)
                    {
                        <a asp-controller="Contracts" asp-action="Details" asp-route-id="@backId" class="close-btn"></a>
                    }
                    @if (backId == null || backId == 0)
                    {
                        <a asp-controller="Contracts" asp-action="@actionName" class="close-btn"></a>
                    }
                </div>
                <hr class="modal-line">
                <div class="modal-overflow-90">
                    <table id="tab-c3a" class="table table-striped table-bordered">
                        <thead class="">
                            @if (ViewBag.IsEngin == null)
                            {
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Period)
                                    </th>
                                    <th >
                                        @Html.DisplayNameFor(model => model.DateSigning)
                                    </th>
                                    <th >
                                        Дата оплаты по договору
                                    </th>
                                    <th >
                                        @Html.DisplayNameFor(model => model.TotalCost)
                                        <button class="totalW">*</button>
                                    </th>
                                    @* <th colspan="3">в т.ч.</th> *@
                                    <th  class="col-tog">
                                        @Html.DisplayNameFor(model => model.SmrCost)
                                    </th>
                                    <th  class="col-tog">
                                        @Html.DisplayNameFor(model => model.PnrCost)
                                    </th>
                                    <th  class="col-tog">
                                        @Html.DisplayNameFor(model => model.AdditionalCost)
                                    </th>
                                    <th >
                                        @Html.DisplayNameFor(model => model.EquipmentCost)
                                    </th>
                                    @* <th colspan="2">Авансы удержанные</th> *@
                                    <th >
                                        Удержания
                                        <button class="totalA">*</button>
                                    </th>
                                    <th  class="col-tog-av">
                                        Зачет целевого аванса
                                    </th>
                                    <th  class="col-tog-av">
                                        Зачет текущего аванса
                                    </th>
                                    <th class="col-tog-av">
                                        Материалы
                                    </th>
                                    <th class="col-tog-av">
                                        Другие
                                    </th>
                                    <th class="col-tog-av">
                                        Генуслуги
                                    </th>

                                    <th >
                                        <div>
                                            К оплате
                                        </div>
                                    </th>
                                    <th >
                                        <div>
                                            Файлы справок
                                        </div>
                                    </th>
                                    <th class="act-btns"></th>
                                </tr>
                                
                                @*  <tr>
                            @* <th colspan="1">
                            @Html.DisplayNameFor(model => model.SmrCost)
                            </th>
                            <th colspan="1">
                            @Html.DisplayNameFor(model => model.PnrCost)
                            </th>
                            <th colspan="1">
                            @Html.DisplayNameFor(model => model.AdditionalCost)
                            </th>
                            <th colspan="1">
                            Целевой
                            </th>
                            <th colspan="1">
                            Текущий
                            </th>
                            </tr> *@
                            }
                            else
                            {
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Period)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.DateSigning)
                                    </th>
                                    <th>
                                        Дата оплаты по договору
                                    </th>
                                    <th>
                                        Объем работ
                                    </th>
                                    <th>Файлы справок</th>
                                    <th></th>
                                </tr>
                            }
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr style="font-weight:600;">
                                    @if (ViewBag.IsEngin == null)
                                    {
                                        <td>
                                            @item.Period?.ToString("MMMM yyyy")
                                        </td>
                                        <td>
                                            @item.DateSigning?.ToShortDateString()
                                        </td>
                                        <td>
                                            @{
                                                var datePaid = item.DateSigning?.AddDays(days);
                                            }
                                            @datePaid?.ToShortDateString()
                                        </td>
                                        <td class="">
                                            @item.TotalCost?.ToString("N2")
                                        </td>
                                        <td class=" col-tog">
                                            @item.SmrCost?.ToString("N2")
                                        </td>
                                        <td class=" col-tog">
                                            @item.PnrCost?.ToString("N2")
                                        </td>
                                        <td class=" col-tog">
                                            @item.AdditionalCost?.ToString("N2")
                                        </td>
                                        <td class="">
                                            @item.EquipmentCost?.ToString("N2")
                                        </td>
                                        <td class="">
                                            @{
                                                var sumUder = (item.OffsetTargetPrepayment ?? 0) + (item.OffsetCurrentPrepayment ?? 0) +
                                                (item.MaterialCost ?? 0) + (item.OtherExpensesCost ?? 0) + (item.GenServiceCost ?? 0);
                                            }
                                            @sumUder.ToString("N2")
                                        </td>
                                        <td class=" col-tog-av">
                                            @item.OffsetTargetPrepayment?.ToString("N2")
                                        </td>
                                        <td class=" col-tog-av">
                                            @item.OffsetCurrentPrepayment?.ToString("N2")
                                        </td>
                                        <td class=" col-tog-av">                                           
                                            @item.MaterialCost?.ToString("N2")
                                        </td>
                                        <td class=" col-tog-av">                                           
                                            @item.OtherExpensesCost?.ToString("N2")
                                        </td>
                                        <td class=" col-tog-av">
                                            @item.GenServiceCost?.ToString("N2")
                                        </td>
                                        <td class="">
                                            <div @* style="width:100px !important;" *@>
                                                @item.TotalCostToBePaid?.ToString("N2")
                                            </div>

                                        </td>
                                        <td class="">
                                            <div @* style=" word-wrap:anywhere;" *@>
                                                @foreach (FileDTO item2 in Files.GetFilesOfEntity(item.Id, FolderEnum.Form3C))
                                                {
                                                    <div>
                                                        <a href="~/Files/GetFile?id=@item2.Id" target="_blank">@item2.FileName</a>
                                                        @if (isAdmin)
                                                        {
                                                            @Html.ActionLink("×", "Delete", "Files", new { id = item2.Id, redirectAction = redirectAction, redirectController = redirectController, contractId = item.ContractId }, new { @class = "del-btn", @onclick = "return confirmDelete();" })
                                                        }
                                                    </div>
                                                }
                                            </div>

                                        </td>
                                        <td class="act-btns">
                                            <span class="icon file-add" title="Добавить файл к форме">
                                                <a asp-action="AddFile" asp-controller="Files" asp-route-entityId="@item.Id" asp-route-fileCategory="@FolderEnum.Form3C" asp-route-redirectAction=@redirectAction asp-route-redirectController=@redirectController asp-route-contractId="@item.ContractId" asp-route-returnContractId="@ViewBag.returnContractId"></a>
                                            </span>
                                            <span class="icon edit" title="Редактировать форму">
                                                <a asp-action="Edit" asp-route-id="@item.Id" asp-route-contractId="@item.ContractId" asp-route-returnContractId="@ViewBag.returnContractId"></a>
                                            </span>
                                            <span class="icon delete" title="Удалить форму">
                                                <a onclick="confirmI(@item.Id)"></a>
                                            </span>
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            @item.Period?.ToString("MMMM yyyy")
                                        </td>
                                        <td>
                                            @item.DateSigning?.ToShortDateString()
                                        </td>
                                        <td></td>
                                        <td class="">
                                            @item.TotalCost?.ToString("N2")
                                        </td>
                                        <td class="">
                                            @item.TotalCostToBePaid
                                        </td>
                                        <td>
                                            @foreach (FileDTO item2 in Files.GetFilesOfEntity(item.Id, FolderEnum.Form3C))
                                            {
                                                <div>
                                                    <a href="~/Files/GetFile?id=@item2.Id" target="_blank">@item2.FileName</a>
                                                    @if (isAdmin)
                                                    {
                                                        @Html.ActionLink("×", "Delete", "Files", new { id = item2.Id, redirectAction = redirectAction, redirectController = redirectController, contractId = item.ContractId }, new { @class = "del-btn", @onclick = "return confirmDelete();" })
                                                    }
                                                </div>
                                            }
                                        </td>
                                        <td>
                                            <span class="icon file-add" title="Добавить файл к форме">
                                                <a asp-action="AddFile" asp-controller="Files" asp-route-entityId="@item.Id" asp-route-fileCategory="@FolderEnum.Form3C" asp-route-redirectAction=@redirectAction asp-route-redirectController=@redirectController asp-route-contractId="@item.ContractId" asp-route-returnContractId="@ViewBag.returnContractId"></a>
                                            </span>
                                            <span class="icon edit" title="Редактировать форму">
                                                <a asp-action="Edit" asp-route-id="@item.Id" asp-route-contractId="@item.ContractId" asp-route-returnContractId="@ViewBag.returnContractId"></a>
                                            </span>
                                            <span class="icon delete" title="Удалить форму">
                                                <a onclick="confirmI(@item.Id)"></a>
                                            </span>
                                        </td>
                                    }
                                </tr>
                                var formNested = Form.GetNestedFormsByPeriodAndContrId((int)item.ContractId, (DateTime)item.Period);
                                if (formNested is not null && formNested.Count > 0)
                                {
                                    @*список форм с-3а входящих в договор субподрядных организаций и филиалов*@
                                    <tr style="background-color:#92b0b1; color:white;font-weight:600; font-size:0.95rem"><td class="devide-table" colspan="9">в т.ч. Субподряд</td></tr>
                                    @foreach (var sub in formNested)
                                    {
                                        smrSum += sub?.SmrCost ?? 0;
                                        pnrSum += sub?.PnrCost ?? 0;
                                        addSum += sub?.AdditionalCost ?? 0;
                                        eqpSum += sub?.EquipmentCost ?? 0;
                                        offsetTPrepSum += sub?.OffsetTargetPrepayment ?? 0;
                                        offsetCPrepSum += sub?.OffsetCurrentPrepayment ?? 0;
                                        mtrlSum = sub?.MaterialCost ?? 0;
                                        genSerSum = sub?.GenServiceCost ?? 0;
                                        otherSum = sub?.OtherExpensesCost ?? 0;

                                        <tr style="background-color:#92b0b1; color:white; font-weight:600; font-size:0.95rem">
                                            <td>
                                                @Organization.GetNameByContractId((int)sub.ContractId)
                                            </td>
                                            <td>
                                                @sub?.DateSigning?.ToShortDateString()
                                            </td>
                                            <td>
                                                @{
                                                    var datePaid = sub?.DateSigning?.AddDays(days);
                                                }
                                                @datePaid?.ToShortDateString()
                                            </td>
                                            <td class="">
                                                @sub?.TotalCost?.ToString("N2")
                                            </td>
                                            <td class=" col-tog">
                                                @sub?.SmrCost?.ToString("N2")
                                            </td>
                                            <td class=" col-tog">
                                                @sub?.PnrCost?.ToString("N2")
                                            </td>
                                            <td class=" col-tog">
                                                @sub?.AdditionalCost?.ToString("N2")
                                            </td>
                                            <td class="">
                                                @sub?.EquipmentCost?.ToString("N2")
                                            </td>
                                            <td class="">
                                                @{
                                                    var sumUder2 = (sub?.OffsetTargetPrepayment ?? 0) + (sub?.OffsetCurrentPrepayment ?? 0) +
                                                    (sub?.MaterialCost ?? 0) + (sub?.OtherExpensesCost ?? 0) + (sub?.GenServiceCost ?? 0);
                                                }
                                                @sumUder2.ToString("N2")
                                            </td>
                                            <td class=" col-tog-av">
                                                @sub?.OffsetTargetPrepayment?.ToString("N2")
                                            </td>
                                            <td class=" col-tog-av">
                                                @sub?.OffsetCurrentPrepayment?.ToString("N2")
                                            </td>
                                            <td class=" col-tog-av">                                               
                                                @sub?.MaterialCost?.ToString("N2")
                                            </td>
                                            <td class=" col-tog-av">
                                               
                                                @sub?.OtherExpensesCost?.ToString("N2")
                                            </td>
                                            <td class=" col-tog-av">
                                                @sub?.GenServiceCost?.ToString("N2")
                                            </td>
                                            <td class="">
                                                <div style="width:100px !important;">
                                                    @sub?.TotalCostToBePaid?.ToString("N2")
                                                </div>
                                            </td>
                                            <td>
                                                <div @* style=" word-wrap:anywhere;" *@>
                                                    @foreach (FileDTO item2 in Files.GetFilesOfEntity((int)sub?.Id, FolderEnum.Form3C))
                                                    {
                                                        <div>
                                                            <a href="~/Files/GetFile?id=@item2.Id" target="_blank">@item2.FileName</a>
                                                            @if (!isAdmin)
                                                            {
                                                                @Html.ActionLink("×", "Delete", "Files", new { id = item2.Id, redirectAction = redirectAction, redirectController = redirectController, contractId = item.ContractId }, new { @class = "del-btn", @onclick = "return confirmDelete();" })
                                                            }
                                                        </div>
                                                    }
                                                </div>
                                            </td>
                                            <td class="act-btns"></td>
                                        </tr>
                                    }
                                    @*строка "Всего субподряд" -- сумма объема по субподрядным организаций и филиалов*@
                                    <tr style="background-color:#92b0b1; color:black;font-weight:600; font-size:0.95rem">
                                        <td colspan="2">Всего субподряд</td>
                                        @* <td></td> *@
                                        <td></td>
                                        <td class="">
                                            @{
                                                var totSubSum = smrSum + pnrSum + addSum;
                                            }
                                            @totSubSum.ToString("N2")
                                        </td>
                                        <td class=" col-tog">
                                            @smrSum.ToString("N2")
                                        </td>
                                        <td class=" col-tog">
                                            @pnrSum.ToString("N2")
                                        </td>
                                        <td class=" col-tog">
                                            @addSum.ToString("N2")
                                        </td>
                                        <td class="">
                                            @eqpSum.ToString("N2")
                                        </td>
                                        <td class=" ">
                                            @{
                                                var sumUder3 = offsetTPrepSum + offsetCPrepSum +
                                                mtrlSum + otherSum + genSerSum;
                                            }
                                            @sumUder3.ToString("N2")
                                        </td>
                                        <td class=" col-tog-av">
                                            @offsetTPrepSum.ToString("N2")
                                        </td>
                                        <td class=" col-tog-av">
                                            @offsetCPrepSum.ToString("N2")
                                        </td>
                                        <td class=" col-tog-av">
                                           
                                            @mtrlSum.ToString("N2")
                                        </td>
                                        <td class=" col-tog-av">
                                           
                                            @otherSum.ToString("N2")
                                        </td>
                                        <td class=" col-tog-av">
                                            @genSerSum.ToString("N2")
                                        </td>
                                        <td class="">
                                            <div @* style="width:100px !important;" *@>
                                                @{
                                                    var totalSubCostToBePaid1 = smrSum + pnrSum + addSum +
                                                    eqpSum + offsetCPrepSum + offsetTPrepSum + mtrlSum + otherSum + genSerSum;
                                                }
                                                @totalSubCostToBePaid1.ToString("N2")
                                            </div>
                                        </td>
                                        <td></td>
                                        <td class="act-btns"></td>
                                    </tr>
                                    @*строка "собственные силы" -- сумма объема по субподрядным организаций и филиалов*@
                                    <tr style="background-color:#92b0b1; color:black;font-weight:600; font-size:0.95rem">
                                        <td colspan="2">собственные силы</td>
                                        @* <td></td> *@
                                        <td></td>
                                        <td class="">
                                            @{
                                                var totOwnSubSum = (item?.TotalCost ?? 0) - totSubSum;
                                            }
                                            @totOwnSubSum.ToString("N2")
                                        </td>
                                        <td class=" col-tog">
                                            @{
                                                var totOwnSmrSum = (item?.SmrCost ?? 0) - smrSum;
                                            }
                                            @totOwnSmrSum.ToString("N2")
                                        </td>
                                        <td class=" col-tog">
                                            @{
                                                var totOwnPnrSum = (item?.PnrCost ?? 0) - pnrSum;
                                            }
                                            @totOwnPnrSum.ToString("N2")
                                        </td>
                                        <td class=" col-tog">
                                            @{
                                                var totOwnAddSum = (item?.AdditionalCost ?? 0) - addSum;
                                            }
                                            @totOwnAddSum.ToString("N2")
                                        </td>
                                        <td class="">
                                            @{
                                                var totOwnEqSum = (item?.EquipmentCost ?? 0) - eqpSum;
                                            }
                                            @totOwnEqSum.ToString("N2")
                                        </td>
                                        <td class=" ">
                                            @{
                                                var sumUder4 = ((item?.OffsetTargetPrepayment ?? 0) - offsetTPrepSum) +
                                                ((item?.OffsetCurrentPrepayment ?? 0) - offsetCPrepSum) +
                                                ((item?.MaterialCost ?? 0 + item?.OtherExpensesCost ?? 0) - (mtrlSum + otherSum))+
                                                (item?.GenServiceCost ?? 0) - genSerSum;
                                            }
                                            @sumUder4.ToString("N2")
                                        </td>
                                        <td class=" col-tog-av">
                                            @{
                                                var totOwnOTPSum = (item?.OffsetTargetPrepayment ?? 0) - offsetTPrepSum;
                                            }
                                            @totOwnOTPSum.ToString("N2")
                                        </td>
                                        <td class=" col-tog-av">
                                            @{
                                                var totOwnOCPSum = (item?.OffsetCurrentPrepayment ?? 0) - offsetCPrepSum;
                                            }
                                            @totOwnOCPSum.ToString("N2")
                                        </td>
                                        <td class=" col-tog-av">
                                            @{
                                                var otherOwnSubSum1 = (item?.MaterialCost ?? 0) - mtrlSum;
                                            }
                                            @otherOwnSubSum1.ToString("N2")
                                        </td>
                                        <td class=" col-tog-av">
                                            @{
                                                var otherOwnSubSum2 = (item?.OtherExpensesCost ?? 0) - otherSum;
                                            }
                                            @otherOwnSubSum2.ToString("N2")
                                        </td>
                                        <td class=" col-tog-av">
                                            @{
                                                var otherOwnGenSerSubSum = (item?.GenServiceCost ?? 0) - genSerSum;
                                            }
                                            @otherOwnGenSerSubSum.ToString("N2")
                                        </td>
                                        <td class="">
                                            <div @* style="width:100px !important;" *@>
                                                @{
                                                    var totalOwnSubCostToBePaid = (item.TotalCostToBePaid ?? 0) - (smrSum + pnrSum + addSum +
                                                    eqpSum + offsetCPrepSum + offsetTPrepSum + mtrlSum + otherSum);
                                                }
                                                @totalOwnSubCostToBePaid.ToString("N2")
                                            </div>
                                        </td>
                                        <td></td>
                                        <td class="act-btns"></td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">
        function toggeleColumnTable() {
            let numberColspan;
            const devideTable = document.querySelector(".devide-table");
            const btn1 = document.querySelector(".totalW");
            const btn2 = document.querySelector(".totalA");
            const cols = document.querySelectorAll(".col-tog");
            const cols2 = document.querySelectorAll(".col-tog-av");
            
            btn1.addEventListener('click', () => {
                cols.forEach((e) => {
                    e.classList.toggle('show-col');
                });
                numberColspan = devideTable.getAttribute('colspan');
               if (numberColspan === '9') {
                    numberColspan = 12;
                }
                else if (numberColspan === '12') {
                    numberColspan = 9;
                }
                else if (numberColspan === '17') {
                    numberColspan = 14;
                }
                else if (numberColspan === '14') {
                    numberColspan = 17;
                }
                devideTable.setAttribute('colspan', numberColspan);
            });

            btn2.addEventListener('click', () => {
                cols2.forEach((e) => {
                    e.classList.toggle('show-col');
                });
                numberColspan = devideTable.getAttribute('colspan');
                
                if (numberColspan === '9') {
                    numberColspan = 14;
                }
                else if (numberColspan === '12') {
                    numberColspan = 17;
                }
                else if (numberColspan === '14') {
                    numberColspan = 9;
                }
                else if (numberColspan === '17') {
                    numberColspan = 12;
                }
                devideTable.setAttribute('colspan', numberColspan);
            });
        }
        toggeleColumnTable();

        function confirmI(val) {
            let mes = "Вы точно хотите удалить данную запись?";            
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Message", "Home")',
                dataType: 'html',
                data: { message: mes },
                success: function (result) {
                    $('#dialogContent').html(result);
                    $('#modDialog').modal({ backdrop: false });
                    $('#modDialog').modal('show');

                    let elementDeleteButton = document.querySelectorAll('#modal-button-delete')
                    elementDeleteButton[0].addEventListener('click', () => {
                        console.log('object:', { id: val })
                        $.ajax({
                            type: 'POST',
                            url: '@Url.Action("Delete", "Forms")',
                            dataType: 'html',
                            data: { id: val },
                            success: function (result) {
                                $('#dialogContent').html(result);
                                $('#modDialog').modal({ backdrop: false });
                                $('#modDialog').modal('show');

                                console.log(result, 'ok result delete')
                                let buttonElement = document.querySelectorAll('#dialogContent')
                            },
                            error: function (result) {
                                console.log(result, 'Ошибка удаления');
                                $.ajax({
                                    type: 'POST',
                                    url: '@Url.Action("Message", "Home")',
                                    dataType: 'html',
                                    data: { message: "Во время удаления произошла ошибка" },
                                    success: function (result) {
                                        $('#dialogContent').html(result);
                                    }
                                });
                            }
                        });
                    })
                },
                error: function (result) {
                    console.log(result, 'error 2');
                    alert("Ошибка отображения");
                }
            })
        }
    </script>
}