@model MvcLayer.Models.PeriodChooseViewModel

@{
    ViewData["Title"] = "Выбор периода";
    int backId = 0;
    if ((int)ViewData["returnContractId"] == 0)
        backId = (int)ViewData["id"];
    else backId = (int)ViewData["returnContractId"];
}


<div class="dm-overlay">
    <div class="dm-table">
        <div class="dm-cell">
            <div class="dm-modal" style="width:500px;">
                <div class="top-modal-block">
                    <label class="my-modal-title">@ViewData["Title"]</label>
                    @if (backId != null && backId > 0)
                    {
                        <a asp-controller="Contracts" asp-action="Details" asp-route-id="@backId" class="close-btn"></a>
                    }
                    @if (backId == null || backId == 0)
                    {
                        <a asp-controller="Contracts" asp-action="" class="close-btn"></a>
                    }
                </div>
                <hr class="modal-line">
                <form id="target" asp-action="GetByContractId" class="row" asp-route-returnContractId="@ViewData["returnContractId"]" method="post" enctype="multipart/form-data">
                    <input name="Id" value="@Model?.ContractId" hidden />
                    <input name="ReturnContractId" value="@backId" hidden />
                    <div class="form-group col-12">
                        @if (Model?.ListDates.Count > 0)
                        {
                            <label class="control-label">Период</label>
                            <select id="periodId" name="chosePeriod" class="form-control select">
                                <option disabled selected>Выберите период</option>
                                @foreach (var item in Model?.ListDates)
                                {
                                    <option value="@item">@item.ToString("MMMM yyyy")</option>
                                }
                            </select>
                        }                        
                    </div>
                </form>
                <div id="result"></div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript">
        $("#periodId").on("change", function () {
            $("#target").trigger("submit");
        });
    </script>
}