@model IEnumerable<MvcLayer.Models.FormViewModel>
@using BusinessLayer.Enums;
@using BusinessLayer.Models;
@inject BusinessLayer.Interfaces.ContractInterfaces.IFileService Files
@inject BusinessLayer.Interfaces.CommonInterfaces.IHttpHelper HttpHelper

@{
    var http = new HttpContextAccessor();
    var permissions = HttpHelper.GetPermissionForUser(http);
    ViewData["Title"] = "Фактическое выполнение работ согласно справкам С-3а";
    bool isAdmin = true;
    string redirectAction = "Index";
    string redirectController = "Forms";
}
<h2>@ViewData["Title"]</h2>
@if (permissions is not null && permissions.IsCreator)
{
    <p><a asp-action="Create">Добавить</a></p>
}
<table class="table table-main">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Period)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateSigning)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SmrCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PnrCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EquipmentCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OtherExpensesCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdditionalCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaterialCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GenServiceCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsOwnForces)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Period)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateSigning)
                </td>
                <td>
                    @item.TotalCost?.ToString("N2")
                </td>
                <td>
                    @item.SmrCost?.ToString("N2")
                </td>
                <td>
                    @item.PnrCost?.ToString("N2")
                </td>
                <td>
                    @item.EquipmentCost?.ToString("N2")
                </td>
                <td>
                    @item.OtherExpensesCost?.ToString("N2")
                </td>
                <td>
                    @item.AdditionalCost?.ToString("N2")
                </td>
                <td>
                    @item.MaterialCost?.ToString("N2")
                </td>
                <td>
                    @item.GenServiceCost?.ToString("N2")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsOwnForces)
                </td>
                <td>
                    @foreach (FileDTO item2 in Files.GetFilesOfEntity(item.Id, FolderEnum.Form3C))
                    {
                        <div>
                            <a href="~/Files/GetFile?id=@item2.Id" target="_blank">@item2.FileName</a>
                            @if (permissions is not null && (permissions.IsDeleter || permissions.IsAdmin))
                            {
                                @Html.ActionLink("×", "Delete", "Files", new { id = item2.Id, redirectAction = redirectAction, redirectController = redirectController, pageNum = @ViewBag.Page }, new { @class = "del-btn", @onclick = "return confirmDelete();" })
                            }
                        </div>
                    }
                </td>
                <td>
                    @if (permissions is not null && permissions.IsCreator)
                    {
                        <a asp-action="AddFile" asp-controller="Files" asp-route-entityId="@item.Id" asp-route-fileCategory="@FolderEnum.Form3C" asp-route-redirectAction=@redirectAction asp-route-redirectController=@redirectController>Добавить файл</a>
                        <span>|</span>
                    }
                    @if (permissions is not null && permissions.IsEditor)
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a>
                        <span>|</span>
                    }

                    @if (permissions is not null && (permissions.IsDeleter || permissions.IsAdmin))
                    {
                        <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                        <span>|</span>
                    }
                    <a asp-action="Details" asp-route-id="@item.Id">Детали</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts {
    <script type="text/javascript">
        function confirmDelete() {
            if (confirm('Вы уверены, что хотите удалить?')) {
                return true;
            }
            else {
                return false;
            }
        }
    </script>
}