@model MvcLayer.Models.AmendmentViewModel
@inject BusinessLayer.Interfaces.ContractInterfaces.IContractService Contract
@{
    ViewData["Title"] = "Добавить изменения к договору";
    var id = ViewData["id"];
}
<div class="dm-overlay">
    <div class="dm-table">
        <div class="dm-cell">
            <div class="dm-modal">
                <div class="top-modal-block">
                    <label class="my-modal-title">@ViewData["Title"]</label>
                    <a asp-controller="Contracts" asp-action="Details" asp-route-id="@id" class="close-btn"></a>                    
                </div>
                <hr class="modal-line" />

                <form asp-action="Create" class="row" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group col-6">
                        <label asp-for="Number" class="control-label"></label>
                        <input asp-for="Number" class="form-control" />
                        <span asp-validation-for="Number" class="text-danger"></span>
                    </div>
                    <div class="form-group col-6">
                        <label asp-for="Date" class="control-label"></label>
                        <input asp-for="Date" class="form-control" type="date" />
                        <span asp-validation-for="Date" class="text-danger"></span>
                    </div>
                    <div class="form-group col-6">
                        <label asp-for="Reason" class="control-label"></label>
                        <input asp-for="Reason" class="form-control" />
                        <span asp-validation-for="Reason" class="text-danger"></span>
                    </div>
                    <div class="form-group col-6">
                        <label asp-for="ContractPrice" class="control-label"></label>
                        <input asp-for="ContractPrice" class="form-control" />
                        <span asp-validation-for="ContractPrice" class="text-danger"></span>
                    </div>
                    <div class="form-group col-6">
                        <label asp-for="DateBeginWork" class="control-label"></label>
                        <input asp-for="DateBeginWork" class="form-control" type="date" />
                        <span asp-validation-for="DateBeginWork" class="text-danger"></span>
                    </div>
                    <div class="form-group col-6">
                        <label asp-for="DateEndWork" class="control-label"></label>
                        <input asp-for="DateEndWork" class="form-control" type="date" />
                        <span asp-validation-for="DateEndWork" class="text-danger"></span>
                    </div>
                    <div class="form-group col-6">
                        <label asp-for="DateEntryObject" class="control-label"></label>
                        <input asp-for="DateEntryObject" class="form-control" type="date" />
                        <span asp-validation-for="DateEntryObject" class="text-danger"></span>
                    </div>
                    <div class="form-group col-6">
                        <label asp-for="ContractChanges" class="control-label"></label>
                        <input asp-for="ContractChanges" class="form-control" />
                        <span asp-validation-for="ContractChanges" class="text-danger"></span>
                    </div>
                    <div class="form-group col-6">
                        <label asp-for="ContractId" class="control-label">Договор</label>
                        <select asp-for="ContractId" class="form-control" disabled>
                            <option value="@id" selected>@Contract.GetById((int)id).Number</option>
                            @*@foreach (var item in Contract.GetAll())
                            {
                                <option value="@item.Id">@item.Number</option>
                            }*@
                        </select>
                    </div>
                    <div class="form-group col-6">
                        <label asp-for="FilesEntity" class="control-label"></label>
                        <input asp-for="FilesEntity" type="file" class="form-control" />
                        <span asp-validation-for="FilesEntity" class="text-danger"></span>
                    </div>                    
                    <div class="form-group">
                        <a class="btn btn-success float-start" asp-controller="Contracts" asp-action="Details" asp-route-id="@id">Вернуться назад</a>
                        <input type="submit" value="Создать" class="btn btn-primary float-end" />
                    </div>
                </form>                
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
