@using MvcLayer.Models;
@using Newtonsoft.Json;
@model MvcLayer.Models.PrepaymentViewModel

@inject BusinessLayer.Interfaces.ContractInterfaces.IContractService Contract
@{
    ViewData["Title"] = "Авансы";
    int index = 0;

    var d = new PrepaymentViewModel();
    if (TempData["prepayment"] is string s)
    {
        d = (JsonConvert.DeserializeObject<PrepaymentViewModel>(s));
    }

    bool isFact = d.IsFact == true ? true : false;
    string actionName = isFact ? "EditPrepayments" : "Create";
    var contract = Contract.GetById((int)d?.ContractId);
}
<style>
    .cont-table {
        overflow-x: scroll;
    }

    th,
    td {
        min-width: 250px;
    }
</style>


<div class="dm-overlay">
    <div class="dm-table">
        <div class="dm-cell">
            <div class="dm-modal">
                <div class="top-modal-block">
                    <label class="my-modal-title">@ViewData["Title"] @contract?.Number</label>
                    @if (@contract?.Id != null && @contract?.Id > 0)
                    {
                        <a asp-controller="Contracts" asp-action="Details" asp-route-id="@contract?.Id" class="close-btn"></a>
                    }
                    @if (@contract?.Id == null || @contract?.Id == 0)
                    {
                        <a asp-controller="Contracts" asp-action="" class="close-btn"></a>
                    }
                </div>
                <hr class="modal-line" />
                <form asp-action=@actionName class="row">
                    <div class="cont-table">
                        <table class="table table-bordered table-striped">

                            @if (!isFact)
                            {
                                <tr>
                                    <th>Период</th>
                                    @foreach (var item in d.PrepaymentPlans)
                                    {
                                        <td>
                                            @item.Period?.ToString("MMM yyyy")
                                            <input asp-for="@Model.PrepaymentPlans[index].Period" type="text" class="form-control" value="@item.Period" hidden />
                                        </td>
                                        index++;
                                    }
                                    @{
                                        index = 0;
                                    }
                                </tr>
                                <tr>
                                    <th>Текущие авансы</th>
                                    @foreach (var item in d.PrepaymentPlans)
                                    {
                                        <td><input asp-for="@Model.PrepaymentPlans[index].CurrentValue" class="form-control" type="number" step="0.01" min="0" /></td>
                                        index++;
                                    }
                                    @{
                                        index = 0;
                                    }
                                </tr>
                                <tr>
                                    <th>Целевые авансы</th>
                                    @foreach (var item in d.PrepaymentPlans)
                                    {
                                        <td><input asp-for="@Model.PrepaymentPlans[index].TargetValue" class="form-control" type="number" step="0.01" min="0" /></td>
                                        index++;
                                    }
                                    @{
                                        index = 0;
                                    }
                                </tr>
                                <tr>
                                    <th>Отработка целевых авансов</th>
                                    @foreach (var item in d.PrepaymentPlans)
                                    {
                                        <td><input asp-for="@Model.PrepaymentPlans[index].WorkingOutValue" class="form-control" type="number" step="0.01" min="0" /></td>
                                        index++;
                                    }
                                    @{
                                        index = 0;
                                    }
                                </tr>
                            }
                            @if (isFact)
                            {
                                <tr>
                                    <th>Период</th>
                                    @foreach (var item in d.PrepaymentFacts)
                                    {
                                        <td>
                                            @item.Period?.ToString("MMM yyyy")
                                            <input asp-for="@Model.PrepaymentFacts[index].Period" type="text" class="form-control" value="@item.Period" hidden />
                                        </td>
                                        index++;
                                    }
                                    @{
                                        index = 0;
                                    }
                                </tr>
                                <tr>
                                    <th>Текущие авансы по факту</th>
                                    @foreach (var item in d.PrepaymentFacts)
                                    {
                                        <td><input asp-for="@Model.PrepaymentFacts[index].CurrentValue" class="form-control" type="number" step="0.01" min="0" /></td>
                                        index++;
                                    }
                                    @{
                                        index = 0;
                                    }
                                </tr>
                                <tr>
                                    <th>Текущие авансы по факту</th>
                                    @foreach (var item in d.PrepaymentFacts)
                                    {
                                        <td><input asp-for="@Model.PrepaymentFacts[index].TargetValue" class="form-control" type="number" step="0.01" min="0" /></td>
                                        index++;
                                    }
                                    @{
                                        index = 0;
                                    }
                                </tr>                           
                                <tr>
                                    <th>Отработка целевых по факту</th>
                                    @foreach (var item in d.PrepaymentFacts)
                                    {
                                        <td><input asp-for="@Model.PrepaymentFacts[index].WorkingOutValue" class="form-control" type="number" step="0.01" min="0" /></td>
                                        index++;
                                    }
                                    @{
                                        index = 0;
                                    }
                                </tr>
                            }

                          @*   @foreach (var item in d)
                            { *@
                                @if (isFact)
                                {
                                    <input asp-for="@Model.Id" hidden />
                                   @*  <input asp-for="@Model[index].WorkingOutValue" hidden />
                                    <input asp-for="@Model[index].TargetValue" hidden />
                                    <input asp-for="@Model[index].CurrentValue" hidden /> *@
                                }
                                <input asp-for="@Model.AmendmentId" hidden />
                                <input asp-for="@Model.ContractId" hidden />
                                <input asp-for="@Model.IsChange" hidden />
                                <input asp-for="@Model.ChangePrepaymentId" hidden />

                          @*       index++;
                            } *@

                        </table>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
