@using MvcLayer.Models;
@using Newtonsoft.Json;
@model MvcLayer.Models.PrepaymentViewModel

@inject BusinessLayer.Interfaces.ContractInterfaces.IContractService Contract
@{
    ViewData["Title"] = "Авансы";
    int index = 0;

    int backId = 0;
    if ((int)ViewData["returnContractId"] == 0)
        backId = (int)ViewData["contractId"];
    else backId = (int)ViewData["returnContractId"];

    var d = new PrepaymentViewModel();
    if (TempData["prepayment"] is string s)
    {
        d = (JsonConvert.DeserializeObject<PrepaymentViewModel>(s));
    }

    bool isFact = d.IsFact == true ? true : false;
    string actionName = isFact ? "EditPrepayments" : "Create";
    var contract = Contract.GetById((int)d?.ContractId);
}
<style>
    .cont-table {
        overflow-x: scroll;
    }

    th,
    td {
        min-width: 250px;
    }
</style>


<div class="dm-overlay">
    <div class="dm-table">
        <div class="dm-cell">
            <div class="dm-modal">
                <div class="top-modal-block">
                    <label class="my-modal-title">@ViewData["Title"] @contract?.Number</label>
                    @if (backId != null && backId > 0)
                    {
                        <a asp-controller="Contracts" asp-action="Details" asp-route-id="@backId" class="close-btn"></a>
                    }
                    @if (backId == null || backId == 0)
                    {
                        <a asp-controller="Contracts" asp-action="" class="close-btn"></a>
                    }
                </div>
                <hr class="modal-line" />
                <form asp-action=@actionName asp-route-returnContractId="@ViewBag.returnContractId" class="row">
                    <div class="cont-table">
                        <table class="table table-bordered table-striped">

                            @if (!isFact)
                            {
                                <tr>
                                    <th>Период</th>
                                    @foreach (var item in d.PrepaymentPlans)
                                    {
                                        <td>
                                            @item.Period?.ToString("MMM yyyy")
                                            <input asp-for="@Model.PrepaymentPlans[index].Period" type="text" class="form-control" value="@item.Period" hidden />
                                        </td>
                                        index++;
                                    }
                                    @{
                                        index = 0;
                                    }
                                </tr>
                                @if (ViewBag.Current != null)
                                {
                                    <tr>
                                        <th>Текущие авансы</th>
                                        @foreach (var item in d.PrepaymentPlans)
                                        {
                                            if (Model.PrepaymentPlans[index].CurrentValue != null && Model.PrepaymentPlans[index].CurrentValue != 0)
                                            {
                                                <td><input name="PrepaymentPlans[@index].CurrentValue" value="@Model.PrepaymentPlans[index].CurrentValue" type="text" class="form-control cost" /></td>
                                            }
                                            else
                                            {
                                                <td><input name="PrepaymentPlans[@index].CurrentValue" type="text" class="form-control cost" /></td>
                                            }
                                            index++;
                                        }
                                        @{
                                            index = 0;
                                        }
                                    </tr>
                                }
                                @if (ViewBag.Target != null)
                                {
                                    <tr>
                                        <th>Целевые авансы</th>
                                        @foreach (var item in d.PrepaymentPlans)
                                        {
                                            if (Model.PrepaymentPlans[index].TargetValue != null && Model.PrepaymentPlans[index].TargetValue != 0)
                                            {
                                                <td><input name="PrepaymentPlans[@index].TargetValue" value="@Model.PrepaymentPlans[index].TargetValue" type="text" class="form-control cost" /></td>
                                            }
                                            else
                                            {
                                                <td><input name="PrepaymentPlans[@index].TargetValue" type="text" class="form-control cost" /></td>
                                            }
                                            index++;
                                        }
                                        @{
                                            index = 0;
                                        }
                                    </tr>
                                    <tr>
                                        <th>Отработка целевых авансов</th>
                                        @foreach (var item in d.PrepaymentPlans)
                                        {
                                            if (Model.PrepaymentPlans[index].WorkingOutValue != null && Model.PrepaymentPlans[index].WorkingOutValue != 0)
                                            {
                                                <td><input name="PrepaymentPlans[@index].WorkingOutValue" value="@Model.PrepaymentPlans[index].WorkingOutValue" type="text" class="form-control cost" /></td>
                                            }
                                            else
                                            {
                                                <td><input name="PrepaymentPlans[@index].WorkingOutValue" type="text" class="form-control cost" /></td>
                                            }
                                            index++;
                                        }
                                        @{
                                            index = 0;
                                        }
                                    </tr>
                                }
                            }
                            @if (isFact)
                            {
                                <tr>
                                    <th>Период</th>
                                    @foreach (var item in d.PrepaymentFacts)
                                    {
                                        <td>
                                            @item.Period?.ToString("MMM yyyy")
                                            <input asp-for="@Model.PrepaymentFacts[index].Period" type="text" class="form-control" value="@item.Period" hidden />
                                        </td>
                                        index++;
                                    }
                                    @{
                                        index = 0;
                                    }
                                </tr>
                                @if (ViewBag.Current != null)
                                {
                                    <tr>
                                        <th>Текущие авансы по факту</th>
                                        @foreach (var item in d.PrepaymentFacts)
                                        {
                                            if (Model.PrepaymentFacts[index].CurrentValue != null && Model.PrepaymentFacts[index].CurrentValue != 0)
                                            {
                                                <td><input name="PrepaymentFacts[@index].CurrentValue" value="@Model.PrepaymentFacts[index].CurrentValue" type="text" class="form-control cost" /></td>
                                            }
                                            else
                                            {
                                                <td><input name="PrepaymentFacts[@index].CurrentValue" type="text" class="form-control cost" /></td>
                                            }
                                            index++;
                                        }
                                        @{
                                            index = 0;
                                        }
                                    </tr>
                                }
                                @if (ViewBag.Target != null)
                                {
                                    <tr>
                                        <th>Текущие авансы по факту</th>
                                        @foreach (var item in d.PrepaymentFacts)
                                        {
                                            if (Model.PrepaymentFacts[index].TargetValue != null && Model.PrepaymentFacts[index].TargetValue != 0)
                                            {
                                                <td><input name="PrepaymentFacts[@index].TargetValue" value="@Model.PrepaymentFacts[index].TargetValue" type="text" class="form-control cost" /></td>
                                            }
                                            else
                                            {
                                                <td><input name="PrepaymentFacts[@index].TargetValue" type="text" class="form-control cost" /></td>
                                            }
                                            index++;
                                        }
                                        @{
                                            index = 0;
                                        }
                                    </tr>
                                    <tr>
                                        <th>Отработка целевых по факту</th>
                                        @foreach (var item in d.PrepaymentFacts)
                                        {
                                            if (Model.PrepaymentFacts[index].WorkingOutValue != null && Model.PrepaymentFacts[index].WorkingOutValue != 0)
                                            {
                                                <td><input name="PrepaymentFacts[@index].WorkingOutValue" value="@Model.PrepaymentFacts[index].WorkingOutValue" type="text" class="form-control cost" /></td>
                                            }
                                            else
                                            {
                                                <td><input name="PrepaymentFacts[@index].WorkingOutValue" type="text" class="form-control cost" /></td>
                                            }
                                            index++;
                                        }
                                        @{
                                            index = 0;
                                        }
                                    </tr>
                                }
                            }
                            @if (isFact)
                            {
                                <input asp-for="@Model.Id" hidden />
                            }
                            <input asp-for="@Model.AmendmentId" hidden />
                            <input asp-for="@Model.ContractId" hidden />
                            <input asp-for="@Model.IsChange" hidden />
                            <input asp-for="@Model.ChangePrepaymentId" hidden />
                        </table>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Создать" class="btn btn-primary mt-1" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script>
            $(function ($) {
                var allCost = $(".cost")
                for (let el of allCost) {
                    digits_float(el)
                }
                $('body').on('input', '.cost', function (e) {
                    digits_float(this);
                });
            });
        </script>
    }
}
