@model MvcLayer.Models.PrepaymentViewModel

@{
    ViewData["Title"] = "Детали";
}

<h1>@ViewData["Title"]</h1>

<h3>Вы уверены что хотите удалить?</h3>
<div>
    <h4>Оплата</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contract.Number)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contract.Number)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentValue)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CurrentValue)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentValueFact)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CurrentValueFact)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TargetValue)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TargetValue)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TargetValueFact)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TargetValueFact)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WorkingOutValue)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WorkingOutValue)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WorkingOutValueFact)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WorkingOutValueFact)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsChange)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsChange)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Period)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Period)
        </dd>
        
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Вернуться к списку</a>
    </form>
</div>