@model PrepaymentStatementWithAmendmentViewModel
@inject BusinessLayer.Interfaces.ContractInterfaces.IContractService Contract
@inject BusinessLayer.Interfaces.ContractInterfaces.IPrepaymentService Prepayment
@inject BusinessLayer.Interfaces.ContractInterfaces.IPrepaymentFactService PrepFact
@inject BusinessLayer.Interfaces.ContractInterfaces.IPrepaymentPlanService PrepPlan
@using BusinessLayer.Helpers;
@using MvcLayer.Models;

<style>
    td, tr {
        min-width: 105px;
    }
</style>

@{
    ViewData["Title"] = string.Empty;
    var contractId = ViewBag.contractId;
    int backId = 0;
    if (ViewBag.returnContractId == 0)
        backId = ViewBag.contractId;
    else backId = ViewBag.returnContractId;
    if (contractId is not null)
    {
        var number = Contract.GetById((int)contractId).Number;
        ViewData["Title"] = $"Ведомость использования авансов № {number}";
    } 

    var countCol = 2 + ((Model.endPeriod.Value.Year-Model.startPeriod.Value.Year)*12+(Model.endPeriod.Value.Month-Model.startPeriod.Value.Month+1)) * 2;
    var countRow = Model.listSmrWithPrepaymentByAmendment.Count();
}

<div class="dm-overlay">
    <div class="dm-table">
        <div class="dm-cell">
            <div class="dm-modal">
                <div class="top-modal-block">
                    <label class="my-modal-title">@ViewData["Title"]</label>
                    @if (backId != null && backId > 0)
                    {
                        <a asp-controller="Contracts" asp-action="Details" asp-route-id="@backId" class="close-btn"></a>
                    }
                    else
                    {
                        <a asp-controller="Contracts" asp-action="" class="close-btn"></a>
                    }
                </div>
                <hr class="modal-line">
                <form asp-action="GetByContractIdWithAmendments">
                    <input id="start" asp-for="startPeriod" min="@Model.minStartPeriod?.ToString("yyyy-MM-dd")" max="@Model.maxEndPeriod?.ToString("yyyy-MM-dd")" type="date" />
                    <input id="end" asp-for="endPeriod" min="@Model.minStartPeriod?.ToString("yyyy-MM-dd")" max="@Model.maxEndPeriod?.ToString("yyyy-MM-dd")" type="date" />
                    <input name="contractId" value="@ViewBag.contractId" hidden />
                    <input asp-for="Client" hidden />
                    <input asp-for="NameObject" hidden />
                    <input asp-for="minStartPeriod" hidden />
                    <input asp-for="maxEndPeriod" hidden />
                    <input asp-for="TheoryCurrent" hidden />
                    <input asp-for="TheoryTarget" hidden />
                    <input asp-for="TargetRepaid" hidden />
                    <input asp-for="TargetReceived" hidden />
                    <input name="returnContractId" value="@ViewBag.returnContractId" hidden />
                    <button class="btn btn-warning" type="submit"> выбрать период</button>
                </form>
                
                <form id="Amendment" asp-action="GetByContract">
                    <input id="anotherStart" asp-for="startPeriod" type="date" hidden />
                    <input id="anotherEnd" asp-for="endPeriod" type="date" hidden />
                    <input name="contractId" value="@ViewBag.contractId" hidden />                    
                    <input asp-for="Client" hidden />
                    <input asp-for="NameObject" hidden />                    
                    <input asp-for="minStartPeriod" hidden />
                    <input asp-for="maxEndPeriod" hidden />
                    <input asp-for="TheoryCurrent" hidden />
                    <input asp-for="TheoryTarget" hidden />                    
                    <input asp-for="TargetRepaid" hidden />
                    <input asp-for="TargetReceived" hidden />
                    <input name="returnContractId" value="@ViewBag.returnContractId" hidden /> 
                </form>           
                <div style="max-height:auto; max-width:80vw; overflow:scroll">
                    <table class="table table-bordered table-main table-main-short">
                        <thead>
                            <tr>
                                <th rowspan="3">
                                    <span>Объект</span>
                                </th>
                                <th rowspan="3">
                                    <span>Заказчик</span>
                                </th>
                                <th rowspan="2" colspan="2">
                                    <span>Всего по договору аванса</span>
                                </th>
                                <th colspan="3">
                                    <span>Целевой аванс, руб.</span>
                                </th>
                                <th>
                                    <span></span>
                                </th>
                                <th colspan="@countCol">
                                    <span>СМР и Погашение аванса по месяцам, согласно графикам платежей к договору</span>
                                </th>
                            </tr>
                            <tr>
                                <th rowspan="2">
                                    <span>Получено</span>
                                </th>
                                <th rowspan="2">
                                    <span>Погашено</span>
                                </th>
                                <th rowspan="2">
                                    <span>Не погашено</span>
                                </th>
                                <th rowspan="2">
                                    <span>Документ</span>
                                </th>
                                <th rowspan="2">
                                    <span></span>
                                </th>
                                <th rowspan="2">
                                    <span>Аванс</span>
                                </th>
                                @for (var item = Model.startPeriod; Checker.LessOrEquallyFirstDateByMonth((DateTime)item, (DateTime)Model.endPeriod);
                                item = item.Value.AddMonths(1))                                
                                {
                                    <th colspan="2">
                                        <span>@item?.ToString("MMMM yyyy")</span>
                                    </th>
                                }
                            </tr>
                            <tr>
                                <th>
                                    <span>Получено</span>
                                </th>
                                <th>
                                    <span>Текущего</span>
                                </th>
                                @for (var item = Model.startPeriod; Checker.LessOrEquallyFirstDateByMonth((DateTime)item, (DateTime)Model.endPeriod);
                                item = item.Value.AddMonths(1))
                                {
                                    <th>
                                        <span>Стоимость работ по графику</span>
                                    </th>
                                    <th>
                                        <span>Отработка аванса по графику</span>
                                    </th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td rowspan="@(countRow*2)">
                                    <span>
                                        @Model.NameObject
                                    </span>
                                </td>
                                <td rowspan="@(countRow*2)">
                                    <span>
                                        @Model.Client
                                    </span>
                                </td>
                                <td rowspan="@(countRow*2)">
                                    <span>
                                        @Model.TheoryTarget?.ToString("N2")
                                    </span>
                                </td>
                                <td rowspan="@(countRow*2)">
                                    <span>
                                        @Model.TheoryCurrent?.ToString("N2")
                                    </span>
                                </td>
                                <td rowspan="@(countRow*2)">
                                    <span>
                                        @Model.TargetRepaid?.ToString("N2")
                                    </span>
                                </td>
                                <td rowspan="@(countRow*2)">
                                    <span>
                                        @Model.TargetReceived?.ToString("N2")
                                    </span>
                                </td>
                                <td rowspan="@(countRow*2)">
                                    <span>
                                        @((Model.TargetRepaid - Model.TargetReceived)?.ToString("N2"))
                                    </span>
                                </td>
                                @if (Model.listSmrWithPrepaymentByAmendment.FirstOrDefault().NameAmendment != "Факт")
                                {
                                    <td rowspan="2">
                                        <div>
                                            Дс <span>@Model.listSmrWithPrepaymentByAmendment.FirstOrDefault().NameAmendment</span>
                                            <button class="icon view" onclick="ShowAmendment()">
                                            </button>
                                        </div>
                                    </td>
                                }
                                else
                                {
                                    <td rowspan="2">
                                        @foreach (var item in Model.listFiles)
                                        {
                                            <span>
                                                <a href="~/Files/GetFile?id=@item.Id" target="_blank">@item.FileName</a>
                                            </span>
                                        }
                                    </td>
                                }
                                
                                @if (Model.listSmrWithPrepaymentByAmendment.FirstOrDefault().NameAmendment != "Факт")
                                {
                                    <td rowspan="2">
                                        <span>
                                            План
                                        </span>
                                    </td>
                                }
                                else
                                {
                                    <td rowspan="2">
                                        <span>
                                            Факт
                                        </span>
                                    </td>
                                }                                
                                <td>
                                    <span>
                                        Целевой
                                    </span>
                                </td>
                                @foreach (var item in Model.listSmrWithPrepaymentByAmendment.FirstOrDefault().listSmrWithAvans)
                                {
                                    <td rowspan="2">
                                        <span>
                                            @item.Smr?.ToString("N2")
                                        </span>
                                    </td>
                                    <td>
                                        <span>
                                            @item.Target?.ToString("N2")
                                        </span>
                                    </td>
                                }
                            </tr>
                            <tr>
                                <td>
                                    <span>
                                        Текущий
                                    </span>
                                </td>
                                @foreach (var item in Model.listSmrWithPrepaymentByAmendment.FirstOrDefault().listSmrWithAvans)
                                {
                                    <td>
                                        <span>
                                            @item.Current?.ToString("N2")
                                        </span>
                                    </td>
                                }
                            </tr>
                            @if (Model.listSmrWithPrepaymentByAmendment.Count > 1)
                            {
                                for (var i = 1; i < Model.listSmrWithPrepaymentByAmendment.Count();
                                i++)
                                {
                                    var listSmr = Model.listSmrWithPrepaymentByAmendment[i];
                                    <tr>
                                        @if (listSmr.NameAmendment != "Факт")
                                        {
                                            <td rowspan="2">
                                                <div>
                                                    Дс <span>@listSmr.NameAmendment</span>
                                                </div>
                                            </td>
                                        }
                                        else
                                        {
                                            <td rowspan="2">
                                                @foreach (var item in Model.listFiles)
                                                {
                                                    <span>
                                                        <a href="~/Files/GetFile?id=@item.Id" target="_blank">@item.FileName</a>
                                                    </span>
                                                }
                                            </td>
                                        }

                                        @if (listSmr.NameAmendment != "Факт")
                                        {
                                            <td rowspan="2">
                                                <span>
                                                    План
                                                </span>
                                            </td>
                                        }
                                        else
                                        {
                                            <td rowspan="2">
                                                <span>
                                                    Факт
                                                </span>
                                            </td>
                                        }
                                        <td>
                                            <span>
                                                Целевой
                                            </span>
                                        </td>
                                        @foreach (var item in listSmr.listSmrWithAvans)
                                        {
                                            <td rowspan="2">
                                                <span>
                                                    @item.Smr?.ToString("N2")
                                                </span>
                                            </td>
                                            <td>
                                                <span>
                                                    @item.Target?.ToString("N2")
                                                </span>
                                            </td>
                                        }
                                    </tr>
                                    <tr>
                                        <td>
                                            <span>
                                                Текущий
                                            </span>
                                        </td>
                                        @foreach (var item in listSmr.listSmrWithAvans)
                                        {
                                            <td>
                                                <span>
                                                    @item.Current?.ToString("N2")
                                                </span>
                                            </td>
                                        }
                                    </tr>
                                }
                            }                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    let dateStart = document.querySelector("#start");
    let dateEnd = document.querySelector("#end");
    dateStart.addEventListener('change', (e) => {
        let valStart = dateStart.value;
        let valEnd = dateEnd.value;

        if (!valEnd || valStart > valEnd) { $("#start").val(valStart); }
    });
    dateEnd.addEventListener('change', (e) => {
        let valStart = dateStart.value;
        let valEnd = dateEnd.value;

        if (!valStart || valEnd < valStart) { $("#end").val(valEnd); }
    });

    // function ShowAmendment() {
    //     let dateStart = document.querySelector("#start");
    //     let dateEnd = document.querySelector("#end");
    //     let valStart = dateStart.value;
    //     let valEnd = dateEnd.value;
    //     $("#anotherStart").val(valStart);
    //     $("#anotherEnd").val(valEnd);
    //     $("#Amendment").submit();
    // }
</script>