@model IEnumerable<MvcLayer.Models.PrepaymentViewModel>
@inject BusinessLayer.Interfaces.ContractInterfaces.IContractService Contract
@inject BusinessLayer.Interfaces.ContractInterfaces.IPrepaymentService Prepayment
@inject BusinessLayer.Interfaces.ContractInterfaces.IPrepaymentFactService PrepFact
@inject BusinessLayer.Interfaces.ContractInterfaces.IPrepaymentPlanService PrepPlan


@{
    ViewData["Title"] = string.Empty;
    var contractId = Model.FirstOrDefault()?.ContractId;
    if (contractId is not null)
    {
        var number = Contract.GetById((int)contractId).Number;
        ViewData["Title"] = $"Авансы по договору № {number}";
    }
    bool isAdmin = true;
    var actionReturn = ViewBag.IsEngineering == true ? "Engineerings" : null;
}
}

<div class="dm-overlay">
    <div class="dm-table">
        <div class="dm-cell">
            <div class="dm-modal">
                <div class="top-modal-block">
                    <label class="my-modal-title">@ViewData["Title"]</label>
                    @if (@contractId != null && @contractId > 0)
                    {
                        <a asp-controller="Contracts" asp-action="Details" asp-route-id="@contractId" class="close-btn"></a>
                    }
                    @if (@contractId == null || @contractId == 0)
                    {                       
                        <a asp-controller="Contracts" asp-action="@actionReturn" class="close-btn"></a>
                    }
                </div>
                <hr class="modal-line" />
                <table class="table table-striped table-bordered">
                    @*!!!план без изменений!!*@
                    @foreach (var prepayment in Model.Where(x => x.IsChange != true))
                    {
                        var plansNoChange = PrepPlan.Find(x => x.PrepaymentId == prepayment.Id);
                        <tr>
                            <th>
                                Основание
                            </th>

                            @foreach (var item in plansNoChange)
                            {
                                <th>
                                    @item.Period?.ToString("MMM yyyy")
                                </th>
                            }
                        </tr>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.CurrentValue)
                            </th>
                            @foreach (var item in plansNoChange)
                            {
                                <td>
                                    @Html.DisplayFor(modelItem => item.CurrentValue)
                                </td>
                            }
                        </tr>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.TargetValue)
                            </th>
                            @foreach (var item in plansNoChange)
                            {
                                <td>
                                    @Html.DisplayFor(modelItem => item.TargetValue)
                                </td>
                            }
                        </tr>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.WorkingOutValue)
                            </th>
                            @foreach (var item in plansNoChange)
                            {
                                <td>
                                    @Html.DisplayFor(modelItem => item.WorkingOutValue)
                                </td>
                            }
                        </tr>
                    }


                    @foreach (var item2 in Model.Where(x => x.IsChange == true))
                    {
                        var plansChange = PrepPlan.Find(x => x.PrepaymentId == item2.Id);

                        <tr>
                            <th class="text-uppercase fw-light">
                                cогласно графику платежей в редакции ДС <b>@Prepayment?.GetAmendmentByPrepaymentId(item2.Id)?.Number </b>к договору
                            </th>
                            @foreach (var item in plansChange)
                            {
                                <th>
                                    @item.Period?.ToString("MMM yyyy")
                                </th>
                            }

                        </tr>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.CurrentValue)
                            </th>
                            @foreach (var item in plansChange)
                            {
                                <td>
                                    @Html.DisplayFor(modelItem => item.CurrentValue)
                                </td>
                            }
                        </tr>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.TargetValue)
                            </th>
                            @foreach (var item in plansChange)
                            {
                                <td>
                                    @Html.DisplayFor(modelItem => item.TargetValue)
                                </td>
                            }
                        </tr>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.WorkingOutValue)
                            </th>
                            @foreach (var item in plansChange)
                            {
                                <td>
                                    @Html.DisplayFor(modelItem => item.WorkingOutValue)
                                </td>
                            }
                        </tr>
                    }

                    @*!!!факт!!*@
                    @{
                        var prepaymentId = Model?.FirstOrDefault(x => x.IsChange != true)?.Id;
                    }
                    <tr>
                        <th class="text-uppercase fw-light">
                            Получено фактически
                        </th>
                        @foreach (var item in PrepFact.Find(x => x.PrepaymentId == prepaymentId))
                        {

                            <th>
                                @item.Period?.ToString("MMM yyyy")
                            </th>
                        }
                    </tr>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.CurrentValueFact)
                        </th>
                        @foreach (var item in PrepFact.Find(x => x.PrepaymentId == prepaymentId))
                        {

                            <td>
                                @item.CurrentValue
                            </td>
                        }
                    </tr>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.TargetValueFact)
                        </th>
                        @foreach (var item in PrepFact.Find(x => x.PrepaymentId == prepaymentId))
                        {

                            <td>
                                @item.TargetValue
                            </td>
                        }
                    </tr>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.WorkingOutValueFact)
                        </th>
                        @foreach (var item in PrepFact.Find(x => x.PrepaymentId == prepaymentId))
                        {

                            <td>
                                @item.WorkingOutValue
                            </td>
                        }
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
