@model IEnumerable<MvcLayer.Models.PrepaymentViewModel>
@inject BusinessLayer.Interfaces.ContractInterfaces.IContractService Contract

@{
    ViewData["Title"] = string.Empty;
    var id = Model.FirstOrDefault()?.ContractId;
    if(id is not null)
    {   
        var number = Contract.GetById((int)id).Number;
        ViewData["Title"] = $"Авансы по договору № {number}";
    }
}

<h1> @ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CurrentValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentValueFact)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TargetValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TargetValueFact)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkingOutValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkingOutValueFact)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Period)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsChange)
            </th>
           @*  <th>
                @Html.DisplayNameFor(model => model.ChangePrepayment)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.Contract)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentValueFact)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TargetValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TargetValueFact)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkingOutValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkingOutValueFact)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Period)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsChange)
            </td>
           @*  <td>
                @Html.DisplayFor(modelItem => item.ChangePrepayment.Id)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.Contract.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
