@model PrepaymentStatementWithAmendmentViewModel
@inject BusinessLayer.Interfaces.ContractInterfaces.IContractService Contract
@inject BusinessLayer.Interfaces.ContractInterfaces.IPrepaymentService Prepayment
@inject BusinessLayer.Interfaces.ContractInterfaces.IPrepaymentFactService PrepFact
@inject BusinessLayer.Interfaces.ContractInterfaces.IPrepaymentPlanService PrepPlan
@using BusinessLayer.Helpers;
@using MvcLayer.Models;
@using MvcLayer.Models.Reports;

<style>
    .dm-modal {
        background-color: lightsteelblue;
    }

    td, tr {
        min-width: 105px;
    }


    .form_period {
        display: flex;
        margin-bottom: 1%;
    }

    .period_input {
        width: 15.5%;
        margin-right: 1%;
    }

    .input-group-text {
        font-weight: 600;
    }

    .td-pointer {
        cursor: pointer;
        background-color: #73d5e9 !important;
        border-color: #73d5e9 !important;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px !important;
        border-radius: 5px !important;
        transition-property: background-color;
        transition-duration: 0.5s;
    }

        .td-pointer:hover {
            background-color: #1bcbef !important;
            border-color: #1bcbef !important;
        }

    .close-btn {
        color: red
    }

        .close-btn::after {
            border: 2px solid #F00 !important;
        }

        .close-btn:hover::after {
            border-color: red !important;
            color: red !important;
            -webkit-transform: scale(1);
            -moz-transform: scale(1);
            -ms-transform: scale(1);
            transform: scale(1);
            font-weight: bold;
        }
</style>

@{
    ViewData["Title"] = string.Empty;
    var contractId = ViewBag.contractId;
    int backId = 0;
    if (ViewBag.returnContractId == 0)
        backId = ViewBag.contractId;
    else backId = ViewBag.returnContractId;
    if (contractId is not null)
    {
        var number = Contract.GetById((int)contractId).Number;
        ViewData["Title"] = $"Ведомость использования авансов № {number}";
    }

    var countCol = 2 + ((Model.endPeriod.Value.Year - Model.startPeriod.Value.Year) * 12 + (Model.endPeriod.Value.Month - Model.startPeriod.Value.Month + 1)) * 2;
    var countRow = Model.listSmrWithPrepaymentByAmendment.Count();

    var miniRow = 0;
    if (ViewData["Current"] != null)
    {
        miniRow++;
    }
    if (ViewData["Target"] != null)
    {
        miniRow++;
    }
}

<div class="dm-overlay">
    <div class="dm-table">
        <div class="dm-cell">
            <div class="dm-modal">
                <div class="top-modal-block">
                    <label class="my-modal-title">@ViewData["Title"]</label>
                    @if (backId != null && backId > 0)
                    {
                        <a asp-controller="Contracts" asp-action="Details" asp-route-id="@backId" class="close-btn"></a>
                    }
                    else
                    {
                        <a asp-controller="Contracts" asp-action="" class="close-btn"></a>
                    }
                </div>
                <hr class="modal-line">
                <form asp-action="GetByContractIdWithAmendments" class="form_period">
                    <label class="input-group-text" for="start">Начало:</label>

                    <input id="DateBeginWork" class="form-control period_input" asp-for="startPeriod"
                           value="@Model.startPeriod?.ToString("MMMM yyyy")" type="text" required />
                    <label class="input-group-text" for="end">Конец:</label>

                    <input id="DateEndWork" class="form-control period_input" asp-for="endPeriod"
                           value="@Model.endPeriod?.ToString("MMMM yyyy")" type="text" required />
                    <input name="contractId" value="@ViewBag.contractId" hidden />
                    <input asp-for="Client" hidden />
                    <input asp-for="NameObject" hidden />
                    <input asp-for="minStartPeriod" hidden />
                    <input asp-for="maxEndPeriod" hidden />
                    <input asp-for="TheoryCurrent" hidden />
                    <input asp-for="TheoryTarget" hidden />
                    <input asp-for="TargetRepaid" hidden />
                    <input asp-for="TargetReceived" hidden />
                    <input name="returnContractId" value="@ViewBag.returnContractId" hidden />
                    <button class="btn btn-warning" type="submit"> выбрать период</button>
                </form>

                <form id="Amendment" asp-action="GetByContractId">
                    <input id="anotherStart" asp-for="startPeriod" type="text" hidden />
                    <input id="anotherEnd" asp-for="endPeriod" type="text" hidden />
                    <input name="contractId" value="@ViewBag.contractId" hidden />
                    <input asp-for="Client" hidden />
                    <input asp-for="NameObject" hidden />
                    <input asp-for="minStartPeriod" hidden />
                    <input asp-for="maxEndPeriod" hidden />
                    <input asp-for="TheoryCurrent" hidden />
                    <input asp-for="TheoryTarget" hidden />
                    <input asp-for="TargetRepaid" hidden />
                    <input asp-for="TargetReceived" hidden />
                    <input name="returnContractId" value="@ViewBag.returnContractId" hidden />
                </form>
                <div style="max-height:auto; max-width:80vw; overflow:scroll">
                    <table class="table table-bordered table-main table-main-short">
                        <thead>
                            <tr>
                                <th rowspan="3">
                                    <span>Объект</span>
                                </th>
                                <th rowspan="3">
                                    <span>Заказчик</span>
                                </th>
                                <th rowspan="2" colspan="2">
                                    <span>Всего по договору аванса</span>
                                </th>
                                <th colspan="3">
                                    <span>Целевой аванс, руб.</span>
                                </th>
                                <th>
                                    <span></span>
                                </th>
                                <th colspan="@countCol">
                                    <span>СМР и Погашение аванса по месяцам, согласно графикам платежей к договору</span>
                                </th>
                            </tr>
                            <tr>
                                <th rowspan="2">
                                    <span>Получено</span>
                                </th>
                                <th rowspan="2">
                                    <span>Погашено</span>
                                </th>
                                <th rowspan="2">
                                    <span>Не погашено</span>
                                </th>
                                <th rowspan="2">
                                    <span>Документ</span>
                                </th>
                                <th rowspan="2">
                                    <span></span>
                                </th>
                                <th rowspan="2">
                                    <span>Аванс</span>
                                </th>
                                @for (var item = Model.startPeriod; Checker.LessOrEquallyFirstDateByMonth((DateTime)item, (DateTime)Model.endPeriod);
                                item = item.Value.AddMonths(1))
                                {
                                    <th colspan="2">
                                        <span>@item?.ToString("MMMM yyyy")</span>
                                    </th>
                                }
                            </tr>
                            <tr>
                                <th>
                                    <span>Целевого</span>
                                </th>
                                <th>
                                    <span>Текущего</span>
                                </th>
                                @for (var item = Model.startPeriod; Checker.LessOrEquallyFirstDateByMonth((DateTime)item, (DateTime)Model.endPeriod);
                                item = item.Value.AddMonths(1))
                                {
                                    <th>
                                        <span>Стоимость работ по графику</span>
                                    </th>
                                    <th>
                                        <span>Отработка аванса по графику</span>
                                    </th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td rowspan="@(countRow * miniRow)">
                                    <span>
                                        @Model.NameObject
                                    </span>
                                </td>
                                <td rowspan="@(countRow * miniRow)">
                                    <span>
                                        @Model.Client
                                    </span>
                                </td>
                                <td class="text-end" rowspan="@(countRow * miniRow)">
                                    <span>
                                        @Model.TheoryTarget?.ToString("N2")
                                    </span>
                                </td>
                                <td class="text-end" rowspan="@(countRow * miniRow)">
                                    <span>
                                        @Model.TheoryCurrent?.ToString("N2")
                                    </span>
                                </td>
                                <td class="text-end" rowspan="@(countRow * miniRow)">
                                    <span>
                                        @Model.TargetReceived?.ToString("N2")
                                        
                                    </span>
                                </td>
                                <td class="text-end" rowspan="@(countRow * miniRow)">
                                    <span>
                                        @Model.TargetRepaid?.ToString("N2")
                                    </span>
                                </td>
                                <td class="text-end" rowspan="@(countRow * miniRow)">
                                    <span>
                                        @((Model.TargetReceived - Model.TargetRepaid)?.ToString("N2"))
                                    </span>
                                </td>
                                @if (Model.listSmrWithPrepaymentByAmendment.FirstOrDefault().NameAmendment != "Факт")
                                {
                                    <td class="td-pointer" rowspan="@miniRow" onclick="ShowAmendment()">
                                        <div>
                                            <span>ДC @Model.listSmrWithPrepaymentByAmendment.FirstOrDefault().NameAmendment</span>
                                        </div>
                                    </td>
                                }
                                else
                                {
                                    <td rowspan="@miniRow">
                                        @foreach (var item in Model.listFiles)
                                        {
                                            <span>
                                                <a href="~/Files/GetFile?id=@item.Id" target="_blank">@item.FileName</a>
                                            </span>
                                            <br>
                                        }
                                    </td>
                                }

                                @if (Model.listSmrWithPrepaymentByAmendment.FirstOrDefault().NameAmendment != "Факт")
                                {
                                    <td rowspan="@miniRow">
                                        <span>
                                            План
                                        </span>
                                    </td>
                                }
                                else
                                {
                                    <td rowspan="@miniRow">
                                        <span>
                                            Факт
                                        </span>
                                    </td>
                                }
                                @if (ViewData["Target"] != null)
                                {
                                    <td>
                                        <span>
                                            Целевой
                                        </span>
                                    </td>
                                }
                                @foreach (var item in Model.listSmrWithPrepaymentByAmendment.FirstOrDefault().listSmrWithAvans)
                                {
                                    <td class="text-end" rowspan="@miniRow">
                                        <span>
                                            @item.Smr?.ToString("N2")
                                        </span>
                                    </td>
                                    @if (ViewData["Target"] != null)
                                    {
                                        <td class="text-end">
                                            <span>
                                                @item.Target?.ToString("N2")
                                            </span>
                                        </td>
                                    }
                                    else
                                    {
                                        <td class="text-end">
                                            <span>
                                                @item.Current?.ToString("N2")
                                            </span>
                                        </td>
                                    }
                                }
                            </tr>
                            @if (ViewData["Target"] != null && ViewData["Current"] != null)
                            {
                                <tr>
                                    <td>
                                        <span>
                                            Текущий
                                        </span>
                                    </td>
                                    @foreach (var item in Model.listSmrWithPrepaymentByAmendment.FirstOrDefault().listSmrWithAvans)
                                    {
                                        <td class="text-end">
                                            <span>
                                                @item.Current?.ToString("N2")
                                            </span>
                                        </td>
                                    }
                                </tr>
                            }
                            @if (Model.listSmrWithPrepaymentByAmendment.Count > 1)
                            {
                                for (var i = 1; i < Model.listSmrWithPrepaymentByAmendment.Count();
                                i++)
                                {
                                    var listSmr = Model.listSmrWithPrepaymentByAmendment[i];
                                    <tr>
                                        @if (listSmr.NameAmendment != "Факт")
                                        {
                                            <td rowspan="@miniRow">
                                                <div>
                                                    Дс <span>@listSmr.NameAmendment</span>
                                                </div>
                                            </td>
                                        }
                                        else
                                        {
                                            <td rowspan="@miniRow">
                                                @foreach (var item in Model.listFiles)
                                                {
                                                    <span>
                                                        <a href="~/Files/GetFile?id=@item.Id" target="_blank">@item.FileName</a>
                                                    </span>
                                                }
                                            </td>
                                        }

                                        @if (listSmr.NameAmendment != "Факт")
                                        {
                                            <td rowspan="@miniRow">
                                                <span>
                                                    План
                                                </span>
                                            </td>
                                        }
                                        else
                                        {
                                            <td rowspan="@miniRow">
                                                <span>
                                                    Факт
                                                </span>
                                            </td>
                                        }
                                        @if (ViewData["Target"] != null)
                                        {
                                            <td>
                                                <span>
                                                    Целевой
                                                </span>
                                            </td>
                                        }
                                        @foreach (var item in listSmr.listSmrWithAvans)
                                        {
                                            <td class="text-end" rowspan="@miniRow">
                                                <span>
                                                    @item.Smr?.ToString("N2")
                                                </span>
                                            </td>
                                            @if (ViewData["Target"] != null)
                                            {
                                                <td class="text-end">
                                                    <span>
                                                        @item.Target?.ToString("N2")
                                                    </span>
                                                </td>
                                            }
                                            else
                                            {
                                                <td class="text-end">
                                                    <span>
                                                        @item.Current?.ToString("N2")
                                                    </span>
                                                </td>
                                            }
                                        }
                                    </tr>
                                    @if (ViewData["Target"] != null && ViewData["Current"] != null)
                                    {
                                        <tr>
                                            <td>
                                                <span>
                                                    Текущий
                                                </span>
                                            </td>
                                            @foreach (var item in listSmr.listSmrWithAvans)
                                            {
                                                <td class="text-end">
                                                    <span>
                                                        @item.Current?.ToString("N2")
                                                    </span>
                                                </td>
                                            }
                                        </tr>
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<input id="Min" value="@Model.minStartPeriod?.ToString("MM-yyyy")" hidden />
<input id="Max" value="@Model.maxEndPeriod?.ToString("MM-yyyy")" hidden />
@section Scripts {
    <script>
        let minDate = $('#Min').val();
        let endDate = $('#Max').val();
        let beginWork = document.querySelector("#DateBeginWork");
        let endWork = document.querySelector("#DateEndWork");
        let beginWorkVal = beginWork.value;
        let endWorkVal = endWork.value;
        $("#DateBeginWork").datepicker({
            format: "MM yyyy",
            startDate: minDate,
            endDate: endDate,
            language: "ru",
            minViewMode: 1,
            calendarWeeks: true,
            autoclose: true,
            keyboardNavigation: false,
            assumeNearbyYear: true,
            toggleActive: true
        }).on('changeDate', function () {
            changeBeginWork()
        });
        $("#DateEndWork").datepicker({
            format: "MM yyyy",
            startDate: minDate,
            endDate: endDate,
            language: "ru",
            minViewMode: 1,
            calendarWeeks: true,
            autoclose: true,
            keyboardNavigation: false,
            assumeNearbyYear: true,
            toggleActive: true
        }).on('changeDate', function () {
            changeEndWork()
        });

        function changeBeginWork() {
            let dateBeg = $("#DateBeginWork").datepicker('getDate');
            let dateEnd = $("#DateEndWork").datepicker('getDate');
            if (dateBeg != null) {
                if (dateBeg && (!dateEnd || dateBeg > dateEnd)) { $("#DateEndWork").datepicker('update', dateBeg); }
            }
        }
        function changeEndWork() {
            let dateBeg = $("#DateBeginWork").datepicker('getDate');
            let dateEnd = $("#DateEndWork").datepicker('getDate');
            if (dateEnd != null) {
                if (dateEnd && (!dateBeg || dateEnd < dateBeg)) { $("#DateBeginWork").datepicker('update', dateEnd); }
            }
        }
        beginWork.addEventListener('change', (e) => {
            changeBeginWork()
        });
        endWork.addEventListener('change', (e) => {
            changeEndWork()
        });

        $("#anotherStart").datepicker({
            format: "MM yyyy",
            language: "ru",
            minViewMode: 1,
            calendarWeeks: true,
            autoclose: true,
            keyboardNavigation: false,
            assumeNearbyYear: true,
            toggleActive: true
        });
        $("#anotherEnd").datepicker({
            format: "MM yyyy",
            language: "ru",
            minViewMode: 1,
            calendarWeeks: true,
            autoclose: true,
            keyboardNavigation: false,
            assumeNearbyYear: true,
            toggleActive: true
        });

        function ShowAmendment() {
            let valStart = $("#DateBeginWork").datepicker('getDate');
            let valEnd = $("#DateEndWork").datepicker('getDate');
            $("#anotherStart").datepicker('setDate', valStart);
            $("#anotherEnd").datepicker('setDate', valEnd);
            $("#Amendment").submit();
        }
    </script>
}