@using MvcLayer.Models;
@using Newtonsoft.Json;
@model List<MvcLayer.Models.MaterialViewModel>

@{
    int index = 0;
    var d = new List<MaterialViewModel>();

    if (TempData["material"] is string s)
    {
        d.AddRange(JsonConvert.DeserializeObject<List<MaterialViewModel>>(s));
    }
    bool isFact = d.FirstOrDefault().IsFact == true ? true : false;

    string actionName = isFact ? "EditMaterial" : "Create";
}
<style>
    .cont-table {
        overflow-x: scroll;
    }

    th,
    td {
        min-width: 250px;
    }
</style>
<h4>Стоимость материалов</h4>
<hr />
<form asp-action=@actionName class="row">
    <div class="cont-table">
        <table class="table table-bordered table-striped">
            <tr>

                <th>Период</th>
                @foreach (var item in d)
                {
                    <td>
                        @item.Period?.ToString("MMM yyyy")
                        <input asp-for="@Model[index].Period" type="text" class="form-control" value="@item.Period" hidden />
                    </td>
                    index++;
                }
                @{
                    index = 0;
                }
            </tr>   
            @if (!isFact)
            {
                <tr>
                    <th>Планируемая стоимость материалов</th>
                    @foreach (var item in d)
                    {
                        <td><input asp-for="@Model[index].Price" class="form-control" type="number" step="0.01" min="0" /></td>
                        index++;
                    }
                    @{
                        index = 0;
                    }
                </tr>
            }
            @if (isFact)
            {
                <tr>
                    <th>Цена материалов фактическая</th>
                    @foreach (var item in d)
                    {
                        <td><input asp-for="@Model[index].FactPrice" class="form-control" type="number" step="0.01" min="0" /></td>
                        index++;
                    }
                    @{
                        index = 0;
                    }
                </tr>
            }

            @foreach (var item in d)
            {
                @if (isFact)
                {
                    <input asp-for="@Model[index].Id" hidden />
                    <input asp-for="@Model[index].Price" hidden />
                }

                <input asp-for="@Model[index].AmendmentId" hidden />
                <input asp-for="@Model[index].ContractId" hidden />
                <input asp-for="@Model[index].IsChange" hidden />
                <input asp-for="@Model[index].ChangeMaterialId" hidden />

                index++;
            }

        </table>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Вернуться назад</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
