@model IEnumerable<MvcLayer.Models.MaterialViewModel>
@inject BusinessLayer.Interfaces.ContractInterfaces.IContractService Contract

@{
    ViewData["Title"] = string.Empty;
    var id = Model.FirstOrDefault()?.ContractId;
    if (id is not null)
    {
        var number = Contract.GetById((int)id).Number;
        ViewData["Title"] = $"Стоимость материалов согласно договора № {number}";
    }
}



<div class="dm-overlay">
    <div class="dm-table">
        <div class="dm-cell">
            <div class="dm-modal" >
                <div class="top-modal-block">
                    <label class="my-modal-title">@ViewData["Title"]</label>
                    @if (@id != null && @id > 0)
                    {
                        <a asp-controller="Contracts" asp-action="Details" asp-route-id="@id" class="close-btn"></a>
                    }
                    @if (@id == null || @id == 0)
                    {
                        <a asp-controller="Contracts" asp-action="" class="close-btn"></a>
                    }
                </div>
                <hr class="modal-line" />
                <div style=" overflow:scroll; max-height:600px">
                    <table class="table">
                        @*!!!план без изменений!!*@
                        <tr>
                            <th>
                                Период
                            </th>
                            @foreach (var item in Model.Where(x => x.IsChange != true))
                            {
                                <th>
                                    @item.Period?.ToString("MMM yyyy")
                                </th>
                            }
                        </tr>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Price)
                            </th>
                            @foreach (var item in Model.Where(x => x.IsChange != true))
                            {
                                <td>
                                    @Html.DisplayFor(modelItem => item.Price)
                                </td>
                            }
                        </tr>
                        @if (Model.Where(x => x.IsChange == true).Count() > 0)
                        {
                            @foreach (var item2 in Model.Where(x => x.IsChange == true))
                            {
                                var amendment = @item2?.MaterialAmendments?.FirstOrDefault(x => x.MaterialId == item2.Id)?.Amendment;

                                <tr>@amendment?.Number</tr>
                                <tr>
                                    <th class="text-uppercase fw-light">
                                        Cогласно графику стоимости в редакции ДС @amendment?.Number к договору
                                    </th>
                                    @foreach (var item3 in Model.Where(x => x.IsChange == true))
                                    {
                                        <th>
                                            @item3.Period?.ToString("MMM yyyy")
                                        </th>
                                    }
                                </tr>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Price)
                                    </th>
                                    @foreach (var item in Model.Where(x => x.IsChange == true))
                                    {
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Price)
                                        </td>
                                    }
                                </tr>
                            }
                        }
                        @*!!!факт!!*@
                        <tr>
                            <th class="text-uppercase fw-light">
                                По факту
                            </th>
                            @foreach (var item in Model)
                            {
                                <th>
                                    @item.Period?.ToString("MMM yyyy")
                                </th>
                            }
                        </tr>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.FactPrice)
                            </th>
                            @foreach (var item in Model)
                            {
                                <td>
                                    @Html.DisplayFor(modelItem => item.FactPrice)
                                </td>
                            }
                        </tr>
                    </table>
                </div>
               
            </div>
        </div>
    </div>
</div>
