@model IEnumerable<MvcLayer.Models.MaterialViewModel>

@{
    ViewData["Title"] = "Index";
}
<style>
    .dm-modal {
        background-color: lightsteelblue;
    }


    .close-btn {
        color: red
    }


    .close-btn {
        color: red
    }

        .close-btn::after {
            border: 2px solid #F00 !important;
        }

        .close-btn:hover::after {
            border-color: red !important;
            color: red !important;
            -webkit-transform: scale(1);
            -moz-transform: scale(1);
            -ms-transform: scale(1);
            transform: scale(1);
            font-weight: bold;
        }
</style>

@* <p>
    <a asp-action="Create">Create New</a>
</p> *@
<table class="table table-main">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FactPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Period)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsChange)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.Contract)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @item.Price?.ToString("N2")
            </td>
            <td>
                    @item.FactPrice?.ToString("N2")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Period)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsChange)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.Contract.Id)
            </td>
            <td>
               @*  <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> *@
            </td>
        </tr>
}
    </tbody>
</table>
