@using BusinessLayer.Enums;
@model List<BusinessLayer.Models.FileDTO>
@inject BusinessLayer.Interfaces.CommonInterfaces.IConverter Converter

<link href="~/kendoui/upload_style.css" rel="stylesheet" />
@{
    ViewData["Title"] = $"Файлы договора";
    var isAdmin = true;
    string controller = ViewBag.redirectController is not null || ViewBag.redirectController == "Files" ? ViewBag.redirectController : "Contracts";
    string action = ViewBag.redirectAction is not null ? ViewBag.redirectAction : "Index";
    var routeValue = !action.Equals("Index", StringComparison.OrdinalIgnoreCase) && ViewBag.entityId is not null ? ViewBag.entityId : null;
    if (ViewBag.returnContractId != 0)
        routeValue = ViewBag.returnContractId;
}

<style>
    .file_list_item {
        display: flex;
        align-items: center;
    }

    .dm-modal {
        background-color: lightsteelblue;
    }

    .close-btn {
        color: red
    }

        .close-btn::after {
            border: 2px solid #F00 !important;
        }

        .close-btn:hover::after {
            border-color: red !important;
            color: red !important;
            -webkit-transform: scale(1);
            -moz-transform: scale(1);
            -ms-transform: scale(1);
            transform: scale(1);
            font-weight: bold;
        }
</style>

<div class="dm-overlay">
    <div class="dm-table">
        <div class="dm-cell">
            <div class="dm-modal" style="width:800px;">
                <div class="top-modal-block">
                    <label class="my-modal-title">@ViewData["Title"]</label>
                    <a href="~/@controller/@action/@routeValue" class="close-btn"></a>
                </div>
                <hr class="modal-line" />
                @if (Model.Any())
                {
                    <div id="example" style="min-width:400px; max-width: 800px;">
                        <div class='file-wrapper'>
                            @foreach (var item in Model)
                            {
                                var pointIndex = item?.FileName?.LastIndexOf('.');
                                var typeFileValue = item?.FileName?.Substring((int)pointIndex + 1);
                                var classType = Converter.GetFileClass(typeFileValue);

                                <div class="file_list_item">
                                    <span class="file-icon @classType"></span>
                                    <h4 class='file-heading file-name-heading'>
                                        Название: <a href="~/Files/GetFile?id=@item.Id" target="_blank">@item.FileName</a>
                                    </h4>

                                    <strong style="display:flex; align-items:center">
                                        @if (isAdmin)
                                        {
                                            <div class="icon delete">
                                                @Html.ActionLink("", "Delete", "Files", new {id = item.Id, redirectAction = "GetByContractId", redirectController="Files",fileCategory= FolderEnum.Contracts, contractId =@ViewBag.entityId,  pageNum= @ViewBag.Page}, new { @class = "del-btn", @onclick = "return confirmDelete();"})
                                            </div>
                                        }
                                    </strong>
                                </div>
                            }
                        </div>
                    </div>
                }
                else
                {
                    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                        <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                        </symbol>
                        <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
                            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
                        </symbol>
                        <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                        </symbol>
                    </svg>
                    <div class="alert alert-warning d-flex align-items-center" role="alert">
                        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill" /></svg>
                        <div>
                            Отсутствуют данные
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


@section Scripts {
}