@model MvcLayer.Models.DepartmentViewModel
@inject BusinessLayer.Interfaces.CommonInterfaces.IHttpHelper HttpHelper


@{
    var http = new HttpContextAccessor();
    var permissions = HttpHelper.GetPermissionForUser(http);
    ViewData["Title"] = "Отдел";
}

<style>
    .dm-modal {
        background-color: lightsteelblue;
    }

    .close-btn {
        color: red
    }

        .close-btn::after {
            border: 2px solid #F00 !important;
        }

        .close-btn:hover::after {
            border-color: red !important;
            color: red !important;
            -webkit-transform: scale(1);
            -moz-transform: scale(1);
            -ms-transform: scale(1);
            transform: scale(1);
            font-weight: bold;
        }

    .img_btn {
        width: 24px;
        height: 24px;
        margin-right: 2px;
        transition-property: transform;
        transition-duration: 1s;
        transition-timing-function: ease-in-out;
    }

    .btn-primary:hover > .img_btn {
        transform: rotate(180deg);
    }

    .img_delete {
        height: 20px;
        width: 20px;
        margin-right: 5px;
    }

    table {
        margin-bottom: 0 !important;
    }

    .btn_container {
        margin-top: 1rem;
    }

    .table-main tr:nth-child(2n) {
        background-color: #ecf2f9 !important;
    }

</style>
<div class="dm-overlay">
    <div class="dm-table">
        <div class="dm-cell">
            <div class="dm-modal">
                <div class="top-modal-block flex-column">
                    <div class="input-group m-2 ">
                        <span class="my-modal-title m-auto">@ViewData["Title"]</span>
                        <a asp-controller="Organizations" asp-action="Index" class="close-btn"></a>
                    </div>
                    <div class="modal-overflow-70">
                        <table class="table table-main table-bordered table-hover">
                            <tbody>
                                <tr>
                                    <th class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.Name)
                                    </th>
                                    <td class="col-sm-10">
                                        @Html.DisplayFor(model => model.Name)
                                    </td>
                                </tr>
                                <tr>
                                    <th class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.Organization)
                                    </th>
                                    <td class="col-sm-10">
                                        @Html.DisplayFor(model => model.Organization.Name)
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="justify-content-between d-flex btn_container">
                        @if (permissions is not null && permissions.IsEditor)
                        {
                            <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Edit", "Departments", new {id = Model.Id} )'"><img src="~/icons/circular_icon.png" class="img_btn" /> Изменить</button>
                        }
                        @if (permissions is not null && (permissions.IsDeleter || permissions.IsAdmin))
                        {
                            <button id="button-close" type="button" class="btn btn-danger" onclick="confirmI()"><img class="img_delete" src="~/icons/delete_icon.png" />Удалить</button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    let val = @Model.Id;

    function confirmI() {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("ShowDelete", "Departments")',
            contentType: "application/html; charset=utf-8",
            dataType: 'html',
            success: function (result) {
                $('#dialogContent').html(result);
                $('#modDialog').modal('show');

                let elementDeleteButton = document.querySelectorAll('#modal-button-delete')
                elementDeleteButton[0].addEventListener('click', () => {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("ShowResultDelete", "Departments")',
                        dataType: 'html',
                        data: { id: val },
                        success: function (result) {
                            let buttonElement = document.querySelectorAll('.close-btn')
                            buttonElement[0].click()
                        },
                        error: function (result) {
                            console.log(result, 'Ошибка удаления');
                            alert("Ошибка удаления");
                        }
                    });

                })

            },
            error: function (result) {
                console.log(result, 'error 2');
                alert("Ошибка отображения");
            }
        })
    }
</script>
