@model IEnumerable<MvcLayer.Models.DepartmentViewModel>

@{
    ViewData["Title"] = "Отделы";
}
<div class="dm-overlay">
    <div class="dm-table">
        <div class="dm-cell">
            <div class="dm-modal">
                <div class="top-modal-block">
                    <label class="my-modal-title">@ViewData["Title"]</label>
                    <a asp-controller="Home" asp-action="" class="close-btn "></a>
                </div>
                <a class="btn btn-success" asp-action="Create">Добавить новую</a>
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Organization)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @item.Organization.Name
                                </td>
                                <td>
                                    <span class="icon edit" title="Редактировать">
                                        <a asp-action="Edit" asp-route-id="@item.Id"></a>
                                    </span>
                                    <span class="icon delete" title="Удалить">
                                        <a asp-action="Delete" asp-route-id="@item.Id"></a>
                                    </span>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>