@model BusinessLayer.Models.IndexViewModel
@using BusinessLayer.Models;
@{
    ViewData["Title"] = "Список организаций";
}
<style>
    td {
        word-wrap: anywhere;
    }
</style>
<div class="dm-overlay">
    <div class="dm-table">
        <div class="dm-cell">
            <div class="dm-modal">
                <div class="top-modal-block flex-column">
                    <div class="input-group m-2 ">
                        <span class="my-modal-title m-auto">@ViewData["Title"]</span>
                        <a asp-controller="Home" asp-action="" class="close-btn"></a>
                    </div>
                    <div class="input-group m-2">

                        <button type="button" class="btn btn-success k-mr-2" onclick="location.href='@Url.Action("Create", "Organization")'">Новая организация</button>
                        @using (Html.BeginForm("Index", "Organization", FormMethod.Get))
                        {
                            <form style="search-form">
                                <label style="search-form__text">Название организации:</label> @Html.TextBox("query", ViewBag.CurrentFilter as string)
                                <input type="submit" value="Найти" />
                            </form>
                        }
                    </div>
                    <hr class="modal-line" />
                    <div style="max-height:700px; overflow-y:scroll">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.ActionLink("Название", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter=ViewBag.CurrentFilter } , new {id="arrayName", @class=""})
                                    </th>
                                    <th>
                                        <span class="table_span-month">
                                            @Html.ActionLink("Аббревиатура", "Index", new { sortOrder = ViewBag.AbbrSortParm, currentFilter=ViewBag.CurrentFilter } , new {id="arrayAbbr", @class=""})
                                        </span>
                                    </th>
                                    <th>
                                        @Html.ActionLink("УНП", "Index", new { sortOrder = ViewBag.UnpSortParm, currentFilter=ViewBag.CurrentFilter } , new {id="arrayUnp", @class=""})
                                    </th>
                                    <th>
                                        Отделы
                                    </th>
                                    <th>
                                        Телефоны
                                    </th>
                                    <th>
                                        Юр. адрес
                                    </th>
                                    <th>
                                        Почтовый индекс
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (OrganizationDTO item in Model.Objects)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            <span class="table_span-month">
                                            @Html.DisplayFor(modelItem => item.Abbr)
                                            </span>
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Unp)
                                        </td>

                                        <td>
                                            <span class="icon link_to_page dropdown-toggle">
                                            </span>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <a class="icon view_to_add_pages " asp-controller="Departments"
                                               asp-action="Create" asp-route-idOrg="@item.Id"></a>
                                                <div class="dropdown-divider"></div>
                                            @foreach (var department in item.Departments)
                                            {
                                                <div class="d-flex flex-row">                                                        
                                                        <a  asp-controller="Departments" asp-action="Details" asp-route-id="@department.Id">
                                                                @department.Name
                                                        </a>
                                                  

                                                </div>
                                            }
                                            </div>
                                        </td>
                                        <td>
                                            @foreach (var phone in item.Phones)
                                            {
                                                <div class="d-flex flex-row">
                                                    <span class="p-1 k-mr-5 text-break">@phone.Number</span>                                                    
                                                </div>
                                            }
                                        </td>
                                        <td>
                                            @foreach (var address in item.Addresses)
                                            {
                                                @if (address.FullAddressFact != null)
                                                {
                                                    <div class="d-flex flex-row">
                                                        <span class="p-1 k-mr-5 text-break">@address.FullAddressFact</span>
                                                    </div>
                                                }
                                            }
                                        </td>
                                        <td>
                                            @foreach (var address in item.Addresses)
                                            {
                                                @if (address.PostIndex != null)
                                                {
                                                    <div class="d-flex flex-row">
                                                        <span class="p-1 k-mr-5 text-break">@address.PostIndex</span>
                                                    </div>
                                                }
                                            }
                                        </td>
                                        <td>
                                            <span class="icon edit" title="Редактировать">
                                                <a asp-action="Edit" asp-route-id="@item.Id"></a>
                                            </span>
                                            <span class="icon delete" title="Удалить">
                                                <a asp-action="Delete" asp-route-id="@item.Id"></a>
                                            </span>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="pages">
                        @{
                            if (Model.PageViewModel.HasPreviousPage)
                            {
                                <a class="btn btn-primary" asp-action="Index" asp-route-pageNum="@(Model.PageViewModel.PageNumber - 1)">&lt;</a>
                            }
                            else
                            {
                                <a class="btn btn-primary disabled" asp-action="Index" asp-route-pageNum="@(Model.PageViewModel.PageNumber - 1)">&lt;</a>
                            }
                        }
                        <b> @Model.PageViewModel.PageNumber / @Model.PageViewModel.TotalPages</b>
                        @{
                            if (Model.PageViewModel.HasNextPage)
                            {
                                <a class="btn btn-primary" asp-action="Index" asp-route-pageNum="@(Model.PageViewModel.PageNumber + 1)">&gt;</a>
                            }
                            else
                            {
                                <a class="btn btn-primary disabled" asp-action="Index" asp-route-pageNum="@(Model.PageViewModel.PageNumber + 1)">&gt;</a>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>