@model BusinessLayer.Models.IndexViewModel
@using BusinessLayer.Models;
@{
    ViewData["Title"] = "Список организаций";
}
<style>
    td {
        word-wrap: anywhere;
    }
</style>
<div class="dm-overlay">
    <div class="dm-table">
        <div class="dm-cell">
            <div class="dm-modal">
                <div class="top-modal-block flex-column">
                    <label class="my-modal-title">@ViewData["Title"]</label>
                    <a asp-controller="Home" asp-action="" class="close-btn"></a>                   
                    <div class="contracts-list">
                        <div>
                            <button type="button" class="btn btn-success" onclick="location.href='@Url.Action("Create", "Organization")'">Новый договор</button>
                            @using (Html.BeginForm("Index", "Organization", FormMethod.Get))
                            {
                                <form style="search-form">
                                    <label style="search-form__text">Название объекта/номер договора:</label> @Html.TextBox("query", ViewBag.CurrentFilter as string)
                                    <input type="submit" value="Найти" />
                                </form>
                            }
                        </div>
                    </div>
                    <hr class="modal-line" />
                <div style="max-height:700px; overflow-y:scroll">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>                                    
                                     @Html.ActionLink("Название", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter=ViewBag.CurrentFilter } , new {id="arrayName", @class=""})
                                </th>
                                <th>
                                     @Html.ActionLink("Аббревиатура", "Index", new { sortOrder = ViewBag.AbbrSortParm, currentFilter=ViewBag.CurrentFilter } , new {id="arrayAbbr", @class=""})
                                </th>
                                <th>
                                     @Html.ActionLink("УНП", "Index", new { sortOrder = ViewBag.UnpSortParm, currentFilter=ViewBag.CurrentFilter } , new {id="arrayUnp", @class=""})
                                </th>
                                <th colspan="2">
                                     Отделы
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (OrganizationDTO item in Model.Objects)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Abbr)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Unp)
                                    </td>
                                    <td>
                                        @foreach (var department in item.Departments)
                                            {
                                                <span>@department.Name</span>
                                                
                                                <br />
                                            }
                                    </td>
                                        <td>
                                            @foreach (var department in item.Departments)
                                            {                                                
                                                <span class="icon edit" title="Редактировать">
                                                    <a asp-controller="Departments" asp-action="Edit" asp-route-id="@department.Id"></a>
                                                </span>
                                                <span class="icon delete" title="Удалить">
                                                    <a asp-controller="Departments" asp-action="Delete" asp-route-id="@department.Id"></a>
                                                </span>                                                
                                                <br />
                                            }
                                        </td>
                                    <td>                                        
                                        <span class="icon edit" title="Редактировать">
                                            <a asp-action="Edit" asp-route-id="@item.Id"></a>
                                        </span>
                                        <span class="icon delete" title="Удалить">
                                            <a asp-action="Delete" asp-route-id="@item.Id"></a>
                                        </span>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                    <div class="pages">
                        @{
                            if (Model.PageViewModel.HasPreviousPage)
                            {
                                <a class="btn btn-primary" asp-action="Index" asp-route-pageNum="@(Model.PageViewModel.PageNumber - 1)">&lt;</a>
                            }
                            else
                            {
                                <a class="btn btn-primary disabled" asp-action="Index" asp-route-pageNum="@(Model.PageViewModel.PageNumber - 1)">&lt;</a>
                            }
                        }
                        <b> @Model.PageViewModel.PageNumber / @Model.PageViewModel.TotalPages</b>
                        @{
                            if (Model.PageViewModel.HasNextPage)
                            {
                                <a class="btn btn-primary" asp-action="Index" asp-route-pageNum="@(Model.PageViewModel.PageNumber + 1)">&gt;</a>
                            }
                            else
                            {
                                <a class="btn btn-primary disabled" asp-action="Index" asp-route-pageNum="@(Model.PageViewModel.PageNumber + 1)">&gt;</a>
                            }
                        }
                    </div>
            </div>
        </div>
    </div>
</div>