@model BusinessLayer.Models.IndexViewModel
@using BusinessLayer.Models;
@{
    ViewData["Title"] = "Список организаций";
}
<style>
    #org_table {
        min-width: 700px;
    }
</style>
<div class="dm-overlay">
    <div class="dm-table">
        <div class="dm-cell">
            <div class="dm-modal">
                <div class="top-modal-block flex-column">
                    <div class="input-group m-2">
                        <span class="my-modal-title m-auto">@ViewData["Title"]</span>
                        <a asp-controller="Home" asp-action="" class="close-btn"></a>
                    </div>
                    <div class="input-group m-2">
                        <div class="nav_panel_btns">
                            <div class="link_add_emp"></div>
                            <div class="btn_panel_search">
                                <button type="button" class="btn btn-success new_emp" onclick="location.href='@Url.Action("Create", "Organizations")'">Добавить организацию</button>
                                <form asp-controller="Organizations" asp-action="Index" style="search-form">
                                    <input type="text" placeholder="Поиск по названию" id="er" />
                                    <button type="submit"><img src="~/icons/search.svg" title="Поиск организации" alt="Поиск организации" class="search_btn" /></button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <hr class="modal-line" />
                    <div style="max-height:700px; overflow-y:scroll">
                        <table class="table table-bordered table-main table-main-short" id="org_table">
                            <thead>
                                <tr>
                                    <th>
                                        <span class="column_300">
                                            Название
                                            @Html.ActionLink(" ", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter=ViewBag.CurrentFilter } , new {id="arrayName", @class="up"})

                                        </span>
                                    </th>
                                    <th>
                                        <span class="column_150">
                                            Аббревиатура
                                            @Html.ActionLink(" ", "Index", new { sortOrder = ViewBag.AbbrSortParm, currentFilter=ViewBag.CurrentFilter } , new {id="arrayAbbr", @class="up"})
                                        </span>
                                    </th>
                                    <th>
                                        <span class="column_100">
                                            УНП
                                            @Html.ActionLink(" ", "Index", new { sortOrder = ViewBag.UnpSortParm, currentFilter=ViewBag.CurrentFilter } , new {id="arrayUnp", @class="up"})
                                   </span>
                                    </th>
                                    <th>
                                        <span class="column_75">
                                            Отделы
                                        </span>
                                    </th>
                                    <th>
                                        <span class="column_75">
                                            Телефоны
                                        </span>
                                    </th>
                                    <th>
                                        <span class="column_200">
                                            Юр. адрес
                                        </span>
                                    </th>
                                    <th>
                                        <span class="column_75">
                                            Почтовый индекс
                                        </span>
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (OrganizationDTO item in Model.Objects)
                                {
                                    <tr>
                                        <td>
                                            <span class="column_300">
                                                @Html.DisplayFor(modelItem => item.Name)
                                            </span>
                                        </td>
                                        <td>
                                            <span class="column_150">
                                                @Html.DisplayFor(modelItem => item.Abbr)
                                            </span>
                                        </td>
                                        <td>
                                            <span class="column_100">
                                                @Html.DisplayFor(modelItem => item.Unp)
                                            </span>
                                        </td>

                                        <td>
                                            <span class="column_75">
                                                <span class="icon link_to_page dropdown-toggle">
                                                </span>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                    <a class="icon view_to_add_pages " asp-controller="Departments"
                                                       asp-action="Create" asp-route-idOrg="@item.Id"></a>
                                                    <div class="dropdown-divider"></div>
                                                    @foreach (var department in item.Departments)
                                                    {
                                                        <div class="d-flex flex-row">
                                                            <a asp-controller="Departments" asp-action="Details" asp-route-id="@department.Id">
                                                                @department.Name
                                                            </a>


                                                        </div>
                                                    }
                                                </div>
                                            </span>
                                        </td>
                                        <td>
                                            <span class="column_75">
                                                @foreach (var phone in item.Phones)
                                                {
                                                    <div class="d-flex flex-row">
                                                        <span class="p-1 k-mr-5 text-break">@phone.Number</span>
                                                    </div>
                                                }
                                            </span>
                                        </td>
                                        <td>
                                            <span class="column_200">
                                                @foreach (var address in item.Addresses)
                                                {
                                                    @if (address.FullAddress != null)
                                                    {
                                                        <div class="d-flex flex-row">
                                                            <span class="p-1 k-mr-5 text-break">@address.FullAddress</span>
                                                        </div>
                                                    }
                                                }
                                            </span>
                                        </td>
                                        <td>
                                            <span class="column_75">
                                                @foreach (var address in item.Addresses)
                                                {
                                                    @if (address.PostIndex != null)
                                                    {
                                                        <div class="d-flex flex-row">
                                                            <span class="p-1 k-mr-5 text-break">@address.PostIndex</span>
                                                        </div>
                                                    }
                                                }
                                            </span>
                                        </td>
                                        <td>
                                            <span class="icon edit" title="Редактировать">
                                                <a asp-action="Edit" asp-route-id="@item.Id"></a>
                                            </span>
                                           @* <span class="icon delete" title="Удалить">
                                                <a asp-action="Delete" asp-route-id="@item.Id"></a>
                                            </span>*@
                                            <a class="icon delete" onclick="confirm(@item.Id)"></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <nav aria-label="Page navigation example" style="margin-top:10px;">
                        <ul class="pagination justify-content-center">
                            <li class="page-item previous_btn">
                                @{
                                    @if (Model.PageViewModel.PageNumber > 1)
                                    {
                                        <a class="page-link" asp-action="Index" asp-route-pageNum="@(Model.PageViewModel.PageNumber - 1)"
                                        asp-route-sortOrder="@ViewData["CurrentSort"]"
                                        asp-route-currentFilter="@ViewData["CurrentFilter"]">&lt;</a>
                                    }
                                    @if (Model.PageViewModel.PageNumber <= 1)
                                    {
                                        <a class="page-link" asp-action="Index" asp-route-pageNum="@(Model.PageViewModel.PageNumber - 1)"
                                        asp-route-sortOrder="@ViewData["CurrentSort"]"
                                        asp-route-currentFilter="@ViewData["CurrentFilter"]"
                                        tabindex="-1" aria-disabled="true">&lt;</a>
                                    }
                                }
                            </li>
                            @{
                                int counter = 1;
                                int index = Model.PageViewModel.PageNumber <= 5 ? 1 : Model.PageViewModel.PageNumber;
                                for (int i = index; i <= Model.PageViewModel.TotalPages; i++)
                                {
                                    <li class="page-item pag_btn_num"><a class="page-link " asp-action="Index" asp-route-pageNum="@i"
                                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                                   asp-route-currentFilter="@ViewData["CurrentFilter"]" 
                                   value="@i">@i</a>
                                    </li>
                                    if (counter == 5)
                                    {
                                        counter = 1;
                                        break;
                                    }
                                }
                            }
                            <li class="page-item next_btn">
                                @{
                                    @if (Model.PageViewModel.PageNumber <= Model.PageViewModel.TotalPages)
                                    {
                                        <a class="page-link" asp-action="Index" asp-route-pageNum="@(Model.PageViewModel.PageNumber + 1)"
                                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                                   asp-route-currentFilter="@ViewData["CurrentFilter"]">&gt;</a>
                                    }
                                    else
                                    {
                                        <a class="page-link" asp-action="Index" asp-route-pageNum="@(Model.PageViewModel.PageNumber + 1)"
                                        asp-route-sortOrder="@ViewData["CurrentSort"]"
                                        asp-route-currentFilter="@ViewData["CurrentFilter"]"
                                        aria-disabled="true">&gt;</a>
                                    }
                                }
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        addition_nav_bar();

        ////// Pagination
        paginationFunc(@Model.PageViewModel.PageNumber, @Model.PageViewModel.TotalPages);
                //////ENd pagination

        window.onload = function () 
        {
            let actualUrl = window.location.search;
            let elementArrayName = document.getElementById("arrayName");
            let elementArrayAbbr = document.getElementById("arrayAbbr");
            let elementArrayUnp = document.getElementById("arrayUnp");            

            if (actualUrl.includes('nameDesc')) 
            {
                elementArrayName.classList.remove("up")
                elementArrayName.classList.add("up-down-active")
                elementArrayName.classList.add('down')
            } 
                else if (actualUrl.includes('name')) 
                {
                    elementArrayName.classList.add("up-down-active")
                } 
            else if (actualUrl.includes('abbrDesc')) 
            {
                elementArrayAbbr.classList.remove("up")
                elementArrayAbbr.classList.add("up-down-active")
                elementArrayAbbr.classList.add('down')
            }
                else if (actualUrl.includes('abbr'))
                {
                    elementArrayAbbr.classList.add("up-down-active")
                }
            else if (actualUrl.includes('unpDesc')) {
                 elementArrayUnp.classList.remove("up")
                 elementArrayUnp.classList.add("up-down-active")
                 elementArrayUnp.classList.add('down')
            }
                 else if (actualUrl.includes('unp'))
                 {
                    elementArrayUnp.classList.add("up-down-active")
                 }
        }
        function confirm(val) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("ShowDelete","Employees")',
                contentType: "application/html; charset=utf-8",
                dataType: 'html',
                success: function (result) {
                    $('#dialogContent').html(result);
                    $('#modDialog').modal({ backdrop: false });
                    $('#modDialog').modal('show');

                    let elementDeleteButton = document.querySelectorAll('#modal-button-delete')
                    elementDeleteButton[0].addEventListener('click', () => {
                        $.ajax({
                            type: 'POST',
                            url: '@Url.Action("ShowResultDelete","Organizations")',
                            dataType: 'html',
                            data: { id: val },
                            success: function (result) {
                                let buttonElement = document.querySelectorAll('#dialogContent')
                                $('#dialogContent').html(result);
                            },
                            error: function (result) {
                                console.log(result, 'Ошибка удаления');
                                $.ajax({
                                    type: 'POST',
                                    url: '@Url.Action("Message","Home")',
                                    dataType: 'html',
                                    data: { message: "Во время удаления произошла ошибка" },
                                    success: function (result) {
                                        $('#dialogContent').html(result);
                                    }
                                });
                            }
                        });
                    })
                },
                error: function (result) {
                    console.log(result, 'error 2');
                    alert("Ошибка отображения");
                }
            })
        }
    </script>
}