@using OfficeOpenXml;
@inject BusinessLayer.Interfaces.ContractInterfaces.IFormService Form
@model IEnumerable<ExcelWorksheet>

<form id="target" asp-action="EditByFile" asp-controller="Forms" asp-route-path="@TempData["path"]">
    <div>
        <input name="id" value="@TempData["Id"]" hidden/>
        <label class="control-label">Лист</label>
        <select name="page" id="ex">
            @foreach (var item in Model)
            {
                @if (item.Name.ToLower() == "справка")
                {
                    <option value="@item.Index" selected>
                        <span>
                            @item.Name
                        </span>
                    </option>
                }
                else
                {
                    <option value="@item.Index">
                        <span>
                            @item.Name
                        </span>
                    </option>
                }
            }
        </select>
    </div>  
    <button class="mt-5 k-button k-button-solid-primary k-button-solid k-button-md k-rounded-md" type="submit">Извлечь данные</button>
</form>