@using OfficeOpenXml;
@inject BusinessLayer.Interfaces.ContractInterfaces.IFormService Form
@model IEnumerable<ExcelWorksheet>
@{
    var path = ViewBag.path;
    var formId = int.Parse(ViewBag.forId);
    var contractId = int.Parse(ViewBag.contrId);
    var returnContractId = int.Parse(ViewBag.returnContrId);
}

<style>
    .form_select {
        display: flex;
        flex-direction: column;
    }
    .btn {
        margin-left: 72%;
    }
</style>

<form id="target" asp-action="EditByFile" asp-controller="Forms" asp-route-path="@path">
    <div>
        <input name="id" value="@formId" hidden />
        <input name="contractId" value="@contractId" hidden />
        <input name="returnContractId" value="@returnContractId" hidden />
        <label class="control-label">Лист:</label>
        <select name="page" id="ex" class="form-select">
            @foreach (var item in Model)
            {
                @if (item.Name.ToLower() == "справка")
                {
                    <option value="@item.Index" selected>
                        <span>
                            @item.Name
                        </span>
                    </option>
                }
                else
                {
                    <option value="@item.Index">
                        <span>
                            @item.Name
                        </span>
                    </option>
                }
            }
        </select>
    </div>  
    <button class="mt-3 btn btn-primary" type="submit">Извлечь данные</button>
</form>