@model MvcLayer.Models.PeriodChooseViewModel
@using BusinessLayer.Models;
@inject BusinessLayer.Interfaces.ContractInterfaces.IAmendmentService Amendment
@inject BusinessLayer.Interfaces.ContractInterfaces.IServiceGCService ServiceGC
@inject BusinessLayer.Interfaces.ContractInterfaces.IContractService Contract

@{
    ViewData["Title"] = "Выбрать период или изменение к договору";
    int backId = 0;
    if ((int)ViewData["returnContractId"] == 0)
        backId = (int)ViewData["contractId"];
    else backId = (int)ViewData["returnContractId"];
    var listAmendment = ServiceGC.GetFreeAmendment((int)Model?.ContractId);
    var contract = Contract.GetById((int)Model.ContractId);
}

<style>
    .title-warning {
        display: flex;
        justify-content: center;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 22px;
        letter-spacing: -0.34px;
        border-radius: 10px;
        color: #fff;
        background-color: #e83c14;
        border-color: #e83c14;
        padding: 0.5rem;
    }

    label {
        margin: 10px auto;
    }

    #target {
        margin: 100px auto;
        width: 50%;
    }

    #chooseAmendment {
        margin: 0 auto 30px auto;
    }

    
    .d-inline-block {
        width: 100%;
        text-align: center;
        font-weight: 600;
        color: black;
    }

    .label-block {
        height: 70px;
        text-align: center;
        font-weight: 600;
        color: black;
    }

    .btn-block {
        display: flex;
        justify-content: space-between;
    }

    .label_period {
        font-weight: 600;
    }
</style>

<div class="dm-overlay">
    <div class="dm-table">
        <div class="dm-cell">
            <div class="dm-modal">
                <div class="top-modal-block">
                    <label class="my-modal-title">@ViewData["Title"]</label>
                    @if (backId != null && backId > 0)
                    {
                        <a asp-controller="Contracts" asp-action="Details" asp-route-id="@backId" class="close-btn"></a>
                    }
                    @if (backId == null || backId == 0)
                    {
                        <a asp-controller="Contracts" asp-action="" class="close-btn"></a>
                    }
                </div>
                <hr class="modal-line" />
                @if (listAmendment.Count() > 0)
                {
                    <form id="target" asp-action="CreatePeriods" class="row" method="post" enctype="multipart/form-data" data-ajax="true" data-ajax-method="POST" data-ajax-mode="replace" data-ajax-update="#result">
                        <input name="returnContractId" value="@ViewBag.returnContractId" hidden>
                        <input asp-for="ContractId" value="@Model?.ContractId" hidden />
                        <input asp-for="ChangeServiceId" value="@Model?.ChangeServiceId" hidden />
                        <input asp-for="IsChange" value="@Model?.IsChange" hidden />
                        <input asp-for="IsFact" value="@Model?.IsFact" hidden />
                        <input asp-for="PeriodStart" type="datetime" value="@Model?.PeriodStart" hidden />
                        <input asp-for="PeriodEnd" type="datetime" value="@Model?.PeriodEnd" hidden />

                        <div class="form-group col-12">
                            <div class="title-warning"><span>Услуги генподрядчика для данного договора заполнены</span></div>
                        </div>
                        <div id="chooseAmendment" class="row">
                            <div class="form-group">
                                <label class="control-label label_period">Выбрать доп.соглашение</label>
                                <select name="AmendmentId" id="AmendId" class="form-control select">
                                    <option disabled selected>Выберите</option>

                                    @foreach (AmendmentDTO org in listAmendment)
                                    {
                                        <option value="@org.Id">Номер: @org.Number - Изменено: @org.ContractChanges</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </form>
                }
                else
                {
                    <div class="d-inline-block alert alert-primary">
                        <label class="control-label">Услуги генподрядчика для данного договора заполнены</label>
                    </div>
                    <div class="label-block alert  alert-primary">
                        <label class="control-label">Отсутствуют незаполненные доп. соглашения</label>
                    </div>
                    <div class="btn-block">
                        <a class="btn btn-success" asp-controller="Amendments" asp-action="Create" asp-route-contractId="@contract.Id"
                           asp-route-returnContractId="@ViewBag.returnContractId">+ доп. соглашение</a>
                        <a class="btn btn-warning" asp-action="GetByContractId" asp-route-contractId="@contract.Id"
                           asp-route-returnContractId="@ViewBag.returnContractId">Просмотр заполненных данных</a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript">
        $("#AmendId").on("change", function () {
            $("#target").trigger("submit");
        });

        $(document).ready(function () {

            datepickerNull("input.datepickersNull");
            dateTimepicker("input.datetimepickers");
            datepicker("input.datepickers");
        });
    </script>

}