@model IEnumerable<MvcLayer.Models.ServiceGCViewModel>
@inject BusinessLayer.Interfaces.ContractInterfaces.IContractService Contract
@inject BusinessLayer.Interfaces.ContractInterfaces.IServiceCostService ServiceCost


@{
    ViewData["Title"] = string.Empty;
    var id = Model.FirstOrDefault()?.ContractId;
    // var costs = ServiceCost.Find(x => x.ServiceGCId == Model.FirstOrDefault()?.Id);
    if (id is not null)
    {
        var number = Contract.GetById((int)id).Number;
        ViewData["Title"] = $"Услуги генподрядчика согласно договора № {number}";
    }
}

<div class="dm-overlay">
    <div class="dm-table">
        <div class="dm-cell">
            <div class="dm-modal">
                <div class="top-modal-block">
                    <label class="my-modal-title">@ViewData["Title"]</label>
                    @if (@id != null && @id > 0)
                    {
                        <a asp-controller="Contracts" asp-action="Details" asp-route-id="@id" class="close-btn"></a>
                    }
                    @if (@id == null || @id == 0)
                    {
                        <a asp-controller="Contracts" asp-action="" class="close-btn"></a>
                    }
                </div>
                <hr class="modal-line" />
                <table class="table table-striped table-bordered">
                    @*!!!план без изменений!!*@
                    @foreach (var item in Model)
                    {

                        <tr>
                            <th>
                                % генуслуг
                            </th>
                            <th>
                                Основание
                            </th>
                            @foreach (var item1 in ServiceCost.Find(x => x.IsFact != true && x.ServiceGCId == item.Id))
                            {
                                <th>
                                    @item1.Period?.ToString("MMM yyyy")
                                </th>
                            }
                        </tr>
                        <tr>
                            <th>
                                @item.ServicePercent
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Price)
                            </th>
                            @foreach (var item3 in ServiceCost.Find(x => x.IsFact != true && x.ServiceGCId == item.Id))
                            {
                                <td class="text-end">
                                    @item3.Price?.ToString("N2")
                                </td>
                            }
                        </tr>
                        <tr>
                            <th>
                                
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FactPrice)
                            </th>
                            @foreach (var item3 in ServiceCost.Find(x => x.IsFact == true && x.ServiceGCId == item.Id))
                            {
                                <td class="text-end">
                                    @item3.Price?.ToString("N2")
                                </td>
                            }
                        </tr>
                    }                           
                </table>
            </div>
        </div>
    </div>
</div>