@model IEnumerable<MvcLayer.Models.ServiceGCViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ServicePercent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Period)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FactPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsChange)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.Contract)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ServicePercent)
            </td>
            <td>
                    @item.Period?.ToString("MMM yyyy")
            </td>
            <td>
                    @item.Price?.ToString("N2")
            </td>
            <td>
                    @item.FactPrice?.ToString("N2")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsChange)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.Contract.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
