@model IEnumerable<MvcLayer.Models.ScopeWorkViewModel>
@inject BusinessLayer.Interfaces.ContractInterfaces.ISWCostService SWCosts

@{
    ViewData["Title"] = "Объем работ";
    var actionReturn = ViewBag.IsEngineering == true ? "Engineerings" : null;
}

<div class="dm-overlay">
    <div class="dm-table">
        <div class="dm-cell">
            <div class="dm-modal">
                <div class="top-modal-block">
                    <label class="my-modal-title">@ViewData["Title"]</label>
                    @if (Model?.FirstOrDefault()?.ContractId != null && Model?.FirstOrDefault()?.ContractId > 0)
                    {
                        <a asp-controller="Contracts" asp-action="Details" asp-route-id="@Model?.FirstOrDefault()?.ContractId" class="close-btn"></a>
                    }
                    @if (Model?.FirstOrDefault()?.ContractId == null || Model?.FirstOrDefault()?.ContractId == 0)
                    {
                        <a asp-controller="Contracts" asp-action="@actionReturn"  class="close-btn"></a>
                    }
                </div>
                <hr class="modal-line" />
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Period)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CostNoNds)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CostNds)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.SmrCost)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PnrCost)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.EquipmentCost)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.OtherExpensesCost)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.AdditionalCost)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.MaterialCost)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.GenServiceCost)
                            </th>
                            
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var scope in Model)
                        {                           
                            @foreach (var item in SWCosts.Find(x => x.ScopeWorkId == scope.Id))
                            {
                                <tr>
                                    <td>
                                        @item.Period
                                    </td>
                                    <td>
                                        @item.CostNoNds?.ToString("N2")
                                    </td>
                                    <td>
                                        @item.CostNds?.ToString("N2")
                                    </td>
                                    <td>
                                        @item.SmrCost?.ToString("N2")
                                    </td>
                                    <td>
                                        @item.PnrCost?.ToString("N2")
                                    </td>
                                    <td>
                                        @item.EquipmentCost?.ToString("N2")
                                    </td>
                                    <td>
                                        @item.OtherExpensesCost?.ToString("N2")
                                    </td>
                                    <td>
                                        @item.AdditionalCost?.ToString("N2")
                                    </td>
                                    <td>
                                        @item.MaterialCost?.ToString("N2")
                                    </td>
                                    <td>
                                        @item.GenServiceCost?.ToString("N2")
                                    </td>
                                    
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
