@model IEnumerable<MvcLayer.Models.ScopeWorkViewModel>
@inject BusinessLayer.Interfaces.ContractInterfaces.ISWCostService SWCosts

@{
    ViewData["Title"] = "Объем работ";
    var actionReturn = ViewBag.IsEngineering == true ? "Engineerings" : null;
    var contractId = ViewBag.contractId;
}

<div class="dm-overlay">
    <div class="dm-table">
        <div class="dm-cell">
            <div class="dm-modal">
                <div class="top-modal-block">
                    <label class="my-modal-title">@ViewData["Title"]</label>
                    @if (contractId != null && contractId > 0)
                    {
                        <a asp-controller="Contracts" asp-action="Details" asp-route-id="@contractId" class="close-btn"></a>
                    }
                    @if (contractId == null || contractId == 0)
                    {
                        <a asp-controller="Contracts" asp-action="@actionReturn" class="close-btn"></a>
                    }
                </div>
                <hr class="modal-line" />
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Period)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CostNoNds)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CostNds)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.SmrCost)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PnrCost)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.EquipmentCost)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.OtherExpensesCost)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.AdditionalCost)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.MaterialCost)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.GenServiceCost)
                            </th>

                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var scope in Model)
                        {
                            @foreach (var item in SWCosts.Find(x => x.ScopeWorkId == scope.Id))
                            {
                                <tr>
                                    <td>
                                        @item.Period?.ToString("MMMM-yyyy")
                                    </td>
                                    <td class="text-end">
                                        @item.CostNoNds?.ToString("N2")
                                    </td>
                                    <td class="text-end">
                                        @item.CostNds?.ToString("N2")
                                    </td>
                                    <td class="text-end">
                                        @item.SmrCost?.ToString("N2")
                                    </td>
                                    <td class="text-end">
                                        @item.PnrCost?.ToString("N2")
                                    </td>
                                    <td class="text-end">
                                        @item.EquipmentCost?.ToString("N2")
                                    </td>
                                    <td class="text-end">
                                        @item.OtherExpensesCost?.ToString("N2")
                                    </td>
                                    <td class="text-end">
                                        @item.AdditionalCost?.ToString("N2")
                                    </td>
                                    <td class="text-end">
                                        @item.MaterialCost?.ToString("N2")
                                    </td>
                                    <td class="text-end">
                                        @item.GenServiceCost?.ToString("N2")
                                    </td>                                    
                                    <td>
                                        <div class="icon edit" title="Редактировать договор">
                                            <a asp-action="Edit" asp-route-id="@item.Id" asp-route-contractId="@contractId"></a>
                                        </div>
                                    </td>
                                    <td>
                                        <a class="icon delete" onclick="confirm(@item.Id)"></a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    function confirm(val) {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("ShowDelete","ScopeWorks")',
            contentType: "application/html; charset=utf-8",
            dataType: 'html',
            success: function (result) {
                $('#dialogContent').html(result);
                $('#modDialog').modal({ backdrop: false });
                $('#modDialog').modal('show');

                let elementDeleteButton = document.querySelectorAll('#modal-button-delete')
                elementDeleteButton[0].addEventListener('click', () => {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("ShowResultDelete","ScopeWorks")',
                        dataType: 'html',
                        data: { id: val },
                        success: function (result) {
                            let buttonElement = document.querySelectorAll('#dialogContent')
                            $('#dialogContent').html(result);
                        },
                        error: function (result) {
                            console.log(result, 'Ошибка удаления');
                            $.ajax({
                                type: 'POST',
                                url: '@Url.Action("Message","Home")',
                                dataType: 'html',
                                data: { message: "Во время удаления произошла ошибка" },
                                success: function (result) {
                                    $('#dialogContent').html(result);
                                }
                            });
                        }
                    });
                })
            },
            error: function (result) {
                console.log(result, 'error 2');
                alert("Ошибка отображения");
            }
        })
    }
</script>
