@model MvcLayer.Models.ScopeWorkViewModel

@using BusinessLayer.Helpers
@inject BusinessLayer.Interfaces.ContractInterfaces.ISWCostService SWCosts
@inject BusinessLayer.Interfaces.ContractInterfaces.IScopeWorkService ScopeWork
@inject BusinessLayer.Interfaces.CommonInterfaces.IHttpHelper HttpHelper

<table class="table table-striped table-main table-hover ">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Period)
            </th>
            @if (ViewBag.IsEngin == null)
            {
                <th>
                    @Html.DisplayNameFor(model => model.CostNds)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SmrCost)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PnrCost)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AdditionalCost)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EquipmentCost)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OtherExpensesCost)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CostNoNds)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MaterialCost)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.GenServiceCost)
                </th>
            }
            else
            {
                <th>
                    Объем услуг
                </th>
            }           
        </tr>
    </thead>
    <tbody>
        @{
            var scope = Model;
            if (scope.IsChange == true)
            {
                var amendment = ScopeWork.GetAmendmentByScopeId(scope.Id);
                if (amendment != null)
                {
                    <tr>
                        @if (ViewBag.IsEngin == null)
                        {
                            <td colspan="12">
                                <span style="font-weight:bold">@amendment.Number от @amendment.Date.Value.ToString("dd MMMM yyyy")</span>
                            </td>
                        }
                        else
                        {
                            <td colspan="2">
                                <span style="font-weight:bold">@amendment.Number от @amendment.Date.Value.ToString("dd MMMM yyyy")</span>
                            </td>
                        }
                    </tr>
                }
            }
            foreach (var item in SWCosts.Find(x => x.ScopeWorkId == scope.Id).OrderBy(x => x.Period))
            {
                <tr>
                    <td>
                        @item.Period?.ToString("MMMM yyyy")
                    </td>
                    @if (ViewBag.IsEngin == null)
                    {

                        <td class="text-end">
                            @item.CostNds?.ToString("N2")
                        </td>
                        <td class="text-end">
                            @item.SmrCost?.ToString("N2")
                        </td>
                        <td class="text-end">
                            @item.PnrCost?.ToString("N2")
                        </td>
                        <td class="text-end">
                            @item.AdditionalCost?.ToString("N2")
                        </td>
                        <td class="text-end">
                            @item.EquipmentCost?.ToString("N2")
                        </td>
                        <td class="text-end">
                            @item.OtherExpensesCost?.ToString("N2")
                        </td>
                        <td class="text-end">
                            @item.CostNoNds?.ToString("N2")
                        </td>
                        <td class="text-end">
                            @item.MaterialCost?.ToString("N2")
                        </td>
                        <td class="text-end">
                            @item.GenServiceCost?.ToString("N2")
                        </td>
                    }
                    else
                    {
                        <td class="text-end">
                            @item.SmrCost?.ToString("N2")
                        </td>
                    }                    
                </tr>
            }
        }        
    </tbody>
</table>