@using MvcLayer.Models;
@inject BusinessLayer.Interfaces.ContractInterfaces.IContractService Contract
@model IEnumerable<MvcLayer.Models.ScopeWorkViewModel>

@{
    ViewData["Title"] = "Список объемов работ";
}

<div class="dm-overlay">
    <div class="dm-table">
        <div class="dm-cell">
            <div class="dm-modal">
                <div class="top-modal-block">
                    <label class="my-modal-title">@ViewData["Title"]</label>
                    @if (Model?.FirstOrDefault()?.ContractId != null && Model?.FirstOrDefault()?.ContractId > 0)
                    {
                        <a asp-controller="Contracts" asp-action="Details" asp-route-id="@Model?.FirstOrDefault()?.ContractId" class="close-btn"></a>
                    }
                    @if (Model?.FirstOrDefault()?.ContractId == null || Model?.FirstOrDefault()?.ContractId == 0)
                    {
                        <a asp-controller="Contracts" asp-action="" class="close-btn"></a>
                    }
                </div>
                <hr class="modal-line" />
                <table class="table table-striped table-bordered" id="contractTable">
                    <thead>
                        <tr>
                            <th>
                                Период
                            </th>
                            <th>
                                Стоимость работ согласно графику
                            </th>
                            <th>
                                Стоимость СМР
                            </th>
                            <th>
                                Цена ПНР
                            </th>
                            <th>
                                Цена дополнительных работ
                            </th>
                            <th>
                                Цена оборудования
                            </th>
                            <th>
                                Прочие работы, услуги
                            </th>
                            <th>
                                Цена материалов
                            </th>
                            <th>
                                Договор
                            </th>
                            <th>
                                Изменено?
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (ScopeWorkViewModel item in Model)
                        {
                            <tr>
                                <td>
                                    @item.Period?.ToString("MMM yyyy")
                                </td>
                                <td>
                                    @item.CostNds
                                </td>
                                <td>
                                    @item.SmrCost
                                </td>
                                <td>
                                    @item.PnrCost
                                </td>
                                <td>
                                    @item.AdditionalCost
                                </td>
                                <td>
                                    @item.EquipmentCost
                                </td>
                                <td>
                                    @item.OtherExpensesCost
                                </td>
                                <td>
                                    @item.MaterialCost
                                </td>
                                <td>
                                    @if (@item.ContractId is not null)
                                    {
                                        var d = Contract.GetById((int)@item.ContractId);
                                        <span>@d.Number</span>
                                    }

                                </td>
                                <td>
                                    @if (@item.IsChange == true)
                                    {
                                        <span>Изменено: @item.ChangeScopeWorkId</span>
                                    }
                                </td>
                                <td>
                                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>