@model MvcLayer.Models.EmployeeViewModel
@inject BusinessLayer.Interfaces.ContractInterfaces.IOrganizationService Organization
@inject BusinessLayer.Interfaces.ContractInterfaces.IDepartmentService Department
@{
    ViewData["Title"] = "Редактирование";
    var lastName = Model.LastName;
    var firstName = Model.FirstName;
    var fatherName = Model.FatherName;
}

<div class="dm-overlay">
    <div class="dm-table">
        <div class="dm-cell">
            <div class="dm-modal" style="max-width:700px">
                <div class="top-modal-block">
                    <label class="my-modal-title">@ViewData["Title"]</label>
                    <a asp-controller="Employees" asp-action="Index" class="close-btn"></a>
                </div>
                <hr class="modal-line" />
                <form asp-action="Edit" class="row">
                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="Author" />
                    <div class="form-group col-4">
                        <label asp-for="LastName" class="control-label"></label>
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="form-group col-4">
                        <label asp-for="FirstName" class="control-label"></label>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group col-4">
                        <label asp-for="FatherName" class="control-label"></label>
                        <input asp-for="FatherName" class="form-control" />
                        <span asp-validation-for="FatherName" class="text-danger"></span>
                    </div>
                    <div class="form-group col-12 mt-2">
                        <label class="form-label">Организация</label>
                        <select id="organizationNameSelect" class="form-control js-chosen" 
                        required>
                            @if (Model.DepartmentEmployees[0].DepartmentId != 0)
                            {
                                <option value="@Department.GetById(Model.DepartmentEmployees[0].DepartmentId).OrganizationId" selected>@Organization.GetById((int)Department.GetById(Model.DepartmentEmployees[0].DepartmentId).OrganizationId).Name</option>
                            }
                            else
                            {
                                <option disabled selected>Выберите организацию</option>
                            }
                            @foreach (var item in Organization.GetAll())
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        </select>                        
                    </div>
                    <div class="form-group col-12 mt-2">
                        <label class="form-label">Отдел</label>
                        <select id="departmentNameSelect" name="DepartmentEmployees[0].DepartmentId" class="form-control js-chosen">
                            @if (Model.DepartmentEmployees[0] != null && Model.DepartmentEmployees[0].DepartmentId != 0)
                            {
                                var orgId = @Model.DepartmentEmployees[0].Department?.OrganizationId;
                                <option value="@Model.DepartmentEmployees[0].DepartmentId" selected>@Department.GetById(Model.DepartmentEmployees[0].DepartmentId).Name</option>
                                foreach (var item in Department.Find(x => x.OrganizationId == orgId))
                                {
                                    <option value="@item?.Id">@item?.Name</option>
                                }
                            }                           
                        </select>
                        <span asp-validation-for="DepartmentEmployees[0].DepartmentId" class="text-danger"></span>
                    </div>
                    <div class="form-group col-4 mt-2">
                        <label asp-for="Position" class="control-label"></label>
                        <input asp-for="Position" class="form-control"/>
                    </div>
                    <div class="form-group col-4 mt-2">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" type="email" class="form-control" />
                    </div>
                    <div class="form-group col-4 mt-2">
                        <input asp-for="Phones[0].Id" value="@Model.Phones[0].Id" class="form-control" hidden>
                        <label class="control-label">Телефон</label>
                        <input asp-for="Phones[0].Number" value="@Model.Phones[0]?.Number" class="form-control phone-number-pattern-fill" placeholder="8033 555-55-55" pattern="8[0-9]{3} [0-9]{3}-[0-9]{2}-[0-9]{2}"/>
                    </div>
                    <div class="form-group mt-3">
                        <input type="submit" value="Изменить" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        fillPhoneInput();
    </script>
    <script type="text/javascript">

        $("#organizationNameSelect").change(function () {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetJsonDepartments","Departments")',
                dataType: 'json',
                data: { id: $("#organizationNameSelect").val() },
                success: function (department) {
                    $("#departmentNameSelect").children().remove();
                    if (department.length == 0)
                        return;

                    $("#departmentNameSelect").append('<option disabled selected>Выберите отдел</option>');
                    $.each(department, function (r, emp) {
                        let nameDep = emp.name === null ? '' : emp.name;
                        $("#departmentNameSelect").append('<option value="' + emp.id + '" selected>' + nameDep + '</option>');
                    });
                },
                error: function (ex) {
                    alert('Failed to retrieve departments.' + ex);
                }
            });
        });

    </script>
}
