@* @model IEnumerable<BusinessLayer.Models.ContractDTO>

@foreach (var contractBranch in Model)
{
    var dropdownid1 = "Dropdown" + contractBranch.Id;
    var dropdownid2 = "Dropdown_" + contractBranch.Id;
    <tr style="background-color: #ccf3ff">
        <td>
            <div class="table_span-action" title="Просмотр информации">
                <div class="dropdown">
                    <span class="icon view_list_pages dropdown-toggle">
                    </span>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" asp-action="GetByContractId" asp-controller="ScopeWorks" asp-route-contractId="@contractBranch?.Id" asp-route-returnContractId="@Model.Id">Oбъем работ</a>
                        <a class="dropdown-item" asp-action="GetByContractId" asp-controller="Prepayments" asp-route-contractId="@contractBranch?.Id" asp-route-returnContractId="@Model.Id">Авансы</a>
                        <a class="dropdown-item" asp-action="GetByContractId" asp-controller="Forms" asp-route-id="@contractBranch?.Id" asp-route-returnContractId="@Model.Id">Форма С-3а</a>
                        <a class="dropdown-item" asp-action="GetByContractId" asp-controller="Material" asp-route-contractId="@contractBranch?.Id" asp-route-returnContractId="@Model.Id">Стоимость материалов</a>
                    </div>
                </div>
                <div class="dropdown" title="Добавление информации">
                    <span class="icon view_to_add_pages dropdown-toggle">
                    </span>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <h6 class="dropdown-header">План</h6>
                        <a class="dropdown-item" asp-action="ChoosePeriod" asp-controller="ScopeWorks" asp-route-contractId="@contractBranch.Id" asp-route-returnContractId="@Model.Id">+ Oбъем работ</a>
                        <a class="dropdown-item" asp-action="ChoosePeriod" asp-controller="Prepayments" asp-route-contractId="@contractBranch.Id" asp-route-returnContractId="@Model.Id">+ Авансы</a>
                        <a class="dropdown-item" asp-action="ChoosePeriod" asp-controller="Material" asp-route-contractId="@contractBranch.Id" asp-route-returnContractId="@Model.Id">+ Стоимость материалов</a>
                        <h6 class="dropdown-header">Факт</h6>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" asp-action="ChoosePeriod" asp-controller="ScopeWorks" asp-route-isFact="true" asp-route-contractId="@contractBranch.Id" asp-route-returnContractId="@Model.Id">+ Oбъем работ</a>
                        <a class="dropdown-item" asp-action="ChoosePeriod" asp-controller="Prepayments" asp-route-isFact="true" asp-route-contractId="@contractBranch.Id" asp-route-returnContractId="@Model.Id">+ Авансы</a>
                        <a class="dropdown-item" asp-action="ChoosePeriod" asp-controller="Material" asp-route-isFact="true" asp-route-contractId="@contractBranch.Id" asp-route-returnContractId="@Model.Id">+ Стоимость материалов</a>
                        <a class="dropdown-item" asp-action="ChoosePeriod" asp-controller="Forms" asp-route-contractId="@contractBranch.Id" asp-route-returnContractId="@Model.Id">+ Форму С-3а</a>
                        <a class="dropdown-item" asp-action="ChoosePeriod" asp-controller="Forms" asp-route-isOwnForces="true" asp-route-contractId="@contractBranch.Id" asp-route-returnContractId="@Model.Id">+ Форму С-3а(Собственными силами)</a>
                    </div>
                </div>

                <div class="icon scope_work" title="Объем работ">

                    <a id="SMR-detail" onclick="ShowModalScopeWork(@contractBranch.Id)"></a>

                </div>
                <div class="icon edit" title="Редактировать">
                    <a asp-action="EditSubObj" asp-route-id="@contractBranch.Id" asp-route-returnContractId="@Model.Id"></a>
                </div>
                <div class="icon delete" title="Удалить">
                    <a asp-action="Delete" asp-route-id="@contractBranch.Id"></a>
                </div>
            </div>
        </td>
        <td colspan="3" class="text-center text-uppercase">Подобъект:</td>
        <td>
            <span class="table_span-nameobject">
                @contractBranch?.NameObject
            </span>
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="text-end">
            <span class="table_span-contractprice">
                @* ЦЕна - *@
        @*         @contractBranch?.ContractPrice?.ToString("N2")
            </span>
        </td>
        <td>
            <span class="table_span-currency">
                @contractBranch?.Сurrency
            </span>
        </td> *@
        @* <td>
    <span class="table_span-act-entering">
    <span class="icon link_to_page" id="SMR-detail" onclick="ShowModalScopeWork(@contractBranch.Id)" title="Объем работ"></span>
    </span>
    </td> *@
    </tr>
} *@