@model IEnumerable<MvcLayer.Models.ActViewModel>
@using BusinessLayer.Enums;
@using BusinessLayer.Models;
@inject BusinessLayer.Interfaces.ContractInterfaces.IFileService Files
@inject BusinessLayer.Interfaces.ContractInterfaces.IContractService Contract


@{
    var contract = Model?.FirstOrDefault()?.ContractId is not null && Model?.FirstOrDefault()?.ContractId > 0 ? Contract.GetById((int)Model?.FirstOrDefault()?.ContractId) : null;
    ViewData["Title"] = "Акты приостановления/возобновления работ (услуг)";
    bool isAdmin = true;
    string redirectAction = "GetByContractId";
    string redirectController = "Acts";
}

<div class="dm-overlay">
    <div class="dm-table">
        <div class="dm-cell">
            <div class="dm-modal" style="width: 860px;">
                <div class="top-modal-block">
                    <label class="my-modal-title">@ViewData["Title"] @contract?.Number</label>
                    @if (@contract?.Id != null && @contract?.Id > 0)
                    {
                        <a asp-controller="Contracts" asp-action="Details" asp-route-id="@contract?.Id" class="close-btn"></a>
                    }
                    @if (@contract?.Id == null || @contract?.Id == 0)
                    {
                        <a asp-controller="Contracts" asp-action="" class="close-btn"></a>
                    }
                </div>
                <hr class="modal-line" />
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th class="text-center" rowspan="2">                               
                                @Html.DisplayNameFor(model => model.DateAct)
                            </th>
                            <th class="text-center" rowspan="2">
                                Приостановка/возобновление работ
                            </th>
                            <th class="text-center" rowspan="2">
                                @Html.DisplayNameFor(model => model.Reason)
                            </th>
                            
                            <th class="text-center align-middle" colspan="2">Период приостановки</th>
                            <th class="text-center" rowspan="2">
                                @Html.DisplayNameFor(model => model.DateRenewal)
                            </th>
                            <th class="text-center" rowspan="2">Файлы</th>
                            <th rowspan="2"></th>
                        </tr>
                        <tr>
                            <th class="text-center align-middle" colspan="1">с "дата"</th>
                            <th class="text-center align-middle" colspan="1">по "дата"</th>
                        </tr>                        
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>                                   
                                    @item.DateAct?.ToShortDateString()
                                </td>
                                <td>
                                    @if (item.IsSuspension == true)
                                    {
                                        <span>приостановка</span>
                                    }
                                    @if (item.IsSuspension != true)
                                    {
                                        <span>возобновление</span>
                                    }
                                    
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Reason)
                                </td>                                
                                <td>
                                    @item.DateSuspendedFrom?.ToShortDateString()
                                </td>
                                <td>
                                    @item.DateSuspendedUntil?.ToShortDateString()
                                </td>
                                <td>
                                    @item.DateRenewal?.ToShortDateString()
                                </td>                                
                                <td>
                                    @foreach (FileDTO item2 in Files.GetFilesOfEntity(item.Id, FolderEnum.Acts))
                                    {
                                        <div>
                                            <a href="~/Files/GetFile?id=@item2.Id" target="_blank">@item2.FileName</a>
                                            @if (isAdmin)
                                            {
                                                @Html.ActionLink("×", "Delete", "Files", new {id = item2.Id, redirectAction = redirectAction, redirectController = redirectController, contractId = item.ContractId}, new { @class = "del-btn", @onclick = "return confirmDelete();"})
                                            }
                                        </div>
                                    }
                                </td>
                                <td>                                    
                                    <span class="icon file-add" title="Добавить файл к акту">
                                        <a asp-action="AddFile" asp-controller="Files" asp-route-entityId="@item.Id" asp-route-fileCategory="@FolderEnum.Acts" asp-route-redirectAction=@redirectAction asp-route-redirectController=@redirectController asp-route-contractId="@item.ContractId"></a>
                                    </span>
                                    <span class="icon edit" title="Редактировать акт">
                                        <a asp-action="Edit" asp-route-id="@item.Id" asp-route-contractId="@item.ContractId"></a>
                                    </span>
                                    <span class="icon delete" title="Удалить акт">
                                        <a asp-action="Delete" asp-route-id="@item.Id" asp-route-contractId="@item.ContractId"></a>
                                    </span>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">
        function confirmDelete() {
            if (confirm('Вы уверены, что хотите удалить?')) {
                return true;
            }
            else {
                return false;
            }
        }
    </script>
}